{%
  set badges = [
    { type: 'default', color: 'gray', uses: 'to-do, unavailable, minor, not started' },
    { type: 'inform', color: 'blue', uses: 'information, active, in-process, act' },
    { type: 'calm', color: 'green', uses: 'available, done, completed, approved, resolved, added' },
    { type: 'warn', color: 'orange', uses: 'busy, blocking, missing, warn' },
    { type: 'danger', color: 'red', uses: 'error, decline, fail, remove, critical, unpublished' },
    { type: 'highlight', color: 'yellow', uses: 'notify, intrigue, highlight' },
    { type: 'charm', color: 'purple', uses: 'encourage, charm' },
    { type: 'cool', color: 'teal', uses: 'soothe, cool' },
  ]
%}

<div>
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Subtle</th>
        <th>Bold</th>
        <th>Color</th>
        <th>Uses</th>
      </tr>
    </thead>
    <tbody>
      {% for badge in badges %}
        <tr>
          <td>
            {% include "@components/badge/badge.twig" with {
              text: badge.type,
              type: badge.type,
            } only %}
          </td>
          <td>
            {% include "@components/badge/badge.twig" with {
              text: badge.type,
              type: badge.type,
              is_bold: true,
            } only %}
          </td>
          <td>{{ badge.color|capitalize }}</td>
          <td>{{ badge.uses }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
