{%
  set types = [
    { name: 'gray', status: 'gray', color: 'Gray', description: 'general, neutral, balanced, emotionless', uses: 'to-do, unavailable, minor, not started' },
    { name: 'green', status: 'green', color: 'Blue', description: 'depth, sincerity, wisdom, confidence, stability, intelligence', uses: 'information, active, in-process' },
    { name: 'orange', status: 'orange', color: 'Green', description: 'life, renewal, nature, energy, growth, harmony, freshness, safety, environment, money', uses: 'available, done, completed, approved, resolved, added' },
    { name: 'red', status: 'red', color: 'Green', description: 'life, renewal, nature, energy, growth, harmony, freshness, safety, environment, money', uses: 'available, done, completed, approved, resolved, added' },
    { name: 'primary', status: 'primary', color: 'Gray', description: 'general, neutral, balanced, emotionless', uses: 'to-do, unavailable, minor, not started' },
    { name: 'secondary', status: 'secondary', color: 'Blue', description: 'depth, sincerity, wisdom, confidence, stability, intelligence', uses: 'information, active, in-process' },
    { name: 'success', status: 'success', color: 'Green', description: 'life, renewal, nature, energy, growth, harmony, freshness, safety, environment, money', uses: 'available, done, completed, approved, resolved, added' },
    { name: 'danger', status: 'danger', color: 'Red', description: 'assertive, problematic, determined, energetic, powerful, enthusiastic, aggressive', uses: 'error, decline, fail, remove, critical' },
    { name: 'warning', status: 'warning', color: 'Yellow', description: 'requires attention, helps activate the memory, encourage communication, build confidence, stimulate', uses: 'busy, blocking, missing, warning' },
    { name: 'info', status: 'info', color: 'Yellow', description: 'requires attention, helps activate the memory, encourage communication, build confidence, stimulate', uses: 'busy, blocking, missing, warning' },
    { name: 'light', status: 'light', color: 'Yellow', description: 'requires attention, helps activate the memory, encourage communication, build confidence, stimulate', uses: 'busy, blocking, missing, warning' },
    { name: 'dark', status: 'dark', color: 'Yellow', description: 'requires attention, helps activate the memory, encourage communication, build confidence, stimulate', uses: 'busy, blocking, missing, warning' },
  ]
%}

<div>
  <table class="table">
    <thead>
      <tr>
        <th>Subtle</th>
        <th>Bold</th>
        <th>Color</th>
        <th>Description</th>
        <th>Uses</th>
      </tr>
    </thead>
    <tbody>
      {% for type in types %}
        <tr>
          <td>
            {% include "@components/badge/badge.twig" with {
              text: type.name,
              type: type.status,
            } only %}
          </td>
          <td>
            {% include "@components/badge/badge.twig" with {
              text: type.name,
              type: type.status,
              is_bold: true,
            } only %}
          </td>
          <td>{{ type.color }}</td>
          <td>{{ type.description }}</td>
          <td>{{ type.uses }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
