{% set types = {
  gray: {
    uses: 'unavailable, minor, not started'
  },
  black: {
    uses: 'busy, blocking, missing, warning '
  },
  red: {
    uses: 'error, decline, fail, remove, critical'
  }
} %}

<div>
  <table class="table">
    <thead>
      <tr>
        <th>
          Badge
        </th>
        <th>
          Color
        </th>
        <th>
          Uses
        </th>
      </tr>
    </thead>
    <tbody>
      {% for key, type in types %}
        <tr>
          <td>
            {% include '@components/badge/badge.twig' with {
              text: 'Badge',
              color: key
            } only %}
          </td>
          <td>
            {{ key }}
          </td>
          <td>
            {{ type.uses }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
