{%
  set types = [
    { name: 'default', status: 'default', color: 'Gray', description: '', uses: '' },
    { name: 'information', status: 'info', color: 'Blue', description: '', uses: '' },
    { name: 'success', status: 'success', color: 'Green', description: '', uses: '' },
    { name: 'warning', status: 'warning', color: 'Yellow', description: '', uses: '' },
    { name: 'danger', status: 'danger', color: 'Red', description: '', uses: '' },
  ]
%}

<h2>Badge</h2>
<div>
  <table>
    <thead>
      <tr>
        <th>Subtle</th>
        <th>Bold</th>
        <th>Color</th>
        <th>Description</th>
        <th>Uses</th>
      </tr>
    </thead>
    <tbody>
      {% for type in types %}
        <tr>
          <td>
            {% include "@components/badge/badge.twig" with {
              "text": type.name,
              "type": type.status,
              isBold: false,
            } only %}
          </td>
          <td>
            {% include "@components/badge/badge.twig" with {
              "text": type.name,
              "type": type.status,
              isBold: true,
            } only %}
          </td>
          <td>{{ type.color }}</td>
          <td>{{ type.description }}</td>
          <td>{{ type.uses }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
