{# Show all possible variations from changing a SINGLE variable #}

{% set types = ['success', 'danger', 'warning', 'info', 'light', 'dark'] %}

<h2>Badge</h2>
{% for type in types %}
  <div>
    <div class="pl-badge-demo">Type: <code>{{ type }}</code></div>
    {% include "@components/badge/badge.twig" with {
      "text": "example",
      "type": type,
    } only %}
  </div>
{% endfor %}

<h2>Pill Badge</h2>
{% for type in types %}
  <div>
    <div class="pl-badge-demo">Type: <code>{{ type }}</code> pill badge</div>
    {% include "@components/badge/badge.twig" with {
      "text": "example",
      "type": type,
      "isPill": true,
    } only %}
  </div>
{% endfor %}

<h2>Nav Alert Badge</h2>
<div>
  {% include "@components/badge/badge.twig" with {
    "text": "2",
    "type": "danger",
    "isNavAlert": true,
  } only %}
</div>
