{% set types = {
  gray: {
    uses: 'category, type, unavailable, minor, not started',
    color: 'gray'
  },
  red: {
    uses: 'error, decline, fail, remove, critical',
    color: 'red'
  },
  badge_icon: {
    uses: 'error, decline, fail, remove, critical',
    color: 'red',
    icon: {
      name: 'warning',
      size: 'xs'
    }
  }
} %}

<div>
  <table class="table">
    <thead>
      <tr>
        <th>
          Badge
        </th>
        <th>
          Color
        </th>
        <th>
          Uses
        </th>
      </tr>
    </thead>
    <tbody>
      {% for key, type in types %}
        <tr>
          <td>
            {% include '@components/badge/badge.twig' with {
              text: 'Badge',
              color: type.color,
              icon: {
                name: type.icon.name,
                size: type.icon.size
              }
            } only %}
          </td>
          <td>
            {{ type.color }}
          </td>
          <td>
            {{ type.uses }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
