{% set types = ['default', 'info', 'win', 'warn', 'whoops', 'new'] %}

<h2>Badge</h2>
{% for type in types %}
  <div>
    <div class="pl-badge-demo">Type: <code>{{ type }}</code></div>
    {% include "@components/badge/badge.twig" with {
      "text": "example",
      "type": type,
      isBold: false,
    } only %}
  </div>
{% endfor %}
