{% set types = [
  { name: 'default', status: 'default' },
  { name: 'information', status: 'info' },
  { name: 'success', status: 'success' },
  { name: 'warning', status: 'warning' },
  { name: 'danger', status: 'danger' },
] %}

<h2>Badge</h2>
<div>
  <table>
    <thead>
      <tr>
        <th>Subtle</th>
        <th>Bold</th>
        <th>Color</th>
        <th>Description</th>
        <th>Uses</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for type in types %}
          <td>
            {% include "@components/badge/badge.twig" with {
              "text": type.name,
              "type": type.status,
              isBold: false,
            } only %}
          </td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
</div>
    {# <p class="heading">Subtle</p>
    {% for type in types %}
      <div>
        {% include "@components/badge/badge.twig" with {
          "text": type,
          "type": type,
          isBold: false,
        } only %}
      </div>
    {% endfor %}

    <p class="heading">Bold</p>
    {% for type in types %}
      <div>
        {% include "@components/badge/badge.twig" with {
          "text": type,
          "type": type,
          isBold: true,
        } only %}
      </div>
    {% endfor %}
  <div class="color">
    <p class="heading">Color</p>
  </div>
  <div class="description">
    <p class="heading">Description</p>
  </div>
  <div class="uses">
    <p class="heading">Uses</p>
  </div>
</div> #}
