{% set badges = {
  light: {
    uses: 'category, type, unavailable, minor, not started',
    type: 'light'
  },
  danger: {
    uses: 'error, decline, fail, remove, critical',
    type: 'danger'
  },
  badge_icon: {
    uses: 'error, decline, fail, remove, critical',
    type: 'danger',
    icon: {
      name: 'warning',
      size: 'xs'
    }
  }
} %}

<div>
  <table class="table">
    <thead>
      <tr>
        <th>
          Badge
        </th>
        <th>
          Color
        </th>
        <th>
          Uses
        </th>
      </tr>
    </thead>
    <tbody>
      {% for key, badge in badges %}
        <tr>
          <td>
            {% include '@components/badge/badge.twig' with {
              text: 'Badge',
              type: badge.type,
              pill: badge.pill,
              icon: {
                name: badge.icon.name,
                size: badge.icon.size
              }
            } only %}
          </td>
          <td>
            {{ badge.color }}
          </td>
          <td>
            {{ badge.uses }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
