{%
  set types = [
    { default: 'default', bold: 'default', status: 'default', color: 'gray', uses: 'to-do, unavailable, minor, not started' },
    { default: 'assist', bold: 'act', status: 'inform', color: 'blue', uses: 'information, active, in-process' },
    { default: 'ease', bold: 'calm', status: 'calm', color: 'green', uses: 'available, done, completed, approved, resolved, added' },
    { default: 'warn', bold: 'alert', status: 'warn', color: 'orange', uses: 'busy, blocking, missing, warn' },
    { default: 'pause', bold: 'shock', status: 'danger', color: 'red', uses: 'error, decline, fail, remove, critical, unpublished' },
    { default: 'notify', bold: 'intrigue', status: 'highlight', color: 'yellow', uses: 'notify, intrigue' },
    { default: 'encourage', bold: 'inform', status: 'charm', color: 'purple', uses: 'encourage' },
    { default: 'cool', bold: 'soothe', status: 'cool', color: 'teal', uses: 'soothe' },
  ]
%}

<div>
  <table class="table">
    <thead>
      <tr>
        <th>Subtle</th>
        <th>Bold</th>
        <th>Color</th>
        <th>Uses</th>
      </tr>
    </thead>
    <tbody>
      {% for type in types %}
        <tr>
          <td>
            {% include "@components/badge/badge.twig" with {
              text: type.default,
              type: type.status,
            } only %}
          </td>
          <td>
            {% include "@components/badge/badge.twig" with {
              text: type.bold,
              type: type.status,
              is_bold: true,
            } only %}
          </td>
          <td>{{ type.color|capitalize }}</td>
          <td>{{ type.uses }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
