{# extends @bootstrap_barrio/layout/block.html.twig
/**
 * @file
 * Theme override for tabs.
 */
#}
{% block content %}
  {% if content %}
    <nav class="nav" role="navigation" aria-label="{{ 'Administrative menu'|t }}">
      {{ content }}
    </nav>
  {% endif %}
{% endblock %}
