{# Template for Featured News Block #}
<div class="featured row mb-8">
    <div class="col-12 col-lg-4">
        {% if label %}
            <h2>{{ label }}</h2>
        {% endif %}
    </div>
    <div class="col-12 col-lg-8 p-0">
        {{ content }}
    </div>
</div>
