{% embed "block.html.twig" with {
  'block_classes': [
    'mb-3',
    'message',
    'message-info',
    'border',
    'border-info',
  ]
} %}
  {% block label %}
    {{ title_prefix }}
    {% if label %}
      <label{{title_attributes}}>{{ label }}</label>
    {% endif %}
    {{ title_suffix }}
  {% endblock %}
{% endembed %}
