{% embed "block.html.twig" with {
  'block_classes': [
    'message'
  ]
} %}
  {% block label %}
    {{ title_prefix }}
    {% if label %}
      <label{{title_attributes}}>{{ label }}</label>
    {% endif %}
    {{ title_suffix }}
  {% endblock %}
{% endembed %}
