{% embed "block.html.twig" with {
  block_classes: 'ms-auto me-2',
} %}
{% block content %}
  <button aria-expanded="false" class="btn cloudy-header__toggle ms-3 px-3" data-bs-toggle="dropdown" role="button">
    <span class="toggle__label fs-4">
      <i class="fas fa-language m-0"></i>
    </span>
  </button>
  <ul class="dropdown-menu">
    {% if content['#google_widget'] %}
    <div class="m-2" id="google_translate_element"></div>
    <script type="text/javascript">
    function googleTranslateElementInit() {
    new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
    }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    {% else %}
    {% for lang in content['#languages'] %}
    <li><a
      {% if lang.id == content['#current_langcode'] %}aria-current="page"{% endif %}
      class="dropdown-item {% if lang.id == content['#current_langcode'] %}active{% endif %}"
      href="{{ lang.id == content['#current_langcode'] ? "javascript:void(0)" : lang.url }}"
      translate="no">{{ lang.label }}</a></li>
    {% endfor %}
    {% endif %}
  </ul>
{% endblock %}
{% endembed %}
