/**
 * @file
 * Visual styles for alerts in Cloudy.
 */

.block-views-blockalerts-block-1,
.block-views-blockgroup-notifications-block-1 {
  width: 100%;
}

// Adjusts base class
.alert {
  border: none;
  border-radius: 0;
}

// Adjusts colors
.alert-info {
  color: $cloudy-black-base;
  background-color: $cloudy-blue-lighter;
  border-left: 10px solid $cloudy-blue-base;
}
.alert-danger {
  color: $cloudy-black-base;
  background-color: $cloudy-red-light;
  border-left: 10px solid $cloudy-red-base;
}
.alert-warning {
  color: $cloudy-black-base;
  background-color: $cloudy-gold-light;
  border-left: 10px solid $cloudy-gold-base;
}

// Adjusts close button position
.close {
  position: relative;
  text-shadow: none;
  white-space: nowrap;
  color: lighten($cloudy-black-base, 15%);
  opacity: 1;
  &:not(:disabled):not(.disabled) {
    @include hover-focus {
      color: inherit;
      opacity: 1;
    }
  }
}

.alert p {
  width: 100% !important;
}

.region-pre-header .alert {
  margin: 0;
}
