.badge {
  font-weight: normal;
}

.nav .nav-item .badge {
  vertical-align: top;
  border-radius: $border-radius-tight;
  margin: 0 0 0.25em 0.125em;
  background-color: $cloudy-color-red-500;
}

.badge-popular {
  @extend .badge-dark;
  color: $cloudy-color-purple-700;
  background-color: $cloudy-color-purple-200;
}

/* admin content/media view tables */
.view-admin-group-content .status-badge {
  margin-right: 5px;
}
.status-unpublished {
  color: $cloudy-color-neutral-100;
}
.status-published {
  color: $cloudy-color-green-500;
}
