blockquote {
  @extend .blockquote;
  // Todo: replace border height with $blockquote-height-border
  border-top: $cloudy-space-4 / 2 solid $black;
  font-weight: $font-weight-semibold;
  margin-bottom: $cloudy-space-4 * 1.5;
  padding-top: $cloudy-space-4 / 3;
  overflow: hidden;
  footer {
    @extend .blockquote-footer;
  }
}
