blockquote {
  @extend .blockquote;
  margin-bottom: $cloudy-space-4 * 1.5;
  padding-top: $cloudy-space-4;
  padding-bottom: $cloudy-space-4;
  p {
    font-size: 1.2rem;
  }
  footer {
    @extend .blockquote-footer;
  }
}
