blockquote {
  @extend .blockquote;

  // !important is used to override the CKEditor content styles
  border-left: solid spacer(1) $light !important;
  font-style: italic;
  overflow: hidden;
  padding: spacer(4) spacer(6) !important;

  p {
    font-size: $blockquote-font-size;
  }

  footer {
    @extend .blockquote-footer;
  }
}
