/**
 * @file
 * Styles for Bootstrap Barrio's breadcrumbs.
 */

.breadcrumb {
    font-size: $font-size-sm;
    padding: $cloudy-space-3 0;
    background: none;
    ol {
        margin:0;
    }
}

.region-breadcrumb {
    padding: 0;
    width: 100%;
}
