// Buttons
.btn {
  border-radius: $border-radius-tight;
}

.button {
  @extend .btn;
}

.paragraphs-icon-button {
  @extend .btn-light;
  @extend .btn-sm;
}

.button .fa,
.fas,
.fab {
  margin: 0 $cloudy-space-2 0 0;
}

// Form buttons
.form-actions button.btn {
  margin-right: $cloudy-space-2;
}
form .btn {
  margin-bottom: 0;
}

// TODO: refactor form submit button which includes search form
input.form-submit:not(.button--primary),
#edit-actions a[class="button"] {

  @extend .btn-light;

  // Had to keep extended .btn-light to keep current button states, but needed to override color
  background: $cloudy-color-neutral-100;
  border-color: $cloudy-color-neutral-100;
}

// Editor buttons
.button--primary {
  @extend .btn-primary;
}

.button--danger {
  @extend .btn-outline-danger;
}

.powr-btn-default {
  @extend .btn-light;
}

.powr-btn-secondary {
  @extend .btn-outline-primary;
}

.powr-btn-warning {
  @extend .btn-warning;
}

.powr-btn-danger {
  @extend .btn-danger;
}

.powr-btn-link {
  @extend .btn-link;

  .fas {
    color: $cloudy-color-blue-800;
  }
}

.btn-cta {
  // TODO: Refactor button to use cloudy classes
  @extend .btn;
  @extend .btn-primary;
  white-space: inherit;
  background: $cloudy-color-blue-500;
  border: none;
  color: $cloudy-color-neutral-0;

  &:hover {
    background: $cloudy-color-blue-800;
    border: none;
  }
}

.btn-cta-outline {
  @extend .btn;
  @extend .btn-outline-primary;
  color: $cloudy-color-blue-500;
  border-color: $cloudy-color-blue-500;
}

*[class*="btn--"]:before {
  display: inline-block;
  padding-right: $cloudy-space-2;
  vertical-align: middle;
}

.btn--download:before {
  font-family: "Font Awesome 5 Free";
  content: "\f019";
}

.btn--fax:not(.disabled):hover {
  cursor: default;
}
