// Buttons
.btn {
  border-radius: $border-radius-tight;
}

.button {
  @extend .btn;
}

.paragraphs-icon-button {
  @extend .btn-light;
  @extend .btn-sm;
}

.button .fa,
.fas {
  margin: 0 0.5rem 0 0;
}

// Form buttons
.form-actions button.btn {
  margin-right: 0.5rem;
}
form .btn {
  margin-bottom: 0;
}

input.form-submit:not(.button--primary), #edit-actions a[class="button"] {
  @extend .btn-light;
}

// Editor buttons
.button--primary {
  @extend .btn-primary;
  @extend .btn-lg;
}

.button--danger {
  @extend .btn-outline-danger;
}

.powr-btn-default {
  @extend .btn-light;
}

.powr-btn-secondary {
  @extend .btn-outline-primary;
}

.powr-btn-warning {
  @extend .btn-warning;
}

.powr-btn-danger {
  @extend .btn-danger;
}

.powr-btn-link {
  @extend .btn-link;
}

.btn-cta {
  @extend .btn;
  @extend .btn-primary;
  white-space: inherit;
}

.btn-cta-outline {
  @extend .btn;
  @extend .btn-outline-primary;
}

*[class*="btn--"]:before {
  display: inline-block;
  padding-right: 0.5rem;
  vertical-align: middle;
}

.btn--download:before {
  font-family: "Font Awesome 5 Free";
  content: "\f019";
}

.btn--fax:not(.disabled):hover {
  cursor: default;
}
