/**
 * @file
 * Column styles
 */

.paragraph--type--columns-equal .row .col-lg:first-child {
  margin-left: 0px;
  padding-left: 0px;
}

.paragraph--type--columns-equal .row .col-lg:last-child {
  margin-right: 0px;
  padding-right: 0px;
}