// Service steps

ol.steps {
  margin: 0;
  padding: 0;
  list-style-type: none;
  dl,
  ol,
  ul {
    margin-top: 0;
    margin-bottom: $cloudy-space-4;
    ol,
    ul {
      margin-bottom: 0;
    }
  }
  li.step:not(:empty) {
    position: relative;
    counter-increment: step-counter;
    margin-bottom: $cloudy-space-4;

    &:before {
      content: counter(step-counter);
      position: absolute;
      left: 0;
      top: 0;
      font-size: $h4-font-size;
      border: $border-width $cloudy-gray-700 solid;
      color: $cloudy-gray-700;
      font-weight: $font-weight-normal;
      padding: 0.3rem $cloudy-space-4;
      border-radius: 50%;
    }
    > * {
      position: relative;
      margin-left: $cloudy-space-4 * 4;
    }
    .step-title {
      margin-bottom: $cloudy-space-4 * 1.25;
    }
  }
}

#block-feedbacklink .content {
  @extend .container-fluid;
  margin-top: $cloudy-space-8;
  padding: $cloudy-space-2 $cloudy-space-4;
  border-left: 10px solid $cloudy-blue-base;
  background-color: $cloudy-gray-base;
  border-radius: $border-radius-tight;
}

#block-feedbacklink .content p {
  margin-top: $cloudy-space-4;
}