// Service steps

ol.steps {
  margin: 0;
  padding: 0;
  list-style-type: none;
  dl,
  ol,
  ul {
    margin-top: 0;
    margin-bottom: $cloudy-space-4;
    ol,
    ul {
      margin-bottom: 0;
    }
  }
  li.step:not(:empty) {
    position: relative;
    counter-increment: step-counter;
    margin-bottom: $cloudy-space-4;

    &:before {
      content: counter(step-counter);
      position: absolute;
      left: 0;
      top: 0;
      font-size: $h4-font-size;
      border: $border-width $cloudy-color-neutral-500 solid;
      color: $cloudy-color-neutral-500;
      font-weight: $font-weight-normal;
      padding: 0.3rem $cloudy-space-4;
      border-radius: 50%;
    }
    > * {
      position: relative;
      margin-left: $cloudy-space-4 * 4;
    }
    .step-title {
      margin-top: $cloudy-space-6;
      margin-bottom: $cloudy-space-4;
    }
  }
}

// Clear floated media
hr {
  clear: both;
}
