// Council meetings, documents, agenda items, and votes

.relation--type-agenda-item:nth-child(even) {
  -webkit-print-color-adjust: exact;
  background: $cloudy-color-neutral-100 !important;
  border: 1px solid $gray;
  padding: $cloudy-space-2;
}

.relation--type-agenda-item:nth-child(odd) {
  border: 1px solid $gray;
  padding: $cloudy-space-2;
}

.field--name-field-bureau,
.field--name-field-introduced-by {
  .field__items {
    display: flex;
    .field__item {
      display: inline-block;
    }
    .field__item:not(:first-child):before {
      content: "; ";
    }
  }
}
