// Council meetings, documents, agenda items, and votes

.field--name-field-votes .relation {
  display: flex;
}

.field--name-field-council-member {
  margin-right: 1rem !important;
}

.field--name-field-agenda .relation {
  border: 1px solid $cloudy-gray-300;
  padding: 1rem;
  margin-bottom: 1rem;
  .field--name-field-votes .relation {
    border: 0px;
    padding: 0px;
    margin: 0px;
  }
}