.ui-dialog {
  /* UI Dialog - changed position to fixed, because relative was causing dialog to appear
   partially offscreen (top) on very long pages. */
  .ui-dialog {
    position: fixed;
  }
  .ui-dialog-titlebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .ui-dialog-title {
      flex-grow: 1;
    }
    .ui-dialog-titlebar-close {
      position: static;
      width: unset;
      height: unset;
      margin: 0;
      padding: 0;
    }
  }
}
