.elected--contact {
  font-size: $font-size-sm
}
.elected--contact .country {
  display:none;
}

.elected--meta .field--name-field-facebook,
.elected--meta .field--name-field-twitter,
.elected--meta .field--name-field-instagram {
  font-size: $font-size-sm;
}