/* ------------------ Header ------------------ */

@media (max-width: 33.9em) {
  .navbar-toggleable-xs .navbar-nav .nav-item + .nav-item,
  .navbar-toggleable-xs.collapse.in .navbar-nav .nav-item {
    margin-left: 0;
    float: none;
  }
}

@media (max-width: 47.9em) {
  .navbar-toggleable-sm .navbar-nav .nav-item + .nav-item,
  .navbar-toggleable-xs.collapse.in .navbar-nav .nav-item {
    margin-left: 0;
    float: none;
  }
}

.header {
  background-color: $cloudy-color-green-800;
  // Using the ID here to make sure we are only effecting the global header
  &#header {
    @media (max-width: 767px) {
      & > .container {
        padding: 0;
        margin: 0;
        max-width: 100%;
        .navbar-nav.nav {
          background: $cloudy-color-neutral-100;
        }
        .cloudy-logo {
          padding-left: $cloudy-space-4;
        }
      }
    }
  }
}

.banner {
  background-image: linear-gradient(
    to bottom right,
    $cloudy-color-neutral-500,
    $cloudy-color-neutral-900
  );
  background-color: $cloudy-color-neutral-900;
  color: $cloudy-color-neutral-0;
}

.navbar {
  flex-flow: wrap;
  padding: 0;
  .region.region-header {
    order: 1;
  }
  .cloudy-logo {
    max-width: 160px;

    @include media-breakpoint-up(lg) {
      max-width: 100%;
    }
  }
  .navbar-toggler {
    background-color: $cloudy-color-neutral-0;
    border-radius: 0;
    padding: $cloudy-space-6 $cloudy-space-4;
    line-height: $cloudy-space-6;
    color: $cloudy-color-blue-500;
    position: relative;
    transition: all 0.2s ease-in-out; // This ensures a subtle transition from one menu state to another
    .icon {
      margin: 0;
    }
    .navbar-toggle-item--open {
      font-weight: 600;
    }
    .navbar-toggle-item--close {
      display: none;
    }
    &[aria-expanded="true"] {
      background: $cloudy-color-blue-800;
      color: $cloudy-color-neutral-0;
      svg {
        color: $cloudy-color-neutral-0;
      }
      .navbar-toggle-item--open {
        display: none;
      }
      .navbar-toggle-item--close {
        display: inherit;
      }
    }
  }
  .navbar-nav {
    .nav-item {
      font-weight: 600;
    }
    .nav-link {
      @include links(
        $cloudy-color-blue-500,
        $cloudy-color-blue-500,
        $cloudy-color-blue-800,
        $cloudy-color-blue-800
      );
      border-bottom: 1px solid $cloudy-color-blue-300;
      color: $cloudy-color-blue-500;
      padding: $cloudy-space-3 $cloudy-space-4;

      @include media-breakpoint-up(md) {
        border-bottom: none;
        padding: $cloudy-space-6 $cloudy-space-4;
        transition: background-color 0.2s ease;
        &:hover {
          background: $cloudy-color-neutral-100;
        }
        &.active {
          color: $cloudy-color-blue-800;
        }
      }
      @include media-breakpoint-up(lg) {
        padding: $cloudy-space-6 $cloudy-space-4;
      }
    }
  }
  .navbar-form {
    display: none;
    @include media-breakpoint-up(lg) {
      display: inherit;
    }
  }
  .navbar-toggle-group {
    align-self: stretch;
    display: flex;
    order: 2;
    @include media-breakpoint-up(md) {
      order: 3;
    }
    @include media-breakpoint-up(lg) {
      display: none;
    }
    .search-toggle {
      -webkit-appearance: none;
      background-color: transparent;
      border-color: transparent; // Fixes issues with outlines over/underlapping
      min-width: 40px;
      padding: 0 $cloudy-space-4;
      transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
      &:hover {
        background: $cloudy-color-neutral-100;
        .icon {
          color: $cloudy-color-blue-800;
        }
      }
      .icon {
        color: $cloudy-color-blue-500;
        margin-right: 0;
        &:focus {
          outline: none;
        }
      }
      &[aria-expanded="true"] {
        .icon {
          color: $cloudy-color-blue-800;
        }
      }
    }
  }
  .navbar-mobile-drawer {
    order: 3;
    @include media-breakpoint-up(md) {
      order: 2;
    }
  }
  .navbar-mobile-search-drawer-wrapper {
    display: flex;
    align-items: center;
    .region.region-header-form {
      flex-basis: 100%;
    }
    .navbar-mobile-search-drawer__close {
      flex-basis: 28px;
      padding: 0 $cloudy-space-3 0 $cloudy-space-4;
      .icon {
        color: $cloudy-color-neutral-0;
        margin-right: 0;
        cursor: pointer;
        @include media-breakpoint-up(md) {
          color: $cloudy-color-neutral-900;
        }
      }
      .icon--size-m > svg {
        margin-top: 0;
      }
    }
  }
  .navbar-mobile-search-drawer {
    flex-basis: 100%;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    align-items: center;
    padding: $cloudy-space-6 $cloudy-space-3 $cloudy-space-6 $cloudy-space-4;
    background: $cloudy-color-blue-800;
    order: 4;
    @include media-breakpoint-up(md) {
      background: transparent;
      padding-top: 0;
    }
    @include media-breakpoint-up(lg) {
      display: none;
    }
    .search-api-page-block-form .form-inline--search-block {
      max-width: 100%;
      margin: 0;
    }
    input.form-autocomplete.form-text {
      width: 100%;
    }
  }
}

.featured-top {
  background-color: $cloudy-color-neutral-100;
}
