/*
* Global site header
* Logo
* Header global menu
* Header global search - large and small
* Search autocomplete
*/

// Hide transition when toggling menu/search if another one is currently open
.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

// Base header toggle styles
%header-toggle {
  @include button-size(
    $cloudy-space-0,
    $cloudy-space-4,
    $btn-font-size,
    $btn-line-height,
    $cloudy-space-0
  );
  border: none;
  background: none;
  font-size: $cloudy-space-5;
}

// Global site header
.cloudy-header {
  &__logo-wrapper {
    display: flex;
    height: 72px;
    flex-basis: 144px;
    flex-grow: 0;
    flex-shrink: 0;
    margin: $cloudy-space-0 $cloudy-space-0 $cloudy-space-0 $cloudy-space-4;
    @include media-breakpoint-up(md) {
      flex-basis: 160px;
      margin-left: $cloudy-space-0;
    }
    @include media-breakpoint-up(lg) {
      flex-basis: 231px;
    }
  }
  &__search-wrapper {
    flex-basis: 100%;
    background: $cloudy-color-blue-800;
    @include media-breakpoint-up(md) {
      background: $cloudy-color-neutral-0;
    }
    @include media-breakpoint-up(lg) {
      flex-basis: auto;
      &.collapse {
        display: flex;
      }
    }
  }
  &__menu-wrapper {
    order: 1;
    flex-basis: 100%;
    @include media-breakpoint-up(md) {
      order: 0;
      flex-basis: auto;
      margin-left: auto;
      &.collapse {
        display: flex;
      }
    }
  }
  &__search-region {
    flex-grow: 1;
  }
  &__toggle {
    @extend %header-toggle;
    &--menu {
      .toggle__label {
        font-weight: $font-weight-semibold;
        color: $cloudy-color-blue-600;
      }
      &[aria-expanded="true"] {
        background: $cloudy-color-blue-800;
        .toggle__label {
          color: $cloudy-color-neutral-0;
        }
      }
      @include media-breakpoint-up(md) {
        display: none;
      }
    }
    &--search {
      margin-left: auto;
      .icon {
        color: $cloudy-color-blue-600;
      }
      @include media-breakpoint-up(md) {
        margin-left: $cloudy-space-0;
      }
      @include media-breakpoint-up(lg) {
        display: none;
      }
    }
	}
	// Expanded search form close search button
  &__close-search {
    background: transparent;
    border: none;
    padding: $cloudy-space-0 $cloudy-space-4;
    .icon {
      color: $cloudy-color-neutral-0;
      @include media-breakpoint-up(md) {
        color: $cloudy-color-neutral-900;
      }
    }
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}

// Header global menu
.cloudy-global-menu {
  @include media-breakpoint-up(md) {
    display: flex;
    height: 100%;
  }
  &__list {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    margin: $cloudy-space-0;
    padding: $cloudy-space-0;
    list-style: none;
    background: $cloudy-color-neutral-100;
    @include media-breakpoint-up(md) {
      flex-direction: row;
      background: $cloudy-color-neutral-0;
    }
  }
  &__link {
    display: block;
    padding: $cloudy-space-3 $cloudy-space-4;
    border-bottom: 1px solid $cloudy-color-blue-300;
    font-weight: $font-weight-semibold;
    &:hover {
      text-decoration: none;
    }
    @include media-breakpoint-up(md) {
      display: flex;
      align-items: center;
      justify-content: stretch;
      height: 100%;
      padding-top: $cloudy-space-0;
      padding-bottom: $cloudy-space-0;
      border: none;
      &:hover {
        background: $cloudy-color-neutral-100;
      }
      &.is-active {
        color: $cloudy-color-blue-800;
      }
    }
  }
}

// Search form styles - contains shared styles, search small, and search large
.cloudy-search-form {
  position: relative;
  form {
    display: flex;
    align-items: stretch;
    background: $cloudy-color-neutral-0;
    border-radius: $border-radius-sm;
    margin: $cloudy-space-0;
    .form-item {
      display: flex;
      flex-grow: 1;
      align-items: center;
      margin: 0;
    }
  }
  &__input[type="search"] {
    display: block;
    width: 100%;
    border: none;
    padding: $cloudy-space-2;
    font-weight: $font-weight-semibold;
    color: $cloudy-color-neutral-900;
    overflow: hidden;
    // TODO: Use libraries-override to override autocomplete styling
    // * Hide autocomplete loading module background
    background-image: none !important;
    &::placeholder {
      color: $cloudy-color-neutral-900;
      opacity: 1;
      overflow: visible;
    }
  }
  .cloudy-btn--icon[type="submit"] {
    background: url("/themes/custom/cloudy/src/elements/icon/svgs/search.svg") 50%
      50% no-repeat;
    border: none;
    height: 100%;
    background-size: $cloudy-space-5 $cloudy-space-5;
  }

  // Header region - /node - !/front, !/search, !/search/*, !/404
  &--small {
    @include media-breakpoint-up(lg) {
      margin-left: $cloudy-space-3;
    }
    form {
      flex-direction: row-reverse;
      @include media-breakpoint-up(md) {
        border: $search-small-border-style;
      }
    }
    .cloudy-search-form__input {
      border-radius: $border-radius-sm;
    }
    .cloudy-btn--icon[type="submit"] {
      padding: $cloudy-space-0 $cloudy-space-5;
      &:hover {
        background-color: transparent !important;
      }
    }
  }
  // Content region - /front, /search, /search/*, /404
  &--large {
    border-bottom: $search-large-border-style-underline;
    border-radius: $cloudy-space-0 $cloudy-space-0 $border-radius-sm $border-radius-sm;
    form {
      height: 67px;
      border-radius: $border-radius-sm $border-radius-sm $cloudy-space-0
        $cloudy-space-0;
      margin: $cloudy-space-0;
      border-top: $search-large-border-style;
      border-right: $search-large-border-style;
      border-left: $search-large-border-style;
      @include media-breakpoint-up(md) {
        height: 69px;
      }
    }
    .cloudy-search-form__input {
      padding: $cloudy-space-0 $cloudy-space-4;
      font-size: ($cloudy-lead-md-font-size / $cloudy-type-base-font-size) + rem;
      border-radius: $border-radius-sm $cloudy-space-0 $cloudy-space-0;
      height: 100%;
    }
    .cloudy-btn--icon[type="submit"] {
      border-radius: $cloudy-space-0 $border-radius-sm $cloudy-space-0
        $cloudy-space-0;
      background-size: 18px;
      padding: $cloudy-space-0 $cloudy-space-6;
      @include media-breakpoint-up(md) {
        background-size: 20px;
      }
    }
  }
}

// TODO: Override module library with libraries-override
// Search API block autocomplete
.ui-autocomplete {
  display: flex;
  flex-direction: column;
  color: $cloudy-color-neutral-800;
  &#ui-id-1 {
    width: 100% !important;
  }
  li.ui-menu-item {
    &:hover {
      background: transparent;
    }
    a.ui-menu-item-wrapper {
      display: flex;
      flex-direction: column;
      padding: $cloudy-space-2 $cloudy-space-2;
      color: $cloudy-color-blue-800;
      .search-api-autocomplete-suggestion {
        padding: $cloudy-space-0;
        width: 100%;
      }
      &.ui-state-active {
        display: flex;
        flex-direction: column;
        color: $cloudy-color-neutral-0;
        background: $cloudy-color-blue-800;
        border-color: $cloudy-color-blue-800;
        .search-api-autocomplete-suggestion {
          color: inherit;
          background: none;
        }
      }
    }
  }
}
