/* ------------------ Header ------------------ */

@media (max-width: 33.9em) {
  .navbar-toggleable-xs .navbar-nav .nav-item + .nav-item,
  .navbar-toggleable-xs.collapse.in .navbar-nav .nav-item {
    margin-left: 0;
    float: none;
  }
}

@media (max-width: 47.9em) {
  .navbar-toggleable-sm .navbar-nav .nav-item + .nav-item,
  .navbar-toggleable-xs.collapse.in .navbar-nav .nav-item {
    margin-left: 0;
    float: none;
  }
}

.header {
  background-color: $cloudy-color-neutral-0;
}

.banner {
  background-image: linear-gradient(to bottom right, $cloudy-color-neutral-500, $cloudy-color-neutral-900);
  background-color: $cloudy-color-neutral-900;
  color: $cloudy-color-neutral-0;
  min-height: 70px;
}

.navbar {
  padding: 0;
  .cloudy-logo {
    max-width: 160px;

    @include media-breakpoint-up(sm) {
      max-width: 100%;
    }
  }
  .navbar-toggler {
    background-color: $cloudy-color-neutral-0;
    border-radius: 0;
    padding: $cloudy-space-6;
    line-height: $cloudy-space-6;
    color: $cloudy-color-neutral-900;
  }
  .navbar-nav .nav-link {
    color: $cloudy-color-neutral-900;
    @include links(
      $cloudy-color-neutral-900,
      $cloudy-color-neutral-900,
      $cloudy-color-neutral-900,
      $cloudy-color-neutral-900
    );
    padding: 0.875rem 0;
  }
}

@include media-breakpoint-up(xl) {
  .navbar {
    .navbar-nav .nav-link {
      padding: $cloudy-space-6 $cloudy-space-4;
      transition: background-color 0.25s ease, font-size 0.25s ease;
      &:hover {
        background: $cloudy-color-neutral-100;
      }
      &.active {
        background-color: $cloudy-color-neutral-100;
      }
    }
  }
}

.featured-top {
  background-color: $cloudy-color-neutral-100;
}
