/*
* Global site header
* Logo
* Header global menu
* Header global search - large and small
* Search autocomplete
*/

// Hide transition when toggling menu/search if another one is currently open
.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

// Global site header
.cloudy-header {
  &__wrapper {
    background-color: $cloudy-color-purple-900;
  }
  &__logo-wrapper {
    display: flex;
    flex-basis: 158px;
    flex-grow: 0;
    flex-shrink: 0;
    margin: $cloudy-space-2 $cloudy-space-0 $cloudy-space-2 $cloudy-space-4;
    @include media-breakpoint-up(md) {
      flex-basis: 267px;
    }
  }
  &__search-wrapper {
    flex-basis: 100%;
    order: 1;
    margin-left: auto;
    transition: height 250ms ease-in-out;
    @include media-breakpoint-down(sm) {
      &.collapse:not(.show) {
        height: 0;
      }
    }
    @include media-breakpoint-up(md) {
      flex-basis: auto;
      order: inherit;
      &.collapse {
        display: flex;
      }
    }
  }
  &__menu-wrapper {
    order: 1;
    flex-basis: 100%;
    background-color: $cloudy-color-neutral-0;
    border-bottom: $cloudy-space-3 solid $cloudy-color-purple-900;
    transition: height 500ms ease-in-out;
    @include media-breakpoint-up(md) {
      border-bottom-width: $cloudy-space-4;
    }
    &.collapse:not(.show) {
      height: 0;
    }
  }
  &__search-region {
    flex-grow: 1;
  }
  &__toggle {
    @include button-size(
      $cloudy-space-4,
      $cloudy-space-8,
      $cloudy-space-5,
      $cloudy-space-4,
      $border-radius-md
    );
    border: none;
    background: none;
    @include media-breakpoint-down(sm) {
      @include button-size(
        $cloudy-space-2,
        $cloudy-space-2,
        $cloudy-space-5,
        $cloudy-space-4,
        $border-radius-md
      );
    }
    @media (hover: hover) {
      &:hover {
        background: $cloudy-color-mega-menu-button-bg;
      }
    }
    &[aria-expanded="true"] {
      background: $cloudy-color-mega-menu-button-bg;
    }
    .toggle__label {
      display: flex;
      align-items: center;
      font-weight: $font-weight-semibold;
      color: $cloudy-color-neutral-0;
      @include media-breakpoint-down(sm) {
        flex-direction: column;
        font-size: 1rem;
        .toggle-icon {
          margin-right: 0;
          margin-bottom: $cloudy-space-2;
        }
      }
      .toggle-icon {
        display: inline-block;
        height: $cloudy-space-6;
        width: $cloudy-space-6;
        background-color: $cloudy-color-neutral-0;
        -webkit-mask-size: contain;
        mask-size: contain;
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        &.icon-menu {
          mask-image: url("/themes/custom/cloudy/src/elements/icon/svgs/menu.svg");
        }
        &.icon-search {
          mask-image: url("/themes/custom/cloudy/src/elements/icon/svgs/search.svg");
        }
        &.icon-close {
          mask-image: url("/themes/custom/cloudy/src/elements/icon/svgs/close.svg");
        }
      }
    }
    &--menu {
      @include media-breakpoint-up(md) {
        margin-right: $cloudy-space-4;
      }
    }
    &--search {
      margin-left: auto;
      @include media-breakpoint-up(md) {
        display: none;
      }
    }
  }
  // Expanded search form close search button
  &__close-search {
    background: transparent;
    border: none;
    border-radius: $border-radius-md;
    &:hover {
      background: $cloudy-color-mega-menu-button-bg;
    }
    margin-left: $cloudy-space-2;
    padding: $cloudy-space-2;
    .icon {
      color: $cloudy-color-neutral-0;
    }
    @include media-breakpoint-up(md) {
      display: none;
    }
  }
}

.region-primary-menu {
  padding-top: $cloudy-space-4;
}


// Header global menu
.cloudy-global-menu {
  h2 {
    font-size: $cloudy-space-6;
  }
  &__list {
    padding: $cloudy-space-0;
    list-style: none;
  }
  &__item {
    &:hover {
      background-color: $cloudy-color-neutral-200;
    }
  }
  &__link {
    display: block;
    height: 100%;
    padding: $cloudy-space-4 $cloudy-space-0;
    font-size: 1.13rem;
    font-weight: $font-weight-semibold;
    &:hover {
      text-decoration: none;
    }
    @include media-breakpoint-down(xs) {
      padding-right: $cloudy-space-6;
      &::after {
        content: "\203A";
        color: $cloudy-color-neutral-500;
        position: absolute;
        top: calc(50% - 28px);
        right: $cloudy-space-4;
        font-size: $cloudy-space-8;
        font-weight: 400;
      }
    }
    .desc {
      display: block;
      font-size: 1rem;
      font-weight: initial;
      color: $cloudy-color-neutral-900;
    }
    .ext {
      display: none;
    }
    .media--view-mode-elected-official-thumbnail {
      margin-right: $cloudy-space-4;
      .field__item {
        margin: 0;
      }
      img {
        border-radius: 50%;
        @include media-breakpoint-down(xs) {
          height: 64px;
          width: 64px;
        }
      }
    }
    .label {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-weight: inherit;
    }
  }
}


// Search form styles - contains shared styles, search small, and search large
.cloudy-search-form {
  position: relative;
  form {
    display: flex;
    align-items: stretch;
    background: $cloudy-color-neutral-0;
    border-radius: $border-radius-md;
    .form-item {
      display: flex;
      flex-grow: 1;
      align-items: center;
      margin: 0;
    }
    .form-actions {
      background-color: $cloudy-color-blue-600;
      border-radius: 0 $border-radius-md $border-radius-md 0;
      &:hover {
        background-color: $cloudy-color-blue-500;
      }
    }
  }
  &__input[type="search"] {
    display: block;
    width: 100%;
    overflow: hidden;
    padding: $cloudy-space-2;
    color: $cloudy-color-neutral-900;
    // TODO: Use libraries-override to override autocomplete styling
    // * Hide autocomplete loading module background
    background-image: none !important;
    border: none;
    border-radius: $border-radius-md 0 0 $border-radius-md;
    @include media-breakpoint-up(lg) {
      width: 250px;
    }
    &::placeholder {
      color: $cloudy-color-neutral-900;
      opacity: 1;
      overflow: visible;
    }
  }
  .cloudy-btn--icon[type="submit"] {
    height: 100%;
    padding: $cloudy-space-0 $cloudy-space-6;
    background-color: $cloudy-color-neutral-0;
    border: none;
    border-radius: 0 $border-radius-md $border-radius-md 0;
    mask-image: url("/themes/custom/cloudy/src/elements/icon/svgs/search.svg");
    -webkit-mask-size: 16px;
    mask-size: 16px;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    &:hover {
      background-color: $cloudy-color-neutral-0 !important;
    }
  }

  // Header region - /node - !/front, !/search, !/search/*
  &--small {
    @include media-breakpoint-up(md) {
      margin: 0 $cloudy-space-4;
      form {
        .form-actions {
          background-color: $cloudy-color-neutral-200;
          &:hover {
            background-color: $cloudy-color-neutral-100;
          }
        }
      }
      .cloudy-btn--icon[type="submit"] {
        background-color: $cloudy-color-neutral-900;
        &:hover {
          background-color: $cloudy-color-neutral-900 !important;
        }
      }
    }
  }
  // Content region - /front, /search, /search/*
  &--large {
    form {
      height: 67px;
      margin: $cloudy-space-0;
      border-radius: $border-radius-xl;
      @include media-breakpoint-up(md) {
        height: 69px;
      }
      .form-actions {
        background-color: $cloudy-color-blue-600;
        border-radius: 0 $border-radius-md $border-radius-md 0;
        &:hover {
          background-color: $cloudy-color-blue-500;
        }
      }
    }
    .cloudy-search-form__input {
      height: 100%;
      width: 100%;
      padding: $cloudy-space-0 $cloudy-space-4;
      font-size: ($cloudy-lead-md-font-size / $cloudy-type-base-font-size) + rem;
      background-color: $cloudy-color-neutral-200;
    }
    .cloudy-btn--icon[type="submit"] {
      padding: $cloudy-space-0 2.25rem;
      -webkit-mask-size: 20px;
      mask-size: 20px;
      background-color: $cloudy-color-neutral-0;
      &:hover {
        background-color: $cloudy-color-neutral-0 !important;
      }
    }
  }
}


// TODO: Override module library with libraries-override
// Autocomplete fields including Search API and entity reference fields
.ui-autocomplete {
  display: flex;
  flex-direction: column;
  color: $cloudy-color-neutral-900;
  border: $cloudy-border-width-2 solid $cloudy-color-neutral-200;
  &#ui-id-1 {
    width: 100% !important;
  }
  li.ui-menu-item {
    &:hover {
      background: transparent;
    }
    a.ui-menu-item-wrapper {
      display: flex;
      flex-direction: column;
      padding: $cloudy-space-2 $cloudy-space-2;
      color: $cloudy-color-neutral-900;
      .search-api-autocomplete-suggestion {
        padding: $cloudy-space-0;
        width: 100%;
      }
      &.ui-state-active {
        display: flex;
        flex-direction: column;
        color: $cloudy-color-neutral-0;
        background: $cloudy-color-blue-600;
        .search-api-autocomplete-suggestion {
          color: inherit;
          background: none;
        }
      }
    }
  }
}
