/* ------------------ Header ------------------ */

@media (max-width: 33.9em) {
    .navbar-toggleable-xs .navbar-nav .nav-item+.nav-item,
    .navbar-toggleable-xs.collapse.in .navbar-nav .nav-item {
        margin-left: 0;
        float: none;
    }
}

@media (max-width: 47.9em) {
    .navbar-toggleable-sm .navbar-nav .nav-item+.nav-item,
    .navbar-toggleable-xs.collapse.in .navbar-nav .nav-item {
        margin-left: 0;
        float: none;
    }
}

.header {
  background-color: $cloudy-white-base;
}

.banner {
  background-image: linear-gradient(to bottom right, $cloudy-gray-700a, $cloudy-black-base);
  background-color: $cloudy-gray-800;
  color: $cloudy-white-offset;
  min-height: 70px;
}

.navbar {
  padding: 0;
  .cloudy-logo {
    max-width: 160px;

    @include media-breakpoint-up(sm) {
      max-width: 100%;
    }
  }
  .navbar-toggler {
    background-color: $cloudy-white-base;
    border-radius: 0;
    padding: $cloudy-space-6;
    line-height: $cloudy-space-6;
    color: $cloudy-black-base;
}
  .navbar-nav .nav-link {
    color: $cloudy-black-base;
    @include links($cloudy-black-base, $cloudy-black-base, $cloudy-black-base, $cloudy-black-base);
    padding: .875rem 0;
  }
}

@include media-breakpoint-up(xl) {
  .navbar {
    .navbar-nav .nav-link {
      padding: $cloudy-space-6 $cloudy-space-4;
      transition: background-color 0.25s ease, font-size 0.25s ease;
      &:hover {
        background: $cloudy-gray-base;
      }
      &.active {
        background-color: $cloudy-gray-base;
      }
    }
  }
}

.featured-top {
  background-color: $cloudy-gray-100;
}
