/**
 * @file
 * Styles for the help block.
 */

.block-help {
    border: $border-width solid $gray-300;
    padding: ($spacer * 1.5);
    margin-bottom: ($spacer * 2) !important;
    background-color: $gray-100;
}