/**
 * @file
 * Styles for the help block.
 */

.block-help {
    border: $border-width solid $cloudy-color-bg-neutral-100;
    padding: ($cloudy-space-4 * 1.5);
    margin-bottom: ($cloudy-space-4 * 2) !important;
    background-color: $cloudy-color-bg-neutral-100;
}
