/**
 * @file
 * Basic styling for comment module.
 */


/**
 * Indent threaded comments.
 */

.indented {
    margin-left: ($cloudy-space-4 * 1.5);
    /* LTR */
}

[dir="rtl"] .indented {
    margin-left: 0;
    margin-right: ($cloudy-space-4 * 1.5);
}
