/**
 * @file
 * List styles.
 * How should lists look.
 */

ol {
  list-style-type: decimal;
  ol {
    list-style-type: upper-alpha;
    ol {
      list-style-type: upper-roman;
      ol {
        list-style-type: lower-alpha;
        ol {
          list-style-type: lower-roman;
          ol {
            list-style-type: decimal;
          }
        }
      }
    }
  }
}

.page-node-type-city-code ol,
ol.code-section-list {
  counter-reset: legal 0;
  list-style: none;
  li {
    position: relative;
  }
  li:before {
    counter-increment: legal;
    content: counter(legal, upper-alpha) '.';
    position: absolute;
    left: -2rem;
  }
  li.code-alpha-fix:before {
    counter-increment: legal 27;
  }
  ol {
    counter-reset: list;
    list-style-type: none;
    li:before {
      counter-increment: list;
      content: counter(list, decimal) '.';
      position: absolute;
      left: -2rem;
    }
    ol {
      counter-reset: list;
      list-style-type: none;
      li:before {
        counter-increment: list;
        content: counter(list, lower-alpha) '.';
        position: absolute;
        left: -2rem;
      }
      ol {
        counter-reset: list;
        list-style-type: none;
        li:before {
          content: "(" counter(list) ")";
          counter-increment: list;
          position: absolute;
          left: -2rem;
        }
        ol {
          counter-reset: list;
          list-style-type: none;
          li:before {
            content: "(" counter(list, lower-alpha) ")";
            counter-increment: list;
            position: absolute;
            left: -2rem;
          }
          ol {
            counter-reset: list;
            list-style-type: none;
            li:before {
              content: "(" counter(list, lower-roman) ")";
              counter-increment: list;
              position: absolute;
              left: -2rem;
            }
            ol {
              counter-reset: list;
              list-style-type: decimal;
              li {
                padding-left: 0;
              }
              li:before {
                content: none;
              }
            }
          }
        }
      }
    }
  }
}

li.list-item-unstyled {
  list-style: none;
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  &:before {
    content: none;
  }
}
