/**
 * @file
 * List group.
 * A list of links, grouped together.
 */

.list-group__link {
    border-top: $border-width solid $cloudy-color-bg-neutral-100;
    padding: $cloudy-space-3 0 0;
}

.list-group__description {
    margin: 0 0 $cloudy-space-3;
}

.list-group-item.topic {
    padding: $cloudy-space-3 $cloudy-space-4;
  }
