/**
 * @file
 * Media.
 * Media items, typically embedded.
 */

// Figures
.figure {
  // Bootstrap uses inline-block which breaks our
  // full width media sitting on top of each other
  @extend .d-flex;
  flex-direction: column;
}

.image-preview img.image-style-thumbnail {
  max-width: 100px;
}

// Alignment styles
// If this stylesheet is imported for CKEditor, this prefix will be set to restrict
// the alignment styles to the top-level figure element.
$alignment-prefix: '' !default;

#{$alignment-prefix}.align-right {
  float: right;
}

#{$alignment-prefix}.align-responsive-full,
#{$alignment-prefix}.align-responsive-right {
  width: 100%;
}

// Set right-aligned responsive media max-width to 50% on screens md and up.
#{$alignment-prefix}.align-right,
#{$alignment-prefix}.align-responsive-right {
  @include media-breakpoint-up(md) {
    margin-left: $cloudy-space-4;
    width: 50%;
  }
}

#{$alignment-prefix}.align-right {
  .media--type-image {
    text-align: center;

    img {
      width: auto; // Images smaller than 50%
    }
  }
}

#{$alignment-prefix}.align-responsive-right {
  @include media-breakpoint-up(md) {
    float: right;
  }
}

// Decrease embedded-entity bottom margin
.embedded-entity {
  margin-bottom: $cloudy-space-4;
  clear: both; // Clear sibling floats

  img {
    margin: 0;
  }
}

// Remove ckeditor default margin
.media {
  margin: 0 !important;
  min-width: inherit !important;
}

figure .embedded-entity {
  margin-bottom: calc($cloudy-space-4 / 2);
}

// Remove bottom margin on document embed list items
li .media--type-document {
  margin-bottom: 0;
}

// Attribution have the same max-width as images
.field--type-attribution {
  max-width: 540px;
  margin-top: 0.5rem;
}
