/**
 * @file
 * Media.
 * Media items, typically embedded.
 */

// Figures
.figure {
  // Bootstrap uses inline-block which breaks our
  // full width media sitting on top of each other
  @extend .d-flex;
  flex-direction: column;
}

.image-preview img.image-style-thumbnail {
  max-width: 100px;
}
// "embed-image" and "embed-video" classes are added by filter portland_media_embed_helper_classes.
// Embedded media default width.
.align-right,
.embed-video,
.responsive-full,
.responsive-right {
  width: 100%;
}

// Set left-aligned media max-width to 50% on screens md and up.
.align-center {
  @include media-breakpoint-up(md) {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
  }
}

// Set left-aligned media max-width to 50% on screens md and up.
.align-left {
  @include media-breakpoint-up(md) {
    margin-right: $cloudy-space-4;
    width: 50%;
  }
}

// Set right-aligned media max-width to 50% on screens md and up.
.align-right,
.responsive-right {
  @include media-breakpoint-up(md) {
    margin-left: $cloudy-space-4;
    width: 50%;
  }
}

.align-right {
  .field--type-image {
    text-align: center;
    img {
      width: auto; // Images smaller than 50%
    }
  }
}

.responsive-right {
  @include media-breakpoint-up(md) {
    float: right;
  }
}

// Decrease embedded-entity bottom margin
// when wrapped inside a figure tag.
.embedded-entity {
  margin-bottom: $cloudy-space-4;
  clear: both; // Clear sibling floats
  img {
    margin: 0;
  }
  .figure & {
    margin-bottom: ($cloudy-space-4 / 2);
  }
}

// Remove bottom margin on document embed list items
li .embed-document {
  margin-bottom: 0;
}
