// Nav overides for in page menus used in group public and admin views

.nav-group-menu {
  border-top: 2px solid $cloudy-gray-600;
  margin-bottom: 2rem;
  a.nav-link {
    font-weight: $font-weight-semibold;
  }
  a {
    border-bottom: 2px solid $white;
  }
  a.active {
    color: $cloudy-gray-800;
    border-bottom: 2px solid $cloudy-yellow-base;
  }
  a:hover {
    border-bottom: 2px solid $cloudy-yellow-base;
  }
}

.navbar-brand img {
  @extend .d-flex;
}

.menu--editor-toolbar .nav-item a.is-active{
  background-color: $cloudy-black-base;
}

.menu--editor-toolbar .nav-item {
  transition: background-color 0.25s ease, font-size 0.25s ease;
      &:hover {
        background-color: $cloudy-black-15;
      }
}

.menu--pages a.nav-link {
  border-top: 1px solid $cloudy-gray-300;
}

.menu--pages a.nav-link.active {
  border-left: 3px solid $cloudy-black-base;
  color: $cloudy-black-base;
}

.view-id-page_menu h3 {
  font-size: 1rem;
  font-weight: $font-weight-semibold;
}
