// Nav overides for in page menus used in group public and admin views

.nav-group-menu {
  border-top: 2px solid $cloudy-color-bg-neutral-500;
  margin-bottom: $cloudy-space-8;
  a.nav-link {
    font-weight: $font-weight-semibold;
  }
  a {
    border-bottom: 2px solid $white;
  }
  a.active {
    color: $cloudy-color-bg-neutral-800;
    border-bottom: 2px solid $cloudy-color-bg-yellow-500;
  }
  a:hover {
    border-bottom: 2px solid $cloudy-color-bg-yellow-500;
  }
}

.navbar-brand img {
  @extend .d-flex;
}

.menu--editor-toolbar .nav-item a.is-active{
  background-color: $cloudy-color-bg-neutral-800;
}

.menu--editor-toolbar .nav-item {
  font-size: $font-size-sm;
  transition: background-color 0.25s ease, font-size 0.25s ease;

  &:hover {
    background-color: $cloudy-color-bg-neutral-100;
  }
}

ul.menu {
  margin-left: 0px;
}

li.menu-item ul.menu li.menu-item a {
  padding-left: 2.5rem;
}

.menu-item--expanded,
.menu-item--collapsed {
  list-style-type: none;
  list-style-image: none;
}

.menu--pages a.nav-link,
.menu .menu-item a {
  border-top: 1px solid $cloudy-color-bg-neutral-100;
  display: block;
  padding: $cloudy-space-2 $cloudy-space-4;
}

.menu--pages a.nav-link.active,
.menu .menu-item a.is-active {
  border-left: 3px solid $cloudy-color-bg-neutral-800;
  color: $cloudy-color-bg-neutral-800;
}

.view-id-page_menu h3,
#block-topics-menu {
  font-size: 1rem;
  font-weight: $font-weight-semibold;
}
