// Nav overides for in page menus used in group public and admin views

.nav-group-menu {
  border-top: 2px solid $cloudy-color-neutral-300;
  margin-bottom: $cloudy-space-8;

  a.nav-link {
    font-weight: $font-weight-semibold;
    border-bottom: 2px solid transparent;

    &:hover {
      border-bottom: 2px solid $cloudy-color-blue-800;
    }

    &.active {
      color: $cloudy-color-blue-800;
      border-bottom: 2px solid $cloudy-color-blue-800;
    }
  }
}

// Editor Toolbar Styles
.menu--editor-toolbar .nav-item a.is-active,
.menu--council-toolbar .nav-item a.is-active {
  background-color: darken(#343a40, 5%);
}

.menu--editor-toolbar .nav-item,
.menu--council-toolbar .nav-item {
  font-size: $font-size-sm;
  transition: background-color 0.25s ease, font-size 0.25s ease;

  &:hover {
    background-color: darken(#343a40, 5%);
  }
}

// TODO: Turn into a component

.menu--editor-toolbar,
.menu--council-toolbar {
  background-color: #343a40;
  display: flex;
    #editor-toolbar,
    #council-toolbar {
      display: inline-flex;
      font-size: $font-size-sm;
      color: $cloudy-color-neutral-100;
      padding: .5rem 1rem;
      min-width: 100px;
    }
    ul.nav {
      width: 100%;
    }
}


ul.menu {
  margin-left: 0px;
}

li.menu-item ul.menu li.menu-item a {
  padding-left: $cloudy-space-4;
}

li.menu-item ul.menu li.menu-item ul.menu li.menu-item a {
  padding-left: $cloudy-space-8;
}

.menu-item--expanded,
.menu-item--collapsed {
  list-style-type: none;
  list-style-image: none;
}

.menu--pages a.nav-link {
  border-top: 1px solid $cloudy-color-neutral-100;
  display: block;
  padding: $cloudy-space-2 $cloudy-space-4;
}

.menu .menu-item a {
  border-top: 1px solid $cloudy-color-neutral-300;
  display: block;
  padding: $cloudy-space-2 $cloudy-space-2;
}

.menu--pages a.nav-link.active,
.menu .menu-item a.is-active {
  border-left: 3px solid $cloudy-color-neutral-900;
  color: $cloudy-color-neutral-900;
}

.view-id-page_menu h3,
#block-topics-menu {
  font-size: 1rem;
  font-weight: $font-weight-semibold;
}

// Service tab navigation
.nav-tabs {
  border-color: $cloudy-color-neutral-300;

  .nav-item {
    &:not(:last-child) {
      margin-right: 4px;
    }

    .nav-link {
      border-radius: 0;

      &.active {
        color: $cloudy-color-blue-800;
        border-color: $cloudy-color-neutral-300 $cloudy-color-neutral-300 transparent $cloudy-color-neutral-300;
      }

      &:hover {
        border-color: transparent transparent $cloudy-color-neutral-300 transparent;
        background: $cloudy-color-neutral-100;

        &.active {
          color: $cloudy-color-blue-800;
          border-color: $cloudy-color-neutral-300 $cloudy-color-neutral-300 transparent $cloudy-color-neutral-300;
          background: $cloudy-color-neutral-0;
        }
      }
    }
  }
}
