.node--type-construction-project.node--view-mode-morsel {
  border: 1px solid $cloudy-gray-300;
  border-radius: 0.25rem;
  padding-top: $cloudy-space-4;
  padding-left: $cloudy-space-4;
  padding-right: $cloudy-space-4;
  margin-bottom: $cloudy-space-4;
}
