.node--type-construction-project.node--view-mode-search-result {
  border: 1px solid $gray-300;
  border-radius: .25rem;
  padding-top: $spacer;
  padding-left: $spacer;
  padding-right: $spacer;
  margin-bottom: $spacer;
}
