// Autocomplete search styles

#search-api-page-block-form input.form-autocomplete,
.search-api-page-block-form input.form-autocomplete {
  background-image: none !important;
}

// #search-api-page-block-form input.form-autocomplete,
// .search-api-page-block-form input.form-autocomplete {
//   background-position: right 10px center;
// }

// #search-api-page-block-form .js input.form-autocomplete.ui-autocomplete-loading,
// .search-api-page-block-form .js input.form-autocomplete.ui-autocomplete-loading {
//   background-position: right 10px center;
// }

// homepage search styles

// The below styles handle the proper sizing of the search "clear" button in IE11
// .cloudy-homepage .home-search-region,
// .path-search .block-search-api-page {
//   .form-inline--search-block input[type="search"]::-ms-clear {
//     height: 40px;
//     width: 40px;
//   }
// }

// .search-api-page-block-form {
//   margin: 0 !important;
//   .form-item,
//   .form-action,
//   .form-actions {
//     margin: 0;
//   }
//   .form-item {
//     display: flex;
//     flex: 1 1 auto;
//     ::placeholder {
//       /* Chrome, Firefox, Opera, Safari 10.1+ */
//       color: $cloudy-color-neutral-900;
//       opacity: 1; /* Firefox */
//     }
//     input:focus::placeholder {
//       color: $cloudy-color-neutral-0;
//     }
//     :-ms-input-placeholder {
//       /* Internet Explorer 10-11 */
//       color: $cloudy-color-neutral-900;
//     }
//     input:focus:-ms-input-placeholder {
//       color: $cloudy-color-neutral-0;
//     }
//     ::-ms-input-placeholder {
//       /* Microsoft Edge */
//       color: $cloudy-color-neutral-900;
//     }
//     input:focus::-ms-input-placeholder {
//       color: $cloudy-color-neutral-0;
//     }
//   }
//   .form-search,
//   .form-autocomplete {
//     border-top: 0 !important;
//     border-bottom: 0 !important;
//     border-left: 0 !important;
//     border-right: 0 !important;
//     border-radius: 0 !important;
//     margin: 0;
//   }
//   .form-actions {
//     @extend .input-group-append;
//   }

//   // Search unicode icon found in cloudy.theme

//   .form-submit {
//     @include type-style($cloudy-lead-text);
//     font-family: "font Awesome\ 5 Free";
//     font-style: normal;
//     font-weight: 900;
//     border: 4px solid $cloudy-color-neutral-100;
//     border-radius: 0;
//   }
// }

.path-frontpage .search-region-container {
  background: $cloudy-color-blue-800;

  @include media-breakpoint-up(xs) {
    padding: 2.5rem 0;
  }
  @include media-breakpoint-up(lg) {
    padding: 2.5rem 0;
  }
}

h1.homepage-title {
  margin: 1rem 0;
  color: $cloudy-color-neutral-0;
}

.popular {
  height: 100%;
  padding: $cloudy-space-6 0 0 0;
  color: $cloudy-color-neutral-0;
}

.popular h2 {
  margin-bottom: $cloudy-space-4;
}

.top-search {
  padding-left: 0;

  a {
    color: $cloudy-color-neutral-0;

    &:hover {
      color: $cloudy-color-neutral-0;
    }
  }
}

.view-top-searches .item-list ul li:last-child {
  padding-right: 0;
}

// header search styles

// .header {
//   .search-api-page-block-form {
//     .input-group {
//       align-items: stretch;
//       margin: $cloudy-space-2 0 $cloudy-space-4 0;
//       @include media-breakpoint-up(lg) {
//         margin: 0;
//       }
//       @include media-breakpoint-up(xl) {
//         margin: 0 0 0 $cloudy-space-3;
//       }
//     }
//     .form-search,
//     .form-autocomplete {
//       margin: 0;
//       font-size: 1rem;
//       color: $cloudy-color-neutral-900;
//       height: auto;
//     }
//     .form-search,
//     .form-action,
//     .form-autocomplete {
//       @extend .form-control;
//     }
//     .form-inline--search-block {
//       background: $cloudy-color-neutral-0;
//       border-radius: 6px;
//       max-width: 250px;
//       overflow: hidden;
//       @include media-breakpoint-up(md) {
//         border: 2px solid $cloudy-color-neutral-900;
//       }
//       @include media-breakpoint-up(lg) {
//         margin-left: $cloudy-space-3;
//       }
//       @include media-breakpoint-up(xl) {
//         max-width: 100%;
//       }
//       flex-flow: row;
//       .form-actions {
//         order: 1;
//         overflow: hidden;
//       }
//       .js-form-type-search-api-autocomplete {
//         order: 2;
//         overflow: hidden;
//         input.form-autocomplete {
//           padding: $cloudy-space-2 $cloudy-space-2 $cloudy-space-2 0;
//           overflow: hidden;
//           font-weight: 600;
//           min-height: 40px;
//           box-sizing: border-box;
//           &:focus {
//             box-shadow: none;
//             outline: none;
//           }
//         }
//       }
//       .form-submit {
//         background: $cloudy-color-neutral-0;
//         color: $cloudy-color-neutral-900;
//         border: none;
//         height: 40px;
//         width: 40px;
//         transition: none;
//       }
//     }
//     .form-item {
//       ::placeholder {
//         /* Chrome, Firefox, Opera, Safari 10.1+ */
//         color: $cloudy-color-neutral-900;
//         opacity: 1; /* Firefox */
//       }
//       input:focus::placeholder {
//         color: transparent;
//       }
//       :-ms-input-placeholder {
//         /* Internet Explorer 10-11 */
//         color: $cloudy-color-neutral-900;
//       }
//       input:focus:-ms-input-placeholder {
//         color: transparent;
//       }
//       ::-ms-input-placeholder {
//         /* Microsoft Edge */
//         color: $cloudy-color-neutral-900;
//       }
//       input:focus::-ms-input-placeholder {
//         color: transparent;
//       }
//     }
//   }
// }

// Search Results Autocomplete
// .ui-menu.ui-autocomplete.search-api-autocomplete-search {
//   border: 1px solid $cloudy-color-neutral-300;
//   padding: $cloudy-space-4 0;
//   background: $cloudy-color-neutral-0;
//   width: 209px; // This matches the width of the search input
//   .ui-menu-item {
//     &:hover {
//       background: none;
//     }
//     & + .ui-menu-item {
//       margin-top: $cloudy-space-2;
//     }
//   }
//   .ui-menu-item-wrapper {
//     border: none;
//     color: $cloudy-color-blue-800;
//     padding: 0 $cloudy-space-4;
//     &.ui-state-active {
//       background: $cloudy-color-blue-800;
//       .search-api-autocomplete-suggestion {
//         background: none;
//       }
//     }
//   }
// }

// .header .search-api-page-block-form .form-action,
// .header .search-api-page-block-form .form-autocomplete,
// .header .search-api-page-block-form .form-search {
//   height: auto;
// }

// .header .search-api-page-block-form .form-action:focus,
// .header .search-api-page-block-form .form-autocomplete:focus,
// .header .search-api-page-block-form .form-search:focus,
// select.form-select:focus {
//   color: $cloudy-color-neutral-900;
//   box-shadow: inset 0 0 0 0.25rem $cloudy-color-neutral-100;
// }

#navToggle {
  font-weight: $font-weight-semibold;
  color: $cloudy-color-blue-500;
}

nav.menu--main {
  .navbar-nav {
    .nav-item {
      .nav-link {
        font-weight: $font-weight-semibold;
        padding: $nav-link-padding-y $nav-link-padding-x;
        border-bottom: 1px solid #a3badb;
        @media (min-width: 904px) {
          border-bottom: none;
          padding-top: $cloudy-space-4;
          padding-bottom: $cloudy-space-4;
        }
        &:hover {
          background: $cloudy-color-neutral-100;
        }
      }
    }
  }
}

.navbar-collapse {
  position: absolute;
  top: 100%;
  left: -1rem;
  right: -1rem;
  z-index: $zindex-dropdown;
  background: $cloudy-color-neutral-100;
  @media (min-width: 904px) {
    position: static;
    z-index: 0;
    background: transparent;
  }
}

// main content search styles
.search-toggler {
  -webkit-appearance: none;
  background-color: transparent;
  border-color: transparent; // Fixes issues with outlines over/underlapping
  padding: 0 $cloudy-space-4;
  transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
  .icon {
    color: $cloudy-color-neutral-900;
  }
  &:hover {
    background: $cloudy-color-neutral-100;
  }
}

%search {
  form {
    display: flex;
    background: $cloudy-color-neutral-0;
    overflow: hidden;
    .form-item {
      display: flex;
      flex: 1;
      margin: 0;
      flex-basis: 100%;
      input {
        border: 0;
        outline: 0;
        margin: 0;
        &::placeholder {
          /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: $cloudy-color-neutral-900;
          opacity: 1; /* Firefox */
        }
        &:focus {
          &::placeholder {
            color: $cloudy-color-neutral-0;
          }
        }
      }
    }
    .form-actions {
      display: flex;
      justify-content: center;
      align-items: stretch;
      align-content: center;
      flex-direction: column;
      .form-submit {
        background: #fff;
        border: 0;
        object-fit: scale-down;
        cursor: pointer;
        outline: 0;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // background-position: -16px 0px;
        // vertical-align: middle;
        // background: url(/themes/custom/cloudy/src/elements/icon/svgs/search.svg)
        //   center no-repeat;
      }
    }
  }
}

.search-form {
  &--small {
    @extend %search;
    form {
      border: 2px solid $cloudy-color-neutral-900;
      border-radius: 6px;
      // height: 45px;
      flex-basis: 100%;
      flex-direction: row-reverse;
      width: 80vw;
      align-items: flex-start;
      // ! create min-width var
      @media (min-width: 684px) {
        width: auto;
      }
      .form-item {
        input {
          padding: 0 0 0 $cloudy-space-1;
          // line-height: 41px;
          &::placeholder {
            font-weight: $font-weight-semibold;
          }
        }
      }
      .form-control {
        padding: 0;
      }
      .form-actions {
        .form-submit {
          width: 30px;
        }
      }
    }
  }
  &--large {
    @extend %search;
    form {
      border-radius: $border-radius-tight;
      border: 1px solid $cloudy-color-neutral-100;
      border-bottom: 10px solid $cloudy-color-yellow-500;
      height: 68px;
      .form-item {
        input {
          font-size: $cloudy-space-4;
          padding: $cloudy-space-2 $cloudy-space-4;
          width: 100%;
          @media (min-width: 684px) {
            font-size: $cloudy-space-5;
          }
        }
      }
      .form-actions {
        .form-submit {
          width: 50px;
        }
      }
    }
  }
}

#block-searchapipagesearchblockform {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  @media (min-width: 684px) {
    padding: 0;
  }
}

// To keep the mobile menu search form flush left

// @media (max-width: 1199px) {
//   .header {
//     .search-api-page-block-form {
//       .form-search,
//       .form-autocomplete {
//         margin: 0;
//       }
//     }
//   }
// }

.search-api-autocomplete-search {
  li.ui-menu-item {
    padding: $cloudy-space-2 $cloudy-space-2;
    a {
      color: $cloudy-color-neutral-900;
      &:hover {
        color: $cloudy-color-neutral-900;
      }
      .search-api-autocomplete-suggestion {
        padding: 0;
      }
      &.ui-state-active {
        background: $cloudy-color-neutral-200;
        .search-api-autocomplete-suggestion {
          color: $cloudy-color-neutral-900;
          background: transparent;
          padding: 0;
          &.ui-state-active {
            background: $cloudy-color-neutral-100;
          }
          .autocomplete-suggestion-label {
            color: $cloudy-color-neutral-900;
          }
        }
      }
    }
  }
}
