// Homepage hero search
.path-frontpage .search-region-container {
  background: $cloudy-color-blue-800;

  @include media-breakpoint-up(xs) {
    padding: 2.5rem 0;
  }
  @include media-breakpoint-up(lg) {
    padding: 2.5rem 0;
  }
}

h1.homepage-title {
  margin: 1rem 0;
  color: $cloudy-color-neutral-0;
}

.popular {
  height: 100%;
  padding: $cloudy-space-6 0 0 0;
  color: $cloudy-color-neutral-0;
}

.popular h2 {
  margin-bottom: $cloudy-space-4;
}

.top-search {
  padding-left: 0;

  a {
    color: $cloudy-color-neutral-0;

    &:hover {
      color: $cloudy-color-neutral-0;
    }
  }
}

.view-top-searches .item-list ul li:last-child {
  padding-right: 0;
}
