// Autocomplete search styles

#search-api-page-block-form input.form-autocomplete,
.search-api-page-block-form input.form-autocomplete {
  background-image: none !important;
}

#search-api-page-block-form input.form-autocomplete,
.search-api-page-block-form input.form-autocomplete {
  background-position: right 10px center;
}

#search-api-page-block-form .js input.form-autocomplete.ui-autocomplete-loading,
.search-api-page-block-form .js input.form-autocomplete.ui-autocomplete-loading {
  background-position: right 10px center;
}

// homepage search styles

.search-api-page-block-form {
  margin: 0 !important;
  .form-item,
  .form-action,
  .form-actions {
    margin: 0;
  }
  .form-item {
    display: flex;
    flex: 1 1 auto;
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $cloudy-black-base;
      opacity: 1; /* Firefox */
    }
    input:focus::placeholder {
      color: $cloudy-white-base;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $cloudy-black-base;
    }
    input:focus:-ms-input-placeholder {
      color: $cloudy-white-base;
    }
    ::-ms-input-placeholder { /* Microsoft Edge */
      color: $cloudy-black-base;
    }
    input:focus::-ms-input-placeholder {
      color: $cloudy-white-base;
    }
  }
  .form-search,
  .form-autocomplete {
    border-top: 0 !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-radius: 0 !important;
    margin: 0;
  }
  .form-actions {
    @extend .input-group-append;
  }

// Search unicode icon found in cloudy.theme

  .form-submit {
    font-size: 1.25rem;
    font-family: "font Awesome\ 5 Free";
    font-style: normal;
    font-weight: 900;
    border: 4px solid $cloudy-gray-base;
    border-radius: 0;
  }
}

.path-frontpage .search-region-container {
  background: $cloudy-blue-dark;
	@include media-breakpoint-up(xs) {
      padding: 2.5rem 0;
    }
	@include media-breakpoint-up(lg)  {
      padding: 2.5rem 0;
    }
}

h1.homepage-title {
  margin: 1rem 0;
  color: $cloudy-white-base;
}

.popular {
  height: 100%;
  padding: 1.5rem 0 0 0;
  color: $cloudy-white-base;
}

.popular h2 {
  margin-bottom: 1rem;
}

.top-search {
  padding-left: 0;
  a {
    color: $cloudy-white-base;
  }
}

.view-top-searches .item-list ul li:last-child {
  padding-right: 0;
}

// header search styles

.header {
  .search-api-page-block-form {
    .form-search,
    .form-autocomplete {
      margin: 0 0 0 .75rem;
      min-width: 15rem;
      background-color: $cloudy-gray-base;
      font-size: 1rem;
      color: $cloudy-black-base;
    }
    .form-search,
    .form-action,
    .form-autocomplete {
      @extend .form-control;
    }
    .form-item {
      ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $cloudy-black-base;
        opacity: 1; /* Firefox */
      }
      input:focus::placeholder {
        color: $cloudy-white-base;
      }
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $cloudy-black-base;
      }
      input:focus:-ms-input-placeholder {
        color: $cloudy-white-base;
      }
      ::-ms-input-placeholder { /* Microsoft Edge */
        color: $cloudy-black-base;
      }
      input:focus::-ms-input-placeholder {
        color: $cloudy-white-base;
      }
    }
  }
}

// .header .search-api-page-block-form .form-action,
// .header .search-api-page-block-form .form-autocomplete,
// .header .search-api-page-block-form .form-search {
//   height: auto;
// }

.header .search-api-page-block-form .form-action:focus,
.header .search-api-page-block-form .form-autocomplete:focus,
.header .search-api-page-block-form .form-search:focus,
select.form-select:focus {
  color: $cloudy-black-base;
  box-shadow: inset 0 0 0 0.25rem $cloudy-gray-base;
}

// main content search styles

.main-content {
  .search-api-page-block-form {
    form {
      margin: $cloudy-space-4 0 0 0;
      border-bottom: 10px solid $cloudy-yellow-base;
      border-top: 1px solid $cloudy-gray-base;
      border-left: 1px solid $cloudy-gray-base;
      border-right: 1px solid $cloudy-gray-base;
      border-radius: $border-radius-tight;
    }
    .form-search,
    .form-action,
    .form-autocomplete {
      height: 3.3rem;
      padding: $input-padding-y-lg $input-padding-x-lg;
      @include font-size($input-font-size-lg);
      line-height: $input-line-height-lg;
      flex: 1 1 auto;
    }
    .form-submit {
      padding: $input-btn-padding-x-lg * 1;
      border-radius: 0;
      border-top: 4px solid $cloudy-white-base;
      border-right: 2px solid $cloudy-white-base;
      border-left: 2px solid $cloudy-white-base;
      border-bottom: 4px solid transparent;
      background: $cloudy-white-base;
    }
  }
}

// To keep the mobile menu search form flush left

@media (max-width: 1199px) {
  .header {
    .search-api-page-block-form {
      .form-search,
      .form-autocomplete {
        margin: 0;
      }
    }
  }
}