// Homepage hero search
.path-frontpage .search-region-container {
  background: $cloudy-color-mega-menu-1000;

  @include media-breakpoint-up(xs) {
    padding: 2.5rem 0;
  }
  @include media-breakpoint-up(lg) {
    padding: 2.5rem 0;
  }
}

.popular {
  height: 100%;
  color: $cloudy-color-neutral-0;
}

.popular h2 {
  margin-bottom: $cloudy-space-4;
}

.top-search {
  padding-left: 0;
  margin: $cloudy-space-2 $cloudy-space-0;

  a {
    color: $cloudy-color-neutral-0;
    padding: $cloudy-space-2 $cloudy-space-4;

    &:hover {
      color: $cloudy-color-neutral-0;
      background-color: $cloudy-color-mega-menu-button-bg;
      border-radius: $cloudy-space-8;
      text-decoration: none;
    }
  }
}

.view-top-searches .item-list ul li:last-child {
  padding-right: 0;
}
