// sidebar left styles

.sidebar-left {
  // Bootstrap removed xs breakpoint. Must add order declaration inside the class.
  order: 2;
  @include media-breakpoint-up(lg) {
    order: 1;
  }
}

// sidebar right styles

#btn-open {
  background-color: $gray;
}

.sidebar-wrapper {
  width: 75%;
  height: 100%;
  top: 0;
  right: 0;
  background: $white;
  position: fixed;
  z-index: 10;
  transform: translateX(100vw);
  opacity: 0;
  -webkit-transition: 300ms ease-out all;
  transition: 300ms ease-out all;
  @include media-breakpoint-between(sm, md) {
    width: 50%;
  }
  @include media-breakpoint-up(lg) {
    width: auto;
    opacity: 1;
    transform: translateX(0);
    position: relative;
    transition: none;
  }
  &.is-active {
    opacity: 1;
    -webkit-transition: 300ms ease-out all;
    transition: 300ms ease-out all;
    overflow: scroll;
    transform: translateX(0);
  }
}

.btn-close {
  cursor: pointer;
  text-transform: capitalize;
}

.overlay {
  position: fixed;
  background: black;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  transition: opacity .3s ease-in;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  margin: 0;
  padding: 0;
  &.is-active {
    opacity: 0.6;
    pointer-events: auto;
  }
}
