/**
 * @file
 * Footer Styling.
 */

.site-footer {
    padding: $cloudy-space-4 0;
    .layout-container {
        padding: 0 $cloudy-space-4;
    }
    margin: $cloudy-space-4 0 0;
    background-color: $cloudy-color-bg-neutral-100;

    a {
      color: $cloudy-color-bg-blue-800;
    }
}


/* Footer Top Styling. */

.site-footer__top .content {
    margin-top: 0;
}


/* Footer Bottom Styling. */

.site-footer__bottom .block {
    margin: ($cloudy-space-4 / 2) 0;
}

.site-footer__bottom .content {
    padding: ($cloudy-space-4 / 2) 0;
    margin-top: 0;
}

/* Portland seal and copyright styling */

.block-copyright-block {
    width: 100%;
    min-height: 200px;
    p {
        float: right;
        text-align: right;
    }
    img {
        float: right;
    }
  }
