/**
 * @file
 * Footer Styling.
 */

.cloudy-footer {
  &--top,
  &--bottom {
    padding-top: $cloudy-space-10;
    padding-bottom: $cloudy-space-10;
  }

  &--bottom {
    background: $cloudy-color-neutral-100;

    ul,
    .menu {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li,
      .menu-item {
        margin-top: $cloudy-space-4;
        padding: 0;

        a {
          border-top: 0;
          padding: 0;
        }
      }
    }
  }
}

// .site-footer {
//   padding: $cloudy-space-4 0;
//   margin: $cloudy-space-4 0 0;
//   background-color: $cloudy-color-neutral-100;

//   .layout-container {
//     padding: 0 $cloudy-space-4;
//   }

//   a {
//     color: $cloudy-color-neutral-900;

//     &:hover {
//       color: $cloudy-color-neutral-900;
//     }
//   }
// }


/* Footer Top Styling. */

.site-footer__top .content {
    margin-top: 0;
}


/* Footer Bottom Styling. */

.site-footer__bottom .block {
    margin: ($cloudy-space-4 / 2) 0;
}

.site-footer__bottom .content {
    padding: ($cloudy-space-4 / 2) 0;
    margin-top: 0;
}

/* Portland seal and copyright styling */

// .block-copyright-block {
//     width: 100%;
//     min-height: 200px;
//     p {
//         float: right;
//         text-align: right;
//         color: $cloudy-color-neutral-900;
//     }
//     img {
//         float: right;
//     }
//   }
