/**
 * @file
 * Seven styles for Tables.
 *
 * TODO: Update the system tables used in views to be targetted more
 * TODO: Update the tables patterns to use a predefined set of bootstrap utils
 *
 */

/**
 * Captions.
 */
.caption {
  margin-bottom: 1.2em;
}

caption {
  text-align: left;
  caption-side: top;
  font-weight: bold;
  font-size: $font-size-lg;
  color: $cloudy-color-neutral-900;
}

th,
td {
  padding: 0.2rem spacer(2);
  text-align: left;
  vertical-align: middle;
}

table {
  width: 100%;
  margin: 0 0 3rem;
}

thead th,
tbody th {
  font-weight: $font-weight-semibold;
}

tbody tr:hover,
tbody tr:focus {
  background: $light;
}
/* See colors.css */
tbody tr.color-warning:hover,
tbody tr.color-warning:focus {
  background: $light;
}
tbody tr.color-error:hover,
tbody tr.color-error:focus {
  background: $light;
}

table.no-highlight tr.selected td {
  background: transparent;
}

th > a {
  position: relative;
  display: block;
}

thead th {
  &.is-active {
    border-bottom: 2px solid $cloudy-color-blue-800;

    a {
      color: $cloudy-color-blue-800;
    }

    .tablesort {
      vertical-align: middle;
    }
  }
}

td .item-list ul {
  margin: 0 !important;
}
td.is-active {
  background: none;
}

/* Force browsers to calculate the width of a 'select all' <th> element. */
th.select-all {
  width: 1px;
}

/**
 * Responsive tables.
 */
@include media-breakpoint-down(sm) {
  /* 600px */
  th.priority-low,
  td.priority-low,
  th.priority-medium,
  td.priority-medium {
    display: none;
  }
}

@include media-breakpoint-down(lg) {
  /* 920px */
  th.priority-low,
  td.priority-low {
    display: none;
  }
}
