/**
 * @file
 * Seven styles for Tables.
 *
 * TODO: Update the system tables used in views to be targetted more
 * TODO: Update the tables patterns to use a predefined set of bootstrap utils
 *
 */

/**
 * Captions.
 */
.caption {
  margin-bottom: 1.2em;
}

caption {
  text-align: left; /* LTR */
}

[dir="rtl"] caption {
  text-align: right;
}

table {
  width: 100%;
  margin: 0 0 3rem;
}

thead th,
tbody th {
  border: solid darken($cloudy-color-neutral-100, 20%);
  border-width: 1px 0;
  color: $cloudy-color-neutral-900;
  font-weight: $font-weight-semibold;
}
tr {
  border-bottom: 1px solid darken($cloudy-color-neutral-100, 20%);
  padding: 0.1em 0.6em;
}
thead > tr {
  border-bottom: darken($cloudy-color-neutral-100, 20%);
}
tbody tr:hover,
tbody tr:focus {
  background: $cloudy-color-neutral-100;
}
/* See colors.css */
tbody tr.color-warning:hover,
tbody tr.color-warning:focus {
  background: $cloudy-color-neutral-100;
}
tbody tr.color-error:hover,
tbody tr.color-error:focus {
  background: $cloudy-color-neutral-100;
}

table.no-highlight tr.selected td {
  background: transparent;
}

th,
td {
  padding: 0.2rem $cloudy-space-2;
  text-align: left; /* LTR */
  vertical-align: middle;
}

[dir="rtl"] th,
[dir="rtl"] td {
  text-align: right;
}

th > a {
  position: relative;
  display: block;
}

/* 1. Must match negative bottom padding of the parent <th> */
th.is-active > a {
  color: $cloudy-color-blue-800;
}
th.is-active img {
  position: absolute;
  right: 0; /* LTR */
  top: 50%;
}
[dir="rtl"] th.is-active img {
  right: auto;
  left: 0;
}
th.is-active {
  border-bottom: 2px solid $cloudy-color-blue-800;
}
th > a:hover,
th > a:focus,
th.is-active > a:hover,
th.is-active > a:focus {
  color: $cloudy-color-blue-300;
  text-decoration: none;
}
th > a:hover:after,
th > a:focus:after,
th.is-active > a:hover:after,
th.is-active > a:focus:after {
  border-bottom-color: $cloudy-color-blue-300;
}
td .item-list ul {
  margin: 0;
}
/* This is required to win over specificity of [dir="rtl"] .item-list ul */
[dir="rtl"] td .item-list ul {
  margin: 0;
}
td.is-active {
  background: none;
}

/* Force browsers to calculate the width of a 'select all' <th> element. */
th.select-all {
  width: 1px;
}

/**
 * Responsive tables.
 */
@media screen and (max-width: 37.5em) {
  /* 600px */
  th.priority-low,
  td.priority-low,
  th.priority-medium,
  td.priority-medium {
    display: none;
  }
}

@media screen and (max-width: 60em) {
  /* 920px */
  th.priority-low,
  td.priority-low {
    display: none;
  }
}

/* TODO: There is probably a better way to do this. */
td.views-field-thumbnail__target-id {
  width: 110px;
}

/* admin content/media view tables */
table.views-table {
  font-size: $font-size-sm;
}

table.views-table {
  @extend .table-striped;
}

table.views-table .form-check-input {
  margin: 0;
}

table.views-table caption {
  caption-side: top;
}

.content-completion-block table {
  margin-bottom: 1rem;
}