/**
 * @file
 * Theme styling for user module.
 */


/* Visual styling for the Password strength indicator */

.password-strength__meter {
    margin-top: 0.5em;
    background-color: $cloudy-gray-200;
}

.password-strength__indicator {
    background-color: $cloudy-blue-dark;
    -webkit-transition: width 0.5s ease-out;
    transition: width 0.5s ease-out;
}

.password-strength__indicator.is-weak {
    background-color: $cloudy-red-base;
}

.password-strength__indicator.is-fair {
    background-color: $cloudy-yellow-base;
}

.password-strength__indicator.is-good {
    background-color: $cloudy-cyan-base;
}

.password-strength__indicator.is-strong {
    background-color: $cloudy-green-base;
}

.password-confirm,
.password-field,
.password-strength,
.password-confirm-match {
    width: 55%;
}

.password-suggestions {
    padding: 0.2em 0.5em;
    margin: 0.7em 0;
    max-width: 34.7em;
    border: $border-width solid $cloudy-gray-300;
}

.password-suggestions ul {
    margin-bottom: 0;
}

.confirm-parent,
.password-parent {
    clear: left;
    /* LTR */
    margin: 0;
    max-width: 33em;
    overflow: hidden;
}

[dir="rtl"] .confirm-parent,
[dir="rtl"] .password-parent {
    clear: right;
}


/* Styling for the status indicator of the passwords match test.  */

.password-confirm .ok {
    color: $cloudy-green-base;
    font-weight: 400;
}

.password-confirm .error {
    color: $cloudy-red-base;
    font-weight: 400;
}


/* Login page stype */

.page-user-login main .region-content,
.page-user-password main .region-content {
    max-width: 400px;
    background: $cloudy-white-base;
    padding: $cloudy-space-4 $cloudy-space-4;
    margin: 0 auto;
    border-radius: $border-radius-lg;
}