/**
 * @file
 * Styling for Views in Bartik.
 */


/* Tab styles */

.views-displays .tabs .open>a {
    border-radius: $border-radius-lg $border-radius-lg 0 0;
}

.views-displays .tabs .open>a:hover,
.views-displays .tabs .open>a:focus {
    color: $cloudy-blue-dark;
}

.views-displays .secondary .form-submit {
    font-size: $font-size-sm;
}


/* Tabs action list styles */

.views-displays .tabs .action-list {
    padding: 0;
}


/* Contextual filter options styles */

.views-filterable-options .filterable-option:nth-of-type(even) .form-type-checkbox {
    background-color: $cloudy-white-offset-400;
}


/* Views action dropbutton styles */

.views-ui-display-tab-actions .dropbutton .form-submit {
    color: darken($cloudy-blue-dark, 15%);
}

.views-ui-display-tab-actions .dropbutton .form-submit:hover,
.views-ui-display-tab-actions .dropbutton .form-submit:focus {
    color: $cloudy-blue-dark;
}

.block-views-blockcontent-by-taxonomy-menu-block-1,
.block-views-blockgroups-by-topic-block-2 {
    @extend .d-inline-block;
}

.view-posted-in {
    margin-bottom: $cloudy-space-4;
}