/**
 * @file
 * Styling for Views in Bartik.
 */


/* Tab styles */

.views-displays .tabs .open>a {
    border-radius: $border-radius-lg $border-radius-lg 0 0;
}

.views-displays .tabs .open>a:hover,
.views-displays .tabs .open>a:focus {
    color: $cloudy-color-blue-800;
}

.views-displays .secondary .form-submit {
    font-size: $font-size-sm;
}


/* Tabs action list styles */

.views-displays .tabs .action-list {
    padding: 0;
}


/* Contextual filter options styles */

.views-filterable-options .filterable-option:nth-of-type(even) .form-type-checkbox {
    background-color: $cloudy-color-neutral-100;
}


/* Views action dropbutton styles */

.views-ui-display-tab-actions .dropbutton .form-submit {
    color: darken($cloudy-color-blue-800, 15%);
}

.views-ui-display-tab-actions .dropbutton .form-submit:hover,
.views-ui-display-tab-actions .dropbutton .form-submit:focus {
    color: $cloudy-color-blue-800;
}

.block-views-blockcontent-by-taxonomy-menu-block-1,
.block-views-blockgroups-by-topic-block-2 {
    @extend .d-inline-block;
}

.view-posted-in {
    margin-bottom: $cloudy-space-4;
}

.view-park-finder > div.view-content {
    z-index: 10;
}

.park-marker-sm {
    margin-left: -9px;
    margin-top: -30px;
    height: 30px;
    outline: none;
    background-image: url(/modules/contrib/leaflet/js/leaflet/dist/images/marker-icon.png);
    background-size: 18px 30px;
    background-repeat: no-repeat;
    font-size: medium;
    padding-left: 20px;
}

.park-marker-lg {
    margin-left: -12px;
    margin-top: -41px;
    outline: none;
    background-image: url(/modules/contrib/leaflet/js/leaflet/dist/images/marker-icon-2x.png);
    background-size: 25px 41px;
    background-repeat: no-repeat;
    font-size: large;
    font-weight: bold;
    background-color:rgba(255, 255, 255, 0.6);
    padding: 4px 4px 4px 30px;
}

.leaflet-control-satellite {
    font-size: 1rem;
}

.leaflet-control-satellite i {
    margin: 0;
}

.leaflet-control-search {
    margin: 0 auto;
    display: block;
    width: 200px;
    float: none;
    margin-top: 5px;
}

a.leaflet-control-search-button {
    width: 100%;
    opacity: 0.8;
    font-weight: 700;
}

.view-page-menu {
    margin-bottom: $cloudy-space-4
}
