/**
 * @file
 * Styling for webforms
 */


.location-map {
  width: 100%;
  height: 500px;
  background-color: #ffffcc;
}

.location-picker-address {
  display: inline-block;
}

#edit-portland-location-picker-location-map {
  border: 1px solid #b4bdcb;
}
