{% set items_array = [
  '<div class="border bg-light p-2" style="width: 120px;height: 120px;">1</div>',
  '<div class="border bg-light p-2" style="width: 120px;height: 120px;">2</div>',
  '<div class="border bg-light p-2" style="width: 120px;height: 120px;">3</div>'
] %}

{% include '@layouts/stack/stack.twig' with {
  items: items_array,
  layout_spacing: 4,
  item_spacing: 4
} %}
