{# Show all possible variations from changing a SINGLE variable #}

{% set overline %}
  <div class="pl-layout-placeholder">
    <div class="field field--name-field-official-organization-name field--type-string field--label-visually_hidden mb-0">
      <div class="sr-only field-label">Official organization name</div>
      <p>Portland Bureau of Transportation</p>
    </div>
  </div>
{% endset %}

{% set marquee_primary_left %}
  <div class="pl-layout-placeholder">
    <div class="field field--name-field-summary field--type-string field--label-hidden mb-0">
      <p>The City of Portland Bureau of Transportation is a community partner in shaping a livable city. We plan, build, manage and maintain an effective and safe transportation system that provides people and businesses access and mobility. We keep Portland moving.</p>
    </div>
  </div>
{% endset %}

{% set marquee_primary_right %}
  <div class="pl-layout-placeholder">
    <div data-quickedit-field-id="media/2351/image/en/banner" class="field field--name-image field--type-image field--label-hidden mb-2">
      <div>
        <picture>
          <!--[if IE 9]><video style="display: none;"><![endif]-->
          <source srcset="/sites/default/files/styles/banner_21_9_1140w/public/2020-01/pbot-maintenance.png?h=f97871b5&amp;itok=eovkFsqd 1x" media="all and (min-width: 1200px)" type="image/png">
          <source srcset="/sites/default/files/styles/banner_21_9_960w/public/2020-01/pbot-maintenance.png?h=f97871b5&amp;itok=3P0fykAd 1x" media="all and (min-width: 992px)" type="image/png">
          <source srcset="/sites/default/files/styles/banner_2_1_892w/public/2020-01/pbot-maintenance.png?h=f97871b5&amp;itok=qX4zdoeQ 1x" media="all and (min-width: 768px)" type="image/png">
          <source srcset="/sites/default/files/styles/banner_2_1_640w/public/2020-01/pbot-maintenance.png?h=f97871b5&amp;itok=4bf5q6zN 1x" media="all and (min-width: 576px)" type="image/png">
          <!--[if IE 9]></video><![endif]-->
          <img src="/sites/default/files/styles/banner_2_1_640w/public/2020-01/pbot-maintenance.png?h=f97871b5&amp;itok=4bf5q6zN" alt="PBOT Maintenance" typeof="foaf:Image" class="img-fluid">
        </picture>
      </div>
    </div>
  </div>
{% endset %}

{% set marquee_secondary_left %}
<div class="pl-layout-placeholder">
  <div class="field field--name-field-location field--type-entity-reference field--label-above mb-2">
    <div class="field-label">Location</div>
    <div>
      <div class="location mb-5">
        <div class="field field--name-field-address-or-entrance field--type-address field--label-hidden mb-2">
          <div>
            <p class="address" translate="no">
              <span class="address-line1">1120 SW 5th Ave Suite 100</span>
              <br>
              <span class="locality">Portland</span>, <span class="administrative-area">OR</span>
              <span class="postal-code">97204</span><br><span class="country">United States</span>
            </p>
          </div>
        </div>
        <div class="views-element-container">
          <div class="view view-eva view-locations view-id-locations view-display-id-entity_view_get_directions js-view-dom-id-729162970090e5db6880fc813ad72eabcb3be9f0a7e679de5675b6d0acdf1e41">
            <div class="views-row">
              <div class="views-field views-field-nothing">
                <span class="field-content">
                  <a href="https://www.google.com/maps/dir//1120 SW 5th Ave Suite 100, Portland, OR, 97204" target="_blank" class="ext">
                    Get Directions<span class="ext" aria-label="(link is external)"></span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endset %}

{% set marquee_secondary_right %}
<div class="pl-layout-placeholder">
  <div class="col-sm-6">
    <div class="field field--name-field-phone field--type-telephone field--label-hidden mb-4">
      <a href="tel:+1503-823-5185">
        <span class="icon icon--size-m"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="phone" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"></path></svg></span>
        503-823-5185
      </a>
    </div>
    <div class="field field--name-field-facebook field--type-string field--label-visually_hidden mb-4">
      <div class="sr-only field-label">Facebook username</div>
      <a href="http://facebook.com/PBOTinfo">
        <span class="icon icon--size-m"><svg aria-hidden="true" focusable="false" data-prefix="fab" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"></path></svg></span>
        PBOTinfo
      </a>
    </div>
    <div class="field field--name-field-twitter field--type-string field--label-visually_hidden mb-4">
      <div class="sr-only field-label">Twitter username</div>
      <a href="http://twitter.com/PBOTinfo">
        <span class="icon icon--size-m"><svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path></svg></span>
        PBOTinfo
      </a>
    </div>
    <div class="field field--name-field-instagram field--type-string field--label-visually_hidden mb-4">
      <div class="sr-only field-label">Instagram username</div>
      <a href="http://instagram.com/PBOTinfo">
        <span class="icon icon--size-m"><svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="instagram" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path></svg></span>
        PBOTinfo
      </a>
    </div>
  </div>
</div>
{% endset %}

{% set body_header %}
<div class="pl-layout-placeholder">
  <div class="views-element-container"><div class="view view-eva view-group-site-menu view-id-group_site_menu view-display-id-entity_view_1">
      <ul class="nav nav-group-menu" role="navigation">
        <li class="nav-item"><a href="/group/14/services" class="nav-link">Services and information</a></li>
        <li class="nav-item"><a href="/group/14/news" class="nav-link">News and notices</a></li>
        <li class="nav-item"><a href="/group/14/events" class="nav-link">Events</a></li>
        <li class="nav-item"><a href="/group/14/documents" class="nav-link">Documents</a></li>
        <li class="nav-item"><a href="/group/14/offices" class="nav-link">Offices</a></li>
        <li class="nav-item"><a href="/group/14/programs" class="nav-link">Programs</a></li>
        <li class="nav-item"><a href="/group/14/projects" class="nav-link">Projects</a></li>
        <li class="nav-item"><a href="/group/14/advisory-groups" class="nav-link">Advisory groups</a></li>
      </ul>
    </div>
  </div>
</div>
{% endset %}

{% set body_body %}
<div class="pl-layout-placeholder">
  <div class="field field--name-field-featured-groups field--type-entity-reference field--label-above mb-2">
    <h2>Featured</h2>
    <div class="card-deck">
      <div class="card--featured--group group group--type-program group--view-mode-featured card" role="button" onclick="location.href='/transportation/parking'">
        <div class="card-img-top"><div class="field field--name-field-featured-media field--type-entity-reference field--label-hidden mb-2">
            <div>
              <div class="media media--type-image media--view-mode-featured">
                <div class="field field--name-image field--type-image field--label-hidden mb-2">
                  <div>
                    <picture>
                      <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="/sites/default/files/styles/featured_2_1_436w/public/2019-10/parking.jpeg?h=b2774bcf&amp;itok=VdEjVrhu 1x" media="all and (min-width: 576px)" type="image/jpeg">
                      <!--[if IE 9]></video><![endif]-->
                      <img src="/sites/default/files/styles/featured_2_1_600w/public/2019-10/parking.jpeg?h=b2774bcf&amp;itok=jrwfcctp" alt="Cars are parked next to a sidewalk" typeof="foaf:Image" class="img-fluid">
                    </picture>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="field field--name-bundle-fieldgroup field--type-ds field--label-hidden mb-2">
            <div>
              Program
             </div>
          </div>
          <h3>
            <a href="/transportation/parking" hreflang="en">Parking Enforcement and Operations</a>
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="field field--name-field-featured-content field--type-entity-reference field--label-above mb-2">
    <h2>Services and information</h2>
    <div class="card-deck">
      <div class="card--featured--group node node--type-external-resource node--view-mode-featured card" role="button" onclick="location.href='/external/sign-pbot-news-and-updates-topic'" data-card-id="1821">
        <div class="card-body">
          <div class="field field--name-bundle-fieldnode field--type-ds field--label-hidden mb-2">
            <div>
              External resource
            </div>
          </div>
          <div class="field field--name-node-title field--type-ds field--label-hidden mb-2">
            <div>
              <h3>
                <a href="/external/sign-pbot-news-and-updates-topic" hreflang="en">Sign up for PBOT news and updates by topic</a>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="card--featured--group node node--type-city-service node--view-mode-featured card" role="button" onclick="location.href='/transportation/parking/services/apply-annual-area-parking-permit'" data-card-id="66">
        <div class="card-body">
          <div class="field field--name-bundle-fieldnode field--type-ds field--label-hidden mb-2">
            <div>
              Service
            </div>
          </div>
          <div class="field field--name-node-title field--type-ds field--label-hidden mb-2">
            <div>
              <h3>
                <a href="/transportation/parking/services/apply-annual-area-parking-permit" hreflang="en">Apply for an annual area parking permit</a>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="card--featured--group node node--type-city-service node--view-mode-featured card" role="button" onclick="location.href='/transporation/active-transport/services/plan-your-travel-our-interactive-bike-map'" data-card-id="386">
        <div class="card-body">
          <div class="field field--name-bundle-fieldnode field--type-ds field--label-hidden mb-2">
            <div>
              Service
            </div>
          </div>
          <div class="field field--name-node-title field--type-ds field--label-hidden mb-2">
            <div>
              <h3>
                <a href="/transporation/active-transport/services/plan-your-travel-our-interactive-bike-map" hreflang="en">Plan your travel with our interactive bike map</a>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endset %}

{% set body_footer %}
<div class="pl-layout-placeholder pl-layout-placeholder--fllled">
  Body Footer: Unused (Will not appear if unused)
</div>
{% endset %}

<div class="container">
  {% include "@layouts/group-default/group-default.twig" with {
    overline: overline,
    marquee_primary_left: marquee_primary_left,
    marquee_primary_right: marquee_primary_right,
    marquee_secondary_left: marquee_secondary_left,
    marquee_secondary_right: marquee_secondary_right,
    body_header: body_header,
    body_body: body_body,
    body_footer: body_footer,
  } %}
</div>

