<div class="table-responsive">
  <table class="table table-bordered table-hover table-sm">
      <caption>
      Caption text goes here.
    </caption>
    <tbody>
      <tr>
        <th scope="row">Number</th>
        <td>00001468</td>
      </tr>
      <tr>
        <th scope="row">Description</th>
        <td>Engineering Services Price Agreements</td>
      </tr>
      <tr>
        <th scope="row">Bureau</th>
        <td>Environmental Services</td>
      </tr>
      <tr>
        <th scope="row">Planned Street Date</th>
        <td>May 22, 2020 12:00 am</td>
      </tr>
      <tr>
        <th scope="row">Actual Street Date</th>
        <td>May 22, 2020 8:43 am</td>
      </tr>
      <tr>
        <th scope="row">Bid Opening</th>
        <td>July 8, 2020 4:00 pm</td>
      </tr>
    </tbody>
  </table>
</div>
