{% set classes = [
  'table',
  'table-bordered',
  'table-hover',
  is_small ? 'table-sm',
] %}

<div class="table-responsive">
  <table class="{{ classes | join(' ') }}">
    <caption>Caption here.</caption>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Heading</th>
        <th scope="col">Heading</th>
        <th scope="col" colspan="2">Heading</th>
      </tr>
      <tr>
    </thead>
    <tbody>
      <tr>
        <td>data</td>
        <td>data</td>
        <td>data</td>
        <td>data</td>
      </tr>
    </tbody>
  </table>
</div>