{% extends "@components/data-table/data-table-base.twig" %}

{% set caption = 'Caption text goes here.' %}

{% block table_header %}
	<thead class="thead-dark">
		<tr>
			<th scope="col">Heading</th>
			<th scope="col">Heading</th>
			<th scope="col">Heading</th>
		</tr>
	</thead>
{% endblock %}
{% block table_body %}
	<tbody>
		<tr>
			<th scope="row" rowspan="2">data</th>
			<td>data</td>
			<td>data</td>
		</tr>
		<tr>
			<td>data</td>
			<td>data</td>
		</tr>
	</tbody>
{% endblock %}
