{% set classes = [
  'table',
  'table-bordered',
  'table-hover',
  is_small ? 'table-sm',
] %}

<div class="table-responsive">
  <table class="{{ classes | join(' ') }}">
    <caption>Comparison Between Different Types of Coffee Drinks.</caption>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Coffee Types</th>
        <th scope="col">Milk</th>
        <th scope="col">Espresso Shots</th>
        <th scope="col">Milk Foam</th>
        <th scope="col">Water</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Cappuccino</th>
        <td>Yes</td>
        <td>2</td>
        <td>Yes</td>
        <td>No</td>
      </tr>
      <tr>
        <th scope="row">Macchiato</th>
        <td>No</td>
        <td>1</td>
        <td>Yes</td>
        <td>No</td>
      </tr>
      <tr>
        <th scope="row">Flat White</th>
        <td>Yes</td>
        <td>1</td>
        <td>No</td>
        <td>No</td>
      </tr>
      <tr>
        <th scope="row">Latte</th>
        <td>Yes</td>
        <td>1</td>
        <td>Yes</td>
        <td>No</td>
      </tr>
    </tbody>
  </table>
</div>
