{#
/**
 * @file
 * Theme implementation to display a Geofield Map Widget.
 *
 * This creates a placeholder for the map to be injected in.
 *
 * Available variables:
 * - mapid
 * - height
 * - width
 *
 * @ingroup themeable
 *
 */
#}
<div id="{{ mapid }}" class="portland-geofield-map"></div>
