{% embed 'field.html.twig' with {
  'margin' : '0'
  } %}
  {% spaceless %}
    {% block content %}
      {%- for item in items if item.content|render|striptags|trim is not empty -%}
        <a href="mailto:{{ item.content["#title"] }}">
          {% include '@elements/icon/icon.twig' with {
            name: 'email'
          } only %}
          {{ item.content["#title"] }}
        </a>
      {%- endfor -%}
    {% endblock %}
  {% endspaceless %}
{% endembed %}
