{% extends 'field.html.twig' %}
{% block content %}
  {%- for item in items -%}
    <div{{item.attributes.addClass(item_classes)}}>
      {% include 'file-link.html.twig' with {
        file: item.content['#file'],
        file_display_name: element['#object'].name.value,
      } %}
    </div>
  {%- endfor -%}
{% endblock %}
