{% embed 'field.html.twig' with {
  'classes': ['mb-0'],
} %}
  {% block label %}
    <div{{ title_attributes.addClass(title_classes) }}><i class="fas fa-location-dot"></i>{{ 'District'|t }}</div>
  {% endblock %}
{% endembed %}
