{% embed 'field.html.twig' with {
  'classes': ['mb-0'],
} %}
  {% block label %}
    <div{{ title_attributes.addClass(title_classes) }}><i class="fas fa-address-card"></i>{{ label }}</div>
  {% endblock %}
{% endembed %}
