<button class="d-flex align-items-center justify-content-between d-print-none d-lg-none px-2 py-4 w-100 rounded-0 border-0 border-dark border-top  btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePageMenu" aria-expanded="false" aria-controls="collapsePageMenu">
  <h2 class="mb-0 text-body">{{ 'Content Menu'|t }}</h2>
  <span class="parent-collapsed-show fw-bold text-decoration-underline">{{ 'Open'|t }}</span>
  <span class="parent-expanded-show fw-bold text-decoration-underline">{{ 'Close'|t }}</span>
</button>
<div class="mb-6 mb-lg-0 d-print-block d-lg-block collapse" id="collapsePageMenu">
  {% include 'field.html.twig' %}
</div>
<div class="border-bottom border-dark d-block d-print-none d-lg-none"></div>
