
{% set margin = margin|default('2') %}

{% set classes = classes|default([]) %}

{%
  set field_classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    'mb-' ~ margin,
    label_display == 'inline' ? 'd-flex'
  ]
%}

{%
  set title_classes = title_classes|default([
    label_display == 'visually_hidden' ? 'sr-only',
    label_display == 'inline' ? 'mr-1',
  ])
%}

{%
  set item_classes = item_classes|default([
    label_display == 'inline' ? 'mr-1',
  ])
%}

{% spaceless %}
    {% block field %}
    <div{{attributes.addClass(field_classes).addClass(classes)}}>
        {% block label %}
        {%- if not label_hidden -%}
            <h2>{{ label|render }}</h2>
        {%- endif -%}
    {% endblock %}
    <div class="card-deck">
    {% block content %}
    {%- for item in items -%}
      {{ item.content }}
    {%- endfor -%}
    {% endblock %}
    </div>
  </div>
  {% endblock %}
  {% endspaceless %}

