{#
/**
 * @file
 * Theme override to display a field of referenced tiles.
 */
#}

<ul class="nav nav-fill">
    {% block items %}
    {% for item in items %}
        <li class="nav-item">
        {{ item.content }}
        </li>
    {% endfor %}
    {% endblock %}
</ul>
