{% extends 'field.html.twig' %}
{% block content %}
  {%- for item in items -%}
    <div{{ item.attributes.addClass(item_classes) }}>
      {% include 'file-link.html.twig' with {
        url: path('entity.media.canonical', {'media': element['#object'].mid.value }),
        file: item.content['#file'],
        file_display_name: element['#object'].name.value,
        mime_type: element['#object'].field_mime_type.value,
      } %}
    </div>
    {{ kint(element) }}
    {{ kint(item) }}
  {%- endfor -%}
{% endblock %}
