  {% block field %}
  <div class="agenda--items">
    {% block label %}
      {%- if not label_hidden -%}
        <h3>{{ label|render }}</h3>
      {%- endif -%}
    {% endblock %}
    {% block content %}
      {%- for item in items -%}
          {{ item.content }}
      {%- endfor -%}
    {% endblock %}
  </div>
  {% endblock %}