
{% extends 'field.html.twig' %}

{% block content %}
	{%- for item in items -%}
		<div{{item.attributes.addClass(item_classes)}}>
			{%- include 'file-link.html.twig' with {
        file_display_name: element['#object'].name.value,
        mime_type: element['#object'].field_mime_type.value,
				file_link: item.content["#url"],
				file_size: element['#object'].field_file_size.value,
      } -%}
		</div>
	{%- endfor -%}
{% endblock %}
