{% embed 'field.html.twig' with {
    'margin' : '0',
    'item_classes': [
      'ml-2',
    ]
  } %}
  {% spaceless %}
    {% block content %}
      {%- for item in items if item.content|render|striptags|trim is not empty -%}
        <span{{item.attributes.addClass(item_classes)}}>
          {{ file_size_string(item.content['#markup']) }}
        </span>
      {%- endfor -%}
    {% endblock %}
  {% endspaceless %}
{% endembed %}
