{% embed 'field.html.twig' %}
  {% block content %}
    <div class="card-deck">
      {%- for item in items -%}
        {{ item.content }}
      {%- endfor -%}
    </div>
  {% endblock %}
{% endembed %}
