{% embed 'field.html.twig' with {
  'margin' : '4'
  } %}
  {% spaceless %}
    {% block content %}
      {%- for item in items if item.content|render|striptags|trim is not empty -%}
        {% set text = item.content['#title'] == item.content['#url'].uri ? element['#object'].name.value : item.content['#title']%}
        <a href="{{ item.content['#url'].uri }}">
          {% include '@elements/icon/icon.twig' with {
            name: 'archives',
          } only %}
          {{ text }}
        </a>
      {%- endfor -%}
    {% endblock %}
  {% endspaceless %}
{% endembed %}
