{% embed 'field.html.twig' with {
  'margin' : '0'
  } %}
  {% spaceless %}
    {% block content %}
      {%- for item in items if item.content|render|striptags|trim is not empty -%}
        {% set phone = item.content['#title'] %}
        <a href="tel:+1{{ phone | trim }}">
          {% include '@elements/icon/icon.twig' with {
            name: 'phone'
          } only %}
          {{ phone }}
        </a>
      {%- endfor -%}
    {% endblock %}
  {% endspaceless %}
{% endembed %}
