{%
  set classes = classes|default([
    'badge',
    'badge-pill',
    'badge-popular'
  ])
%}
{% spaceless %}
  {% block content %}
    {%- for item in element['#items'] if item.getValue()['value'] == 1 -%}
        <div{{ attributes.addClass(classes) }}>Popular</div>
    {%- endfor -%}
  {% endblock %}
{% endspaceless %}