{% embed 'field.html.twig' with {
  'margin' : '4'
  } %}
  {% spaceless %}
    {% block content %}
      {% if multiple %}
        <ul class="field__items">
      {% endif %}
      {% for item in items %}
        <li{{ item.attributes.addClass(item_classes) }}>{{ icon }}{{ item.content }}</li>
      {% endfor %}
      {% if multiple %}
        </ul>
      {% endif %}
      <p><a href="/parks/customer-service-center">Make a reservation through the customer service center</a></p>
    {% endblock %}
  {% endspaceless %}
{% endembed %}