{% extends 'field.html.twig' %}
{% block content %}
  {%- for item in items -%}

    <div{{ item.attributes.addClass(item_classes) }}>
      {% include 'file-link.html.twig' with {
        url: item.content['#url'].toString(),
        file: item.content['#file'],
        file_display_name: element['#object'].name.value,
        mime_type: element['#object'].field_mime_type.value,
      } %}
    </div>
  {%- endfor -%}
{% endblock %}
