{# Custom template to display press release images with a link to view full size image #}
{% for item in items %}
    {{ item.content }}
    {# {{ dump(item.content['#item'].alt) }} #}
    {% set image_url = file_url(item.content['#item'].entity.uri.value) %}
    {# {% apply spaceless %}
        {% include "@components/link/link.twig" with {
            ariaLabel: 'View full size image'|t,
            background: false,
            standalone: false,
            icon: {
                name: 'file',
            },
            url: image_url,
            classes: ['view-image']
        } only %}
    {% endapply %} #}
    <a href="{{ image_url }}" class="view-image" title="View full size image">
        <i class="fas fa-file-image"></i>
        <span class="visually-hidden">View full size image of {{ item.content['#item'].alt }}</span>
    </a>
{% endfor %}
