{% embed 'field.html.twig' with {
  'margin' : '4'
  } %}
  {% spaceless %}
    {% block content %}
      {%- for item in items if item.content|render|striptags|trim is not empty -%}
        {% set username = item.content["#context"].value %}
        <a href="http://twitter.com/{{ username }}">
          {% include '@elements/icon/icon.twig' with {
            name: 'twitter'
          } only %}
          {{ username }}
        </a>
      {%- endfor -%}
    {% endblock %}
  {% endspaceless %}
{% endembed %}
