{#
/**
 * @file
 * Theme override for the step by step instructions field.
 *
 * This is an override of field.html.twig for the step title field. See that
 * template for documentation about its details and overrides.
 *
 * @see field.html.twig
 */
#}

{% if items|length == 1 %}
  <div class="onestep">{{ items[0].content }}</div>
{% else %}
  <ol class="steps">
    {%- for item in items -%}
      <li class="step">{{ item.content }}</li>
    {%- endfor -%}
  </ol>
{% endif %}

