<button class="page-menu-collapse d-flex align-items-center justify-content-between d-lg-none btn px-0 py-4 w-100 text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePageMenu" aria-expanded="true" aria-controls="collapsePageMenu">
  <h2 class="mb-0">{{ 'In this section...'|t }}</h2>
  <i class="fas fa-caret-down"></i>
</button>
<div class="mb-6 mb-lg-0 d-lg-block collapse show" id="collapsePageMenu">
  {% include 'field.html.twig' %}
</div>
