{% embed 'field.html.twig' %}
  {% block content %}
    {% if multiple %}
      <div class="field__items">
    {% endif %}
    {% for item in items %}
      <div{{ item.attributes.addClass(item_classes) }}>
        <time datetime="{{ item.content }}" class="datetime">{{ item.content }}</time>
      </div>
    {% endfor %}
    {% if multiple %}
      </div>
    {% endif %}
  {% endblock %}
{% endembed %}

