{#
/**
 * @file
 * Theme override for the step by step instructions field.
 *
 * This is an override of field.html.twig for the step title field. See that
 * template for documentation about its details and overrides.
 *
 * @see field.html.twig
 */
#}
{%
  set search_keys = [
    'field_step_title',
    'field_step_instruction',
    'field_step_action',
  ]
%}
{% if items|length == 1 %}
  <div class="onestep">
    {{ items[0].content }}
  </div>
  {% else %}
  <ol class="steps">
    {%- for item in items -%}
      {% set paragraph = item.content['#paragraph'] %}
      {% set has_content = false %}
      {% for key, p in paragraph if key in search_keys and p.value is not empty %}
        {% set has_content = true %}
      {% endfor %}
      {% if has_content %}
        <li class="step">
          {{ item.content }}
        </li>
      {% endif %}
    {%- endfor -%}
  </ol>
{% endif %}
