{#
/**
 * @file
 * Theme override for a link to a file.
 *
 * Available variables:
 * - attributes: The HTML attributes for the containing element.
 * - link: A link to the file.
 * - icon: The icon image representing the file type.
 *
 * @see template_preprocess_file_link()
 */
#}
{% set url = file_url(file.uri.value) %}

{% set text = file_display_name|default(file.filename.value) %}

{% set icon_map = {
  'application/pdf': 'fa-file-pdf',
  'application/msword': 'fa-file-word',
  'application/vnd.openxmlformats-officedocument.wordprocessingml.document': 'fa-file-word',
  'application/vnd.ms-excel': 'fa-file-excel',
  'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet': 'fa-file-excel',
  'application/vnd.ms-powerpoint': 'fa-file-powerpoint',
  'application/vnd.openxmlformats-officedocument.presentationml.presentation': 'fa-file-powerpoint',
} %}

{% set icon_name = icon_map[mime_type] ?? 'fa-file-alt' %}

<div class="flex flex-wrap items-baseline">
  <a href="{{ url }}">
    {% include '@elements/icon/fa.twig' with {
      name: icon_name,
    } only %}
    {{ text }}
  </a>
  <span class="ml-2">{{ file_size_string(file.filesize.value) }}</span>
</div>
