{# Show all possible variations from changing a SINGLE variable #}

<div>
  {% include "@components/breadcrumb/breadcrumb.twig" with {
    items: [
      {
        url: 'example.com',
        text: 'Single Item'
      },
    ],
  } only %}
</div>

<div>
  {% include "@components/breadcrumb/breadcrumb.twig" with {
    items: [
      {
        url: 'example.com',
        text: 'Item One'
      },
      {
        url: 'example.com',
        text: 'Item Two'
      },
    ],
  } only %}
</div>

<div>
  {% include "@components/breadcrumb/breadcrumb.twig" with {
    items: [
      {
        text: 'No URL Link'
      },
    ],
  } only %}
</div>

<div>
  {% include "@components/breadcrumb/breadcrumb.twig" with {
    items: [
      {
        text: 'Item One No URL'
      },
      {
        text: 'Item Two No URL'
      },
    ],
  } only %}
</div>

<div>
  {% include "@components/breadcrumb/breadcrumb.twig" with {
    items: [
      {
        url: 'example.com',
        text: 'Home'
      },
      {
        url: 'example.com',
        text: 'This Example is Very Long'
      },
      {
        url: 'example.com',
        text: 'Very Long Titles Can Be Stressful Upon Responsive Design'
      },
      {
        url: 'example.com',
        text: 'For Example, This Demo is Great for Testing BreadCrumb Behaviour on Mobile'
      },
    ],
  } only %}
</div>

