{# Show all possible variations from changing a SINGLE variable #}

<div>
  {% include "@components/breadcrumb/breadcrumb.twig" with {
    items: [
      {
        url: 'example.com',
        text: 'breadcrumb'
      },
    ],
  } only %}
</div>

<div>
  {% include "@components/breadcrumb/breadcrumb.twig" with {
    items: [
      {
        url: 'example.com',
        text: 'breadcrumb'
      },
      {
        url: 'example.com',
        text: 'breadcrumb 2'
      },
    ],
  } only %}
</div>

<div>
  {% include "@components/breadcrumb/breadcrumb.twig" with {
    items: [
      {
        text: 'breadcrumb'
      },
    ],
  } only %}
</div>

<div>
  {% include "@components/breadcrumb/breadcrumb.twig" with {
    items: [
      {
        text: 'breadcrumb'
      },
      {
        text: 'breadcrumb 2'
      },
    ],
  } only %}
</div>

