<main class="container mx-auto px-2">
  <div class="flex flex-wrap mb-2 -mx-2">
    <aside class="w-full lg:w-1/4 my-2 px-2">
      {% block sidebarLeft %}
        {% include "@utilities/_placeholder.twig" with {'placeholder':{'text':'Sidebar'}} %}
      {% endblock %}
    </aside>
    <div class="w-full lg:w-2/4 my-2 px-2">
      {% block pageContent %}
        {% include "@utilities/_placeholder.twig" with {'placeholder':{'text':'Content'}} %}
      {% endblock %}
    </div>
    <aside class="w-full lg:w-1/4 my-2 px-2">
      {% block sidebarRight %}
        {% include "@utilities/_placeholder.twig" with {'placeholder':{'text':'Sidebar'}} %}
      {% endblock %}
    </aside>
  </div>
  <div class="flex -mx-2">
    <div class="w-full px-2">
      {% block postContent %}
        {% include "@utilities/_placeholder.twig" with {'placeholder':{'text':'Post Content'}} %}
      {% endblock %}
    </div>
  </div>
</main>