.paragraph--type--council-communication-item, 
.paragraph--type--council-agenda-item {
  border: 1px solid $gray-300;
  padding: .5rem 1rem;
}

.field--name-field-council-document-status,
.field--name-field-council-document-type,
.field--name-field-council-meeting-status,
.field--name-field-council-meeting-type {
  display: inline-block;
  padding-right: .5rem;
}

.paragraph--type--votes {
  .field--name-field-elected-official,
  .field--name-field-vote {
    display: inline-block;
    padding-right: .5rem;
  }
}
