/**
 * @file
 * Visual styles for alerts in Cloudy.
 */

 .block-views-blockalerts-block-1,
 .block-views-blockgroup-notifications-block-1 {
  width: 100%;
}

// Adjusts base class
.alert {
  border: none;
  border-radius: 0;
}

// Adjusts colors 
.alert-info {
  color: $black;
  background-color: $primary-alt-lightest;
  border-left: 10px solid $blue;
}
.alert-danger {
  color: $black;
  background-color: $secondary-alt-lightest;
  border-left: 10px solid $secondary-alt;
}
.alert-warning {
  color: $black;
  background-color: $gold-lightest;
  border-left: 10px solid $gold;
}

// Adjusts close button position
.close {
  position: relative;
  text-shadow: none;
  white-space: nowrap;
  color: lighten($black, 15%);
  opacity: 1;
  &:not(:disabled):not(.disabled) {
    @include hover-focus {
      color: inherit;
      opacity: 1;
    }
  }
}

.alert p {
  width: 100% !important;
}

.region-pre-header .alert {
  margin: 0;
}