/**
 * @file
 * Visual styles for alerts in Cloudy.
 */

.block-views-blockalerts-block-1 {
  width: 100%;
}

.portland-alert {
  
  // Adjust close link position
  .close {
    position: relative;
    text-shadow: none;
    white-space: nowrap;
    opacity: 1;
    &:not(:disabled):not(.disabled) {
      @include hover-focus {
        color: inherit;
        opacity: 1;
      }
    }
  }
}
