.badge {
  font-weight: normal;
}

.nav .nav-item .badge {
  vertical-align: top;
  border-radius: $border-radius-tight;
  margin: 0 0 .25em .125em;
  background-color: $navbar-menu-alert-badge-bg;
}

.badge-popular {
  @extend .badge-dark;
    color: $black;
    background-color: $gold;
}

/* admin content/media view tables */
.view-admin-group-content .status-badge {
  margin-right: 5px;
}
.status-unpublished {
  color: $gray;
}
.status-published {
  color: $green;
}
