/**
 * @file
 * Styles for Bootstrap Barrio's breadcrumbs.
 */

.breadcrumb {
    background: transparent;
    padding: var(--space-md) 0;
    margin-bottom: var(--space-md);
    font-size: 1rem;
    .breadcrumb-item  {
      a {
        font-size: 0.8em;
        font-weight: $font-weight-semibold;
        border-bottom: 2px solid;
      }
      &:before {
        font-size: 0.8em;
        color: $brand-primary;
        padding: 0 var(--space-xxs);
        font-weight: $font-weight-semibold;
      }
    }
    ol {
        margin:0;
    }
}

.region-breadcrumb {
    padding: 0 15px;
    width: 100%;
}


.breadcrumb-item + .breadcrumb-item {
  padding: 0;
}
