/**
 * @file
 * Styles for Bootstrap Barrio's breadcrumbs.
 */

.breadcrumb {
    font-size: 0.929em$font-size-sm;
    padding: 0.75rem 0;
    background: none;
    ol {
        margin:0;
    }
}

.region-breadcrumb {
    padding: 0;
    width: 100%;
}