.btn-cta {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  color: $white;
  background-color: $primary;
  border: 0;
  font-size: var(--text-base-size);
  line-height: var(--body-line-height);
  border-radius: 0;
  &:hover {
    background-color: darken($primary, 5%);
    border: 0;
  }
  &:focus, &:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
  }
}

.btn-cta-outline {
  @extend .btn;
  @extend .btn-outline-primary;
  @extend .btn-lg;
  font-size: var(--text-base-size);
  line-height: var(--body-line-height);
  border-radius: 0;
  &:focus, &:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
  }
}
