.node--type-city-service {
  .card:not(:first-child) {
    max-width: calc(50% - 30px);
  }
  .card {
    color: red;
    flex-basis: calc(50% - 30px);
      @include media-breakpoint-up(sm) {
        margin-bottom: $card-deck-margin;
      }
      @include media-breakpoint-only(md) {
        flex-basis: 100%;
        flex-direction: row;
      }
    @include media-breakpoint-up(lg) {
      flex-wrap: wrap;
    }
  }
}
