.card-deck .card {
  margin-bottom: var(--space-xl);
}

.card .paragraph.paragraph--type--form-app-button {
  margin-bottom: 0;
}

.card-group img {
  margin: 0;
  width: 100%;
  height: auto;
}

.card-group .field--type-image {
  margin: 0
}
