.step {
  .card {
    &:first-child {
      max-width: 100%;
    }

    @include media-breakpoint-up(sm) {
      flex-basis: calc(50% - #{$card-deck-margin * 2});
      max-width: calc(50% - #{$card-deck-margin * 2});
      margin-bottom: $card-deck-margin * 2;
    }

    @include media-breakpoint-only(md) {
      max-width: 100%;
      flex-basis: 100%;
      margin-bottom: $card-deck-margin;
    }
  }
}

// Equal height grid
.card-group--related .view-content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: $card-deck-margin;
  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.node .media--view-mode-featured .field--type-image {
  margin: 0 0 $spacer;
  img {
    margin: 0;
  }
}

.card-grid-img *:not(source, img) {
  display: flex;
  height: 180px;
  width: 100%;
  @include media-breakpoint-up(lg) {
    height: 100%;
  }
}

.card-grid-img {
  flex: 1;
  margin-bottom: $spacer;
  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
  }
  img {
    object-fit: cover;
  }
}

.card-grid-body{
  display: flex;
  flex: 2;
  flex-direction: column;
}
