// Card grid
.card-grid {
  @include media-breakpoint-up(md) {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: $spacer;
    .card {
      flex-direction: column;
    }
  }
  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  @include media-breakpoint-up(md) {
    flex-direction: row-reverse;
    .card-img {
      align-self: center;
      padding: $spacer $spacer $spacer 0;
      img {
        height: 24vh;
        width: 30vw;
        object-fit: cover;
        align-self: center;
        margin: 0;
      }
    }
  }
}

.is--featured {
  @include media-breakpoint-up(lg){
    flex-direction: row-reverse;
    margin-bottom: $spacer;
    .card-img--featured {
      align-self: center;
      padding: $spacer $spacer $spacer 0;
    }
    .field--type-image, .field--type-image img {
      height: 24vh;
      width: 30vw;
      object-fit: cover;
      align-self: center;
      margin: 0;
    }
  }
}

.node .card-img--featured .field--type-image {
  margin: 0;
}

.node .media--view-mode-featured .field--type-image {
  margin: 0 0 $spacer;
  img {
    margin: 0;
  }
}

.step {
  .card {
    &:first-child {
      max-width: 100%;
    }

    @include media-breakpoint-up(sm) {
      flex-basis: calc(50% - #{$card-deck-margin * 2});
      max-width: calc(50% - #{$card-deck-margin * 2});
      margin-bottom: $card-deck-margin * 2;
    }

    @include media-breakpoint-only(md) {
      max-width: 100%;
      flex-basis: 100%;
      margin-bottom: $card-deck-margin;
    }
  }
}
