// Service steps

ol.steps {
  margin: 0;
  padding: 0;
  list-style-type: none;
  dl,
  ol,
  ul {
    margin-top: 0;
    margin-bottom: 1rem;
    ol,
    ul {
      margin-bottom: 0;
    }
  }
  li.step:not(:empty) {
    position: relative;
    counter-increment: step-counter;
    margin-bottom: 1rem;

    &:before {
      content: counter(step-counter);
      position: absolute;
      left: 0;
      top: 0;
      font-size: $h4-font-size;
      border: $border-width $gray-700 solid;
      color: $gray-700;
      font-weight: $font-weight-normal;
      padding: 0.3rem 1rem;
      border-radius: 50%;
    }
    > * {
      position: relative;
      margin-left: $spacer * 4;
    }
    .step-title {
      margin-bottom: $spacer * 1.25;
    }
  }
}

#block-feedbacklink .content {
  @extend .container-fluid;
  @extend .border;
  @extend .rounded;
  margin-top: 2rem;
  background-color: $light-gray;
}

#block-feedbacklink .content p {
  margin-top: 1rem;
}