.dropbutton-multiple {
  .dropbutton {
    .dropbutton-action {
      input {
        width: auto;
        background: none;
        border: 0;
        cursor: pointer;
        display: block;
        margin: 0;
        padding: $btn-padding-y $btn-padding-x;
        width: 100% !important;
        color: inherit;
      }
    }
  }
}
