/**
 * @file
 * Visual styles for entity browsers and eb views exposed forms.
 */

.view.eb-media {
  margin-bottom: 55px;
}
.view.eb-media .view-content {
    margin: 1em 0;
}
.view.eb-media .views-col {
  margin: 0 1em 0 0;
}
.view.eb-media .row { 
  margin-left: 0;
  margin-bottom: 0;
}
.view.eb-media .col-md { /* conflict between bootstrap grid and views grid, need less width to accommodate margin */
  padding: 0;
  max-width: 42%;
  margin-bottom: 1em;
}
.eb-media .image-grid-overlay {
  position: absolute;
  padding: 10px;
  font-size: 1.0em;
  z-index: -1;
  line-height: 1.25em;
}
.eb-media .views-col.selected .image-grid-overlay {
  z-index: -1;
}
.eb-media .media-thumbnail:hover {
  opacity: 0.2;
}
.eb-media .views-col.selected .media-thumbnail:hover {
  opacity: 1;
}
.eb-media .image-grid-overlay div {
  margin-bottom: 0.5em;
}
.eb-media .image-grid-overlay .image-name {
  font-weight: bold;
}
.eb-media table.views-table tr {
  cursor: pointer;
}
.view.eb-media .views-exposed-form {
  padding: 0.5em;
}
.entity-browser-form #edit-actions {
  position: fixed;
  bottom: 0;
  margin: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 101;
  padding-top: 10px;
}
.eb-media #edit-actions {
  position: unset;
  bottom: unset;
  width: auto;
  background-color: unset;
  z-index: auto;
  padding-top: 10px;
}
.eb-media .form-item {
  width: 25%;
}
.eb-media .form-item label {
  font-size: 1rem;
  display: block;
  height: auto;
}
.eb-media .form-item .form-text {
  width: 100% !important;
}
form.entity-browser-form {
  margin-bottom: 55px;
}
@media (min-width: 991.98px) {
  .eb-media .form-item label {
    height: 35px;
  }
}
@media (max-width: 767px) {
  .view.eb-media .views-exposed-form .form--inline .form-item {
    margin-bottom: 0.5em;
    width: 100%;
  }
  .eb-media .form-item label {
    height: auto;
  }
}
