/* ------------------ Header ------------------ */

#navbar-top {
    padding: 0 1rem;
}

#navbar-top.navbar-dark .nav-link:hover,
#navbar-top.navbar-dark .nav-link:focus {
    color: rgba(255, 255, 255, 0.9);
}

#navbar-top.navbar-dark .nav-link {
    color: rgba(255, 255, 255, 0.8);
}

#navbar-top.navbar-light .nav-link:hover,
#navbar-top.navbar-light .nav-link:focus {
    color: rgba(0, 0, 0, 0.7);
}

#navbar-top.navbar-light .nav-link {
    color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 33.9em) {
    .navbar-toggleable-xs .navbar-nav .nav-item+.nav-item,
    .navbar-toggleable-xs.collapse.in .navbar-nav .nav-item {
        margin-left: 0;
        float: none;
    }
}

@media (max-width: 47.9em) {
    .navbar-toggleable-sm .navbar-nav .nav-item+.nav-item,
    .navbar-toggleable-xs.collapse.in .navbar-nav .nav-item {
        margin-left: 0;
        float: none;
    }
}

.header {
    background-color: $brand-primary;
}

.banner {
  background-image: linear-gradient(to bottom right, #505050, #000000);
  background-color: $dark;
  color: #f8f9fa;
  min-height: 70px;
}

.navbar {
  padding: 0 1rem;
  min-height: 85px;
  .navbar-brand {
    height: 85px;
    img {
      max-height: 50px;
      max-width: 175px;
    }
  }
  .navbar-toggler {
    padding: 26.5px 1rem;
    line-height: 27px;
    color: $white;
  }
  .navbar-nav .nav-link {
    padding: 1.5rem 1rem;
    color: $white;
    @include links($white, $white, $white, $white);
  }
}

@include media-breakpoint-up(lg) {
  .navbar {
    .navbar-nav .nav-link {
      min-height: 85px;
      transition: background-color 0.25s ease, font-size 0.25s ease;
      &:hover {
        background-color: rgba($black, 0.15);
      }
    }
  }
}

.menu--main .nav-item a.is-active {
  background-color: $main-menu-active-bg;
}

.featured-top {
  background-color: $gray-100;
}
