/* ------------------ Header ------------------ */

#navbar-top {
}

@media (max-width: 33.9em) {
    .navbar-toggleable-xs .navbar-nav .nav-item+.nav-item,
    .navbar-toggleable-xs.collapse.in .navbar-nav .nav-item {
        margin-left: 0;
        float: none;
    }
}

@media (max-width: 47.9em) {
    .navbar-toggleable-sm .navbar-nav .nav-item+.nav-item,
    .navbar-toggleable-xs.collapse.in .navbar-nav .nav-item {
        margin-left: 0;
        float: none;
    }
}

.header {
  background-color: $white;
}

.banner {
  background-image: linear-gradient(to bottom right, #505050, #000000);
  background-color: $dark;
  color: #f8f9fa;
  min-height: 70px;
}

.navbar {
  padding: 0 1.5rem;
  .navbar-brand {
    img {
      max-width: 280px;
      padding: 0;
    }
  }
  .navbar-toggler {
    padding: 1.5rem 1rem;
    line-height: 1.5rem;
    color: $black;
  }
  .navbar-nav .nav-link {
    color: $black;
    @include links($black, $black, $black, $black);
    padding: .875rem 0;
  }
}

@include media-breakpoint-up(lg) {
  .navbar {
    .navbar-nav .nav-link {
      padding: 1.5rem 1rem;
      transition: background-color 0.25s ease, font-size 0.25s ease;
      &:hover {
        background: $navbar-menu-focus-bg;
      }
      &.active {
        background-color: $navbar-menu-active-bg;
      }
    }
  }
}

.featured-top {
  background-color: $gray-100;
}
