/**
 * @file
 * List styles.
 * How should lists look.
 */

.page-node-type-code-section ol,
.page-node-type-code-chapter ol,
ol.code-section-list {
  list-style-type: upper-alpha;
  ol {
    list-style-type: decimal;
    ol {
      list-style-type: lower-alpha;
      ol {
        counter-reset: list;
        list-style-type: none;
        li {
          display: flex;
        }
        li:before {
          content: "(" counter(list) ") ";
          counter-increment: list;
          margin-right: .5rem;
        }
      }
    }
  }
}
