/**
 * @file
 * Media.
 * Media items, typically embedded.
 */

/* "embed-image" and "embed-video" classes are added by module portland_media_embed_classes */
figure.embed-image.align-right {
    max-width: 50%;
    margin-left: 2rem;
}
figure.embed-video.align-right {
  width: 50%;
  margin-left: 2rem;
}
