/**
 * @file
 * Media.
 * Media items, typically embedded.
 */

figure.align-right, figure.align-left {
  width: 50%;
}

article.media--type-video, article.media--type-audio {
  width: 100%;
}

figure.caption {
  display: block;
}

.caption > figcaption { 
  display: block;
}