/**
 * @file
 * Media.
 * Media items, typically embedded.
 */

.document-unpublished {
  margin-right: 10px;
}

.image-unpublished, .video-unpublished, .audio-unpublished {
  position: absolute;
  z-index: 1;
  margin: 5px;
}

