// Group menu

.nav-group {
  .nav-link {
    padding-left: 0;
    padding-right: $spacer * 2;
    font-weight: $font-weight-semibold;
  }
}

.menu--editor-toolbar .nav-item a.is-active{
  background-color: $editor-toolbar-active-bg;
}

.menu--editor-toolbar .nav-item {
  transition: background-color 0.25s ease, font-size 0.25s ease;
      &:hover {
        background-color: rgba($black, 0.15);
      }
}