// widget styles
ul.paragraphs-add-dialog-list {
  input.field-add-more-submit {
    background-position: $input-btn-padding-y;
    background-size: $font-size-base;
    padding-left: $font-size-base * 2;
    border-radius: $border-radius;
  }
}

.js {
  .field--widget-paragraphs {
    .dropbutton-widget {
      position: static;
      border-radius: $btn-border-radius;
    }
  }
  .paragraph-top {
    margin-bottom: $spacer;
    .paragraph-type {
      grid-column: 1 / span 2;
      display: flex;
      align-items: center;
      .paragraph-type-icon {
        margin-right: $spacer * 0.5;
        height: $font-size-lg;
        width: $font-size-lg;
      }
      .paragraph-type-label {
        font-size: $font-size-lg;
      }
    }
  }
}
