// widget styles
ul.paragraphs-add-dialog-list {
  input.field-add-more-submit {
    background-position: $input-btn-padding-y;
    background-size: $font-size-base;
    padding-left: $font-size-base * 2;
    border-radius: $border-radius;
  }
}

.js {
  .field--widget-paragraphs {
    .dropbutton-widget {
      position: static;
      background-color: $brand-primary;
      color: $white;
      border-radius: $btn-border-radius;
    }
  }
  .paragraph-top {
    .paragraph-type {
      grid-column: 1 / span 2;
    }
  }
  .paragraph-type-add-modal-button:hover {
    background-color: darken($primary, 5%);
  }
}
