// Autocomplete search styles 

.js input.form-autocomplete {
  background-image: none;
}

.js input.form-autocomplete {
  background-position: right 10px center;
}

.js input.form-autocomplete.ui-autocomplete-loading {
  background-position: right 10px center;
}

// homepage search styles

.search-api-page-block-form {
  margin: 0 !important;
  .form-item,
  .form-action,
  .form-actions {
    margin: 0;
  }
  .form-item {
    margin: 0;
    display: flex;
    flex: 1 1 auto;
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $black;
      opacity: 1; /* Firefox */
    }
    input:focus::placeholder {
      color: $white;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $black;
    }
    input:focus:-ms-input-placeholder {
      color: $white;
    }
    ::-ms-input-placeholder { /* Microsoft Edge */
      color: $black;
    }
    input:focus::-ms-input-placeholder {
      color: $white;
    }
  }
  .form-search,
  .form-autocomplete {
    border-top: 0 !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-radius: 0 !important;
    margin: 0;
  }
  .form-actions {
    @extend .input-group-append;
  }

// Search unicode icon found in cloudy.theme

  .form-submit {
    @extend .btn;
    @extend .btn-light;
    font-size: 1.25rem;
    font-family: "font Awesome\ 5 Free";
    font-style: normal;
    font-weight: 900;
    border: 0 !important;
    border-radius: 0;
  }
}

.path-frontpage .search-region-container {
  background: $primary;
	@include media-breakpoint-up(xs) {
      padding: 2.5rem 0;
    }
	@include media-breakpoint-up(lg)  {
      padding: 2.5rem 0;
    }
}

h1.homepage-title {
  margin: 1rem 0;
  color: $white;
}

.popular {
  height: 100%;
  padding: 1.5rem 0 0 0;
  color: $white;
}

.popular h2 {
  margin-bottom: 1rem;
}

.top-search {
  padding-left: 0;
  a {
    color: $white;
  }
}

.view-top-searches .item-list ul li:last-child {
  padding-right: 0;
}

// header search styles 

.header {
  .search-api-page-block-form {
    .form-search,
    .form-autocomplete {
      margin: 0 0 0 .75rem;
      min-width: 15rem;
      background-color: $gray;
      font-size: 1rem;
      color: $black;
    }
    .form-search,
    .form-action,
    .form-autocomplete {
      @extend .form-control;
    }
    .form-item {
      ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $black;
        opacity: 1; /* Firefox */
      }
      input:focus::placeholder {
        color: $white;
      }
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $black;
      }
      input:focus:-ms-input-placeholder {
        color: $white;
      }
      ::-ms-input-placeholder { /* Microsoft Edge */
        color: $black;
      }
      input:focus::-ms-input-placeholder {
        color: $white;
      }
    }
  }
}

.header .search-api-page-block-form .form-action, 
.header .search-api-page-block-form .form-autocomplete, 
.header .search-api-page-block-form .form-search {
  height: auto;
}

.header .search-api-page-block-form .form-action:focus, 
.header .search-api-page-block-form .form-autocomplete:focus, 
.header .search-api-page-block-form .form-search:focus, 
select.form-select:focus {
  color: black;
  box-shadow: inset 0 0 0 0.25rem $gray;
}

// main content search styles

.main-content {
  .search-api-page-block-form {
    form {
      margin: $spacer 0 0 0;
      border-bottom: 10px solid $yellow;
      border-top: 1px solid $gray;
      border-left: 1px solid $gray;
      border-right: 1px solid $gray;
      border-radius: $border-radius-tight;
    }
    .form-search,
    .form-action,
    .form-autocomplete {
      @extend .form-control-lg;
      flex: 1 1 auto;
    }
    .form-submit {
      padding: 0 $input-btn-padding-x-lg * 1;
      border-radius: 0;
      background: $white;
    }
  }
}

// To keep the mobile menu search form flush left

@media (max-width: 1199px) {
  .header {
    .search-api-page-block-form {
      .form-search,
      .form-autocomplete {
        margin: 0;
      }
    }
  }
}