.sidebar-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -300px;
    background-color: white;
    @include media-breakpoint-up(sm) {
        right: -400px;
    }
    @include media-breakpoint-up(lg) {
        position: static;
    }

    button {
        position: absolute;
        left: -75px;
        width: 60px;
            @include media-breakpoint-up(sm) {
                width: 75px;
                left: -150px;
            }
            @include media-breakpoint-up(md) {
                width: 75px;
                left: -110px;
            }
            @include media-breakpoint-up(lg) {
                display: none;
            }
    }
}

.sidebar-wrapper.active {
    padding: 15px;
    right: -13px;
    width: 100%;
    box-shadow: -8px 7px 5px -4px rgba(0,0,0,0.44);
    @include media-breakpoint-up(sm) {
        right: -25px;
        width: 75%;
    }
    @include media-breakpoint-up(md) {
        right: 15px;
        width: 50%;
    }
    button {
        left: 200px;
        span {
            display: none;
        }
        @include media-breakpoint-up(sm) {
            left: 210px;
        }
        @include media-breakpoint-up(md) {
            left: 285px;
        }
    }
}