.teaser {
  @extend .mb-5;
  @extend .d-flex;
  @extend .flex-column;
  h2,
  h3 {
    font-weight: $font-weight-semibold;
    a {
      color: $dark;
      &:hover {
        color: $blue-dark;
      }
    }
  }
  &__tag {
    display: inline-block;
    margin-right: $spacer;

    @extend .small;
    &:last-child {
      margin-right: 0;
    }
  }
}
