/**
 * @file
 * Visual styles for alerts in Cloudy.
 */

.portland-alert {
  .close {
    font-size: 2.5rem;
  }
  .fa {
    font-size: 3rem;
    &.fa-exclamation-circle {
      color: $red;
    }
    &.fa-exclamation-triangle {
      color: $yellow;
    }
    &.fa-info-circle {
      color: $accent-shade;
    }
  }
}

