/**
 * @file
 * Visual styles for alerts in Cloudy.
 */

.portland-alert {
  .close {
    font-size: 2rem;
    color: inherit;
    opacity: 1;
    text-shadow: none;
    &:not(:disabled):not(.disabled):hover {
      color: inherit;
      opacity: 1;
    }
  }
  .fas {
    font-size: 2rem;
  }
  .btn {
    border: .025em solid;
    border-bottom: .175em solid;
    border-color: rgba(0,0,0,.6);
    &:hover {
      text-decoration: none;
      border-color: transparent;
    }
  }
}

.block-views-blockalerts-block-1 {
  width: 100%;
}
