/**
 * @file
 * Visual styles for alerts in Cloudy.
 */

.portland-alert {
  .close {
    font-size: 2rem;
    color: inherit;
    opacity: 1;
    text-shadow: none;
    &:not(:disabled):not(.disabled):hover {
      color: inherit;
      opacity: 1;
    }
  }
  .fa {
    font-size: 2rem;
  }
  .btn {
    white-space: inherit;
  }
}

