/* ------------------ Header ------------------ */

#navbar-top {
    padding: 0 1rem;
}

#navbar-top.navbar-dark .nav-link:hover,
#navbar-top.navbar-dark .nav-link:focus {
    color: rgba(255, 255, 255, 0.9);
}

#navbar-top.navbar-dark .nav-link {
    color: rgba(255, 255, 255, 0.8);
}

#navbar-top.navbar-light .nav-link:hover,
#navbar-top.navbar-light .nav-link:focus {
    color: rgba(0, 0, 0, 0.7);
}

#navbar-top.navbar-light .nav-link {
    color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 33.9em) {
    .navbar-toggleable-xs .navbar-nav .nav-item+.nav-item,
    .navbar-toggleable-xs.collapse.in .navbar-nav .nav-item {
        margin-left: 0;
        float: none;
    }
}

@media (max-width: 47.9em) {
    .navbar-toggleable-sm .navbar-nav .nav-item+.nav-item,
    .navbar-toggleable-xs.collapse.in .navbar-nav .nav-item {
        margin-left: 0;
        float: none;
    }
}

.header {
    background-image: linear-gradient(to bottom right, $primary-accent, $primary-shade);
    background-color: $primary-shade;
    border-top: 5px $yellow solid;
    border-bottom: 5px $accent-shade solid;
}

.banner {
  background-image: linear-gradient(to bottom right, #505050, #000000);
  background-color: $dark;
  color: #f8f9fa;
  min-height: 70px;
}


.transportation .header {
  background-image: linear-gradient(to bottom right, #505050, #000000);
  background-color: $dark;
  color: #f8f9fa;
  border: 0px #505050 solid;
}

.transportation .banner {
  background-image: linear-gradient(to bottom right, #FF8226, darken(#ff8226,20%));
  background-color: #FF8226;
  color: white;
}

.navbar {
  padding: 0;
  min-height: 80px;
  .navbar-brand {
    height: 80px;
    img {
      max-height: 40px;
    }
  }
  .navbar-toggler {
    padding: 26.5px 1rem;
    line-height: 27px;
    color: $white;
  }
  .navbar-nav .nav-link {
    padding: 1rem;
    color: $white;
    @include links($white, $white, $white, $white);
  }
}

@include media-breakpoint-up(lg) {
  .navbar {
    .navbar-brand img {
      max-height: 50px;
    }
    .navbar-nav .nav-link {
      padding: 26.5px 1rem;
      line-height: 27px;
      transition: background-color 0.25s ease, font-size 0.25s ease;
      &:hover {
        background-color: rgba($black, 0.15);
      }
    }
  }
}

.featured-top {
  background-image: linear-gradient(to bottom right, $accent-shade, $accent-dark);
  background-color: $primary-shade;
}