/**
 * @file
 * The visual styles for Bootstrap Barrio's search form(s).
 */

input[type="search"] {
    box-sizing: border-box;
}

#search-api-page-block-form {
    padding: 1rem;
    flex-flow: row wrap;
    display: flex;
}

.region-featured-top {
    width: 100%;
}

.region-featured-top #search-api-page-block-form {
    width: 100%;
    padding-bottom: 0.2rem;
}

#search-api-page-block-form input.btn-primary {
  color: #505050;
  background: $light;
  border: 1px solid #ced4da;
}