<label for="pl-toggle-labels">Toggle labels & demo spacing:</label> <input type="checkbox" name="pl-toggle-labels" class="pl-toggle-labels" id="pl-toggle-labels" />
<div class="pl-demo-wrapper">
  <div class="pl-demo-item">
    <h6>With a `posted_on` value</h6>
    {% include "@components/morsel/morsel.twig" with {
      image: '<img src="https://placeimg.com/600/300/any" alt="" />',
      posted_on: 'March 19, 2020',
      heading: {
        text: "Portland and Multnomah County Provide  Informational Posters and Flyers for Public Spaces",
      },
      url: "#demo-url",
      text: "Print the posts and flyers for use in public spaces. Printable resources  that provide information on how to social distance and keep healthy.",
      type: "News Article",
    } %}
  </div>
  <div class="pl-demo-item">
    <h6>With a `updated_on` value</h6>
    {% include "@components/morsel/morsel.twig" with {
      updated_on: 'March 18, 2020',
      heading: {
        text: "COVID-19 Transportation Questions and Answers",
      },
      url: "#demo-url",
      text: "The Covid-19 health emergency has impacted every aspect of our daily  life. This includes transportation. As our response continues to evolve,  we are receiving questions about transportation and how people can  continue to get where they need to go safely.",
      type: "News Article",
    } %}
  </div>
</div>
