<p>With a `posted_on` value</p>
{% include "@components/morsel/morsel.twig" with {
  type: "News ",
  title: "Have you recieved a City of Portland notice in the mail about your single-family home?",
  url: 'https://www.google.com',
  posted_on: 'April 2, 2018',
  text: "Here's what it means and what you can do."
} %}

<p>With a `date_start` value</p>
{% include "@components/morsel/morsel.twig" with {
  type: "News ",
  title: "Have you recieved a City of Portland notice in the mail about your single-family home?",
  url: 'https://www.google.com',
  date_start: 'April 2, 2018',
  text: "Here's what it means and what you can do."
} %}


<p>With a `date_start` and `date_end` value</p>
{% include "@components/morsel/morsel.twig" with {
  type: "News ",
  title: "Have you recieved a City of Portland notice in the mail about your single-family home?",
  url: 'https://www.google.com',
  date_start: 'April 2, 2018',
  date_end: 'December 31, 2019',
  text: "Here's what it means and what you can do."
} %}

<p>With a `time_start` value</p>
{% include "@components/morsel/morsel.twig" with {
  type: "News ",
  title: "Have you recieved a City of Portland notice in the mail about your single-family home?",
  url: 'https://www.google.com',
  time_start: '9:30 am',
  text: "Here's what it means and what you can do."
} %}


<p>With a `time_start` and `time_end` value</p>
{% include "@components/morsel/morsel.twig" with {
  type: "News ",
  title: "Have you recieved a City of Portland notice in the mail about your single-family home?",
  url: 'https://www.google.com',
  time_start: '9:30 am',
  time_end: '10:30 am',
  text: "Here's what it means and what you can do."
} %}


<p>With a `time_start`, `date_start`, and `posted_on` value</p>
{% include "@components/morsel/morsel.twig" with {
  type: "News ",
  title: "Have you recieved a City of Portland notice in the mail about your single-family home?",
  url: 'https://www.google.com',
  time_start: '9:30 am',
  date_start: 'April 20, 2018',
  posted_on: 'April 2, 2018',
  text: "Here's what it means and what you can do."
} %}
