{% include "@components/morsel/morsel.twig" with {
  heading: {
    text: "East Portland Community Center and Indoor Pool",
    level: 2,
  },
  url: "/parks/east-portland-community-center-and-indoor-pool",
  text: "East Portland Community Center provides health and recreation benefits to Portland residents of all ages, helping to make Portland a family-friendly and a livable city. Community members interact in social events, classes, play, sport, and general fitness.",
  type: "Community and arts center",
  location: '<address role="article" class="contextual-region node node--type-location node--view-mode-related mb-3" about="/locations/east-portland-community-center-and-indoor-pool-main-entrance" translate="no"><span class="field field--name-title field--type-string field--label-hidden">East Portland Community Center and Indoor Pool main entrance</span><br>740 SE 106th Avenue<br>Portland, OR 97216</address><div class="get-directions-link"><a href="https://www.google.com/maps/dir/45.51579,-122.553191" target="_blank" class="ext">Get Directions<span class="ext" aria-label="(link is external)"></span></a></div>  <div class="more-information"><a href="/locations/east-portland-community-center-and-indoor-pool-main-entrance" rel="bookmark">More about this location</a></div>',
} %}
