// Import Google webfonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base-font-family: sans-serif;
$base-font-weight: $regular;
$base-font-size: 100%;
$base-line-height: 1.4;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Colors
$white: #ffffff;
$gray: #cdcdcd;
$blue: #297fca;
$thin: 400;

// Darken buttons
$overlay: rgba(0, 0, 0, 0.2);
$dark-overlay: rgba(0, 0, 0, 0.33);

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../../img/hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  color: $white;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-weight: $thin;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 2.5em;
  letter-spacing: -0.03em;
}

p {
  font-size: 1em;
}

a {
  text-decoration: none;
}
