// Border-radius shorthand version
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

// Padding shorthand version
@mixin padding($padding) {
  padding: $padding;
}

// Margin shorthand version
@mixin margin($margin) {
  margin: $margin;
}