%btn {
  font-size: 1em;
  white-space: nowrap;
  // width: 200px;

  @include padding(0.9em 1.2em 0.7em);

  font-family: 'Open Sans', Helvetica,Arial,sans-serif;
  line-height: 1.2em;
  display: inline-block;
  font-weight: $bold;
  zoom: 1;
  color: $white;
  background: $overlay;

  @include border-radius(0.2em);

  text-align: center;
  position: relative;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;

  &:hover {
    background-color: $dark-overlay;
    cursor: pointer;
  }

  &:active {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}