<div class="card w-100">
  {% if image %}
    <img class="card-img-top" src="{{ image }}" alt="Card image cap">
  {% endif %}
  <div class="card-body">
    {% if overline %}
      {% include '@components/overline/overline.twig' with {
        text: overline.text,
        is_light: overline.light
      } only %}
    {% endif %}
    {% include '@components/heading/heading.twig' with {
      url: heading.url,
      level: heading.level,
      style: heading.style_override,
      text: heading.text,
    } only %}
  </div>
</div>
