.cloudy-tile {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  border: 1px solid $cloudy-gray-300;
  border-radius: .25rem;
  &--color {
    cursor: pointer;
    background: $cloudy-blue-dark;
    color: $cloudy-white-base;
    &:hover {
      background: darken($cloudy-blue-dark, 5%);
    }
  }
  &__frame {
    width: 100%;
  }
  &__image {
    width: 100%;
    height: auto;
  }
  &__body {
    padding: $cloudy-space-5;
  }
  &__overline {
    font-size: medium;
    letter-spacing: 1px;
    color: $cloudy-gray-300;
  }
  &__text {
    margin: $cloudy-space-2 0;
  }
  &__link {
    &--color {
      color: $cloudy-white-base;
      &:hover {
        color: $cloudy-white-base;
        text-decoration: none;
      }
    }
  }
}
