.cloudy-tile {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  cursor: pointer;
  background: $cloudy-blue-dark;
  &:hover {
    background: $cloudy-blue-darker;
    text-decoration: none;
  }

  &__frame {
    width: 100%;
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: $cloudy-space-5;
  }

  &__eyebrow {
    display: block;
    letter-spacing: 1px;
    color: $cloudy-white-base;
    font-weight: 300;
    order: 1;
  }

  &__text {
    margin: $cloudy-space-2 0 0;
    color: $cloudy-white-base;
    order: 2;
  }

  &__date {
    color: $cloudy-white-base;
    order: 3;
    margin-top: $cloudy-space-2;
  }
}

.cloudy-tile-deck {
  @include media-breakpoint-up(sm) {
    display: flex;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .cloudy-tile {
    margin-bottom: 30px;

    @media (min-width: 576px) {
      flex-basis: calc((100% / 2) - 30px);
      max-width: calc((100% / 2) - 30px);
      margin-bottom: 30px;
      margin-right: 15px;
      margin-left: 15px;
    }

    @media (min-width: 992px) {
      flex-basis: calc((100% / 3) - 30px);
      max-width: calc((100% / 3) - 30px);
    }
  }
}
