.cloudy-tile {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  border: 1px solid $cloudy-gray-300;
  border-radius: 0.25rem;
  cursor: pointer;
  background: $cloudy-blue-dark;

  &:hover {
    background: $cloudy-blue-darker;

    .cloudy-tile__text {
      text-decoration: underline;
    }
  }

  &__frame {
    width: 100%;
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__body {
    padding: $cloudy-space-5;
  }

  &__overline {
    display: block;
    font-size: medium; // Does a var exist?
    letter-spacing: 1px;
    color: $cloudy-gray-300;
  }

  &__text {
    margin: $cloudy-space-2 0 0;
    color: $cloudy-white-base;
    text-decoration: none;
  }
}

// This is to layout groups of tiles
// .cloudy-tile-deck {
//   display: flex;
//   flex-flow: row wrap;
//   justify-content: flex-start;
// }

// .cloudy-tile-deck > .cloudy-tile {
//   margin-bottom: 15px;
// }

// @media (min-width: 576px) and (max-width: 992px) {
//   .cloudy-tile-deck > .cloudy-tile {
//     flex-basis: calc((100% / 2) - 30px);
//     max-width: calc((100% / 2) - 30px);
//     margin-bottom: 30px;
//   }
// }
// @media (min-width: 992px) {
//   .cloudy-tile-deck > .cloudy-tile {
//     flex-basis: calc((100% / 3) - 30px);
//     max-width: calc((100% / 3) - 30px);
//     margin-bottom: 30px;
//   }
// }

.cloudy-tile-deck {
  @include media-breakpoint-up(sm) {
    display: flex;
    flex-flow: row wrap;
    margin-right: -30px;
    margin-left: -30px;
  }

  .cloudy-tile {
    margin-bottom: 30px;

    @media (min-width: 576px) {
      flex-basis: calc((100% / 2) - 30px);
      max-width: calc((100% / 2) - 30px);
      margin-bottom: 30px;
      margin-right: 15px;
      margin-left: 15px;
    }

    @media (min-width: 992px) {
      flex-basis: calc((100% / 3) - 30px);
      max-width: calc((100% / 3) - 30px);
    }
  }
}
