<div class="row pb-lg-12 border-bottom border-1 border-dark">
  <div class="col-12 col-md-6 mt-6 mt-md-0 order-1 order-md-0">
    <h1>{{ label }}</h1>
    {{ content.field_summary }}
  </div>
  <div class="col-12 col-sm-10 col-md-6">
    {{ content.field_featured_media.0|add_class('rounded overflow-hidden') }}
  </div>
</div>
