<div class="row">
  <div class="col-6">
    <h1>{{ label }}</h1>
    {{ content.field_summary }}
  </div>
  <div class="col-6">
    {{ content.field_featured_media.0|add_class('rounded overflow-hidden') }}
  </div>
</div>
