.step {
  .card {
    &:first-child {
      max-width: 100%;
    }

    @include media-breakpoint-up(sm) {
      flex-basis: calc(50% - #{$card-deck-margin * 2});
      max-width: calc(50% - #{$card-deck-margin * 2});
      margin-bottom: $card-deck-margin * 2;
    }

    @include media-breakpoint-only(md) {
      max-width: 100%;
      flex-basis: 100%;
      margin-bottom: $card-deck-margin;
    }
  }
}
