/**
 * @file
 * Visual styles for Tweme's form components.
 */

input[type="search"] {
  box-sizing: border-box;
  border-radius: .3rem 0 0 .3rem;
  flex: 1 1 auto;
  @extend .form-control;
}

#search-api-page-block-form input.form-submit,
#search-api-page-block-form--2 input.form-submit {
  color: #505050;
  background: $light;
  border: 1px solid #ced4da;
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
}

#search-api-page-block-form .form-item,
#search-api-page-block-form--2 .form-item,
#search-api-page-block-form .form-actions,
#search-api-page-block-form--2 .form-actions {
  margin: 0;
}

#search-api-page-block-form .form-actions,
#search-api-page-block-form--2 .form-actions {
  @extend .input-group-append;
}

#search-api-page-block-form,
#search-api-page-block-form--2 {
  @extend .d-flex;
}

.path-frontpage #search-api-page-block-form {
  margin: 4rem 0;
}
