/**
 * @file
 * Visual styles for Tweme's form components.
 */

.search-api-page-block-form form {
   @extend .d-flex;
   @extend .input-group-sm;
 }

.path-frontpage .search-api-page-block-form form,
.path-search .search-api-page-block-form form {
  margin: 4rem 0 1rem;
  @extend .input-group-lg;
}

.search-api-page-block-form form .form-actions{
  @extend .input-group-append;
}

.form-search {
  @extend .form-control;
  border: 1px solid #ced4da;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  margin: 0;
}

.path-frontpage .form-search,
.path-search .form-search {
  @extend .form-control-lg;
}

.search-api-page-block-form form input.form-submit {
  color: #505050;
  background: $light;
  border: 1px solid #ced4da;
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  margin: 0;
}