/**
 * @file
 * The visual styles for Bootstrap Barrio's search form(s).
 */

input[type="search"] {
    box-sizing: border-box;
}

#search-api-page-block-form input.btn-primary {
  color: #505050;
  background: $light;
  border: 1px solid #ced4da;
}
