/* Typography */

$type-scales : (
	minor-second: 1.067,
	major-second: 1.125,
	minor-third: 1.200,
	major-third: 1.250,
	perfect-fourth: 1.333,
	augmented-fourth: 1.414,
	perfect-fifth: 1.500,
	golden-ratio: 1.618
);

$heading-type-scale-base : major-second;
$display-type-scale-base : major-second;

$font-weight-semibold: 600;

/* Spacing */

$comment-spacer-x: 1.25em;
$comment-spacer-y: 1.25em;


$editor-toolbar-active-bg: #000;
$main-menu-active-bg: darken($primary, 5%);