// Create the base heading and display font sizes to be used
// from 0px width viewports and up.
// These can be adjusted through the use of media queries
// by simply using the mixin again at your desired breakpoint

// Set the root font size in px on the html element to 14px,
// so that it is 2px lower that the aprox default for browsers.
// Then the font size is bumped up 2px at the md and then lg
// breakpoints.
html {
	font-size: 14px;
	@include media-breakpoint-up(sm) {
		font-size: $font-size-base;
	}
	@include media-breakpoint-up(md)  {
		font-size: 18px;
	}
}

// Create the heading font sizes
@include create-heading-type-scale($heading-type-scale-base);

// Create the display font sizes
@include create-display-type-scale($display-type-scale-base);

// At the Bootstrap md breakpoint, adjust the heading font sizes
@include media-breakpoint-up(md) {
	@include create-heading-type-scale(minor-third);
}
