/* VARIABLES */

// colors
$primary-shade: #046a38;
$primary-accent: lighten($primary-shade, 10%);
$primary-light: lighten($primary-shade, 80%);
$primary-dark: darken($primary-shade, 12%);
$accent-shade: #418fde;
$accent-light: lighten($accent-shade, 80%);
$accent-dark: darken($accent-shade, 21%);
// Reassign color vars to semantic color scheme
$red: #dc3545;
$yellow: #ffb81c;
$green: #046a38;
$cyan: #17a2b8;
$gray-100: #f8f9fa !default;
$gray-800: #343a40 !default;
$theme-colors: ( primary: $primary-shade, secondary: $accent-shade, success: $green, info: $cyan, warning: $yellow, danger: $red, light: $gray-100, dark: $gray-800);
$brand-primary: $primary-shade;
//$brand-success: $green;
//$brand-info: $teal;
//$brand-warning: $orange;
//$brand-danger: $red;
$brand-inverse: $primary-shade;
// Body
//
// Settings for the `<body>` element.
//$body-bg: $white;
//$body-color: $gray-dark;
$inverse-bg: $primary-shade;
//$inverse-color: $gray-lighter;
// Links
//
// Style anchor elements.
$link-color: $accent-dark;
$link-decoration: none;
$link-hover-color: darken($link-color, 5%);
$link-hover-decoration: underline;
// Comments
$comment-spacer-x: 1.25em;
$comment-spacer-y: 1.25em;
