parameters:
#    level: 5
    phpVersion: 80000
#    editorUrl: 'vscode://file/%%file%%:%%line%%'
    scanDirectories:
        - web/core
        - web/modules/contrib
    paths:
        - web/modules/custom
    fileExtensions:
        - php
        - module
        - inc
    bootstrapFiles:
        - web/autoload.php
    excludePaths:
        - 'web/modules/custom/portland_migrations/**'
includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
