parameters:
    level: 5
    phpVersion: 80000
    paths:
        - web/modules/custom
    fileExtensions:
        - php
        - module
        - inc
    bootstrapFiles:
        - web/autoload.php
    ignoreErrors:
        - '#Call to an undefined method .+#'
        - '#Function .+ not found.#'
        - '#Call to static method .+#'
    excludePaths:
        - 'web/modules/custom/portland_migrations/**'
includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
