{% set wrapper_classes = wrapper_classes|default([]) %}
{% set class = 'class=' ~ wrapper_classes|join(' ') %}
<a href="{{ url }}" {{ wrapper_class_markup ? class }}>
  <div class="flex items-center mb-4">
    <span class="mr-2">{{ icon }}</span>
    <span>{{ text }}</span>
  </div>
</a>
