{#
/**
 * @file
 * Profile Portland group rabbit hole custom block.
 */
#}
{% if rabbithole_action %}
  <div class="portland-group-rabbithole--block message message-success">
    <span class="fas fa-md fa-directions fa-fw"></span>
    <span class="message__heading">Redirected</span> to
    {% if rabbithole_action == 'URL' %}
      <a href="{{rabbithole_redirect}}">{{rabbithole_redirect}}</a>.
    {% else %}
      {{rabbithole_action}}.
    {% endif %}
    To remove, <a href="/feedback">contact support</a>.
  </div>
{% endif %}
