{#
/**
 * @file
 * Profile Portland group rabbit hole custom block.
 */
#}
{% set unpublished = group_moderation_state != 'published' %}
{% if rabbithole_action or unpublished %}
  <div class="portland-group-rabbithole--block message message-{{ unpublished ? 'danger' : 'success' }}">
    {% if unpublished %}
      <span class="fas fa-md fa-directions fa-exclamation-triangle"></span>
      <span class="message__heading"><strong>Unpublished.</strong> This group homepage is not visible to the public.</span>
    {% endif %}

    {% if rabbithole_action and unpublished %}
      <br>
    {% endif %}

    {% if rabbithole_action %}
      <span class="fas fa-md fa-directions fa-fw"></span>
      <span class="message__heading">Redirected</span> to
      {% if rabbithole_action == 'URL' %}
        <a href="{{rabbithole_redirect}}">{{rabbithole_redirect}}</a>.
      {% else %}
        {{rabbithole_action}}.
      {% endif %}
      To remove, <a href="/feedback">contact support</a>.
    {% endif %}
  </div>
{% endif %}
