{#
/**
 * @file
 * Portland legacy paths custom block.
 */
#}
{% if legacy_paths %}
<h2>Legacy paths from portlandoregon.gov</h2>
<div>{{ help_text }}</div>
<div>
   {% for path in legacy_paths %}
      <a href="{{ pog_base_url }}{{ path }}" target="_blank">/{{ path }}</a>
   {% endfor %}
</div>
{% endif %}
