<nav class="cloudy-language-switcher nav bg-primary px-4">
  <!-- <a class="nav-link text-white py-1 " href="#">English</a> -->
  {% for lang in languages|slice(0, 7) %}
  <a class="nav-link text-white py-1 {% if lang.id == current_langcode %}border-3 border-bottom border-white{% endif %}" href="{{ lang.url }}" data-langcode={{ lang.id }}>{{ lang.label }}</a>
  {% endfor %}
  <a class="nav-link text-white py-1" href="#"><i class="fas fa-language text-white align-middle"></i> More</a>
</nav>
