{#
/**
 * @file
 * Portland content completion custom block.
 */
#}
  {%
    set classes = [
      'legacy-path-block',
      'message'
    ]
  %}

***<br>
{{ test_var }}<br>
{{ completion_table|length }}


  <div {{attributes.addClass(classes)}}>
    <table>
      <thead>
        <tr>
          <th>Group</th>
          <th>Total Nodes</th>
          <th>Published Nodes</th>
          <th>% Published</th>
        </tr>
      </thead>
      <tbody>
{% for row in completion_table %}

        <tr>
          <td>Row</td>
        </tr>

{% endfor %}

      </tbody>
    </table>

  </div>
