{#
/**
 * @file
 * Portland legacy paths custom block.
 */
#}
{% if legacy_paths %}
<div class="legacy-path-block">
   <h2 class="title">Legacy paths from portlandoregon.gov</h2>
   <div class="description">{{ help_text }}</div>
   <div class="legacy-paths">
      {% for path in legacy_paths %}
         <div class="legacy-path"><a href="{{ pog_base_url }}{{ path }}" target="_blank">/{{ path }}</a></div>
      {% endfor %}
   </div>
</div>
{% endif %}
