<nav class="cloudy-language-switcher nav bg-primary px-4">
  <!-- <a class="nav-link text-white py-1 " href="#">English</a> -->
  {% for lang in languages|slice(0, 7) %}
  <a
    class="nav-link text-white py-1 {% if lang.id == current_langcode %}border-3 border-bottom border-white{% endif %}"
    data-langcode="{{ lang.id }}"
    href="{{ lang.id == current_langcode ? "javascript:void(0)" : lang.url }}"
    translate="no">{{ lang.label }}</a>
  {% endfor %}
  <a class="nav-link text-white py-1" href="#"><i class="fas fa-language text-white"></i> More</a>
</nav>
