<div class="d-flex">
  {% if prev_url %}
    <a class="btn btn-outline-primary" href="{{ prev_url }}#body-content"><i class="fas fa-arrow-left ms-0 me-2"></i> Back</a>
  {% endif %}
  {% if next_url %}
    <a class="btn btn-primary ms-auto" href="{{ next_url }}#body-content">Next page <i class="fas fa-arrow-right ms-2 me-0"></i></a>
  {% endif %}
</div>
