{# DEFAULTS #}
{% set heading_level = heading_level|default(3) %}
{% set override = heading_override|default(false) %}
{# CLASSES #}
{% set classes= [
  'cloudy-location',
]%}
{# TWIG #}
<div class="{{ classes|join(' ')|trim }}">
  {% if placename %}
    {% include "@components/heading/heading.twig" with {
      level: heading_level,
      text: placename,
      style: override
    } only %}
  {% endif %}
  {% if address %}<div class="cloudy-location__address">{{ address }}</div>{% endif %}
  {% if address2 %}<div class="cloudy-location__address2">{{ address2 }}</div>{% endif %}
  {% if hours %}<div class="cloudy-location__hours">{{ hours }}</div>{% endif %}
  {% if links %}
    <div class="cloudy-location__links">
      {% for link in links %}
        <div class="cloudy-location__link">
          {% include "@components/link/link.twig" with {
            background: false,
            standalone: false,
            icon: {
              name: link.icon.name,
              fontAwesome: link.icon.fontAwesome,
            },
            text: link.text,
            url: link.url
          } only %}
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
