/**
 * @file
 * Subtheme specific CSS.
 */

 .site-name-slogan a {
    color:#ffffff;
 }
 
 ol.steps {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li.step {
  counter-increment: step-counter;
  margin-bottom: 3rem;
}

ol.steps li.step::before {
  content: counter(step-counter);
  margin-right: .5rem;
  font-size: 1.5rem;
  border: 1px #505050 solid;
  color: #505050;
  font-weight: bold;
  padding: .5rem 1rem;
  border-radius: 50%;
}

li.step h3.step-title {
  display: inline-block;
}

.field--name-field-step-instruction, .field--name-field-step-action-button {
  margin-left: 4rem;
}

.time-to-complete {
  margin-top: 1rem;
}

p.time-to-complete:before {
 font-family: FontAwesome;
 display: inline-block;
 padding-right: 0.5rem;
 vertical-align: middle;
 content: "\f017";
}

/* ------------ form buttons  ------------ */

.btn-secondary {
  background: #046A38;
  border: none;
}

.btn-secondary:hover {
  background: #034E29;
}

a[class*="btn--"]:before,
div[class*="btn--"]:before {
  font-family: FontAwesome;
  display: inline-block;
  padding-right: 0.5rem;
  vertical-align: middle;
}

.btn--call:before {
  content: "\f095";
}

.btn--directions:before {
  content: "\f041";
}

.btn--download:before {
  content: "\f019";
}

.btn--email:before {
  content: "\f0e0";
}

.btn--form:before {
  content: "\f022";
}

/* ------------  /end form buttons    ------------*/
td .form-check-input {
    margin-left: 0rem;
}

a.topic {
  color: #ffffff;
}