/**
 * @file
 * Subtheme specific CSS.
 */

 .site-name-slogan a {
    color:#ffffff;
 }
li.step::marker li.step::before {
    content: counter(step-counter);
    margin-right: 20px;
    font-size: 2rem;
    background-color: #808080;
    color: white;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 11px;
  }