<p>A Tile will expand to fill it's parent. If you would like a deck of Tiles you must wrap them inside a div with the .row class.</p>

{% include "@components/tile/tile.twig" with {
  image: 'https://placeimg.com/600/300/nature',
  overline: {
    text: "news"
  },
  heading: {
    url: 'https://www.google.com',
    text: 'This is a tile with an image',
    level: 3,
    style_override: 3
  }
} only %}
