<p>A Tile will expand to fill it's parent. If you would like a deck of Tiles you must wrap them inside a div with the .cloudy-tile-deck</p>

{% include "@components/tile/tile.twig" with {
  overline: "news",
  heading: "This is a Tile with an image",
  url: "#",
} only %}
