<p>This is a Tile Deck. To achieve this, wrap Tiles use .row</p>

<div class="row">
  {% include "@components/tile/tile.twig" with {
    image: 'https://placeimg.com/300/200/nature',
    overline: {
      text: "news"
    },
    heading: {
      url: 'https://www.google.com',
      text: 'This is a published Tile with image',
      level: 3,
      style_override: 3
    }
  } only %}

  {% include "@components/tile/tile.twig" with {
    is_draft: true,
    image: 'https://placeimg.com/300/200/nature',
    overline: {
      text: "news"
    },
    heading: {
      url: 'https://www.google.com',
      text: 'This is a draft Tile with image',
      level: 3,
      style_override: 3
    }
  } only %}

  {% include "@components/tile/tile.twig" with {
    overline: {
      text: "news"
    },
    heading: {
      url: 'https://www.google.com',
      text: 'This is a Tile with no image',
      level: 3,
      style_override: 3
    }
  } only %}

  {% include "@components/tile/tile.twig" with {
    is_draft: true,
    overline: {
      text: "news"
    },
    heading: {
      url: 'https://www.google.com',
      text: 'This is a draft Tile with no image',
      level: 3,
      style_override: 3
    }
  } only %}

  {% include "@components/tile/tile.twig" with {
    overline: {
      text: "news"
    },
    heading: {
      url: 'https://www.google.com',
      text: 'Short heading paired with long heading',
      level: 3,
      style_override: 3
    }
  } only %}

  {% include "@components/tile/tile.twig" with {
    image: 'https://placeimg.com/300/200/nature',
    overline: {
      text: "news"
    },
    heading: {
      url: 'https://www.google.com',
      text: 'Extra long heading, Ready for public review: A new land use plan for the future of the Willamette riverfront in the South Portland, Riverdale, and Central City areas',
      level: 3,
      style_override: 3
    }
  } only %}
</div>
