{# Show all possible variations from changing a SINGLE variable #}

<div>
  {% include "@components/tile/tile.twig" with {
    "text": "This is a Colored Background Tile",
    "img":
      {
      "src": "http://placekitten.com/g/300/300",
      "alt": "alt text",
      },
    "link": "/",
    "overline": "event",
  } only %}
</div>

<div>
  {% include "@components/tile/tile.twig" with {
    "text": "This is a Blank Background Tile",
    "img":
      {
      "src": "http://placekitten.com/g/300/300",
      "alt": "alt text",
      },
    "link": "/",
    "overline": "event",
    "isColor": false,
  } only %}
</div>
