<p>This is a Tile Deck. To achieve this, wrap Tiles use .cloudy-tile-deck</p>

<div class="cloudy-tile-deck">
  {% include "@components/tile/tile.twig" with {
    "img":
    {
      "src": "https://picsum.photos/300/200",
      "alt": "alt text",
    },
    "overline": "news",
    "text": "This is a published Tile with image",
    "link": "#",
    "is_draft": false,
  } only %}

  {% include "@components/tile/tile.twig" with {
    "img":
    {
      "src": "https://picsum.photos/300/200",
      "alt": "alt text",
    },
    "overline": "news",
    "text": "This is a draft Tile with image",
    "link": "#",
    "is_draft": true,
  } only %}

  {% include "@components/tile/tile.twig" with {
    "overline": "news",
    "text": "This is a published Tile no image",
    "link": "#",
    "is_draft": false,
  } only %}

  {% include "@components/tile/tile.twig" with {
    "overline": "news",
    "text": "This is a draft Tile no image",
    "link": "#",
    "is_draft": true,
  } only %}

  {% include "@components/tile/tile.twig" with {
    "overline": "news",
    "text": "Short heading paired with long heading",
    "link": "#",
    "is_draft": false,
  } only %}

  {% include "@components/tile/tile.twig" with {
    "img":
    {
      "src": "https://picsum.photos/300/200",
      "alt": "alt text",
    },
    "overline": "news",
    "text": "Extra long heading, Ready for public review: A new land use plan for the future of the Willamette riverfront in the South Portland, Riverdale, and Central City areas",
    "link": "#",
    "is_draft": false,
  } only %}
</div>
