{# Show all possible variations from changing a SINGLE variable #}

<div class="cloudy-tile-deck">
  {% include "@components/tile/tile.twig" with {
    "img":
      {
      "src": "https://picsum.photos/300/200",
      "alt": "alt text",
      },
    "eyebrow": "eyebrow",
    "text": "This is a published Tile with an image",
    "link": "/",
    "is_draft": false,
  } only %}

  {% include "@components/tile/tile.twig" with {
    "img":
      {
      "src": "https://picsum.photos/300/200",
      "alt": "alt text",
      },
    "eyebrow": "eyebrow",
    "text": "This is a draft Tile with an image",
    "link": "/",
    "is_draft": true,
  } only %}

  {% include "@components/tile/tile.twig" with {
    "img":
      {
      "src": "https://picsum.photos/300/200",
      "alt": "alt text",
      },
    "eyebrow": "eyebrow",
    "text": "This is a published Tile with an image and posted on date",
    "link": "/",
    "date": "June 04, 2020",
    "is_draft": false,
  } only %}

  {% include "@components/tile/tile.twig" with {
    "img":
      {
      "src": "https://picsum.photos/300/200",
      "alt": "alt text",
      },
    "eyebrow": "eyebrow",
    "text": "This is a draft Tile with an image and posted on date",
    "link": "/",
    "date": "June 04, 2020",
    "is_draft": true,
  } only %}

  {% include "@components/tile/tile.twig" with {
    "eyebrow": "eyebrow",
    "text": "This is a published Tile without an image and a posted on date",
    "date": "June 04, 2020",
    "link": "/",
    "is_draft": false,
  } only %}

  {% include "@components/tile/tile.twig" with {
    "eyebrow": "eyebrow",
    "text": "This is a draft Tile without an image and a posted on date",
    "link": "/",
    "date": "June 04, 2020",
    "is_draft": true,
  } only %}
</div>
