{# Show all possible variations from changing a SINGLE variable #}

<div class="pl-card-deck">
  {% include "@components/tile/tile.twig" with {
    "text": "This is a Colored Background Tile",
    "img":
      {
      "src": "http://placekitten.com/g/300/200",
      "alt": "alt text",
      },
    "link": "/",
    "overline": "event",
    "isColor": true,
  } only %}

  {% include "@components/tile/tile.twig" with {
    "text": "This is a Blank Background Tile",
    "date": "October 27, 2020",
    "link": "/",
  } only %}

  {% include "@components/tile/tile.twig" with {
    "text": "Here Are Some Cute Kittens",
    "img":
      {
      "src": "http://placekitten.com/g/300/200",
      "alt": "alt text",
      },
    "link": "/",
    "overline": "event",
    "isColor": true,
    "is_draft": true,
  } only %}

  {% include "@components/tile/tile.twig" with {
    "text": "There Are No Kittens Here...",
    "link": "/",
    "date": "June 04, 2020",
    "is_draft": true,
  } only %}
</div>
