header {
  @include padding(0 1.5rem 2.75rem);

  max-width: 1000px;
  margin: auto;

  nav {
    @include padding(1.5rem 0 0);

    .w-logo {
      width: 60px;
    }

    .ww {
      margin: 0;
      padding: 0;

      &_logo {
        width: 60px;
        height: 18px;
      }
    }
  }
}

@mixin nav--md {
  header {
    @include padding(0 1.5rem 2rem);

    nav {
      display: flex;
      align-items: flex-end;

      .w-logo {
        width: 40px;
      }

      .ww {
        &_logo {
          width: 127px;
          height: 17px;
          @include margin(0 0 0 0.3rem);
        }
      }
    }
  }
}