.cloudy-contact-item {
  & ~ .cloudy-contact-item {
    margin: $cloudy-space-8 0;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
  &__resource-wrapper {
    margin-bottom: $cloudy-space-2;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
