{# CLASSES #}
{% set classes = [
  'cloudy-contact-item',
] %}
{# TWIG #}
<div class="{{ classes|join(' ')|trim }}">
  {% if name %}
    {% include "@components/heading/heading.twig" with {
      text: name,
      level: 3,
      style: 5,
    } %}
  {% endif %}
  {% if title %}
    <p class="cloudy-helper-text">{{ title }}</p>
  {% endif %}
  <div class="cloudy-contact__resource">
    {% if email %}
      <div class="cloudy-contact-item__resource-wrapper">
        {% include "@components/link/link.twig" with {
          background: false,
          standalone: false,
          icon: {
            name: 'email',
          },
          text: email,
          url: 'mailto:' ~ email
        } only %}
      </div>
    {% endif %}
    {% if phone %}
      <div class="cloudy-contact-item__resource-wrapper">
        {% include "@components/link/link.twig" with {
          background: false,
          standalone: false,
          icon: {
            name: 'phone',
          },
          text: phone|replace({'+1-': '', '+1': '', }),
          url: 'tel:' ~ phone
        } only %}
        {% if phone_help %}
          <p class="cloudy-contact-item__resource-help">{{ phone_help }}</p>
        {% endif %}
      </div>
    {% endif %}
    {% if tty %}
      <div class="cloudy-contact-item__resource-wrapper">
        {% include "@components/link/link.twig" with {
          background: false,
          standalone: false,
          icon: {
            name: 'tty',
          },
          text: tty|replace({'+1-': '', '+1': '', }),
          url: 'tel:' ~ tty
        } only %}
        <span> TTY</span>
      </div>
    {% endif %}
    {% if oregon_relay %}
      <div class="cloudy-contact-item__resource-wrapper">
        {% include "@components/link/link.twig" with {
          background: false,
          standalone: false,
          icon: {
            name: 'oregon-relay',
          },
          text: '711',
          url: 'tel:711'
        } only %}
        <span> Oregon Relay Service</span>
      </div>
    {% endif %}
    {% if fax %}
      <div class="cloudy-contact-item__resource-wrapper">
        {% spaceless %}
          {% include '@elements/icon/icon.twig' with {
            name: 'fax',
            size: 'xs'
          } only %}
          <span>{{ fax }}</span>
        {% endspaceless %}
      </div>
    {% endif %}
    {% if social.facebook %}
      <div class="cloudy-contact-item__resource-wrapper">
        {% spaceless %}
          {% include "@components/link/link.twig" with {
            background: false,
            standalone: false,
            icon: {
              name: 'facebook',
            },
            text: social.facebook,
            url: "http://facebook.com/#{social.facebook}"
          } only %}
        {% endspaceless %}
      </div>
    {% endif %}
    {% if social.twitter %}
      <div class="cloudy-contact-item__resource-wrapper">
        {% spaceless %}
          {% include "@components/link/link.twig" with {
            background: false,
            standalone: false,
            icon: {
              name: 'twitter',
            },
            text: social.twitter,
            url: "http://twitter.com/#{social.twitter}"
          } only %}
        {% endspaceless %}
      </div>
    {% endif %}
    {% if social.instagram %}
      <div class="cloudy-contact-item__resource-wrapper">
        {% spaceless %}
          {% include "@components/link/link.twig" with {
            background: false,
            standalone: false,
            icon: {
              name: 'instagram',
            },
            text: social.instagram,
            url: "http://instagram.com/#{social.instagram}"
          } only %}
        {% endspaceless %}
      </div>
    {% endif %}
    {% if social.youtube %}
      <div class="cloudy-contact-item__resource-wrapper">
        {% spaceless %}
          {% include "@components/link/link.twig" with {
            background: false,
            standalone: false,
            icon: {
              name: 'youtube',
              fontAwesome: true,
              brand: true,
            },
            text: social.youtube,
            url: "https://www.youtube.com/user/#{social.youtube}"
          } only %}
        {% endspaceless %}
      </div>
    {% endif %}
    {% if social.linkedin %}
      <div class="cloudy-contact-item__resource-wrapper">
        {% spaceless %}
          {% include "@components/link/link.twig" with {
            background: false,
            standalone: false,
            icon: {
              name: 'linkedin',
              fontAwesome: true,
              brand: true,
            },
            text: social.linkedin,
            url: "https://www.linkedin.com/in/#{social.linkedin}"
          } only %}
        {% endspaceless %}
      </div>
    {% endif %}
    {% if social.nextdoor and social.nextdoor.uri and social.nextdoor.title %}
      <div class="cloudy-contact-item__resource-wrapper">
        {% spaceless %}
          {% include "@components/link/link.twig" with {
            background: false,
            standalone: false,
            icon: {
              name: 'nextdoor',
            },
            text: social.nextdoor.title,
            url: social.nextdoor.uri
          } only %}
        {% endspaceless %}
      </div>
    {% endif %}
  </div>
</div>
