.cloudy-contact-item {
  .cloudy-h5 {
    margin-bottom: 0;
    font-weight: 600; // TODO: Remove once font-weights are moved in
  }

  p {
    color: $cloudy-color-neutral-800;
    margin: 0;
  }

  &__resource-wrapper {
    margin-top: $cloudy-space-2;
  }
}
