{# CLASSES #}
{% set classes = [
  'cloudy-contact-item',
] %}
{# TWIG #}
<div class="{{ classes|join(' ')|trim }}">
  {% if name %}
    {% include "@components/heading/heading.twig" with {
      text: name,
      level: 5,
    } %}
  {% endif %}
  {% if title %}
    <p class="cloudy-helper-text">{{ title }}</p>
  {% endif %}
  <div class="cloudy-contact__resource">
    {% if email %}
      <div class="cloudy-contact-item__resource-wrapper">
        {% include "@components/link/link.twig" with {
          background: false,
          standalone: false,
          icon: {
            name: 'email',
          },
          text: email,
          url: 'mailto:' ~ email
        } only %}
      </div>
    {% endif %}
    {% if phone %}
      <div class="cloudy-contact-item__resource-wrapper">
        {% include "@components/link/link.twig" with {
          background: false,
          standalone: false,
          icon: {
            name: 'phone',
          },
          text: phone|replace({'+1-': '', '+1': '', }),
          url: 'tel:' ~ phone
        } only %}
        {% if phone_help %}
          <p class="cloudy-contact-item__resource-help">{{ phone_help }}</p>
        {% endif %}
      </div>
    {% endif %}
    {% if tty %}
      <div class="cloudy-contact-item__resource-wrapper">
        {% include "@components/link/link.twig" with {
          background: false,
          standalone: false,
          icon: {
            name: 'tty',
          },
          text: tty|replace({'+1-': '', '+1': '', }),
          url: 'tel:' ~ tty
        } only %}
        <span> TTY</span>
      </div>
    {% endif %}
    {% if oregon_relay %}
      <div class="cloudy-contact-item__resource-wrapper">
        {% include "@components/link/link.twig" with {
          background: false,
          standalone: false,
          icon: {
            name: 'oregon-relay',
          },
          text: '711',
          url: 'tel:711'
        } only %}
        <span> Oregon Relay Service</span>
      </div>
    {% endif %}
    {% if fax %}
      <div class="cloudy-contact-item__resource-wrapper">
        {% spaceless %}
          {% include '@elements/icon/icon.twig' with {
            name: 'fax',
            size: 'xs'
          } only %}
          <span>{{ fax }}</span>
        {% endspaceless %}
      </div>
    {% endif %}
  </div>
</div>
