{# CLASSES #}
{% set classes = [
  'cloudy-contact',
] %}
{# TWIG #}
<div class="{{ classes|join(' ')|trim }}">
  {% if name %}
    {% include "@components/heading/heading.twig" with {
      text: name,
      level: 5,
    } %}
  {% endif %}
  {% if title %}
    <p class="cloudy-helper-text">{{ title }}</p>
  {% endif %}
  <div class="cloudy-contact__resource">
    {% if email %}
      <div class="cloudy-contact-item__resource-wrapper">
        {% include "@components/link/link.twig" with {
          background: false,
          standalone: false,
          icon: {
            name: 'email',
          },
          text: email,
          url: 'mailto:' ~ email
        } only %}
      </div>
    {% endif %}
    {% if phone %}
      <div class="cloudy-contact-item__resource-wrapper">
        {% include "@components/link/link.twig" with {
          background: false,
          standalone: false,
          icon: {
            name: 'phone',
          },
          text: phone,
          url: 'tel:' ~ phone
        } only %}
      </div>
    {% endif %}
    {% if fax %}
      <div class="cloudy-contact-item__resource-wrapper">
        {% spaceless %}
          {% include '@elements/icon/icon.twig' with {
            name: 'fax',
            size: 'xs'
          } only %}
          <span>{{ fax }}</span>
        {% endspaceless %}
      </div>
    {% endif %}
  </div>
</div>
