<div class="pl-demo-item">
  <h6>Link w/ Icon (SVG)</h6>
  {% include "@components/link/link.twig" with {
    background: false,
    standalone: false,
    icon: {
      name: 'email',
      fontAwesome: false
    },
    text: 'Email your representative',
    url: '#emails'
  } only %}
</div>
<div class="pl-demo-item">
  <h6>Link w/ Icon (SVG, long)</h6>
  {% include "@components/link/link.twig" with {
    background: false,
    standalone: false,
    icon: {
      name: 'email',
      fontAwesome: false
    },
    text: 'Fringilla integer volutpat curabitur donec metus blandit dictum est aptent purus nostra tortor ligula lacinia',
    url: '#emails'
  } only %}
</div>
<div class="pl-demo-item">
  <h6>Link w/ Icon (Font Awesome)</h6>
  {% include "@components/link/link.twig" with {
    background: false,
    standalone: false,
    icon: {
      name: 'map-marker-alt',
      fontAwesome: true
    },
    text: 'Get directions',
    url: '#emails'
  } only %}
</div>
<div class="pl-demo-item">
  <h6>Link w/ Icon (Font Awesome, long)</h6>
  {% include "@components/link/link.twig" with {
    background: false,
    standalone: false,
    icon: {
      name: 'map-marker-alt',
      fontAwesome: true
    },
    text: 'Fringilla integer volutpat curabitur donec metus blandit dictum est aptent purus nostra tortor ligula lacinia  ',
    url: '#emails'
  } only %}
</div>
<div class="pl-demo-item">
  <h6>Standalone Link (short)</h6>
  {% include "@components/link/link.twig" with {
    standalone: true,
    text: 'Lorem ipsum',
    url: 'https://portland.gov'
  } only %}
</div>
<div class="pl-demo-item">
  <h6>Standalone Link (long)</h6>
  {% include "@components/link/link.twig" with {
    standalone: true,
    text: 'Aenean lacinia vestibulum justo senectus sit dictum, habitant dolor interdum cum tempus, velit ridiculus mauris venenatis gravida.',
    url: 'https://portland.gov'
  } only %}
</div>
<div class="pl-demo-item">
  <h6>Button style (when background is true)</h6>
  {% include "@components/link/link.twig" with {
    background: true,
    text: 'Lorem ipsum',
    url: 'https://portland.gov'
  } only %}
</div>
<div class="pl-demo-item">
  <h6>Button style (long)</h6>
  {% include "@components/link/link.twig" with {
    background: true,
    text: 'Aenean lacinia vestibulum justo senectus sit dictum, habitant dolor interdum cum tempus, velit ridiculus mauris venenatis gravida',
    url: 'https://portland.gov'
  } only %}
</div>
