<div class="pl-demo-item">
  <h6>Link w/ Icon (SVG)</h6>
  {% include "@components/link/link.twig" with {
    background: false,
    standalone: false,
    icon: {
      name: 'email',
      fontAwesome: false
    },
    text: 'Email your representative',
    url: '#emails'
  } only %}
</div>
<div class="pl-demo-item">
  <h6>Link w/ Icon (Font Awesome)</h6>
  {% include "@components/link/link.twig" with {
    background: false,
    standalone: false,
    icon: {
      name: 'map-marker-alt',
      fontAwesome: true
    },
    text: 'Get directions',
    url: '#emails'
  } only %}
</div>
<div class="pl-demo-item">
  <h6>Standalone Link</h6>
  {% include "@components/link/link.twig" with {
    standalone: true,
    text: 'Lorem ipsum',
    url: 'https://portland.gov'
  } only %}
</div>
<div class="pl-demo-item">
  <h6>Button style (when background is true)</h6>
  {% include "@components/link/link.twig" with {
    background: true,
    text: 'Lorem ipsum',
    url: 'https://portland.gov'
  } only %}
</div>
