{# Make this look like the perfect, ideal example of the component #}

{% set content %}
  <ul>
    <li>This is a menu list item 1</li>
    <li>This is a menu list item 2</li>
    <li>This is a menu list item 3</li>
    <li>This is a menu list item 4</li>
    <li>This is a menu list item 5</li>
    <li>This is a menu list item 6</li>
    <li>This is a menu list item 7</li>
    <li>This is a menu list item 8</li>
    <li>This is a menu list item 9</li>
  </ul>
{% endset %}

<div style="height: 50px; background-color: lightgray; border: solid 1px grey; margin-bottom: 10px">
  This is a fake header
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-9" style="height: 1000px; background-color: lightgray; border: solid 1px grey">
      This is a fake content holder
    </div>
    {% include "@layouts/drawer/drawer.twig" with {
      content: content,
      position: 'left',
    } only %}
  </div>
</div>
