{% set title %}
    <a href="#">A news node</a>
{% endset %}
{% set content %}
    {% include "@elements/02-text/lead-paragraph.twig" %}
{% endset %}
{% set image %}
    {% include "@elements/04-images/03-square.twig" %}
{% endset %}
<ul>
{% for i in 0..10 %}
    <li>
        {% include "@components/01-node/01-node-search-result.twig" with {
            "title": title,
            "content": content,
            "image": image
        } %}
    </li>
{% endfor %}
</ul>