{% set stack = stack|default(false) %}
{% set layout_spacing = layout_spacing|default %}
{% set item_spacing = item_spacing|default %}
{% set layout_classes =
  layout_classes|default(
    [
      'd-flex',
      stack ? 'flex-column' : 'flex-row',
      layout_spacing ? 'mb-' ~ layout_spacing
    ]
  )
%}
{% set item_classes =
  item_classes|default([stack ? 'mt-' ~ item_spacing : 'ml-' ~ item_spacing])
%}

{% spaceless %}
  <div class="{{ layout_classes|join(' ')|trim }}">
    {% for item in items if item|render|striptags|trim is not empty %}
      {% if loop.first %}
        <div>
          {{ item }}
        </div>
      {% else %}
        <div class="{{ item_classes|join(' ') }}">
          {{ item }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endspaceless %}
