.icon {
  display: inline-block;
  margin-right: 0.5rem;
  color: $cloudy-color-bg-blue-800;

  &--size-s > svg {
    height: 1.25rem;
    width: 1.25rem;
    margin-top: -0.15rem;
  }
  &--size-m > svg {
    height: 1.5rem;
    width: 1.5rem;
    margin-top: -0.2rem;
  }
  &--size-l > svg {
    height: 1.75rem;
    width: 1.75rem;
    margin-top: -0.25rem;
  }
}
