{% set size = size|default('s') %}
{% set classes = classes|default([
  'icon',
  'icon--size-' ~ size,
]) %}

{% spaceless %}
  <span class="{{ classes|join(' ') }}">
    {{ source('@elements/icon/svgs/' ~ name ~ '.svg') }}
  </span>
{% endspaceless %}
