# CircleCI integration with Drupal 8.

## Defines images and working directory.
pre_deploy: &pre_deploy
  docker:
    # - image: juampynr/drupal8ci:latest
    # updated CI image
    - image: kxwang/drupal-ci:circleci
  working_directory: /var/www/html

pre_test: &pre_test
  docker:
    # - image: juampynr/drupal8ci:latest
    # updated CI image
    - image: kxwang/drupal-ci:circleci
    - image: selenium/standalone-chrome-debug:3.7.1-beryllium
  parallelism: 5
  working_directory: /var/www/html

## Defines the cache restoring mechanism.
restore_cache: &restore_cache
  # We use the composer.lock as a way to determine if we can cache our build.
  keys:
  - v1-dependencies-{{ checksum "composer.lock" }}
  # fallback to using the latest cache if no exact match is found
  - v1-dependencies-

## Defines the cache saving mechanism.
save_cache: &save_cache
  paths:
    - ./vendor
    - ./web/core
    - ./web/modules/contrib
    - ./web/profiles/contrib
    - ./web/themes/contrib
    - ./web/libraries
  key: v1-dependencies-{{ checksum "composer.lock" }}

#Jobs

## Job to run the update path and Behat tests.
build_and_deploy: &build_and_deploy
  <<: *pre_deploy
  steps:
    - restore_cache:
        name: Retore Git cache before checkout
        keys:
          - source
    - checkout
    - save_cache:
        name: Save Git cache after checkout
        key: source
        paths:
          - ".git"
    - restore_cache:
        name: Restore Terminus cache
        keys:
          - terminus_-{{ checksum "composer.lock" }}
    - run:
        name: Install Terminus
        command: |
          if [ ! -f "/tmp/vendor/pantheon-systems/terminus/bin/terminus" ]; then
          cd /tmp && composer require pantheon-systems/terminus:^2.0.0
          fi
    - save_cache:
        name: Save Terminus cache
        key: terminus_-{{ checksum "composer.lock" }}
        paths:
          - "/tmp/vendor"
    - restore_cache:
        name: Restore theme build asset cache
        keys:
          - cloudy_-{{ checksum "web/themes/custom/cloudy/package.json" }}
    - run:
        name: Install theme build tools
        command: |
          cd web/themes/custom/cloudy && npm install
    - save_cache:
        name: Save theme build asset cache
        key: cloudy_-{{ checksum "web/themes/custom/cloudy/package.json" }}
        paths:
          - "web/themes/custom/cloudy/node_modules"
    - restore_cache: *restore_cache
    - run:
        name: Composer install
        command: |
          # hotfix - getting error on module but can't update due to lightning dependency, try removing and getting fresh
          rm -rf ./web/modules/contrib/search_api_solr
          # Pantheon don't allow these folders but Composer needs them
          rm -rf ./web/modules/contrib/facets
          # Run composer install with hirak/prestissimo for better performance
          composer config --global --auth github-oauth.github.com "$COMPOSER_TOKEN"
          composer install --no-suggest --no-interaction
          # TODO: should only deploy non-dev packages
          # --no-dev
    - run:
        name: Deploy to Pantheon
        when: on_success
        command: |
          export PATH=/tmp/vendor/bin:/var/www/html/vendor/bin:$PATH && cd /var/www/html
          # Don't check the repo host key
          export GIT_SSH_COMMAND="ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no"
          # Don't check for host key for Pantheon sites
          echo -e "host *.drush.in\n    StrictHostKeyChecking no" >> ~/.ssh/config
          # Terminus log in with the user email that will be displayed as the commit user in Pantheon Git repo
          terminus auth:login --machine-token="$eGov_Terminus" --email="$eGov_Email"
          # Git operations
          git remote add pantheon ssh://codeserver.dev.5c6715db-abac-4633-ada8-1c9efe354629@codeserver.dev.5c6715db-abac-4633-ada8-1c9efe354629.drush.in:2222/~/repository.git
          git config --global user.email "$eGov_Email"
          # Compile SCSS in our custom theme
          cd web/themes/custom/cloudy && npm run build && cd /var/www/html
          # Exclude dependencies
          rm -rf web/themes/custom/cloudy/node_modules
          # Force add all files to include those excluded by .gitignore
          rm -rf ./web/modules/contrib/search_api_solr/.git && rm -rf ./vendor/drupal/coder/.git && rm -rf ./web/modules/contrib/facets/.git
          git add -f /var/www/html
          # Pantheon site will use the wrong DB if the local is kept
          git rm --cache  web/sites/default/settings.local.php --ignore-unmatch
          git rm -r --cache web/sites/default/files --ignore-unmatch
          
          # Set the git commit user name and email address so it's clear in Pantheon log who made the change
          if [[ $CIRCLE_USERNAME = "" ]]; then
            git config --global user.name Dependabot
          else
            git config --global user.name $CIRCLE_USERNAME
          fi
          git config --global user.email $eGov_Email

          git commit -m "CircleCI deployment" --quiet

          # When commit on master, we deploy to DEV
          if [[ $CIRCLE_BRANCH = "master" ]]; then
            echo "Deploy to Pantheon DEV site"
            # Set the connection type to GIT
            terminus connection:set portlandor.dev git
            git push -f pantheon master
            # TODO: Sanitize DB here
            # terminus env:clone-content portlandor.test dev
            # After success deployment to DEV, remove the multidev site if this is a merge of a PR.
            # Read the last Git log in the master branch. Get the branch name at the end of the log.
            # Example: Merge pull request #35 from eGovPDX/powr-152
            cd /var/www/html
            # Must read the last commit message from Github. The last one in local repo is "CircleCI Deployment"
            if [[ $(git log origin/master --pretty=format:%s -1) =~ (^Merge pull request #[0-9]* from eGovPDX\/)([^,]*) ]]; then
              echo "Found a Pull Request Merge for branch: '${BASH_REMATCH[2]}'";
              # Check if a multidev environment with the branch name exists or not
              terminus multidev:list --format=list --field=Name portlandor > ./env_list.txt
              if grep -Fxq "${BASH_REMATCH[2]}" ./env_list.txt; then
                # Delete both the multidev site and branch
                terminus multidev:delete --delete-branch portlandor.${BASH_REMATCH[2]} -y
              fi
            fi
          else  # All other commits deploy to a multidev
            # Set Pantheon environment name
            if [[ $CIRCLE_BRANCH =~ ^dependabot\/ ]] && [[ $CIRCLE_PULL_REQUEST =~ \/pull\/([0-9]+)$ ]]; then
              echo "export PANTHEON_ENV=bot-${BASH_REMATCH[1]}" >> $BASH_ENV && source $BASH_ENV
            else
              echo "export PANTHEON_ENV=$CIRCLE_BRANCH" >> $BASH_ENV && source $BASH_ENV
            fi
            echo "Pantheon environment name is $PANTHEON_ENV"

            # Check if the multidev branch site exists. If not, create it
            terminus multidev:list --format=list --field=Name portlandor > ./env_list.txt
            if grep -Fxq "$PANTHEON_ENV" ./env_list.txt; then
              echo "Found multidev site"
            else
              # Create a new Multi-Dev with files and database from Dev.
              echo "Creating new multidev site. Please wait." && terminus multidev:create portlandor.dev $PANTHEON_ENV
            fi
            rm -rf ./env_list.txt
            # Set the connection type to GIT
            terminus connection:set portlandor.$PANTHEON_ENV git
            # Force push $CIRCLE_BRANCH to Pantheon as branch named $PANTHEON_ENV
            git push -f pantheon $CIRCLE_BRANCH:$PANTHEON_ENV
            
            if [[ $CIRCLE_BRANCH =~ ^dependabot\/ ]]; then
              echo "Dependabot branch detected..."
              
              # Set the connection type to SFTP
              terminus connection:set portlandor.$PANTHEON_ENV sftp

              # Clone database from DEV
              # This is necessary if the build gets re-run because the drush cim in the sync_code event can
              # interfere with the drush cex below
              terminus env:clone-content portlandor.dev $PANTHEON_ENV --db-only --cc -y
              terminus drush portlandor.$PANTHEON_ENV -- cim -y

              # Abort if there's any database updates that cause a configuration change
              echo "Run database update... and abort if there's a configuration change"
              echo "IMPORTANT: If there's a configuation change, download this branch and manually update the dependency"
              terminus drush portlandor.$PANTHEON_ENV -- updb -y
              terminus drush portlandor.$PANTHEON_ENV -- cex --no   # this will return failure code if there's config to export

              # Trigger "Test" job for Dependabot dependency updates because it's not run via circleci_webhook.php for these branches
              echo "Triggering test job for Dependabot PR"
              #sleep 180 # allow time for sync_code event -- no longer necessary due to time required for database cloning
              curl --user ${CIRCLE_API_USER_TOKEN}: \
                --data build_parameters[CIRCLE_JOB]=test \
                --data revision=$CIRCLE_SHA1 \
                https://circleci.com/api/v1.1/project/github/$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME/tree/$CIRCLE_BRANCH
            fi
          fi

run_tests: &run_tests
  <<: *pre_test
  steps:
    - restore_cache:
        name: Retore Git cache before checkout
        keys:
          - source
    - checkout
    - save_cache:
        name: Save Git cache after checkout
        key: source
        paths:
          - ".git"
    - restore_cache:
        name: Restore Terminus cache
        keys:
          - terminus_-{{ checksum "composer.lock" }}
    - run:
        name: Install Terminus
        command: |
          if [ ! -f "/tmp/vendor/pantheon-systems/terminus/bin/terminus" ]; then
          cd /tmp && composer require pantheon-systems/terminus:^2.0.0
          fi
    - save_cache:
        name: Save Terminus cache
        key: terminus_-{{ checksum "composer.lock" }}
        paths:
          - "/tmp/vendor"
    - run:
        name: Show Drush commands result
        command: |
          export PATH=/var/www/html/tests/vendor/bin:/tmp/vendor/pantheon-systems/terminus/bin:$PATH
          terminus auth:login --machine-token="$eGov_Terminus" --email="$eGov_Email" && terminus aliases

          # Set Pantheon environment name
          if [[ $CIRCLE_BRANCH =~ ^dependabot\/ ]] && [[ $CIRCLE_PULL_REQUEST =~ \/pull\/([0-9]+)$ ]]; then
            echo "export PANTHEON_ENV=bot-${BASH_REMATCH[1]}" >> $BASH_ENV && source $BASH_ENV
          else
            echo "export PANTHEON_ENV=$CIRCLE_BRANCH" >> $BASH_ENV && source $BASH_ENV
          fi
          echo "Pantheon environment name is $PANTHEON_ENV"

          # Get all workflows
          terminus workflow:list --format=csv --fields=id,env,workflow,user,status portlandor > workflows.csv
          # Find the latest "Sync Code" workflow for the current branch
          WORKFLOW_ID="empty id"
          while IFS=',' read id env message user status
          do
            if [ "$PANTHEON_ENV" = "master" ]; then
              if [ "$env" = "dev" ] && [[ $message =~ ^\"Sync.*\"$ ]]; then
                  WORKFLOW_ID=$id
                  break
              fi
            else
              if [ "$env" = "$PANTHEON_ENV" ] && [[ $message =~ ^\"Sync.*\"$ ]]; then
                  WORKFLOW_ID=$id
                  break
              fi
            fi
          done < workflows.csv

          echo $WORKFLOW_ID
          if [[ $WORKFLOW_ID = "empty id" ]]; then
            echo "Cannot find any Sync Code workflow for environment $PANTHEON_ENV. Try terminus workflow:list portlandor."
            exit 1
          fi
          # Show the logs of the latest "Sync Code" workflow for the current branch
          terminus workflow:info:logs portlandor --id=${WORKFLOW_ID}
    - restore_cache:
        name: Restore Behat cache
        key: v1-behat-dependencies-{{ checksum "tests/composer.lock" }}
    - run:
        name: Composer install for Behat dependencies
        command: |
          cd tests
          composer config --global --auth github-oauth.github.com "$COMPOSER_TOKEN"
          composer install --no-suggest --no-interaction
    - run:
        name: Run tests against Pantheon
        when: on_success
        command: |
          export PATH=/var/www/html/tests/vendor/bin:/tmp/vendor/pantheon-systems/terminus/bin:$PATH
          # Log in via terminus first. Required for tests that require user login.
          terminus auth:login --machine-token="$eGov_Terminus" --email="$eGov_Email" && terminus aliases
          cd tests
          # Split feature files by timing data so all split test jobs will finish around the same time
          TESTFILES=$(circleci tests glob "features/*.feature"  | circleci tests split --split-by=timings)
          if [[ $PANTHEON_ENV = "master" ]]; then
            echo 'export BEHAT_PARAMS="{\"extensions\" : {\"Behat\\\MinkExtension\" : {\"base_url\" : \"https://dev-portlandor.pantheonsite.io\"}, \"Drupal\\\DrupalExtension\" : {\"drush\" : { \"alias\": \"portlandor.dev\"}}}}"' >> $BASH_ENV && source $BASH_ENV
            for TESTFILE in $TESTFILES
            do
                behat -c behat.yml ${TESTFILE}
            done
          else
            echo 'export BEHAT_PARAMS="{\"extensions\" : {\"Behat\\\MinkExtension\" : {\"base_url\" : \"https://${PANTHEON_ENV}-portlandor.pantheonsite.io\"}, \"Drupal\\\DrupalExtension\" : {\"drush\" : { \"alias\": \"portlandor.${PANTHEON_ENV}\"}}}}"' >> $BASH_ENV && source $BASH_ENV
            for TESTFILE in $TESTFILES
            do
                behat -c behat.yml ${TESTFILE}
            done
          fi
    - save_cache:
        paths:
          - ./tests/vendor
        key: v1-behat-dependencies-{{ checksum "tests/composer.lock" }}
    - store_test_results:
        path: /var/www/html/artifacts/behat
    - store_artifacts:
        path: /var/www/html/artifacts

# Declare all of the jobs we should run.
version: 2
jobs:
  deploy:
     <<: *build_and_deploy
  test:
     <<: *run_tests

# Declare a workflow that runs all of our jobs in parallel.
workflows:
  version: 2
  deploy_workflow:
    jobs:
      # Test will be started by QuickSilver after the sync_code event
      - deploy
