# CircleCI integration with Drupal 8.

## Defines images and working directory.
defaults: &defaults
  docker:
    - image: juampynr/drupal8ci:latest
    - image: selenium/standalone-chrome-debug:3.7.1-beryllium
  working_directory: /var/www/html

## Defines the cache restoring mechanism.
restore_cache: &restore_cache
  # We use the composer.lock as a way to determine if we can cache our build.
  keys:
  - v1-dependencies-{{ checksum "composer.lock" }}
  # fallback to using the latest cache if no exact match is found
  - v1-dependencies-

## Defines the cache saving mechanism.
save_cache: &save_cache
  paths:
    - ./vendor
  key: v1-dependencies-{{ checksum "composer.lock" }}

#Jobs

## Job to run the update path and Behat tests.
behat_tests: &behat_tests
  <<: *defaults
  steps:
    - checkout
    - restore_cache: *restore_cache
    - run:
        name: Composer install
        command: |
          # Remove any remaining dependencies. Install all packages form package.json 
          composer config --global --auth github-oauth.github.com "$COMPOSER_TOKEN"
          rm -rf vendor web/core web/vendor web/modules/contrib web/themes/contrib && composer install --no-interaction
    - run:
        name: Deploy to Pantheon
        when: on_success
        command: |
          export PATH=/tmp/vendor/bin:/var/www/html/vendor/bin:$PATH
          cd /tmp && curl -O https://raw.githubusercontent.com/pantheon-systems/terminus-installer/master/builds/installer.phar && php installer.phar install
          cd /var/www/html
          # Don't check the repo host key
          export GIT_SSH_COMMAND="ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no"
          # Don't check for host key for Pantheon sites
          echo -e "host *.drush.in\n    StrictHostKeyChecking no" >> ~/.ssh/config
          # Make sure to log in
          # Set the user email that will commit code into Pantheon repo 
          terminus auth:login --machine-token="$eGov_Terminus" --email="$eGov_Email"
          # When commit on master, we deploy to DEV
          if [[ $CIRCLE_BRANCH = "master" ]]; then
            echo "Deploy to Pantheon DEV site"
            # Set the connection type to GIT
            terminus connection:set portlandor.dev git
            git remote add pantheon ssh://codeserver.dev.5c6715db-abac-4633-ada8-1c9efe354629@codeserver.dev.5c6715db-abac-4633-ada8-1c9efe354629.drush.in:2222/~/repository.git
            git config --global user.email "$eGov_Email"
            # Without these lines, push will fail with "please remote git submodules" error
            rm -rf ./vendor/drupal/coder/.git && rm -rf ./web/modules/contrib/facets/.git && rm -rf ./web/modules/contrib/search_api_solr/.git
            git add -f /var/www/html
            # Pantheon site will use the wrong DB if the local is kept
            git rm --cache  web/sites/default/settings.local.php --ignore-unmatch
            git rm -r --cache web/sites/default/files --ignore-unmatch
            git commit -m "CircleCI deployment" --quiet
            # git filter-branch -f --index-filter 'git rm -rf --cached --ignore-unmatch sites/default/files' --prune-empty -- afc758c6..HEAD
            git push -f pantheon master
            # Deploy code from local env to the new multidev site
            # terminus env:deploy portlandor.$CIRCLE_BRANCH --sync-content --note="Manual deploy to powr-118"
            # Cloning files and DB from dev environment to powr-118 environment
            # terminus env:clone-content portlandor.dev "$CIRCLE_BRANCH" -y
            # Wake up the multidev site
            terminus env:wake portlandor.dev
            # Check site status
            # terminus drush portlandor.dev -- status
            sleep 30s
            # TODO: pull DB from Live
            # Sanitize DB
            # terminus drush portlandor.dev -- sql-sanitize -y
            # Clear cache
            terminus remote:drush portlandor.dev -- cr && terminus remote:drush portlandor.dev -- cim -y   
            # After success deployment to DEV, remove the multidev site if this is a merge of a PR
            # Read the last Git log in the master branch. Get the branch name at the end of the log.
            # Example: Merge pull request #35 from eGovPDX/powr-152
            cd /var/www/html
            # Must the last commit message from Github. The last one in local repo is "CircleCI Deployment" 
            if [[ $(git log origin/master --pretty=format:%s -1) =~ (^Merge pull request #[0-9]* from eGovPDX\/)([^,]*) ]]; then 
              echo "Found a Pull Request Merge for branch: '${BASH_REMATCH[2]}'";
              # Check if a multidev environment with the branch name exists or not
              terminus multidev:list --format=list --field=Name portlandor > ./env_list.txt
              if grep -Fxq "${BASH_REMATCH[2]}" ./env_list.txt; then
                # Delete both the multidev site and branch
                terminus multidev:delete --delete-branch portlandor.${BASH_REMATCH[2]} -y
              fi
            fi
          else
            # Check if the multidev branch site exists. If not, create it
            terminus multidev:list --format=list --field=Name portlandor > ./env_list.txt
            if grep -Fxq "$CIRCLE_BRANCH" ./env_list.txt; then
              echo "Found multidev site"
              # terminus multidev:delete --delete-branch portlandor.$CIRCLE_BRANCH -y
              # Cloning files and DB from TEST environment to the multidev environment
              terminus env:clone-content portlandor.test "$CIRCLE_BRANCH" -y 
            else
              echo "Creating new multidev site. This may take a few seconds." && terminus multidev:create portlandor.test $CIRCLE_BRANCH
            fi
            # Set the connect to GIT
            terminus connection:set portlandor.$CIRCLE_BRANCH git
            git remote add pantheon ssh://codeserver.dev.5c6715db-abac-4633-ada8-1c9efe354629@codeserver.dev.5c6715db-abac-4633-ada8-1c9efe354629.drush.in:2222/~/repository.git
            git config --global user.email "$eGov_Email"
            # Without these lines, push will fail with "please remote git submodules" error
            rm -rf ./vendor/drupal/coder/.git && rm -rf ./web/modules/contrib/facets/.git && rm -rf ./web/modules/contrib/search_api_solr/.git
            git add -f /var/www/html
            # Pantheon site will use the wrong DB if the local is kept
            git rm --cache  web/sites/default/settings.local.php --ignore-unmatch && git rm -r --cache web/sites/default/files --ignore-unmatch && git commit -m "CircleCI deployment" --quiet
            # git filter-branch -f --index-filter 'git rm -rf --cached --ignore-unmatch sites/default/files' --prune-empty -- afc758c6..HEAD
            git push -f pantheon $CIRCLE_BRANCH
            # Wake up the multidev site
            terminus env:wake portlandor.$CIRCLE_BRANCH
            # The following two drush commands will fail without wait for a few seconds
            # sleep 40s
            # Clear cache. Import config files
            sleep 40s
            terminus remote:drush portlandor.$CIRCLE_BRANCH -- cim -y && terminus remote:drush portlandor.$CIRCLE_BRANCH -- cr 
          fi
    - run:
        name: Run tests against Pantheon
        when: on_success
        command: |
          cd /var/www/html && export PATH=/var/www/html/vendor/bin:$PATH
          composer require behat/behat:^3.4 behat/mink:^1.7 behat/mink-extension:v2.2 behat/mink-selenium2-driver:^1.3 bex/behat-screenshot:^1.2 jcalderonzumba/mink-phantomjs-driver:~0.3.1  drupal/drupal-extension:^3.4 guzzlehttp/guzzle:^6.0@dev
          if [[ $CIRCLE_BRANCH = "master" ]]; then
            echo 'export BEHAT_PARAMS="{\"extensions\" : {\"Behat\\\MinkExtension\" : {\"base_url\" : \"https://${HTTP_AUTH}@dev-portlandor.pantheonsite.io\"}}}"' >> $BASH_ENV && source $BASH_ENV
          else
            echo 'export BEHAT_PARAMS="{\"extensions\" : {\"Behat\\\MinkExtension\" : {\"base_url\" : \"https://${CIRCLE_BRANCH}-portlandor.pantheonsite.io\"}}}"' >> $BASH_ENV && source $BASH_ENV
          fi
          # echo $BEHAT_PARAMS
          behat -c tests/behat.yml
    - save_cache: *save_cache
    - store_test_results:
        path: /var/www/html/artifacts/behat
    - store_artifacts:
        path: /var/www/html/artifacts

# Declare all of the jobs we should run.
version: 2
jobs:
  run-behat-tests:
     <<: *behat_tests

# Declare a workflow that runs all of our jobs in parallel.
workflows:
  version: 2
  test_and_deploy:
    jobs:
      - run-behat-tests