{% set margin = margin|default %}
{% set is_light = is_light|default(false) %}

{% set classes =
  classes|default(['overline', 'd-block', margin ? 'mb-' ~ margin])
%}

<span class="{{ classes|join(' ')|trim }}">{{ text }}</span>
