.overline {
  display: inline-block;
  padding: $cloudy-space-0 $cloudy-space-1;
  background-color: $cloudy-gray-300;
  border-radius: $cloudy-space-0;
  font-weight: 400;
  font-size: small;
  letter-spacing: .5px;
  text-transform: uppercase;
  color: $cloudy-gray-800;
}
