{# Show all possible variations from changing a SINGLE variable #}
{% set types = ['info', 'warning'] %}
{% set content %}
  <p>The City of Portland is coordinating with Multnomah County, regional, and state partners to prepare for local impacts of coronavirus.<br><a href="https://multco.us/novel-coronavirus-covid-19" class="ext">Novel Coronavirus COVID-19 Information from Multnomah County<span class="ext" aria-label="(link is external)"></span></a> | <a href="/novel-coronavirus-covid-19">Learn more about the City of Portland's response</a></p>
{% endset %}
<label for="pl-toggle-labels">Toggle labels & demo spacing:</label> <input type="checkbox" name="pl-toggle-labels" class="pl-toggle-labels" id="pl-toggle-labels" />
<div class="pl-demo-wrapper">
{% for type in types %}
  <div class="pl-demo-item">
    <h6>Type: <code>{{ type }}</code></h6>
    {% include "@components/alert/alert.twig" with {
      "isDismissible": false,
      "type": type,
      "title": "Novel Coronavirus COVID-19 Information",
      "content": content,
    } only %}
  </div>
{% endfor %}
</div>
