{% set content %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil<a href="/"> PortlandOregon.com.</a></p>
{% endset %}

<div class="pl-demo-teaser-alert">
    {% include '@components/alert/alert.twig' with {
        'type': 'info',
        'title': 'Example Info Alert',
        'content': content
    } only %}

    {% include '@components/alert/alert.twig' with {
        'type': 'danger',
        'title': 'Example Danger Alert',
        'content': content
    } only %}

    {% include '@components/alert/alert.twig' with {
        'type': 'warning',
        'title': 'Example Warning Alert',
        'content': content
    } only %}
</div>
