{# Show all possible variations from changing a SINGLE variable #}

{% set content %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil<a href="/"> PortlandOregon.com.</a></p>
{% endset %}

<p>Additionally, alerts can include a badge for `unpublished` state and a timestamp for when they were last updated.</p>

{% include "@components/alert/alert.twig" with {
  "isDismissible": true,
  "type": 'info',
  "title": random(titles),
  "content": content,
  "is_not_published": true,
} only %}

{% include "@components/alert/alert.twig" with {
  "isDismissible": true,
  "type": 'info',
  "title": random(titles),
  "content": content,
  "showTimestamp": true,
} only %}

{% include "@components/alert/alert.twig" with {
  "isDismissible": true,
  "type": 'info',
  "title": random(titles),
  "content": content,
  "is_not_published": true,
  "showTimestamp": true,
} only %}
