h1.cloudy-homepage__title {
  color: $cloudy-color-neutral-0;
  margin: spacer(0);
}

// Homepage hero search
.path-frontpage .search-region-container {
  background: $cloudy-color-purple-900;

  @include media-breakpoint-up(xs) {
    padding: 2.5rem 0;
  }
  @include media-breakpoint-up(lg) {
    padding: 2.5rem 0;
  }
}

.popular {
  height: 100%;
  color: $cloudy-color-neutral-0;
}

.popular h2 {
  margin-bottom: spacer(4);
}

.top-search {
  padding-left: 0;
  margin: spacer(2) spacer(0);

  a {
    color: $cloudy-color-neutral-0;
    padding: spacer(2) spacer(4);

    &:hover {
      color: $cloudy-color-neutral-0;
      background-color: $cloudy-color-mega-menu-button-bg;
      border-radius: spacer(8);
      text-decoration: none;
    }
  }
}

.view-community-actions .list-group-item-action,
.view-audiences-homepage .list-group-item-action {
  background: $light;
  border: 0;
  border-radius: $border-radius-tight;
  color: $cloudy-color-blue-600;

  .name:hover {
    color: $cloudy-color-blue-800;
    text-decoration: underline;
  }

  p {
    color: $cloudy-color-neutral-900;
  }
}

.view-topics ul.list-group-flush.row {
  padding: 0;

  .list-group-item {
    border: 0;

    &:hover {
      background: none;
    }
  }
}

// TODO: figure out a better way to do this
.cloudy-homepage .item-list ul li {
  margin: 0;
  padding: spacer(3) spacer(5) 0 0;
}

.view-community-actions .item-list ul li,
.view-audiences-homepage .item-list ul li {
  @include media-breakpoint-down(lg) {
    /* This is needed to reset styles in item-list.theme.css */
    margin: 0;
    padding: spacer(3) 0 0 0;
  }
}

.view-community-actions .item-list ul li:last-child,
.view-audiences-homepage .item-list ul li:last-child {
  @include media-breakpoint-up(lg) {
    /* This is needed to reset styles in item-list.theme.css */
    margin: 0;
    padding: spacer(3) 0 0 0;
  }
}

.view-top-searches .item-list ul li:last-child {
  padding-right: 0;
}

.view-community-actions {
  margin-top: spacer(4);
}

.search-form #edit-keys:focus::placeholder {
  color: transparent;
}
