// City Official groups
.elected--portrait {
  img {
    width: 100%;
  }
}

.elected--meta {
  .block {
    margin-bottom: 0 !important;
  }

  .field--label-inline .fas {
    display: inline-flex;
    justify-content: center;
    min-width: spacer(6);
  }
}

// All group types
.view-group-banner,
.view-group-content-banner .view-group-media-banner {
  padding: 0.5rem 1rem;

  .views-row {
    display: flex;
    align-items: center;
  }

  .views-field {
    img {
      margin-right: 1rem;
    }

    a,
    a:hover {
      color: inherit;
      font-size: 2rem;
      text-decoration: none;
    }
  }
}
