<div class="d-flex flex-column align-items-start mb-4">
  <h3 class="order-2">
    <a href="{{ url }}" rel="bookmark">
      {{ label }}</a>
  </h3>
  {% if node.field_summary.value %}
    <div class="order-3">
      <p>{{ node.field_summary.value }}</p>
    </div>
  {% endif %}
    <span class="badge badge-pill badge-light mb-1 order-1 align-self-start">
      <span class="sr-only">Type is</span>
        {{ node.type.entity.label }}</span>
    </span>
</div>
