// --------------
// ** Core (Non-printing, used by the preprocessor)
// --------------
//  Vars + Functions
@import 'css/core/colors';
@import 'css/core/spacing';
@import 'css/core/theme-variables';
@import 'css/core/bootstrap-overrides';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
//  Mixins
@import '~bootstrap/scss/mixins';
@import 'css/core/mixins';


// --------------
// ** Globals
// --------------
//  Resets/normalizers

//@todo Remove all Tailwind-ism
@tailwind components;

//  Third-party libs
//@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/images';
// @import '~bootstrap/scss/code';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/tables';
// @import '~bootstrap/scss/forms'; moved all this into form.scss in components
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/transitions';
// @import '~bootstrap/scss/dropdown';
// @import '~bootstrap/scss/button-group';
@import '~bootstrap/scss/input-group';
// @import '~bootstrap/scss/custom-forms';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/card';
// @import '~bootstrap/scss/breadcrumb';
@import '~bootstrap/scss/pagination';
@import '~bootstrap/scss/badge';
// @import '~bootstrap/scss/jumbotron';
// @import '~bootstrap/scss/alert';
// @import '~bootstrap/scss/progress';
@import '~bootstrap/scss/media';
@import '~bootstrap/scss/list-group';
@import '~bootstrap/scss/close';
// @import '~bootstrap/scss/toasts';
// @import '~bootstrap/scss/modal';
@import '~bootstrap/scss/tooltip';
// @import '~bootstrap/scss/popover';
// @import '~bootstrap/scss/carousel';
// @import '~bootstrap/scss/spinners';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/print';
@import '~bootstrap4-chosen/bootstrap4-chosen.css';

//  Typography
@import 'css/typography';

//  Elements
@import 'css/elements';

// --------------
// ** Components
// --------------
@import 'css/components';

// --------------
// ** Layouts
// --------------
@import 'css/layouts';

// --------------
// ** Utilities/Misc
// --------------
@import 'css/overrides';

//@todo Remove all Tailwind-ism
@tailwind utilities;
