{#
  Custom template for the MyModuleWidget element.
#}

<div class="my-module-widget">
    <h1>Hello World</h1>
  {% if element['#title'] %}
    <h2>{{ element['#title'] }}</h2>
  {% endif %}

  <div class="field1">
    {{ element.field1 }}
  </div>
  <div class="field2">
    {{ element.field2 }}
  </div>
</div>
