{# modules/custom/[your_module]/templates/portland-location-widget.html.twig #}

<div class="portland-location-widget">
  {# Your DIVs and markup go here #}
  <h2>Hello world</h2>
  {# Add more fields as needed #}
</div>
