html, body {
  height: 100%;
}

body {
  background-color: $white;
  padding-right: 0px !important;
  overflow: hidden;
}

ul {
  list-style-type: none;
}

// Bootstrap Overrides

button:focus {
  outline: 0 !important;
}

.btn {
  border: $border;
  color: $gray;

  @include transition(all 0.3s ease);
}

.btn-primary {
  background: $blue;
  border: none;
  color: $white;
  border: none;
  border: 1px solid $blue;

  @include transition(all 0.3s ease);

  &:hover, &:active, &:focus {
    background: $blue;
    border: none;
    color: $white;
    border: none;
    border: 1px solid $blue;
  }
}