@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300);

@import "../../node_modules/typey/stylesheets/typey";

$heading-font-stack: "Montserrat", sans-serif;
$base-font-stack: "Roboto", sans-serif;

$base-font-size: 16px;
$base-line-height: 24px;

$base-unit: rem;
$base-font-size: 16px;
$base-line-height: 24px;

$line-height-method: ratio;
$base-line-height-ratio: 1.5;

$font-size: (xs: 12px, s: 14px, m: 16px, l: 22px, xl: 36px);

$bold: 700;
$light: 400;

// $typey-debug: true;
$typey-debug-color: #D9B29C;

// @import "../../stylesheets/typey/font-stacks";

$typefaces: (headings: (font-family: $heading-font-stack, letter-spacing: -0.5px), base: (font-family: $base-font-stack));

$typestyles: (heading-1: (font-size: xl, line-height: 1.25), heading-2: l 1.25, heading-3: (font-size: m), heading-4: (font-size: s), base: (font-size: m), base-1: (font-size: s), base-2: (font-size: xs));

// @import "../../stylesheets/typey";

html, body {
  @include define-type-sizing;

  @include typeface(base);

  color: $gray-dark;
}

h1, h2, h3, h4 {
  @include typeface(headings);

  // Reset margins
  margin: 0;
  font-weight: $light;
}

p {
  // Reset margins
  @include typeface(base);

  margin: 0;

  @include font-size(s);
}

$a-tags: "a, a:active, a:hover, a:visited";
$a-tags-hover: "a:active, a:hover, a:focus";

#{$a-tags} {
  color: $blue;
  text-decoration: none;
}

#{$a-tags-hover} {
  @include transition(color 0.3s ease);

  color: darken($blue, 5%);
  text-decoration: none;
}

h1, h2, h3, h4 {
  color: $gray-dark;
}

h1 {
  @include typeset(heading-1);

  @include margin-bottom(1);
}

h2 {
  @include typeset(heading-2);

  @include margin(2 0 1);
}

h3 {
  @include typeset(heading-3);

  @include margin(2 0 1);
}

h4 {
  @include typeset(heading-4);

  @include margin(2 0 1);
}

p {
  @include margin-bottom(1);

  @include typey-debug-grid;
}