:root {

  /* Set base values */

  --text-base-size: #{$font-size-base};
  --text-scale-ratio: 1.125; // Modular scale Major Second

  // Line heights

  --heading-line-height: 1.2;
  --body-line-height: 1.4;

  // Type scale

  --h4: calc(var(--text-base-size) * var(--text-scale-ratio));
  --h3: calc(var(--h4) * var(--text-scale-ratio));
  --h2: calc(var(--h3) * var(--text-scale-ratio));
  --h1: calc(var(--h2) * var(--text-scale-ratio));
}

/* Switch to larger ratio and text base size */

@include media-breakpoint-up(md) {
  :root {
    --text-scale-ratio: 1.2; // Modular scale Minor Third
    --text-base-size: #{$font-size-base * 1.125}; // 18px
  }
}
@include media-breakpoint-up(lg) {
  :root {
    --text-scale-ratio: 1.333; // Modular scale Perfect Forth
    --text-base-size: #{$font-size-base * 1.313}; // 21px
  }
}

.node--type-guide section, .node--type-city-service section {
  h1, h2, h3, h4, h5, h6 {
    font-weight: $font-weight-bold;
    letter-spacing: -0.25px;
    margin-bottom: var(--space-sm);
    line-height: var(--heading-line-height);
  }

  h1 {
    font-size: var(--h1);
  }

  h2 {
    font-size: var(--h2);
  }

  h3 {
    font-size: var(--h3);
  }

  h4 {
    font-size: var(--h4);
  }

  ol, ul:not(.nav) {
    margin-bottom: var(--space-lg);
    font-size: var(--text-base-size);
  }

  li {
    font-size: var(--text-base-size);
    line-height: var(--body-line-height);
  }

  p {
    font-weight: $font-weight-light;
    font-size: var(--text-base-size);
    margin-bottom: var(--space-md);
    line-height: var(--body-line-height);
  }

  .lead {
    font-weight: $font-weight-bold;
    margin-bottom: var(--space-xl);
  }

  a:not(.nav-link):not(.btn-cta):not(.btn-cta-outline) {
    font-weight: $font-weight-semibold;
    border-bottom: 2px solid $brand-primary;
  }
}

