<nav class="breadcrumb" role="navigation" aria-label="breadcrumb">
  <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
  <ol class="breadcrumb__list">
  {% for item in items %}
    {% if item.url %}
      <li class="breadcrumb__item">
        <a href="{{ item.url }}">{{ item.text }}</a>
      </li>
    {% else %}
      <li class="breadcrumb__item breadcrumb__item--active">
        {{ item.text }}
      </li>
    {% endif %}
  {% endfor %}
  </ol>
</nav>