.breadcrumb {
  display: flex !important;
  flex-wrap: wrap !important;
  margin-top: $cloudy-space-4;
  padding: 0;
  &__list {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: inline;
    margin: 0;
    padding: 0;
    + .breadcrumb__item {
      padding-left: .5rem;
    }
    a {
      color: $cloudy-color-blue-600;
    }
    &:before {
      content: "" !important; // Override the Classy before element, as we are not using it
    }
  }
  &__divider {
    display: inline-block;
    padding-right: .5rem;
    color: $cloudy-color-neutral-500;
    text-decoration: none;
  }
}

.region-breadcrumb {
  padding: 0;
  width: 100%;
}
