<nav class="breadcrumb" role="navigation" aria-label="breadcrumb">
  <h2 id="system-breadcrumb" class="sr-only">{{ 'Breadcrumb'|t }}</h2>
  <ol class="breadcrumb__list">
  {% for item in items %}
    {% if item.url %}
      <li class="breadcrumb__item">
        {% if not loop.first %}
          <span class="breadcrumb__divider" aria-hidden="true">/</span>
        {% endif %}
        <a href="{{ item.url }}">{{ item.text }}</a>
      </li>
    {% else %}
      <li class="breadcrumb__item breadcrumb__item--active">
        {% if not loop.first %}
          <span class="breadcrumb__divider" aria-hidden="true">/</span>
        {% endif %}
        {{ item.text }}
      </li>
    {% endif %}
  {% endfor %}
  </ol>
</nav>
