.breadcrumb {
  font-size: .875rem;
  padding: $cloudy-space-3 0;
  background: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $cloudy-space-4;
  border-radius: .25rem;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: inline;
    margin: 0;
    padding: 0;
    + .breadcrumb__item {
      padding-left: .5rem;
    }

    &--active {
      color: $cloudy-gray-600;
    }
  }

  &__divider {
    display: inline-block;
    padding-right: .5rem;
    color: $cloudy-gray-600;
    text-decoration: none;
  }
}

.region-breadcrumb {
  padding: 0;
  width: 100%;
}
