.breadcrumb {
  font-size: .875rem;
  padding: $cloudy-space-3 0;
  background: none;
  display: flex !important;
  flex-wrap: wrap !important;
  margin-bottom: $cloudy-space-4;
  border-radius: .25rem;

  &__list {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: inline;
    margin: 0;
    padding: 0;
    + .breadcrumb__item {
      padding-left: .5rem;
    }

    &--active {
      color: $cloudy-color-bg-neutral-500;
    }

    &:before {
      content: "" !important; // Override the Classy before element, as we are not using it
    }
  }

  &__divider {
    display: inline-block;
    padding-right: .5rem;
    color: $cloudy-color-bg-neutral-500;
    text-decoration: none;
  }
}

.region-breadcrumb {
  padding: 0;
  width: 100%;
}
