<h2>Figma Comps</h2>

<p>View <a target="_blank" href="https://www.figma.com/file/Ko9TCYZfuRaZKVJvuSazOyw8/Cloudy---simplified?node-id=4630%3A1973">Figma comps at this link</a> or in the embed below:</p>

<iframe style="border: none;" width="800" height="800" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FKo9TCYZfuRaZKVJvuSazOyw8%2FCloudy-simplified%3Fnode-id%3D4630%253A1973" allowfullscreen></iframe>
