/*
** Cloudy Design System Elements
**
** This file includes various style definitions relates to global base elements
*/

@import '../elements/icon/icon';

h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

// target anchor fa icon color e.g. file links
a > i[class^="fas"] {
  &::before {
    color: $cloudy-color-blue-800;
  }
}
