/*
** Cloudy Design System Elements
**
** This file includes various style definitions relates to global base elements
*/

@import '../elements/icon/icon';

h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

// target anchor fa icon color e.g. file links
a > i[class^="fas"],
a > i[class^="fab"] {
  &::before {
    color: $cloudy-color-purple-900;
  }
}

// Add links to Expand or Collapse all
.aria-accordion a.toggle-accordion::before {
  content: "Expand all";
}

.aria-accordion a.toggle-accordion.active::before {
  content: "Collapse all";
}

// Override border style
.aria-accordion {
  border-style: none !important;
  margin-bottom: $cloudy-space-4;
}

.aria-accordion .aria-accordion__heading:first-of-type {
  border: 1px solid $cloudy-color-neutral-200;
}

.aria-accordion .aria-accordion__heading, .aria-accordion div.aria-accordion__panel {
  border: 1px $cloudy-color-neutral-200;
  border-style: none solid solid;
  color: $body-color;
}

.aria-accordion div.aria-accordion__panel {
  padding: 0.5rem 1rem;
}

.aria-accordion .aria-accordion__heading {
  button {
    background: $body-bg !important;
    border: 0 !important;
    color: $body-color;
  }
  // Override the default colors
  button[aria-expanded="true"], button:hover{
    background: $cloudy-color-neutral-200 !important;
  }
  button:focus {
    outline: 2px solid $cloudy-color-neutral-900;
    z-index: 2;
  }
  button::before, button::after {
    background: $body-color;
  }
}

// unset max-height to prevent overflow
.aria-accordion .aria-accordion__panel--transition {
  max-height: unset !important;
}

// utility class to turn a <ul> into an inline comma separated list
// useful for e.g. keeping an accessible tree structure for screen readers while displaying a compact list
.list-inline-comma {
  display: inline-block;
  list-style: none;
  padding-left: 0;

  li {
    display: inline-block;

    &::after {
      content: ", ";
      white-space: pre;
    }

    &:last-child::after {
      content: "";
    }
  }
}
