/*
** Cloudy Design System Elements
**
** This file includes various style definitions relates to global base elements
*/

@import '../elements/icon/icon';

h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

// target anchor fa icon color e.g. file links
a > i[class^="fas"],
a > i[class^="fab"] {
  &::before {
    color: $cloudy-color-purple-900;
  }
}

// Add links to Expand or Collapse all
.aria-accordion a.toggle-accordion::before {
  content: "Expand all";
}

.aria-accordion a.toggle-accordion.active::before {
  content: "Collapse all";
}

// Override border style
.aria-accordion {
  border-style: none !important;
}

.aria-accordion .aria-accordion__heading:first-of-type {
  border: 1px solid $cloudy-color-neutral-200;
}

.aria-accordion .aria-accordion__heading, .aria-accordion div.aria-accordion__panel {
  border: 1px $cloudy-color-neutral-200;
  border-style: none solid solid;
  color: black;
}

.aria-accordion .aria-accordion__heading {
  button {
    border-style: none !important;
    color: black;
    background: white;
  }
  // Override the default colors
  button[aria-expanded="true"], button[aria-expanded="true"]:hover, button[aria-expanded="false"], button[aria-expanded="false"]:hover {
    background-color: white;
  }
  button::before, button::after {
    background: $cloudy-color-neutral-900;
  }
}
