/* GENERAL STYLES
-------------------------------------------------*/
html, body {
  background: $body-bg;
  position: relative;
  scroll-behavior: smooth;
}

details {
  border-radius: $border-radius;
}

ul.pagination {
  margin-top: 1rem;
  flex-wrap: wrap;

  .page-item {
    margin-bottom: spacer(1);
  }
}

hr.separator {
  border: .25rem solid $cloudy-color-purple-900;
  border-radius: $border-radius;
  height: 0;
}
