/*
** Cloudy Design System Page-Specific Styles
*/

// Homepage
h1.homepage-title {
  margin: 1rem 0;
  color: $cloudy-color-neutral-0;
}

// Desktop side region needs a consistent way to override headings
// Only two levels are needed in the side region as any more would
// be too much content
.cloudy-side {
  h2 {
    @extend .h3;
    margin-bottom: $cloudy-space-1;
  }
  h3 {
    @extend .h5;
    margin-bottom: $cloudy-space-2;
  }
}