/*
** Cloudy Design System Page-Specific Styles
*/

// Homepage
h1.homepage-title {
  margin: $cloudy-space-4 0;
  color: $cloudy-color-neutral-0;
}

/* Target typography within content. */

// Applies spacing to headings in content.
.cloudy-content {
  h2, h3, h4, h5 {
    margin: 2rem 0 1rem;
  }

  // Adjusts margin between headings
  h2 + h2, h2 + h3, h3 + h3, h3 + h4, h4 + h4, h4 + h5, h5 + h5 {
    margin: $cloudy-space-4 0;
  }
}

// Applies spacing to headings in sidebar.
.cloudy-side {
  h2:first-of-type {
    margin: $cloudy-space-0 0 $cloudy-space-2;
  }
  h2 + h3, h3 + h4, h4 + h5 {
    margin: $cloudy-space-0 0;
  }
  h2, h3, h4, h5 {
    margin: $cloudy-space-6 0 $cloudy-space-2;
  }
  h2 {
    @include type-style($cloudy-heading-4);
  }
  h3 {
    @include type-style($cloudy-heading-5);
  }
}

// Applies sizing to headings in footer.
.cloudy-footer {
  h2 {
    @include type-style($cloudy-heading-6);
  }
}
