/*
** Cloudy Design System Page-Specific Styles
*/

// Homepage
h1.cloudy-homepage__title {
  color: $cloudy-color-neutral-0;
  margin: $cloudy-space-0;
}

/* Target typography within content. */

// Applies spacing to headings in content.
.cloudy-content {
  h2, h3, h4, h5 {
    margin: 2rem 0 1rem;
  }

  // Adjusts margin between headings
  h2 + h2, h2 + h3, h3 + h3, h3 + h4, h4 + h4, h4 + h5, h5 + h5 {
    margin: $cloudy-space-4 0;
  }
}

// Applies spacing to headings in sidebar.
.cloudy-side,
.elected--contact,
.group-default__marquee-right {
  h2:first-of-type {
    margin: $cloudy-space-0 0 $cloudy-space-2;
  }
  h2 + h3, h3 + h4, h4 + h5 {
    margin: $cloudy-space-0 0;
  }
  h2, h3, h4, h5 {
    margin: $cloudy-space-6 0 $cloudy-space-2;
  }
  h2 {
    @include type-style($cloudy-heading-4);
  }
  h3 {
    // temporary workaround to achieve responsive mobile size until a new typestyle is addded
    @include type-style($cloudy-body-text);
    font-weight: $font-weight-semibold;
    @include media-breakpoint-up(md) {
      @include type-style($cloudy-heading-5);
    }
  }
}

// Applies margin to headings in cards
.card {
  h4 {
    margin-top: 0;
  }
}

// IE Fix: Direct child of flex container doesn't go full width by default
.views-element-container .row.view > .view-content {
  width: 100%;
}
