/*
** Cloudy Design System Page-Specific Styles
*/

// Homepage
h1.homepage-title {
  margin: 1rem 0;
  color: $cloudy-color-neutral-0;
}

// By using field, this will automatically get applied to all UI instances of
// a heading.
// May extend this further with block or view classes which would also be UI.
.side,
.block {
  h2 {
    @extend .h4;
    margin-bottom: $cloudy-space-1;
  }
  h3 {
    @extend .h5;
    margin-bottom: $cloudy-space-2;
  }
}

.side {
  .field {
    margin-bottom: $cloudy-space-4;
  }
}