/*
** Print-Specific Styles
*/

@media print {

  // Chrome doesn't properly handle transitions
  // https://stackoverflow.com/questions/26011254/chrome-print-preview-different-than-in-devtools
  * {
    -webkit-transition: none !important;
    transition: none !important;
  }

  html {
    font-size: 12pt;
  }

  h1 {
    font-size: 24pt;
  }

  h2 {
    font-size: 18pt;
  }

  .cloudy-side h2 {
    font-size: 14pt;
  }

  h3 {
    font-size: 16pt;
  }

  .cloudy-side h3 {
    font-size: 12pt;
  }

  h4 {
    font-size: 14pt;
  }

  h5 {
    font-size: 12pt;
  }

  h6 {
    font-size: 12pt;
  }

  // Safari fix per https://getbootstrap.com/docs/4.0/getting-started/browsers-devices/#printing
  .container {
    width: auto;
    max-width: 100%;
  }

  .col-md-1,.col-md-2,.col-md-3,.col-md-4,
  .col-md-5,.col-md-6,.col-md-7,.col-md-8,
  .col-md-9,.col-md-10,.col-md-11,.col-md-12 {
    float: left;
  }

  .col-md-1 {
    width: 8%;
  }
  .col-md-2 {
    width: 16%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33%;
  }
  .col-md-5 {
    width: 42%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58%;
  }
  .col-md-8 {
    width: 66%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83%;
  }
  .col-md-11 {
    width: 92%;
  }
  .col-md-12 {
    width: 100%;
  }

  .row {
    display: block;
  }

  #block-portlandlegacypathsblock,
  section.cloudy-footer--top,
  .region-footer-third,
  .region-footer-second,
  .region-header-form,
  .region-messages  {
    display: none;
  }

  .cloudy-footer {
    clear: both;
  }

}
