/*
** Print-Specific Styles
*/

// TODO: [POWR-3227] Improve print styles

@media print {

  // Chrome doesn't properly handle transitions
  // https://stackoverflow.com/questions/26011254/chrome-print-preview-different-than-in-devtools
  * {
    -webkit-transition: none !important;
    transition: none !important;
  }

  html {
    font-size: 10pt;
  }

  h1 {
    font-size: 16pt;
  }

  h2 {
    font-size: 12pt;
    page-break-after: avoid-page;
  }

  .cloudy-side h2 {
    font-size: 11pt;
  }

  h3 {
    font-size: 11pt;
  }

  .cloudy-side h3 {
    font-size: 10pt;
  }

  h4 {
    font-size: 9pt;
  }

  h5 {
    font-size: 9pt;
  }

  h6 {
    font-size: 9pt;
  }

  .cloudy-content {
    display: block;
    width: 67%;
    float: left;
  }

  .cloudy-side {
    display: block;
    width: 30%;
    float: left;
  }

  @page {
    size: letter;
  }

  body {
    min-width: 650px !important;
  }

  .container {
    min-width: 650px !important;
  }

  #block-portlandlegacypathsblock,
  section.cloudy-footer--top,
  footer.cloudy-footer,
  .region-footer-third,
  .region-footer-second,
  .region-header-form,
  .region-messages,
  .cloudy-header__menu-wrapper,
  .cloudy-header__toggle,
  .region-recent-agendas,
  .field--name-field-council-session-video,
  .block-views-blockcouncil-agendas-block-recent-council-agendas,
  .field--name-field-session-registration-text,
  .field--name-field-session-closed-text,
  .council-session-close,
  .field--name-field-document,
  .toc-js,
  .drawer__open,
  #back-to-top,
  .page-node-type-council-agenda .breadcrumb {
    display: none !important;
  }

  .cloudy-footer {
    clear: both;
  }

  .field--name-field-body-content {
    p,
    blockquote,
    hr,
    .list-group-item,
    .field--name-field-body-content ul,
    .field--name-field-body-content ol,
    body.cke_editable_themed ul,
    body.cke_editable_themed ol,
    .step ol,
    .step ul,
    .teaser__tags,
    .council-document__title {
      max-width: 100% !important;
    }
  }

  .view-display-id-entity_view_1,
  .views-element-container {
    position: relative;
    display: block;
  }

  h2,
  h3,
  h4 {
    display: block;
    break-inside: avoid;
  }

  .relation--type-agenda-item,
  .session-meta {
    position: relative;
    display: block;
    width: 100%;
    break-inside: avoid;
  }

}
