/* Typography */

$type-scales : (
	minor-second: 1.067,
	major-second: 1.125,
	minor-third: 1.200,
	major-third: 1.250,
	perfect-fourth: 1.333,
	augmented-fourth: 1.414,
	perfect-fifth: 1.500,
	golden-ratio: 1.618
);

$heading-type-scale-base : major-second;
$display-type-scale-base : major-second;

$font-weight-semibold: 600;

/* Spacing */
$comment-spacer-x: 1.25em;
$comment-spacer-y: 1.25em;

/* Editor toolbar  */
$editor-toolbar-active-bg: #000;

/* Navbar */
$navbar-menu-focus-bg: rgba(6, 57, 107, 0.05);
$navbar-menu-active-bg: rgba(6, 57, 107, 0.05);
$navbar-menu-alert-badge-bg: rgba(167, 41, 37, .9);

/* Border radius for buttons and form elements */
$border-radius-tight: .125em;


/* Blockquotes */
// Include after fixing Sass import order and update blockquote inside _extends.scss
// $blockquote-height-border: $border-width * 10;

// Icons
$ext-icon: "\f35d";
$clock-icon: "\f017";
$cal-icon: "\f133";

$tray-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, right 0.3s ease-in-out, left 0.3s ease-in-out;
