// utility class to turn a <ul> into an inline comma separated list
// useful for e.g. keeping an accessible tree structure for screen readers while displaying a compact list
.list-inline-comma {
  display: inline-block;
  list-style: none;
  padding-left: 0;

  li {
    display: inline-block;

    &::after {
      content: ", ";
      white-space: pre;
    }

    &:last-child::after {
      content: "";
    }
  }
}

.text-pre-line {
  white-space: pre-line;
}
