// --------------
// ** Core (Non-printing, used by the preprocessor)
// --------------
//  Vars + Functions
@import './core/design-tokens';
@import './core/theme-variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import './core/bootstrap-overrides';
@import '~bootstrap/scss/maps';
//  Mixins
@import '~bootstrap/scss/mixins';
@import './core/mixins';

// --------------
// ** Globals
// --------------
//  Resets/normalizers
@import '~bootstrap/scss/reboot';

//  Third-party libs
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/images';
@import '~bootstrap/scss/containers';
// @import '~bootstrap/scss/code';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/tables';
// @import '~bootstrap/scss/forms'; moved all this into form.scss in components
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/transitions';
// @import '~bootstrap/scss/dropdown';
// @import '~bootstrap/scss/button-group';
@import '~bootstrap/scss/forms/input-group';
// @import '~bootstrap/scss/custom-forms';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/card';
// @import '~bootstrap/scss/breadcrumb';
@import '~bootstrap/scss/pagination';
@import '~bootstrap/scss/badge';
// @import '~bootstrap/scss/jumbotron';
// @import '~bootstrap/scss/alert';
// @import '~bootstrap/scss/progress';
@import '~bootstrap/scss/list-group';
@import '~bootstrap/scss/close';
// @import '~bootstrap/scss/toasts';
// @import '~bootstrap/scss/modal';
// @import '~bootstrap/scss/tooltip';
// @import '~bootstrap/scss/popover';
// @import '~bootstrap/scss/carousel';
// @import '~bootstrap/scss/spinners';
@import '~bootstrap/scss/helpers';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/utilities/api';

//  Typography
@import './typography';

//  Elements
@import './elements';

// --------------
// ** Components
// --------------
@import './components';

// --------------
// ** Layouts
// --------------
@import './layouts';

// --------------
// ** Pages
// --------------
@import './pages';

// --------------
// ** Utilities/Misc
// --------------
@import './overrides';

// --------------
// ** Print
// --------------
@import './print';

// --------------
// ** Legacy styles for Bootstrap 4 compatibility
// --------------
@import './core/bootstrap4-legacy';

// --------------
// ** Font Awesome
// --------------
$fa-font-path: '/themes/custom/cloudy/dist';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
