<ul class="sg-colors">
  {% for group, color in designTokens.colors %}
    <h5 class="sg-colors-title">{{ group | title }}</h5>
    <ul>
      {% for shade in color %}
        <li>
          <span class="sg-swatch" style="background-color: {{ shade[0].value }};"></span>
          <span class="sg-label" style="font-size: 12px;"><code>${{ shade[0].name }}</code></span>
          <span class="sg-label" style="font-size: 12px;"><code>{{ shade[0].value }}</code></span>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</ul>
