<ul class="sg-colors">
	<span class="sg-colors-title">Blue</span>
	<ul>
		<li>
			<span class="sg-swatch u-bg-color--blue-lighter"></span>
			<span class="sg-label">#E8EFF5</span>
			<span class="sg-label">$cloudy-blue-lighter</span>
		</li>
		<li>
			<span class="sg-swatch u-bg-color--blue-light"></span>
			<span class="sg-label">#008EE6</span>
			<span class="sg-label">$cloudy-blue-light</span>
		</li>
		<li>
			<span class="sg-swatch u-bg-color--blue-base"></span>
			<span class="sg-label">#418FDE</span>
			<span class="sg-label">$cloudy-blue-base</span>
		</li>
		<li>
			<span class="sg-swatch u-bg-color--blue-dark"></span>
			<span class="sg-label">#1B5A99</span>
			<span class="sg-label">$cloudy-blue-dark</span>
		</li>
		<li>
			<span class="sg-swatch u-bg-color--blue-darker"></span>
			<span class="sg-label">#004875</span>
			<span class="sg-label">$cloudy-blue-darker</span>
		</li>
		<li>
			<span class="sg-swatch u-bg-color--cyan-base"></span>
			<span class="sg-label">#17A2B8</span>
			<span class="sg-label">$cloudy-cyan-base</span>
		</li>
	</ul>
	<span class="sg-colors-title">Green</span>
	<ul>
		<li>
			<span class="sg-swatch u-bg-color--green-base"></span>
			<span class="sg-label">#046A38</span>
			<span class="sg-label">$cloudy-green-base</span>
		</li>
		<li>
			<span class="sg-swatch u-bg-color--green-light"></span>
			<span class="sg-label">#E7F4E4</span>
			<span class="sg-label">$cloudy-green-light</span>
		</li>
	</ul>
	<span class="sg-colors-title">Yellow</span>
	<ul>
		<li>
			<span class="sg-swatch u-bg-color--yellow-base"></span>
			<span class="sg-label">#FFB81C</span>
			<span class="sg-label">$cloudy-yellow-base</span>
		</li>
	</ul>
	<span class="sg-colors-title">Gold</span>
	<ul>
		<li>
			<span class="sg-swatch u-bg-color--gold-base"></span>
			<span class="sg-label">#FFB81C</span>
			<span class="sg-label">$cloudy-gold-base</span>
		</li>
		<li>
			<span class="sg-swatch u-bg-color--gold-light"></span>
			<span class="sg-label">#FFF1D2</span>
			<span class="sg-label">$cloudy-gold-light</span>
		</li>
	</ul>
	<span class="sg-colors-title">Red</span>
	<ul>
		<li>
			<span class="sg-swatch u-bg-color--red-base"></span>
			<span class="sg-label">#DC3545</span>
			<span class="sg-label">$cloudy-red-base</span>
		</li>
		<li>
			<span class="sg-swatch u-bg-color--red-light"></span>
			<span class="sg-label">#F9DEDE</span>
			<span class="sg-label">$cloudy-red-light</span>
		</li>
	</ul>
	<span class="sg-colors-title">Neutral</span>
	<ul>
		<li>
			<span class="sg-swatch u-bg-color--gray-base"></span>
			<span class="sg-label">#E8EFF5</span>
			<span class="sg-label">$cloudy-gray-base</span>
		</li>
		<li>
			<span class="sg-swatch u-bg-color--gray-offset"></span>
			<span class="sg-label">#EEE</span>
			<span class="sg-label">$cloudy-gray-offset</span>
		</li>
		<li>
			<span class="sg-swatch u-bg-color--gray-100"></span>
			<span class="sg-label">#F8F9FA</span>
			<span class="sg-label">$cloudy-gray-100</span>
		</li>
		<li>
			<span class="sg-swatch u-bg-color--gray-200"></span>
			<span class="sg-label">#E9ECEF</span>
			<span class="sg-label">$cloudy-gray-200</span>
		</li>
		<li>
			<span class="sg-swatch u-bg-color--gray-300"></span>
			<span class="sg-label">#DEE2E6</span>
			<span class="sg-label">$cloudy-gray-300</span>
		</li>
		<li>
			<span class="sg-swatch u-bg-color--gray-400"></span>
			<span class="sg-label">#CED4DA</span>
			<span class="sg-label">$cloudy-gray-400</span>
		</li>
		<li>
			<span class="sg-swatch u-bg-color--gray-500"></span>
			<span class="sg-label">#ABD5DB</span>
			<span class="sg-label">$cloudy-gray-500</span>
		</li>
		<li>
			<span class="sg-swatch u-bg-color--gray-600"></span>
			<span class="sg-label">#6C757D</span>
			<span class="sg-label">$cloudy-gray-600</span>
		</li>
		<li>
			<span class="sg-swatch u-bg-color--gray-700"></span>
			<span class="sg-label">#495057</span>
			<span class="sg-label">$cloudy-gray-700</span>
		</li>
		<li>
			<span class="sg-swatch u-bg-color--gray-700a"></span>
			<span class="sg-label">#505050</span>
			<span class="sg-label">$cloudy-gray-700a</span>
		</li>
		<li>
			<span class="sg-swatch u-bg-color--gray-800"></span>
			<span class="sg-label">#343A40</span>
			<span class="sg-label">$cloudy-gray-800</span>
		</li>
		<li>
			<span class="sg-swatch u-bg-color--gray-900"></span>
			<span class="sg-label">#212529</span>
			<span class="sg-label">$cloudy-gray-900</span>
		</li>
		<li>
			<span class="sg-swatch u-bg-color--white-base"></span>
			<span class="sg-label">#FFF</span>
			<span class="sg-label">$cloudy-white-base</span>
		</li>
		<li>
			<span class="sg-swatch u-bg-color--white-offset"></span>
			<span class="sg-label">#F8F9FA</span>
			<span class="sg-label">$cloudy-white-offset</span>
		</li>
		<li>
			<span class="sg-swatch u-bg-color--white-offset-100"></span>
			<span class="sg-label">#F7FCFF</span>
			<span class="sg-label">$cloudy-white-offset-100</span>
		</li>
		<li>
			<span class="sg-swatch u-bg-color--white-offset-200"></span>
			<span class="sg-label">#FDF8ED</span>
			<span class="sg-label">$cloudy-white-offset-200</span>
		</li>
		<li>
			<span class="sg-swatch u-bg-color--white-offset-300"></span>
			<span class="sg-label">#FCF4F2</span>
			<span class="sg-label">$cloudy-white-offset-300</span>
		</li>
		<li>
			<span class="sg-swatch u-bg-color--white-offset-400"></span>
			<span class="sg-label">#F9F9F9</span>
			<span class="sg-label">$cloudy-white-offset-400</span>
		</li>
		<li>
			<span class="sg-swatch u-bg-color--black-base"></span>
			<span class="sg-label">#000</span>
			<span class="sg-label">$cloudy-black-base</span>
		</li>
	</ul>
	<span class="sg-colors-title">Semi-Transparent</span>
		<ul>
		<li>
			<span class="sg-swatch u-bg-color--semi-transparent-red-09"></span>
			<span class="sg-label">rgba(167, 41, 37, 0.9)</span>
			<span class="sg-label">$cloudy-red-09</span>
		</li>
		<li>
			<span class="sg-swatch u-bg-color--semi-transparent-black-15"></span>
			<span class="sg-label">rgba(0, 0, 0, 0.15)</span>
			<span class="sg-label">$cloudy-black-15</span>
		</li>
		<li>
			<span class="sg-swatch u-bg-color--semi-transparent-blue-05"></span>
			<span class="sg-label">rgba(6, 57, 107, 0.05)</span>
			<span class="sg-label">$cloudy-blue-05</span>
		</li>
	</ul>
</ul>
