<ul class="sg-colors">
	<span class="sg-colors-title">Blue</span>
	<ul>
		<li>
			<span class="sg-swatch u-bg-color--blue-base"></span>
			<span class="sg-label">#418FDE</span>
			<span class="sg-label">$cloudy-blue</span>
		</li>
		<li>
			<span class="sg-swatch u-bg-color--blue-dark"></span>
			<span class="sg-label">#1B5A99</span>
			<span class="sg-label">$cloudy-blue-dark</span>
		</li>
		<li>
			<span class="sg-swatch u-bg-color--blue-light"></span>
			<span class="sg-label">#E8EFF5</span>
			<span class="sg-label">$cloudy-blue-light</span>
		</li>
		<li>
			<span class="sg-swatch u-bg-color--cyan-base"></span>
			<span class="sg-label">#17A2B8</span>
			<span class="sg-label">$cloudy-cyan</span>
		</li>
	</ul>
	<span class="sg-colors-title">Green</span>
	<ul>
		<li>
			<span class="sg-swatch u-bg-color--green-base"></span>
			<span class="sg-label">#046A38</span>
			<span class="sg-label">$cloudy-green</span>
		</li>
		<li>
			<span class="sg-swatch u-bg-color--green-light"></span>
			<span class="sg-label">#E7F4E4</span>
			<span class="sg-label">$cloudy-green-light</span>
		</li>
	</ul>
	<span class="sg-colors-title">Yellow</span>
	<ul>
		<li>
			<span class="sg-swatch u-bg-color--yellow-base"></span>
			<span class="sg-label">#FFB81C</span>
			<span class="sg-label">$cloudy-yellow</span>
		</li>
	</ul>
	<span class="sg-colors-title">Gold</span>
	<ul>
		<li>
			<span class="sg-swatch u-bg-color--gold-base"></span>
			<span class="sg-label">#FFB81C</span>
			<span class="sg-label">$cloudy-gold</span>
		</li>
		<li>
			<span class="sg-swatch u-bg-color--gold-light"></span>
			<span class="sg-label">#FFF1D2</span>
			<span class="sg-label">$cloudy-gold-light</span>
		</li>
	</ul>
	<span class="sg-colors-title">Red</span>
	<ul>
		<li>
			<span class="sg-swatch u-bg-color--red-base"></span>
			<span class="sg-label">#DC3545</span>
			<span class="sg-label">$cloudy-red</span>
		</li>
		<li>
			<span class="sg-swatch u-bg-color--red-light"></span>
			<span class="sg-label">#F9DEDE</span>
			<span class="sg-label">$cloudy-red-light</span>
		</li>
	</ul>
	<span class="sg-colors-title">Nuetral</span>
	<ul>
		<li>
			<span class="sg-swatch u-bg-color--gray-base"></span>
			<span class="sg-label">#E8EFF5</span>
			<span class="sg-label">$cloudy-gray</span>
		</li>
		<li>
			<span class="sg-swatch u-bg-color--white-base"></span>
			<span class="sg-label">#FFF</span>
			<span class="sg-label">$cloudy-white</span>
		</li>
		<li>
			<span class="sg-swatch u-bg-color--black-base"></span>
			<span class="sg-label">#000</span>
			<span class="sg-label">$cloudy-black</span>
		</li>
	</ul>
</ul>