<ul class="sg-colors">
  {% for group, colors in designTokens.colors.bg %}
    <h5 class="sg-colors-title">{{ group | title }}</h5>
    <ul>
      {% for color in colors %}
        <li>
          <span class="sg-swatch" style="background-color: {{ color.value }};"></span>
          <span class="sg-label" style="font-size: 12px;"><code>${{ color.name }}</code></span>
          <span class="sg-label" style="font-size: 12px;"><code>{{ color.value }}</code></span>
        </li>
    {% endfor %}
    </ul>
  {% endfor %}
</ul>
