<div class="pl-space-demo">
    <div class="pl-space-demo__container">
        <span class="pl-spacing-swatch pl-spacing-swatch-1"></span>
        <div class="pl-spacing-demo__label">
            <span>$cloudy-space-1</span>
            <span>.25rem</span>
        </div>
    </div>
    <div class="pl-space-demo">
        <span class="pl-spacing-swatch pl-spacing-swatch-2"></span>
        <div>
            <span>$cloudy-space-2</span>
            <span>.5rem</span>
        </div>
    </div>
    <div class="pl-space-demo">
        <span class="pl-spacing-swatch pl-spacing-swatch-3"></span>
        <div>
            <span>$cloudy-space-3</span>
            <span>.75rem</span>
        </div>
    </div>
    <div class="pl-space-demo">
        <span class="pl-spacing-swatch pl-spacing-swatch-4"></span>
        <div>
            <span>$cloudy-space-4</span>
            <span>1rem</span>
        </div>
    </div>
    <div class="pl-space-demo">
        <span class="pl-spacing-swatch pl-spacing-swatch-5"></span>
        <div>
            <span>$cloudy-space-5</span>
            <span>1.25rem</span>
        </div>
    </div>
    <div class="pl-space-demo">
            <span class="pl-spacing-swatch pl-spacing-swatch-6"></span>
        <div>
            <span>$cloudy-space-6</span>
            <span>1.5rem</span>
        </div></div>
    <div class="pl-space-demo">
        <span class="pl-spacing-swatch pl-spacing-swatch-7"></span>
        <div>
            <span>$cloudy-space-7</span>
            <span>1.75rem</span>
        </div>
    </div>
    <div class="pl-space-demo">
        <span class="pl-spacing-swatch pl-spacing-swatch-8"></span>
        <div>
            <span>$cloudy-space-8</span>
            <span>2rem</span>
        </div>
    </div>
</div>