<div class="pl-space-demo">
  <div class="pl-space-demo__item">
    <span class="pl-space-demo__swatch pl-space-demo__swatch-0"></span>
    <div class="pl-space-demo__label">
      <span>$cloudy-space-0</span>
      <span>0</span>
    </div>
  </div>
  <div class="pl-space-demo__item">
    <span class="pl-space-demo__swatch pl-space-demo__swatch-1"></span>
    <div class="pl-space-demo__label">
      <span>$cloudy-space-1</span>
      <span>0.25rem</span>
    </div>
  </div>
  <div class="pl-space-demo__item">
    <span class="pl-space-demo__swatch pl-space-demo__swatch-2"></span>
    <div class="pl-space-demo__label">
      <span>$cloudy-space-2</span>
      <span>0.5rem</span>
    </div>
  </div>
  <div class="pl-space-demo__item">
    <span class="pl-space-demo__swatch pl-space-demo__swatch-3"></span>
    <div class="pl-space-demo__label">
      <span>$cloudy-space-3</span>
      <span>0.75rem</span>
    </div>
  </div>
  <div class="pl-space-demo__item">
    <span class="pl-space-demo__swatch pl-space-demo__swatch-4"></span>
    <div class="pl-space-demo__label">
      <span>$cloudy-space-4</span>
      <span>1rem</span>
    </div>
  </div>
  <div class="pl-space-demo__item">
    <span class="pl-space-demo__swatch pl-space-demo__swatch-5"></span>
    <div class="pl-space-demo__label">
      <span>$cloudy-space-5</span>
      <span>1.25rem</span>
    </div>
  </div>
  <div class="pl-space-demo__item">
    <span class="pl-space-demo__swatch pl-space-demo__swatch-6"></span>
    <div class="pl-space-demo__label">
      <span>$cloudy-space-6</span>
      <span>1.5rem</span>
    </div>
  </div>
  <div class="pl-space-demo__item">
    <span class="pl-space-demo__swatch pl-space-demo__swatch-8"></span>
    <div class="pl-space-demo__label">
      <span>$cloudy-space-8</span>
      <span>2rem</span>
    </div>
  </div>
  <div class="pl-space-demo__item">
    <span class="pl-space-demo__swatch pl-space-demo__swatch-10"></span>
    <div class="pl-space-demo__label">
      <span>$cloudy-space-10</span>
      <span>2.5rem</span>
    </div>
  </div>
  <div class="pl-space-demo__item">
    <span class="pl-space-demo__swatch pl-space-demo__swatch-12"></span>
    <div class="pl-space-demo__label">
      <span>$cloudy-space-12</span>
      <span>3rem</span>
    </div>
  </div>
  <div class="pl-space-demo__item">
    <span class="pl-space-demo__swatch pl-space-demo__swatch-16"></span>
    <div class="pl-space-demo__label">
      <span>$cloudy-space-16</span>
      <span>4rem</span>
    </div>
  </div>
  <div class="pl-space-demo__item">
    <span class="pl-space-demo__swatch pl-space-demo__swatch-20"></span>
    <div class="pl-space-demo__label">
      <span>$cloudy-space-20</span>
      <span>5rem</span>
    </div>
  </div>
  <div class="pl-space-demo__item">
    <span class="pl-space-demo__swatch pl-space-demo__swatch-24"></span>
    <div class="pl-space-demo__label">
      <span>$cloudy-space-24</span>
      <span>6rem</span>
    </div>
  </div>
  <div class="pl-space-demo__item">
    <span class="pl-space-demo__swatch pl-space-demo__swatch-32"></span>
    <div class="pl-space-demo__label">
      <span>$cloudy-space-32</span>
      <span>8rem</span>
    </div>
  </div>
  <div class="pl-space-demo__item">
    <span class="pl-space-demo__swatch pl-space-demo__swatch-40"></span>
    <div class="pl-space-demo__label">
      <span>$cloudy-space-40</span>
      <span>10rem</span>
    </div>
  </div>
  <div class="pl-space-demo__item">
    <span class="pl-space-demo__swatch pl-space-demo__swatch-48"></span>
    <div class="pl-space-demo__label">
      <span>$cloudy-space-48</span>
      <span>12rem</span>
    </div>
  </div>
  <div class="pl-space-demo__item">
    <span class="pl-space-demo__swatch pl-space-demo__swatch-56"></span>
    <div class="pl-space-demo__label">
      <span>$cloudy-space-56</span>
      <span>14rem</span>
    </div>
  </div>
  <div class="pl-space-demo__item">
    <span class="pl-space-demo__swatch pl-space-demo__swatch-64"></span>
    <div class="pl-space-demo__label">
      <span>$cloudy-space-64</span>
      <span>16rem</span>
    </div>
  </div>
</div>
