title: 'Phản hồi trang web'
description: 'Biểu mẫu web này được sử dụng để thu thập phản hồi về trang web từ người dùng và người chỉnh sửa.'
elements: |
  subject:
    '#title': 'Loại phản hồi'
    '#options':
      'I cannot find what I''m looking for': 'Tôi không thể tìm thấy những gì tôi đang tìm kiếm'
      'I have a question': 'tôi có một câu hỏi'
      'The page looks broken': 'Trang có vẻ bị hỏng'
      'The information looks incorrect': 'Thông tin có vẻ không chính xác'
      'Contact an elected official with feedback': 'Liên hệ với một quan chức được bầu để cung cấp thông tin phản hồi'
    '#empty_option': '-- Lựa chọn --'
  link_to_contact_elected:
    '#markup': '<div class="alert alert--info next-steps"><h2>Bước tiếp theo</h2><p> Vui lòng sử dụng biểu mẫu <a href="/help/contact-elected-official">Liên hệ với một quan chức được bầu chọn</a> để gửi phản hồi của bạn hoặc yêu cầu một cuộc họp.</p></div>'
  feedback:
    '#title': 'Thông tin chi tiết'
    '#description': 'Vui lòng nêu cụ thể để chúng tôi có thể hỗ trợ bạn tốt hơn.'
  your_name:
    '#title': 'Tên của bạn'
  email_address:
    '#title': 'Email của bạn'
    '#default_value': null
  page_you_last_viewed:
    '#title': 'Trang bạn xem lần cuối'
    '#description': 'Bạn có thể thay đổi địa chỉ này nếu bạn muốn bình luận trên một trang khác.'
    '#default_value': '[máy chủ: HTTP_REFERER]'
  public_records_statement:
    '#markup': 'Thông tin bạn cung cấp trong biểu mẫu này được coi là hồ sơ công khai theo <a data-renderer-mark="true" href="https://www.doj.state.or.us/oregon-department-of-justice/public-records/attorney-generals-public-records-and-meetings-manual/i-public-records/#:~:text=Under%20Oregon''s%20Public%20Records%20Law,committee%20of%20the%20Legislative%20Assembly" title="https://www.doj.state.or.us/oregon-department-of-justice/public-records/attorney-generals-public-records-and-meetings-manual/i-public-records/#:~: text = Under% 20Oregon''s% 20Public% 20Records% 20Law, ủy ban% 20of% 20the% 20Legislative% 20Assembly">Luật Hồ sơ Công cộng</a> của Oregon và có sẵn cho công chúng theo yêu cầu.'
  section_agent_use_only:
    '#title': 'Chỉ sử dụng đại lý'
  agent_email:
    '#title': 'Email đại lý'
    '#default_value': '[current-user: display-name] <[current-user: mail]>'
  agent_ticket_number:
    '#title': 'Vé số'
  agent_action_taken:
    '#title': 'Hành động'
  agent_contact_type:
    '#title': 'Loại liên hệ'
  agent_ticket_type:
    '#title': 'loại vé'
  agent_summary:
    '#title': 'Tóm tắt đại lý'
  actions:
    '#title': 'Gửi (các) nút'
  ip_address:
    '#title': 'Địa chỉ IP'
    '#default_value': null
settings:
  form_open_message: null
  form_close_message: 'Biểu mẫu phản hồi của chúng tôi tạm thời bị đóng. Nếu bạn có phản hồi hoặc đề xuất về cách chúng tôi có thể cải thiện trang này, hãy gửi email cho nhóm web tại powr@portlandoregon.gov.'
  form_exception_message: null
  form_confidential_message: null
  form_access_denied_title: null
  form_access_denied_message: null
  submission_label: null
  submission_exception_message: null
  submission_locked_message: null
  submission_access_denied_title: null
  submission_access_denied_message: null
  previous_submission_message: null
  previous_submissions_message: null
  autofill_message: null
  wizard_start_label: null
  wizard_confirmation_label: null
  wizard_prev_button_label: null
  wizard_next_button_label: null
  wizard_toggle_show_label: null
  wizard_toggle_hide_label: null
  preview_label: null
  preview_title: null
  preview_message: null
  draft_saved_message: null
  draft_loaded_message: null
  draft_pending_single_message: null
  draft_pending_multiple_message: null
  confirmation_url: null
  confirmation_title: null
  confirmation_message: '<h2>Cảm ơn bạn đã gửi phản hồi, chúng tôi đánh giá cao sự giúp đỡ của bạn!</h2> Bạn sẽ nhận được email xác nhận chỉ trong giây lát. Bạn có thể trả lời email đó để thêm thông tin hoặc nhận xét bổ sung vào phản hồi của mình.<br /><br /> Tên: [webform_submission: giá trị: your_name]<br /><br /> Email: [webform_submission: giá trị: email_address]<br /><br /> Loại phản hồi: [webform_submission: giá trị: chủ đề]<br /><br /> Trang được xem lần cuối: <a href="[webform_submission:values:page_you_last_viewed]">[webform_submission: giá trị: page_you_last_viewed]</a><br /><br /> Phản hồi: [webform_submission: giá trị: phản hồi]'
  confirmation_back_label: null
  limit_total_message: null
  limit_user_message: null
handlers:
  submit_report_to_311:
    label: 'Gửi báo cáo đến 311'
    notes: null
    settings:
      from_name: null
      reply_to: null
      return_path: null
      sender_name: null
      subject: '[webform_submission: giá trị: chủ đề: raw] - [webform_submission: giá trị: phản hồi]'
      body: '<p>Chủ đề: [webform_submission: giá trị: chủ đề]</p><p> Phản hồi: [webform_submission: giá trị: phản hồi]</p><p> Tên: [webform_submission: giá trị: your_name]</p><p> Email: [webform_submission: giá trị: email_address]</p><p> Trang được xem lần cuối: [webform_submission: giá trị: page_you_last_viewed]</p><p> Đã gửi vào: [webform_submission: created]</p><p> Tác nhân người dùng: [máy chủ: HTTP_USER_AGENT]</p> [webform_submission: giá trị: agent_summary]'
  submit_report_to_website_support:
    label: 'Gửi báo cáo đến bộ phận hỗ trợ trang web'
    notes: null
    settings:
      from_name: null
      reply_to: null
      return_path: null
      sender_name: null
      subject: '[webform_submission: giá trị: chủ đề: raw] - [webform_submission: giá trị: phản hồi]'
      body: '<p>Chủ đề: [webform_submission: giá trị: chủ đề]</p><p> Phản hồi: [webform_submission: giá trị: phản hồi]</p><p> Tên: [webform_submission: giá trị: your_name]</p><p> Email: [webform_submission: giá trị: email_address]</p><p> Trang được xem lần cuối: [webform_submission: giá trị: page_you_last_viewed]</p><p> Đã gửi vào: [webform_submission: created]</p><p> Tác nhân người dùng: [máy chủ: HTTP_USER_AGENT]<br /><br /> [webform_submission: giá trị: agent_summary]</p>'
