.group-default {

  &__row {
    margin-bottom: $cloudy-space-8;
  }
  &__marquee {
    margin-bottom: $cloudy-space-6;
  }

  //Override of global p.lead { mb: 2rem } that affects grid
  p.lead {
    margin-bottom: $cloudy-space-4;
  }
  @media (min-width: 992px) {
    p.lead {
      margin-bottom: 0;
    }
  }
}
