{#
/**
 * @file
 * Cloudy main with sidebar layout
 *
 *
 * Available region variables:
 * - Primary
 * - Secondary
 *
 */
#}
<div class="row">
  <div class="col-lg-8 col-md-12">
    {{ content.primary }}
  </div>
  <div class="col-lg-4 col-md-12 ">
    {{ content.secondary }}
  </div>
</div>
