{#
/**
 * @file
 * Cloudy layout
 *
 *
 * Available region variables:
 * - actions
 * - audiences
 * - topics
 *
 */
#}
<div class="cloudy-homepage">
  <div class="row">
    <div class="col-md-4 p-0">
      {{ content.actions }}
      {{ content.audiences }}
    </div>
    <div class="col-md-8 p-0">
      {{ content.topics }}
    </div>
  </div>
</div>