{#
/**
 * @file
 * Cloudy layout
 *
 *
 * Available region variables:
 * - search
 * - popular
 * - terms
 *
 */
#}
<div class="cloudy-homepage">
    <div class="search-region-container">
        <div class="home-search-region container">
            <div class="row">
                <div class="col-lg-6 col-md-12 home-search">
                    <h1 class="title homepage-title">Search Portland.gov</h1>
                    {{ content.search }}
                </div>
                <div class="col-lg-6 col-md-12 ">
                    <div class="popular">
                        {{ content.popular }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-terms container">
        {{ content.terms }} 
    </div>
  </div>