{#
/**
 * @file
 * Cloudy elected official homepage
 *
 *
 * Available region variables:
 * - Portrait
 * - Meta
 * - Contact
 * - Main
 *
 */
#}
<div class="row">
  <div class="elected--portrait col-lg-3 col-md-4 col-sm-12 mb-6">
    {{ content.portrait }}
  </div>
  <div class="elected--meta col-lg-5 col-md-8 col-sm-12">
    {{ content.meta }}
  </div>
  <div class="elected--contact col-lg-4 col-md-12 col-sm-12">
    {{ content.contact }}
  </div>
</div>
<div class="row">
  <div class="elected--main-content col-sm-12">
    {{ content.main }}
  </div>
</div>
