{#
/**
 * @file
 * Cloudy layout
 *
 *
 * Available region variables:
 * - actions
 * - audiences
 * - topics
 *
 */
#}
<div class="cloudy-homepage container-fluid justify-content-center">
    {{ content.actions }}
    {{ content.audiences }}
    {{ content.topics }}
</div>