{#
/**
 * @file
 * Cloudy main with menu layout
 *
 *
 * Available region variables:
 * - Primary
 * - Secondary
 *
 */
#}
<div class="row no-gutters">
  <div class="col-lg-8 col-md-12 order-2">
    {{ content.primary }}
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3 order-1">
    <nav class="navbar navbar-expand-lg navbar-expand-md navbar-light m-0 p-0">
      <button class="navbar-toggler w-100" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle page menu">
        <span class="navbar-toggler-text">menu</span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {{ content.secondary }}
      </div>
    </nav>
  </div>
</div>
