{#
/**
 * @file
 * Cloudy layout
 *
 *
 * Available region variables:
 * - search
 * - popular
 * - terms
 *
 */
#}
<div class="cloudy-homepage">
    <div class="home-search-region row">
      <div class="col-md-6 p-0 home-search">
        {{ content.search }}
      </div>
      <div class="col-md-6 popular">
        {{ content.popular }}
      </div>
    </div>
    <div class="home-terms row">
        {{ content.terms }}
    </div>
  </div>