{#
/**
 * @file
 * Cloudy layout
 *
 *
 * Available region variables:
 * - left
 * - right
 *
 */
#}
<div class="cloudy-homepage container">
  <div class="row">
    <div class="col-md-4 p-0">
      {{ content.left }}
    </div>
    <div class="col-md-8 p-0">
      {{ content.right }}
    </div>
  </div>
</div>