{#
/**
 * @file
 * Cloudy layout
 *
 *
 * Available region variables:
 * - search
 * - popular
 * - terms
 *
 */
#}
<div class="cloudy-homepage">
  <div class="search-region-container">
    <div class="home-search-region container">
      <div class="row">
        <div class="col-12 mt-4">
          <h1 class="cloudy-homepage__title">{{ 'Welcome to Portland, Oregon'|t }}</h1>
        </div>
        <div class="col-md-12 col-lg-6 mt-8">
          {{ content.search }}
        </div>
      </div>
      <div class="row mt-6">
        <div class="col-lg-7 col-md-12">
          <div class="popular">
            {{ content.popular }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="home-terms container">
      {{ content.terms }}
  </div>
</div>
