{#
/**
 * @file
 * Cloudy Bootstrap 2 x col-md-6 col-sm-12
 *
 *
 * Available region variables:
 * - First
 * - Second
 *
 */
#}
<div class="row">
  <div class="col-md-6 col-sm-12">
    {{ content.first }}
  </div>
  <div class="col-md-6 col-sm-12 ">
    {{ content.second }}
  </div>
</div>