{% embed "page.html.twig" %}
  {% block main_content %}
      <div class="container-fluid">
        <a id="main-content" tabindex="-1"></a>
        {% block page_content %}
          {{ page.content }}
        {% endblock %}
      </div>
  {% endblock %}
{% endembed %}
