{% if content %}
  {# Change the title based on the usage of the regioin #}
  {# TODO: Better way to do this dynamically? #}
  {% if path('<current>') starts with '/search' %}
    {% set offcanvasLabel = 'Filters'|t %}
  {% else %}
    {% set offcanvasLabel = 'Page menu'|t %}
  {% endif %}
  <div class="cloudy-offcanvas-tools col-lg-4 offcanvas-lg offcanvas-end order-2" tabindex="-1" id="offcanvasTools" aria-labelledby="offcanvasToolsLabel">
    <div class="offcanvas-header">
      <h1 class="offcanvas-title" id="offcanvasToolsLabel">{{ offcanvasLabel }}</h1>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasTools" aria-label="{{ 'Close'|t }}"></button>
    </div>
    <div class="offcanvas-body flex-column">
      {{ content }}
    </div>
  </div>

  <button class="cloudy-offcanvas-button btn btn-lg btn-light d-lg-none order-0 ms-4 mb-4 w-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTools" aria-controls="offcanvasTools">
    {% include "@components/icon/icon.twig" with {
      name: 'filter',
    } only %}
    {{ offcanvasLabel }}
  </button>
{% endif %}
