{% if content %}
  <div class="cloudy-offcanvas-tools offcanvas-lg offcanvas-end" tabindex="-1" id="offcanvasTools" aria-labelledby="offcanvasToolsLabel">
    <div class="offcanvas-header">
      <h1 class="offcanvas-title" id="offcanvasToolsLabel">{{ 'Filters'|t }}</h1>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasTools" aria-label="{{ 'Close'|t }}"></button>
    </div>
    <div class="offcanvas-body flex-column">
      {{ content }}
    </div>
  </div>
{% endif %}
