{#
/**
 * @file
 * Display the tabs region
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}

{% if content %}
  <div class="bg-light admin-tabs" role="navigation" id="tabs">
    <div class="region region-tabs">
      {{ content }}
    </div>
  </div>
{% endif %}