{% if content %}
  <button class="col-2 btn btn-lg btn-light d-lg-none order-0 ms-4 mb-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFilters" aria-controls="offcanvasFilters">
    {% include "@elements/icon/icon.twig" with {
      name: "filter",
    } only %}
    {{ "Filters"|t }}
  </button>

  <div class="col-lg-4 offcanvas-lg offcanvas-end order-2" tabindex="-1" id="offcanvasFilters" aria-labelledby="offcanvasFiltersLabel">
    <div class="offcanvas-header">
      <h1 class="offcanvas-title" id="offcanvasFiltersLabel">{{ "Filters"|t }}</h1>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasFilters" aria-label="{{ "Close"|t }}"></button>
    </div>
    <div class="offcanvas-body flex-column">
      {{ content }}
    </div>
  </div>
{% endif %}
