{% set sidebar_classes = [
    'sidebar-right',
    'col-sm-12',
    'col-lg-3',
    'order-1',
    'order-md-2'
  ]
%}

{% if content %}
  <div {{ attributes.addClass(sidebar_classes) }}>
    {{ content }}
  </div>
{% endif %}
