{% if content %}
  <div class="cloudy-offcanvas-tools col-lg-4 offcanvas-lg offcanvas-end order-2" tabindex="-1" id="offcanvasTools" aria-labelledby="offcanvasToolsLabel">
    <div class="offcanvas-header">
      {# TODO: Currently the tools region is only used for facets/filters, but if we used it for something else
      there'd need to be a way to change this title dynamically. #}
      <h1 class="offcanvas-title" id="offcanvasToolsLabel">{{ 'Filters'|t }}</h1>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasTools" aria-label="{{ 'Close'|t }}"></button>
    </div>
    <div class="offcanvas-body flex-column">
      {{ content }}
    </div>
  </div>

  <button class="btn btn-lg btn-light d-lg-none order-0 ms-4 mb-4 w-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTools" aria-controls="offcanvasTools">
    {% include "@elements/icon/icon.twig" with {
      name: 'filter',
    } only %}
    {{ 'Filters'|t }}
  </button>
{% endif %}
