<!--DO NOT REMOVE-->
{{ patternLabFoot | raw }}

{# START: Drupal JS needed to emulate Drupal environment #}
<script src="/core/assets/vendor/domready/ready.min.js"></script>
<script src="/core/assets/vendor/jquery/jquery.min.js"></script>
<script src="/core/assets/vendor/jquery/jquery-extend-3.4.0.js"></script>
<script src="/core/assets/vendor/jquery-once/jquery.once.min.js?v=2.2.0"></script>
<script src="/core/misc/drupalSettingsLoader.js"></script>
<script src="/core/misc/drupal.js"></script>
<script src="/core/misc/drupal.init.js"></script>
{# END: Drupal JS #}

{# START: Theme JS that will get loaded in Drupal as well #}
<script src="/themes/custom/cloudy/dist/bootstrap.bundle.js"></script>
<script src="/themes/custom/cloudy/dist/cloudy.bundle.js"></script>
{# END: Theme JS #}

  </body>
</html>

