
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}

{# START: Theme JS that will get loaded in Drupal as well #}
<script src="/themes/custom/cloudy/dist/bootstrap.bundle.js"></script>
<script src="/themes/custom/cloudy/dist/cloudy.bundle.js"></script>
{# END: Theme JS #}

  </body>
</html>

