<h2>Primary Font Family: "Open Sans"</h2>
<p>Available Font Weights: 300, 300 italic, 400, 400 italic , 600, 700, 800</p>

<p>Font Fallback Order:  "Helvetica Neue", Helvetica, Arial, sans-serif</p>
<p style="font-family: 'Helvetica Neue'">Font Family "Helvetica Neue"</p>
<p style="font-family: 'Helvetica'">Font Family "Helvetica"</p>
<p style="font-family: 'Arial'">Font Family "Arial"</p>
<p style="font-family: sans-serif">Font Family "Sans Serif"</p>
