{% include "@components/badge/badge.twig" with {
  text: 'cloudy helper text',
  type: 'info'
} only %}
<p class="cloudy-helper-text">The Helper type style is subdued and intended to provide additional context.</p>
