<h1>Document Replacement Options, Contacts, Facebook and Twitter Cards, Event and News Types</h1>

<p class="cloudy-lead-text">Lead paragraph In the last couple of weeks, the POWR project team has released several new features for editors and admins.</p>

<h2>Document replacement</h2>

<p>The Drupal content management system has a robust media management feature that allows us to track and manage documents, images, video, and more. One small challenge with this system is that it keeps document names unique by default. This means, a document uploaded as a replacement for the document with the same filename would get a new web address.</p>

<p>Most times, our editors would prefer to get the same document web address when the documents are updated. A checkbox has been added that will replace the existing file by default. Please note, it can take up to 5 minutes for the cached version of the document to appear to anonymous users.</p>

<h2>Contacts</h2>

<p>A new content type has been added that allows editors to create a reusable contact that has a name, title, phone, email, and fax information.</p>

<p>By turning this information into data, editors can more easily maintain the contacts associated with news, events, pages, construction projects, and services. Look for the contacts field to add contacts to your content. It will display below the body content for now, as this is how a mobile user would experience the contact information, but we are working on alternative layouts for this information to make it more prominent for both desktop and mobile displays.</p>

<p>We will be rolling out the contacts feature to group homepages in the coming weeks and helping our editors update their contacts and location data on their groups.</p>

<h2>Facebook and Twitter Cards</h2>

<p>Content shared to Facebook or Twitter will now automatically generate the appropriate social media “card style” including the properly sized image if the featured image field is used. Give it a try. It makes the information much more prominent when shared via social media.</p>

<h3>Event types</h3>

<p>There are several types of events:</p>

<p>Community Event: public event for the community to attend</p>

<p>Meeting: meeting that is not open to the public but is published and may include meeting materials for the public after the meeting is concluded</p>

<p>Public Meeting: meeting that is open to the public and may include meeting materials for the public after the meeting is concluded</p>

<p>Hearing: a meeting that takes testimony, but is not open to the public</p>

<p>Public Hearing: a meeting that takes testimony and is open to the public</p>

<p>A group menu option for enabling “Past Meetings and Hearings” will allow you to automatically create an archive of your meeting minutes and materials for your programs, projects, and advisory groups that have regularly scheduled meetings.</p>

<h2>News types</h2>

<p>News is chronological content meant to inform the community about programs and communicate the priorities of the bureaus and elected officials. There are several types of news.</p>

<p>News article: default type used for communicating with the community</p>

<p>Public notice: formal information posted on a specific date usually related to a public hearing and testimony process</p>

<p>Press release: formal communication with the press, the intent is that this information will be published by news outlets</p>

<p>Blog post: informal communications with the community; there are no comments on our blog posts</p>

<p>News is listed by these sub-types. You can feature news to have it appear on one or more group homepages.</p>

<h2>Upcoming training opportunities</h2>

<p>The POWR team will be conducting a few large content workshop and training sessions in the remodeled Portland Building meeting space in March. We will be sending out invites for editors and admins to sign up for these sessions in the coming week.</p>

<h3>Help drafting your content</h3>

<p>We have resources on the POWR team to help draft content for your site. We have started by working with bureaus to create the titles and legacy paths for the content and groups in your migration plans.</p>

<h4>Launch gates</h4>

<p>The following work is in progress to get us to the completion of our launch gates that will allow us to redirect the homepage to portlandoregon.gov to the new Portland.gov:</p>

<p>The new Find a Park feature is nearing migration so that Parks staff can update the descriptions and data in the new system.</p>

<h5>Commissioner Hardesty’s website is ready for launch.</h5>

<p>We are working with the auditor’s staff to import the city charter, code, and Portland Policy Documents into the new site. We hope to have the content migrated in an unpublished draft state by the end of the month. </p>

</p>In the past month, nearly 1,000 new pages, news, and events have been created on Portland.gov. Additionally, we’ve added over 30 advisory groups, projects, and programs to the platform. The pace of migration has picked up and most bureaus are actively rewriting their critical content.</p>
