{% if rows[0].content is not empty %}
  {% spaceless %}
    <div class="d-flex flex-column">
      {% for row in rows %}
        {% set facebook = row.content['#row']._entity.field_facebook[0].value %}
        {% set instagram =
          row.content['#row']._entity.field_instagram[0].value
        %}
        {% set twitter = row.content['#row']._entity.field_twitter[0].value %}
        {% set youtube = row.content['#row']._entity.field_youtube[0].value %}
        {% set linkedin = row.content['#row']._entity.field_linkedin[0].value %}
        {% set nextdoor = row.content['#row']._entity.field_nextdoor[0].value %}

        {% if facebook %}
          {% spaceless %}
            {% include '@components/link/link.twig' with {
              icon: {
                name: 'facebook'
              },
              text: facebook,
              url: "http://facebook.com/#{facebook}"
            } only %}
          {% endspaceless %}
        {% endif %}
        {% if twitter %}
          {% spaceless %}
            {% include '@components/link/link.twig' with {
              icon: {
                name: 'twitter'
              },
              text: twitter,
              url: "http://twitter.com/#{twitter}"
            } only %}
          {% endspaceless %}
        {% endif %}
        {% if instagram %}
          {% spaceless %}
            {% include '@components/link/link.twig' with {
              icon: {
                name: 'instagram'
              },
              text: instagram,
              url: "http://instagram.com/#{instagram}"
            } only %}
          {% endspaceless %}
        {% endif %}
        {% if youtube %}
          {% spaceless %}
            {% include '@components/link/link.twig' with {
              icon: {
                name: 'youtube',
                fontAwesome: true,
                brand: true
              },
              text: youtube,
              url: "http://youtube.com/#{youtube}"
            } only %}
          {% endspaceless %}
        {% endif %}
        {% if linkedin %}
          {% spaceless %}
            {% include '@components/link/link.twig' with {
              icon: {
                name: 'linkedin',
                fontAwesome: true,
                brand: true
              },
              text: linkedin,
              url: "http://linkedin.com/#{linkedin}"
            } only %}
          {% endspaceless %}
        {% endif %}
        {% if nextdoor %}
          {% spaceless %}
            {% include '@components/link/link.twig' with {
              icon: {
                name: 'nextdoor'
              },
              text: nextdoor,
              url: "http://nextdoor.com/#{nextdoor}"
            } only %}
          {% endspaceless %}
        {% endif %}
      {% endfor %}
    </div>
  {% endspaceless %}
{% endif %}
