{# CLASSES #}
{% set classes = [
  'cloudy-content-chain',
]
%}
{# TWIG #}
<div class="{{ classes|join(' ')|trim }}">
  {% for chainLink in items %}
    {% include "@components/chain-link/chain-link.twig" with {
      title: chainLink.title,
      url: chainLink.url,
      img: chainLink.img
    } only %}
  {% endfor %}
</div>
