{% set type = type|default("gray") %}
{% set is_bold = is_bold|default(false) %}
{% set icon = icon|default(false) %}
{% set iconSize = icon.size|default('m') %}

{% set classes = [
    'badge',
    type ? 'badge-' ~ type,
  ]|merge(classes|default([]))
%}

{% spaceless %}
  <div class="{{ classes|join(' ')|trim }}">
    {% if icon and icon.name %}
      {% include '@elements/icon/icon.twig' with {
        name: icon.name,
        size: iconSize,
      } only %}
    {% endif %}
    <span>{{ text }}</span>
  </div>
{% endspaceless %}
