.cloudy-badge {
  display: inline-block;
  padding: $cloudy-space-1 $cloudy-space-2;
  font-size: 75%;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  border-radius: 10rem;
  &--service {
    background-color: $cloudy-gray-base;
  }
  &--popular {
    background-color: $cloudy-yellow-base;
  }
  &:empty {
    display: none;
  }
}
