{% set type = type|default("default") %}
{% set isBold = isBold|default(false) %}

{% set classes = [
  'cloudy-badge',
  'cloudy-badge--' ~ type,
  isBold ? 'cloudy-badge--bold',
] | merge(classes|default([])) %}

<div class="{{ classes|join(' ') }}">{{ text }}</div>
