%badge-public {
  line-height: ($cloudy-type-body-line-height / $cloudy-type-body-font-size);
  font-size: $cloudy-type-body-font-size;
  padding: 0.125rem $cloudy-space-2;
  border-radius: $border-radius-sm;
}

.badge-gray {
  @extend %badge-public;
  font-weight: $font-weight-normal;
  @include badge-variant($cloudy-color-neutral-200);
}

.badge-green {
  @extend %badge-public;
  font-weight: $font-weight-semibold;
  @include badge-variant($cloudy-color-green-600);
}

.badge-orange {
  @extend %badge-public;
  color: $cloudy-color-neutral-0;
  font-weight: $font-weight-semibold;
  background: linear-gradient(277.53deg, #BD6628 0%, #DAA60B 100%);
}

.badge-red {
  @extend %badge-public;
  color: $cloudy-color-neutral-0;
  font-weight: $font-weight-semibold;
  background: linear-gradient(95.41deg, #BD6628 0%, #B23434 100%);
  .icon {
    color: $cloudy-color-neutral-0;
  }
}
