{% set type = type|default("default") %}
{% set is_bold = is_bold|default(false) %}

{% set classes = [
    'cloudy-badge',
    'cloudy-badge--' ~ type,
    is_bold ? 'cloudy-badge--bold',
  ]|merge(classes|default([]))
%}

<div class="{{ classes|join(' ') }}">{{ text|t }}</div>
