{% set text = text|default('Badge') %}
{% set type = type|default('light') %}
{% set icon = icon|default(false) %}

{% set classes =
  [
    'badge',
    'rounded-pill',
    'text-wrap',
    type ? 'bg-' ~ type,
    mb ? 'mb-' ~ mb : '',
    ms ? 'ms-' ~ ms : '',
    me ? 'me-' ~ me : ''
  ]|merge(classes|default([]))
%}

{% apply spaceless %}
  <div class="{{ classes|join(' ')|trim }}">
    {% if icon and icon.name %}
      {% include '@elements/icon/icon.twig' with {
        name: icon.name,
        size: icon.size
      } only %}
      <span>{{ text }}</span>
    {% else %}
      {{ text }}
    {% endif %}
  </div>
{% endapply %}
