{% set type = type|default("gray") %}
{% set is_bold = is_bold|default(false) %}

{% set classes = [
    'badge',
    type ? 'badge-' ~ type,
  ]|merge(classes|default([]))
%}

<div class="{{ classes|join(' ')|trim }}">{{ text }}</div>
