.cloudy-badge {
  display: inline-block;
  padding: 0 $cloudy-space-1;
  box-sizing: border-box;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  text-transform: capitalize;

  &--nav-alert {
    // @todo Nav Alert should be it's own component
    vertical-align: top;
    border-radius: $border-radius-tight;
    margin: 0 0 0.25em 0.125em;
    background-color: $cloudy-color-red-500;
  }

  &--default {
    color: $cloudy-color-neutral-900;
    background-color: $cloudy-color-neutral-100;

    &.cloudy-badge--bold {
      color: $cloudy-color-neutral-0;
      background-color: $cloudy-color-neutral-900;
    }
  }

  &--inform {
    color: $cloudy-color-blue-500;
    background-color: $cloudy-color-blue-100;

    &.cloudy-badge--bold {
      color: $cloudy-color-neutral-0;
      background-color: $cloudy-color-blue-500;
    }
  }

  &--calm {
    color: $cloudy-color-green-500;
    background-color: $cloudy-color-green-100;

    &.cloudy-badge--bold {
      color: $cloudy-color-neutral-0;
      background-color: $cloudy-color-green-500;
    }
  }

  &--warn {
    color: $cloudy-color-orange-500;
    background-color: $cloudy-color-orange-100;

    &.cloudy-badge--bold {
      color: $cloudy-color-neutral-0;
      background-color: $cloudy-color-orange-500;
    }
  }

  &--danger {
    color: $cloudy-color-red-500;
    background-color: $cloudy-color-red-100;

    &.cloudy-badge--bold {
      color: $cloudy-color-neutral-0;
      background-color: $cloudy-color-red-500;
    }
  }

  &--highlight {
    color: $cloudy-color-neutral-900;
    background-color: $cloudy-color-yellow-300;

    &.cloudy-badge--bold {
      color: $cloudy-color-neutral-900;
      background-color: $cloudy-color-yellow-500;
    }
  }

  &--charm {
    color: $cloudy-color-purple-500;
    background-color: $cloudy-color-purple-100;

    &.cloudy-badge--bold {
      color: $cloudy-color-neutral-0;
      background-color: $cloudy-color-purple-500;
    }
  }

  &--cool {
    color: $cloudy-color-teal-500;
    background-color: $cloudy-color-teal-100;

    &.cloudy-badge--bold {
      color: $cloudy-color-neutral-0;
      background-color: $cloudy-color-teal-500;
    }
  }
}

/* admin content/media view tables */
.view-admin-group-content .status-badge {
  margin-right: 5px;
}

.status-unpublished {
  color: $cloudy-color-red-500;
}

.status-published {
  color: $cloudy-color-green-500;
}
