{% set text = text|default('Badge') %}
{% set text_wrap = text_wrap|default(false) %}
{% set color = color|default('gray') %}
{% set icon = icon|default(false) %}

{% set classes =
  [
    'badge',
    color ? 'badge-' ~ color,
    text_wrap ? 'text-wrap text-left',
    mb ? 'mb-' ~ mb,
    ml ? 'ml-' ~ ml,
    mr ? 'mr-' ~ mr
  ]|merge(classes|default([]))
%}

{% spaceless %}
  <div class="{{ classes|join(' ')|trim }}">
    {% if icon and icon.name %}
      {% include '@elements/icon/icon.twig' with {
        name: icon.name,
        size: icon.size
      } only %}
    {% endif %}
    <span>{{ text }}</span>
  </div>
{% endspaceless %}
