{% set isPill = isPill|default(false) %}
{% set isNavAlert = isNavAlert|default(false) %}

{% set classes = [
  'cloudy-badge',
  'cloudy-badge--' ~ type,
  isPill ? 'cloudy-badge-pill',
  isNavAlert ? '.cloudy-badge-nav-alert',
] %}

<div class="{{ classes | join(' ') }}">{{ text }}</div>