<label for="pl-toggle-labels">Toggle labels & demo spacing:</label> <input type="checkbox" name="pl-toggle-labels" class="pl-toggle-labels" id="pl-toggle-labels" />
<div class="pl-demo-wrapper">
  <div class="pl-demo-item">
    <h6>Location with `hours`</h6>
    {% include "@components/location/location.twig" with {
      placename: 'Willamette Park',
      address: '6500 SW Macadam Ave, Portland, OR 97219',
      address2: '',
      hours: '5:00am - 10:00pm',
      links: [
        {
          icon: {
          name: 'map-pin',
        },
          text: 'Get Directions',
          url: '#get-directions',
        },
        {
          icon: {
          name: 'information',
        },
          text: 'More about this location',
          url: '#more-about-this-location',
        },
      ]
    } only %}
  </div><br />
  <div class="pl-demo-item">
    <h6>Location with `address2` and one link</h6>
    {% include "@components/location/location.twig" with {
      placename: 'Location with a room',
      address: '1234 SW Street Ave, Portland, OR 97219',
      address2: 'Room B-21',
      hours: '',
      links: [
        {
          icon: {
          name: 'information',
        },
          text: 'More about this location',
          url: '#more-about-this-location',
        },
      ]
    } only %}
  </div><br />
  <div class="pl-demo-item">
    <h6>Location without `links`</h6>
    {% include "@components/location/location.twig" with {
      placename: 'Location without links',
      address: '1234 SW Street Ave, Portland, OR 97219',
      address2: 'Room B-21',
      hours: '',
      links: []
    } only %}
  </div>
</div>
