{% for level in 1..6 %}
  <div class="pl-demo-item">
    <h6>Level: <code>{{ level }}</code></h6>
    {% include "@components/heading/heading.twig" with {
      level: level,
      text: headline.short
    } only %}
  </div>
{% endfor %}
