{% set level = 3 %}
{% set style = 6 %}
<div class="pl-demo-item">
  <h6>Level: <code>{{ level }}</code> with style override of <code>h{{ style }}</code></h6>
  {% include "@components/heading/heading.twig" with {
    level: 3,
    text: headline.short,
    style: 6,
  } only %}
</div>
