{#
/**
 * @file
 * Theme override to display a document teaser
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *embed
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
<div class="document mb-6">
  <h2 class="h4 mb-1">
    {% if content.field_efiles_link['#object'] %}
      {{ content.field_efiles_link }}
    {% elseif content.field_document %}
      {{ content.field_document }}
    {% endif %}
  </h2>
  {{ content|without('field_document','field_efiles_link') }}
</div>
