{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{% extends 'media.html.twig' %}
{% block content %}
  {% set icon = media.field_mime_type.0.value %}
  {% set fileSize = media.field_file_size.0.value %}
  <a href="{{ fileURL }}">{{ file_icon_markup(icon) }}{{ name }}</a>
  {{ file_size_string(fileSize) }}
{% endblock %}
