{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{%
  set media_classes = media_classes|default([
    'media',
    'media--type-' ~ media.bundle()|clean_class,
    view_mode ? 'media--view-mode-' ~ view_mode|clean_class,
  ])
%}

{%
  set badge_classes = badge_classes|default([
    'badge',
    'badge-danger',
  ])
%}

{% spaceless %}
  <div{{attributes.addClass(media_classes)}}>
    {% block status %}
      {% if not media.isPublished() %}
        <span{{ attributes.addClass(badge_classes).removeClass(media_classes) }}>{{ 'unpublished'|t|capitalize }}</span>
      {% endif %}
    {% endblock %}
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
{% endspaceless %}
