{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{%
  set media_classes = [
    'media',
    'media--type-' ~ media.bundle()|clean_class,
    view_mode ? 'media--view-mode-' ~ view_mode|clean_class,
  ]
%}

{% spaceless %}
  <div{{attributes.addClass(media_classes)}}>
    {% block status %}
      {% if not media.isPublished() %}
        <span class="badge badge-danger badge--unpublished">{{ "Unpublished" | t }}</span>
      {% endif %}
    {% endblock %}
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
{% endspaceless %}
