
html, body { height: 100%; }
body { background-color: #999999; }

.top-bar { background-color: #ffffff; position: absolute; z-index: 4000; width: 100%; height: 50px; }
.top-bar .brand { color: #016c99 !important; font-weight: bold; font-size: 24px; }
.top-bar .col-icon { width: 22px; margin-top: 13px; }
.top-bar .text-left.col-icon { float: left; }
.top-bar .text-right.col-icon { float: right; }
.top-bar .text-center { margin-top: 8px; }

/* sprite icons */
.icon { 
	background-image: url('../img/sprite_icons.png'); cursor: pointer;
	width: 22px; height: 22px; display: inline-block;
	text-indent: 100%; white-space: nowrap; overflow: hidden;
}
.icon.back { background-position: 0 0; }
.icon.search { background-position: 66px 0px; }
.modal-close { 
	float: right; 
	background-position: -66px 0; 
	display: block;
}
.modal-cancel { 
	float: right; 
	background-position: -88px 0; 
	display: block;
}
.modal-body {
	float: left;
	width: 90%;
}

/* navbar */
.navbar-form { border: none 0; }

.container.map-wrapper { padding-left: 0px; padding-right: 0px; }



/* Leaflet customizations */
.carousel-inner { position: inherit; }
.leaflet-top .leaflet-control { margin-top: 60px; }
.leaflet-control-attribution { font-size: 0.8em; }

.projectTeaser { cursor: pointer; }

.projectTeaser .modal-content {
    position: fixed;
	width: 80%;
    height: 130px;
    left: 10%;
    bottom: 50px;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 10px;
    z-index: 1;
}

.projectTeaser img { float: left; margin: 0 10px 20px 0; }

.projectTeaser h4 { margin-top: 0px; }

.projectDetail, .searchPanel {
    position: absolute;
	min-height: 100%;
    top: 0;
    background-color: #ffffff;
    margin: 0 auto;
    z-index: 3000;
    padding-top: 50px;
}


#DetailCarousel {
	height: 350px;
    overflow: hidden;
}

.projectDetail img {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	display: block;
}

.projectDetail .detail-container {
    padding: 15px;
}



.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/* ------ modal overrides -------- */
.modal {
	position: inherit;
}


@media (max-width: 759px) {
    .navbar-form input[type="text"] { width: 100%; }
    .navbar-form .form-group { display: inline-block; width: 88%; margin-right: 5px; }
}
