/**
 * @file
 * Visual styles for Barrio's search results.
 */

.search-results {
    padding: 0;
    list-style-position: inside;
}

.search-results li {
    border-bottom: $border-width solid $border-color;
    padding-bottom: ($spacer * .5);
    margin-bottom: ($spacer * .5);
}

.search-results li:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: $spacer;
}

.search-result__title {
    font-weight: bold;
}

.search-result__snippet-info {
    padding-left: 0;
    /* LTR */
}

[dir="rtl"] .search-result__snippet-info {
    padding-right: 0;
}