{% set type = type|default('primary') %}
{% set classes = [
  'council-documents',
  'council-documents--type-' ~ type,
  isDark ?? 'council-documents--dark',
] %}

<div class="{{ classes | join(' ') }}">
  <h2 class="council-documents__text">{{ text }}</h2>
</div>
