@mixin message-color($class, $background, $color, $border) {
  &--#{$class},
  &-#{$class} {
    background-color: $background;
    color: $color;
    border: 1px solid $border;

    &__heading {
      color: $color;
    }
  }
}

.message {
  display: block;
  padding: $cloudy-space-4;
  color: $cloudy-color-neutral-900;
  border-radius: $border-radius-sm;
  background: $cloudy-color-neutral-100;

  &__heading {
    font-weight: 600;
  }

// remove bottom margin from p element when inside message
p {
  margin-bottom: 0 !important;
  }

  // Message variations
  @include message-color("info", $cloudy-color-blue-100, $cloudy-color-blue-700, $cloudy-color-blue-300);
  @include message-color("success", $cloudy-color-green-100, $cloudy-color-green-800, $cloudy-color-green-300);
  @include message-color("warning", $cloudy-color-orange-100, $cloudy-color-orange-700, $cloudy-color-orange-300);
  @include message-color("danger", $cloudy-color-red-100, $cloudy-color-red-700, $cloudy-color-red-300);
}

// TODO: follow up with design to figure out a better way to put spacing after all message
// instead of just the login instructions.
#block-login-message {
  margin-bottom: $cloudy-space-4;
}
