@mixin message-color($class, $color1, $color2) {
  &--#{$class},
  &-#{$class} {
    background-color: $color1;
    color: $color2;

    &__heading {
      color: $color2;
    }
  }
}

.message {
  display: block;
  padding: $cloudy-space-4;
  color: $cloudy-color-neutral-900;
  border-radius: $border-radius-sm;
  background: $cloudy-color-neutral-100;

  &__heading {
    font-weight: 600;
  }

// remove bottom margin from p element when inside message
p {
  margin-bottom: 0 !important;
  }

  // Message variations
  @include message-color("info", $cloudy-color-blue-100, $cloudy-color-blue-800);
  @include message-color("success", $cloudy-color-green-100, $cloudy-color-green-500);
  @include message-color("warning", $cloudy-color-orange-100, $cloudy-color-orange-500);
  @include message-color("danger", $cloudy-color-red-100, $cloudy-color-red-500);
}
