.morsel {
  &.morsel--is-draft {
    img {
      filter: grayscale(1);
    }
  }

  &__image {
    @media (min-width: $cloudy-breakpoint-md) {
      margin-left: $cloudy-space-4;
    }
  }

  &__location {
    & + .morsel__text {
      margin-top: $cloudy-space-4;
    }

    .field--name-title {
      font-weight: 600;
    }
  }
}
