.morsel {
  margin:  $cloudy-space-8 0;

  &__date {
    @include type-style($cloudy-ui-text);
    margin-bottom: $cloudy-space-0;
  }

  &__heading {
    h2 {
      margin-bottom: $cloudy-space-2;
    }
  }

  &__location {
    & + .morsel__text {
      margin-top: $cloudy-space-4;
    }
    .field--name-title {
      font-weight: 600;
    }
  }
}

.morsel--image-featured {
  .morsel__image-inner {
    margin: $cloudy-space-2 0 $cloudy-space-3;
    width: 100%;
    @media (min-width: $cloudy-breakpoint-md) {
      padding-left: $cloudy-space-4;
      margin: 0;
    }

    img, picture {
      width: 100%;
    }
  }

  &.morsel--is-draft {
    .morsel__image-inner {
      img, picture {
        filter: grayscale(1);
      }
    }
  }
}
