.morsel {
  position: relative;
  word-wrap: break-word;
  display: flex;
  margin:  $cloudy-space-4 0;

  &__date {
    @include type-style($cloudy-ui-text);
    display: block;
    margin-bottom: $cloudy-space-0;

    &:empty {
      display: none;
    }

    @media (min-width: $cloudy-breakpoint-md) {
      display: inline-block;
    }
  }

  &__heading h2 {
    margin-bottom: 0;
  }

  &__type {
    display: block;
    padding-right:  $cloudy-space-0;

    @media (min-width: $cloudy-breakpoint-md) {
      display: inline-block;
    }
  }

  &__location {
    & + .morsel__text {
      margin-top: $cloudy-space-4;
    }
    .field--name-title {
      font-weight: 600;
    }
  }
}

.morsel--image-featured {
  flex-direction: column;
  @media (min-width: $cloudy-breakpoint-md) {
    display: flex;
    flex-direction: row;
  }

  .morsel__image {
    @media (min-width: $cloudy-breakpoint-md) {
      order: 2;
      width: 25%;
    }
  }

  .morsel__image-inner {
    width: 100%;

    @media (min-width: $cloudy-breakpoint-md) {
      padding-left: $cloudy-space-4;
    }

    img, picture {
      width: 100%;
    }
    // Temp override of all fields containing mb-2 classes
    .mb-2 {
      margin-bottom: 0 !important; // While it hurts me, this is the only way to override ☠︎
    }
  }

  .morsel__body {
    @media (min-width: $cloudy-breakpoint-md) {
      order: 1;
      width: 75%;
    }
  }

  &.morsel--is-draft {
    .morsel__image-inner {
      img, picture {
        filter: grayscale(1);
      }
    }
  }
}
