{% set content_first %}
  <div class="pl-layout-placeholder pl-layout-placeholder--fllled" style="height: 150px;">Content Left</div>
{% endset %}

{% set content_second %}
  <div class="pl-layout-placeholder pl-layout-placeholder--fllled" style="height: 150px;">Content Right</div>
{% endset %}

{% include "@layouts/twocol/twocol.twig" with {
  content_first: content_first,
  content_second: content_second,
} only %}
