/**
* @file
* Styles for formatted output of shs module.
*/

.item-list ul.shs {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.shs li {
  float: left;
  padding: 0 5px 0 0;
  white-space: nowrap;
}
ul.shs li:after {
  content: '>';
  margin: 0 0 0 5px;
}
ul.shs li:last-of-type {
  padding-right: 0;
}
ul.shs li:last-of-type:after {
  content: '';
  margin: 0;
}
