{#
/**
 * @file
 * The message displayed when no media provider can be found to handle a URL.
 */
#}
No media provider was found to handle the given URL. See <a href="https://www.drupal.org/node/2842927">the documentation</a> for more information.
