$tray-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, right 0.3s ease-in-out, left 0.3s ease-in-out,
  width 0.3s ease-in-out;

$overlay-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, background 0.3s ease-in-out;

.drawer {
  background: $cloudy-color-neutral-0;
  height: 100vh;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 0;
  z-index: 10;
  
  @include transition($tray-transition);
  
  &--position-left {
    left: -100vw;
    order: -1;
  }
  
  &--position-right {
    right: -100vw;
  }
  
  &.is-active {
    opacity: 1;
    z-index: 600;
    width: 100vw;
    overflow: scroll;

    &.drawer--position-left {
      left: 0;
    }

    &.drawer--position-right {
      right: 0;
    }

    @include media-breakpoint-between(sm, md) {
      width: 75vw;
    }

    @include media-breakpoint-up(md) {
      width: 50vw;
    }
  }

  @include media-breakpoint-up(lg) {
    opacity: 1;
    position: static;
    transition: none;
    width: auto;
    height: auto;

    @extend .col-lg-3;

    //  hide the button
    &__open {
      display: none;
    }
  }

  &__head {
    border-bottom: 1px solid $cloudy-color-neutral-100;
    display: flex;
    flex-direction: column;
    margin-bottom: $spacer;
    padding: $spacer * 0.5;

    @extend .d-lg-none;

    button {
      text-transform: capitalize;
    }
  }

  &__open,
  &__close {
    background: $cloudy-color-neutral-100;
    order: -1;

    .icon {
      color: $cloudy-color-neutral-900;
    }

    &:hover {
      background: $cloudy-color-neutral-300;
    }

    &--position-left {
      margin-right: auto;
    }

    &--position-right {
      margin-left: auto;
    }
  }

  &__overlay {
    background: transparent;
    height: 100%;
    margin: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    width: 100%;
    top: 0;
    transition: $overlay-transition;
    visibility: hidden;
    z-index: 9;

    //this feels overkill, perhaps remove
    @media (min-width: 992px) {
      display: none !important;
    }

    .is-active + & {
      background: rgba($cloudy-color-neutral-900, 0.6);
      opacity: 0.6;
      transition: $overlay-transition;
      visibility: visible;
    }
  }
}
