{% set classes = [
  'input-group',
  size == 'big' ? 'input-group-lg' : '',
  size == 'small' ? 'input-group-sm' : '',
] %}

<div{{ attributes.addClass(classes) }}>
  {{ input }}
  <div class="input-group-append">
    {{ buttons }}
  </div>
</div>
