<div class="mb-4 search-api-page-block-form-search-portland-gov search-api-page-block-form search-form search-block-form container-inline cloudy-search-form cloudy-search-form--large block block-search-api-page block-search-api-page-form-block d-block d-lg-flex align-items-center" data-drupal-selector="search-api-page-block-form-search-portland-gov" novalidate="" id="block-searchapipagesearchblockform-2" data-block-plugin-id="search_api_page_form_block">
	<div class="content w-100">
		<div class="genai-form">
			<div class="js-form-item form-item js-form-type-search-api-autocomplete form-item-keys js-form-item-keys form-no-label">
				<label for="edit-keys" class="visually-hidden">Search</label>
				<input placeholder="Search Portland.gov" aria-label="Search Portland.gov" title="Search Portland.gov" size="20" data-twig-suggestion="search-api-page-block-form-search-portland-gov" data-drupal-selector="edit-keys" data-search-api-autocomplete-search="search_portland_gov" class="form-autocomplete cloudy-search-form__input ui-autocomplete-input" data-autocomplete-path="/search_api_autocomplete/search_portland_gov" type="search" id="edit-keys" name="keys" value="{{ form.keys['#value'] }}" maxlength="128" data-once="autocomplete header-search-autocomplete search-api-autocomplete" autocomplete="off">
			</div>
			<div data-twig-suggestion="search-api-page-block-form-search-portland-gov" data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
				<input data-twig-suggestion="search-api-page-block-form-search-portland-gov" data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="" class="button js-form-submit form-submit cloudy-btn--icon" aria-label="submit">
			</div>
		</div>
	</div>
</div>
<div class="vais-remainder">
	{{ form|without('help_link')|without('keys')|without('searchPage')|without('submit')}}
</div>
