{% set title_markup = [{'#markup': result.htmlTitle|replace({ '| Portland.gov': '' })|render}] %}
{% set snippet_markup = [{'#markup': result.snippet|render}] %}
<div class="result">
	<h3 class="mb-2">
		<a href="{{ result.link }}">{{ title_markup }}</a>
	</h3>
	<div class="snippet">{{ snippet_markup }}</div>
</div>
