/* Featured and related cards */
.card--featured--group,
.card--related--group {
  border: none;
  background: $cloudy-color-blue-800;
  cursor: pointer;

  h3 a {
    color: $cloudy-color-neutral-0;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.card-body .field--name-bundle-fieldnode,
.card-body .field--name-field-page-type,
.card-body .field--name-bundle-fieldgroup {
  font-size: medium;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $cloudy-color-neutral-100;
}

.node--type-news {
  &.node--view-mode-featured {
    cursor: pointer;
  }
}

/* Base card styles */
.card {
  display: block; //IE11 set image height when using 'img-fluid' inside card
  margin-bottom: $cloudy-space-4;
  border-radius: 0;
  p {
    margin-bottom: 0;
  }
  .card-img-top {
    background: $white;
  }
  @include media-breakpoint-up(lg) {
    display: flex;
    flex-direction: row-reverse;
    .card-img-top {
      flex: 1 0 480px;
    }
    .card-body {
      flex-basis: 100%;
    }
  }
}
.card-deck {
  .card {
    @include media-breakpoint-up(sm) {
      display: block; //IE11 set image height when using 'img-fluid' inside card
      flex-basis: calc((100% / 2) - #{$card-deck-margin * 2});
      max-width: calc((100% / 2) - #{$card-deck-margin * 2});
      margin-bottom: $card-deck-margin * 2;
    }
    @include media-breakpoint-up(lg) {
      flex-basis: calc((100% / 3) - #{$card-deck-margin * 2});
      max-width: calc((100% / 3) - #{$card-deck-margin * 2});
      .card-img-top {
        flex-basis: inherit;
      }
    }
  }
}
.node .card-img--featured .field--type-image {
  margin: 0;
}
.node .media--view-mode-featured .field--type-image {
  margin: 0 0 $cloudy-space-4;
  img {
    margin: 0;
  }
}
.step {
  .card {
    &:first-child {
      max-width: 100%;
    }
    @include media-breakpoint-up(sm) {
      flex-basis: calc(50% - #{$card-deck-margin * 2});
      max-width: calc(50% - #{$card-deck-margin * 2});
      margin-bottom: $card-deck-margin * 2;
    }
    @include media-breakpoint-only(md) {
      max-width: 100%;
      flex-basis: 100%;
      margin-bottom: $card-deck-margin;
    }
  }
}
