/* Featured and related cards */
.card {
  border: none;
  background: $cloudy-color-blue-800;
  cursor: pointer;

  h3 a {
    color: $cloudy-color-neutral-0;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.node--type-news {
  &.node--view-mode-featured {
    cursor: pointer;
  }
}

/* Base card styles - applied to list page items which will later be swapped out for morsel */
.card {
  display: block; //IE11 set image height when using 'img-fluid' inside card
  border-radius: 0;
  .card-img-top {
    background: $white;
  }
  @include media-breakpoint-up(lg) {
    display: flex;
    flex-direction: row-reverse;
    .card-img-top {
      flex: 1 0 480px;
    }
    .card-body {
      flex-basis: 100%;
    }
  }
}

/* Used on service cards - https://portlandor.lndo.site/fire/permits-inspections/services/facility-permit-program-fire-applications */
.card-deck {
  // TODO: remove .card after group homepage featured cards are replaced with Tile component
  .card {
    @include media-breakpoint-up(sm) {
      margin-bottom: $card-deck-margin * 2;
      display: block; //IE11 set image height when using 'img-fluid' inside card
      flex-basis: calc((100% / 2) - #{$card-deck-margin * 2});
      max-width: calc((100% / 2) - #{$card-deck-margin * 2});
    }
    @include media-breakpoint-up(lg) {
      flex-basis: calc((100% / 3) - #{$card-deck-margin * 2});
      max-width: calc((100% / 3) - #{$card-deck-margin * 2});
      .card-img-top {
        flex-basis: inherit;
      }
    }
  }
  // Max 2-col card deck
  &--2 {
    .card {
      @include media-breakpoint-up(sm) {
        display: block; //IE11 set image height when using 'img-fluid' inside card
        flex-basis: calc((100% / 2) - #{$card-deck-margin * 2});
        max-width: calc((100% / 2) - #{$card-deck-margin * 2});
        margin-bottom: $card-deck-margin * 2;
      }
    }
  }
}

.node .card-img--featured .field--type-image {
  margin: 0;
}
.node .media--view-mode-featured .field--type-image {
  img {
    margin: 0;
  }
}
