{#
/**
 * @file
 * Override of the teaser display of a location.
 *
 */
#}
<div class="location mb-5">
  <div{{ title_attributes.addClass('h4 location-label') }}>
    {{ label }}
  </div>
  {{ content }}
</div>