// Container for tray trigger buttons

.cloudy-toolbar {
  display: flex;
  flex-direction: column;
  margin-bottom: $spacer;
  @extend .d-lg-none;
  button {
    background-color: $gray;
  }
}

// Tray left and right

body {
  &.is-active {
    position: fixed; // Lock body scroll when tray is active
    width: 100%;
  }
}

.cloudy-tray {
  background: $white;
  height: 100%;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
  @include transition($tray-transition);
  @include media-breakpoint-between(sm, md) {
    width: 75vw;
  }
  @include media-breakpoint-up(md) {
    width: 50vw;
  }
  @include media-breakpoint-up(lg) {
    opacity: 1;
    position: relative;
    transition: none;
    @extend .col-lg-3;
  }
  &.is-active {
    opacity: 1;
    overflow: scroll;
    transform: translateX(0);
  }
  &__head {
    border-bottom: 1px solid $gray-300;
    display: flex;
    flex-direction: column;
    margin-bottom: $spacer;
    padding: $spacer * 0.5;
    @extend .d-lg-none;
    button {
      text-transform: capitalize;
    }
  }
  &--menu {
    left: -100%; // Hide tray transition on page load
    transform: translateX(-100vw);
    @include media-breakpoint-up(lg) {
      left: 0;
      transform: translateX(0);
    }
    &.is-active {
      left: 0;
    }
  }
  &--tools {
    right: -100%; // Hide tray transition on page load
    transform: translateX(100vw);
    @include media-breakpoint-up(lg) {
      right: 0;
      transform: translateX(0);
    }
    &.is-active {
      right: 0;
    }
  }
}

// Tray overlay

.cloudy-overlay {
  background: transparent;
  height: 100%;
  margin: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  width: 100%;
  top: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, background 0.3s ease-in-out;
  visibility: hidden;
  z-index: 9;
  @extend .d-lg-none;
  &.is-active {
    background: rgba($black, 0.6);
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, background 0.3s ease-in-out;
    visibility: visible;
  }
}
