title: 网站反馈
description: 此网络表单用于收集用户和编辑的网站反馈。
category: null
elements: |
  subject:
    '#title': 反馈类型
    '#options':
      'I cannot find what I''m looking for': 我找不到我要找的东西
      'I have a question': 我有个问题
      'The page looks broken': 页面看起来坏了
      'The information looks incorrect': 信息看起来不正确
      'Contact an elected official with feedback': 'Contact an elected official with feedback'
    '#empty_option': '-  选择  -'
  link_to_contact_elected:
    '#markup': '<div class="alert alert--info next-steps"><h2>下一步</h2><p>请使用<a href="/help/contact-elected-official">联系人的官方表格</a>发送您的反馈或请求会议。</p></div>'
  feedback:
    '#title': 细节
    '#description': 请具体说明，以便我们更好地为您提供帮助。
  your_name:
    '#title': 你的名字
  email_address:
    '#title': 你的邮件
    '#default_value': null
  page_you_last_viewed:
    '#title': 您上次查看的页面
    '#description': 如果您想在不同的页面上发表评论，您可以更改此地址。
    '#default_value': '[服务器：HTTP_REFERER]'
  public_records_statement:
    '#markup': '根据俄勒冈州<a data-renderer-mark="true" href="https://www.doj.state.or.us/oregon-department-of-justice/public-records/attorney-generals-public-records-and-meetings-manual/i-public-records/#:~:text=Under%20Oregon''s%20Public%20Records%20Law,committee%20of%20the%20Legislative%20Assembly" title="https://www.doj.state.or.us/oregon-department-of-justice/public-records/attorney-generals-public-records-and-meetings-manual/i-public-records/#:~: text=Under%20Oregon''s%20Public%20Records%20Law,committee%20of%20the%20Legislative%20Assembly">公共记录法</a>，您在本表格中提供的信息被视为公共记录，可应要求提供给公众。'
  section_agent_use_only:
    '#title': 仅限代理使用
  agent_email:
    '#title': 代理电子邮件
    '#default_value': '[当前用户：显示名称] <[当前用户：邮件]>'
  agent_ticket_number:
    '#title': 票号
  agent_action_taken:
    '#title': 采取的行动
  agent_contact_type:
    '#title': 联系方式
  agent_ticket_type:
    '#title': 票种
  agent_summary:
    '#title': 代理摘要
  actions:
    '#title': 提交按钮
  ip_address:
    '#title': IP地址
    '#default_value': null
settings:
  form_open_message: null
  form_close_message: '我们的反馈表暂时关闭。如果您对我们如何改进此页面有反馈或建议，请发送电子邮件至 powr@portlandoregon.gov 发送电子邮件至网络团队。'
  form_exception_message: null
  form_confidential_message: null
  form_access_denied_title: null
  form_access_denied_message: null
  submission_label: null
  submission_exception_message: null
  submission_locked_message: null
  submission_access_denied_title: null
  submission_access_denied_message: null
  previous_submission_message: null
  previous_submissions_message: null
  autofill_message: null
  wizard_start_label: null
  wizard_confirmation_label: null
  wizard_prev_button_label: null
  wizard_next_button_label: null
  wizard_toggle_show_label: null
  wizard_toggle_hide_label: null
  preview_label: null
  preview_title: null
  preview_message: null
  draft_saved_message: null
  draft_loaded_message: null
  draft_pending_single_message: null
  draft_pending_multiple_message: null
  confirmation_url: null
  confirmation_title: null
  confirmation_message: '<h2>感谢您提交反馈，我们感谢您的帮助！</h2>您应该很快就会收到一封电子邮件确认。您可以回复该电子邮件以向您的反馈添加其他信息或评论。<br /><br />名称：[webform_submission:values:your_name]<br /><br />电子邮件：[webform_submission:values:email_address]<br /><br />反馈类型：[webform_submission:values:subject]<br /><br />上次查看的页面： <a href="[webform_submission:values:page_you_last_viewed]">[webform_submission:values:page_you_last_viewed]</a><br /><br />反馈：[webform_submission:values:feedback]'
  confirmation_back_label: null
  limit_total_message: null
  limit_user_message: null
handlers:
  submit_report_to_311:
    label: 向311提交报告
    notes: null
    settings:
      from_name: null
      reply_to: null
      return_path: null
      sender_name: null
      body: '<p>主题：[webform_submission:values:subject]</p><p>反馈：[webform_submission:values:feedback]</p><p>名称：[webform_submission:values:your_name]</p><p>电子邮件：[webform_submission:values:email_address]</p><p>上次查看的页面：[webform_submission:values:page_you_last_viewed]</p><p>提交时间：[webform_submission:created]</p><p>用户代理：[服务器：HTTP_USER_AGENT]</p> [webform_submission:values:agent_summary]'
  submit_report_to_website_support:
    label: 向网站支持提交报告
    notes: null
    settings:
      from_name: null
      reply_to: null
      return_path: null
      sender_name: null
      body: '<p>主题：[webform_submission:values:subject]</p><p>反馈：[webform_submission:values:feedback]</p><p>名称：[webform_submission:values:your_name]</p><p>电子邮件：[webform_submission:values:email_address]</p><p>上次查看的页面：[webform_submission:values:page_you_last_viewed]</p><p>提交时间：[webform_submission:created]</p><p>用户代理：[服务器：HTTP_USER_AGENT]<br /><br /> [webform_submission:values:agent_summary]</p>'
