title: 报告电动滑板车
description: '收集社区成员的报告，使用 API 在 Zendesk 中创建票证，并向滑板车公司发送通知。注意：如果任何滑板车公司的电子邮件地址发生变化，则需要在计算的 twig 字段 comptued_recipient 中进行更新。'
category: 报告
elements: |
  section_public_records_statement:
    '#title': 公共记录声明
  public_records_statement_standard:
    '#markup': '您提供给纽约市的信息是公共记录，可能会根据俄勒冈州的<a data-renderer-mark="true" href="https://www.doj.state.or.us/oregon-department-of-justice/public-records/attorney-generals-public-records-and-meetings-manual/i-public-records/#:~:text=Under%20Oregon''s%20Public%20Records%20Law,committee%20of%20the%20Legislative%20Assembly" title="https://www.doj.state.or.us/oregon-department-of-justice/public-records/attorney-generals-public-records-and-meetings-manual/i-public-records/#:~: text=Under%20Oregon''s%20Public%20Records%20Law,committee%20of%20the%20Legislative%20Assembly">公共记录法</a>予以公布。该法律将某些信息分类为可应要求向公众提供的信息。有关更多信息，请参阅我们的<a data-renderer-mark="true" href="/help/about/privacy" title="https://www.portland.gov/help/about/privacy">隐私声明</a>。'
  section_report:
    '#title': 报告
  report_issue:
    '#title': 电动滑板车有什么问题？
    '#options':
      'improperly parked': 电动滑板车停放不当
      damaged: 电动滑板车损坏或无法正常工作
      'riding on sidewalk': 用户正在人行道上骑行
    '#other__option_label': 还有什么...
    '#other__placeholder': 请描述...
    '#admin_notes': '重要的！此字段的值字符串用于计算树枝字段 computed_blocking 和 computed_private_property。如果值发生更改，请确保相应更新树枝逻辑。'
  report_blocking:
    '#title': 电动滑板车是否阻塞了人行道、小径、自行车道、车道、街道、公交站或其他类型的交通车道？
  report_private_property:
    '#title': 电动滑板车是否停在私人财产上？
  report_company:
    '#title': 电动滑板车（e-scooter）公司
    '#description': 滑板车属于哪家电动滑板车公司？或者，电动滑板车是什么颜色的？
    '#options':
      Bird: 鸟（黑色）
      Bolt: 螺栓（黑色和黄色）
      Lime: 石灰（绿色）
      Spin: 旋转（橙色）
      'E-scooter company not specified': 没有把握
  report_asset_id:
    '#title': '电动滑板车 ID'
  report_location:
    '#title': 地点
    '#default_value':
      location_type: 街道
      location_park: null
      location_address: null
      place_name: null
      location_details: null
      location_lat: null
      location_lon: null
      location_private_owner: null
    '#location_type__title': 问题位于哪种类型的财产上？
    '#location_park_container__title': 公园列表容器
    '#waterway_instructions__title': 航道说明
    '#location_private_owner__title': 你是物业的主人吗？
    '#location_address__title': 地址或十字路口
    '#location_map__title': 位置图
    '#suggestions_modal__title': 建议
    '#status_modal__title': 状态指示灯
    '#place_name__title': 地名
    '#location_details__title': 位置详情
    '#location_lat__title': 纬度
    '#location_lon__title': 经度
    '#location_asset_id__title': '资产 ID'
    '#geojson_layer__title': null
    '#geojson_layer_behavior__title': null
  report_photo:
    '#title': 照片
    '#description': '如果合适，请附上您所报告问题的最多 3 张照片。'
  section_contact:
    '#title': 您的联系信息
  contact_name:
    '#title': 你的名字
  contact_email:
    '#title': 你的邮件
    '#description': 波特兰市和选定的电动滑板车公司将使用您的电子邮件确认您的提交并在必要时回复。
  section_agent_use_only:
    '#title': 仅限代理使用
  agent_email:
    '#title': 代理电子邮件
    '#default_value': '[当前用户：显示名称] <[当前用户：邮件]>'
  agent_ticket_number:
    '#title': 票号
  agent_action_taken:
    '#title': 采取的行动
  agent_contact_type:
    '#title': 联系方式
  agent_ticket_type:
    '#title': 票种
    '#default_value': 问题
  company_sla:
    '#title': 服务水平预期（以小时为单位）
  agent_summary:
    '#title': 代理摘要
  computed_blocking:
    '#title': 计算阻塞
  computed_private_property:
    '#title': 计算私有财产
  computed_urgency:
    '#title': 计算紧急度
  computed_urgency_text:
    '#title': 计算紧急文本
  computed_resolution_url:
    '#title': '计算解析 URL'
  computed_contact_type:
    '#title': 计算接触类型
  report_ticket_id:
    '#title': '支持工单 ID'
  computed_recipient:
    '#title': 计算接收者
    '#admin_notes': '如果此计算字段发生更改，则需要在所有向滑板车公司发送通知的 Web 表单中对其进行更新。'
  actions:
    '#title': 提交按钮
    '#submit__label': 提交
settings:
  form_open_message: null
  form_close_message: null
  form_exception_message: null
  form_confidential_message: null
  form_access_denied_title: null
  form_access_denied_message: null
  submission_label: null
  submission_exception_message: null
  submission_locked_message: null
  submission_access_denied_title: null
  submission_access_denied_message: null
  previous_submission_message: null
  previous_submissions_message: null
  autofill_message: null
  wizard_start_label: null
  wizard_confirmation_label: null
  wizard_prev_button_label: null
  wizard_next_button_label: null
  wizard_toggle_show_label: null
  wizard_toggle_hide_label: null
  preview_label: null
  preview_title: null
  preview_message: null
  draft_saved_message: null
  draft_loaded_message: null
  draft_pending_single_message: null
  draft_pending_multiple_message: null
  confirmation_url: null
  confirmation_title: 感谢您的报告！
  confirmation_message: 您的提交已收到并转发给相应的电动滑板车公司进行解决。
  confirmation_back_label: null
  limit_total_message: null
  limit_user_message: null
handlers:
  zendesk_create_ticket:
    label: '创建 Zendesk 工单'
    notes: '使用 Zendesk 票证 API 在沙箱中创建新的电动滑板车报告票证并将其分配给电动滑板车响应组。向选定的电动滑板车公司发送通知。涵盖除骑在人行道上以外的所有问题类型。'
  zendesk_create_ticket_riding_on_sidewalk:
    label: '创建 Zendesk 票 - 在人行道上骑行'
    notes: '使用 Zendesk 票证 API 在沙箱中创建新的电动滑板车报告票证并将其分配给电动滑板车响应组。这仅适用于人行道上的骑行选项，该选项创建为已解决。无论是否选择公司都触发。'
  email_notification_company:
    label: 向滑板车公司发送电子邮件通知
    notes: null
    settings:
      from_name: null
      reply_to: null
      return_path: null
      sender_name: null
      subject: '[webform_submission:values:computed_urgency]波特兰电动滑板车报告 [webform_submission:values:report_ticket_id]: [webform_submission:values:report_issue]'
      body: '<p>向波特兰市报告了以下电动滑板车问题。 [webform_submission:values:computed_urgency_text]</p><p><strong>电动滑板车有什么问题？</strong> [webform_submission:values:report_issue]</p><p><strong>电动滑板车公司：</strong> [webform_submission:values:report_company:raw]</p><p><strong>电动滑板车是否阻塞了人行道、小径、自行车道、车道、街道、公交站或其他类型的交通车道？</strong> [webform_submission:values:computed_blocking]</p><p><strong>电动滑板车是否停在私人财产上？</strong> [webform_submission:values:computed_private_property]</p><p><strong>电动滑板车 ID：</strong> [webform_submission:values:report_asset_id]</p><p><strong>地点：</strong><br />地址： <a href="https://www.google.com/maps/place/[webform_submission:values:report_location:location_address]">[webform_submission:values:report_location:location_address]</a><br />纬度/经度： <a href="https://www.google.com/maps/place/[webform_submission:values:report_location:location_lat],[webform_submission:values:report_location:location_lon]">[webform_submission:values:report_location:location_lat],[webform_submission:values:report_location:location_lon]</a><br />地名：[webform_submission:values:report_location:place_name]<br />其他详细信息：[webform_submission:values:report_location:location_details]</p><p><strong>服务水平预期（小时）：</strong> [webform_submission:values:company_sla]</p><p><strong>支持工单 ID：</strong> [webform_submission:values:report_ticket_id]</p><div style="padding: 10px 20px; background-color: #dddddd;"><p><strong><a href="[webform_submission:values:computed_resolution_url]">报告此问题的解决方案</a></strong></p></div>'
  email_notification_company_no_resolution:
    label: 向滑板车公司发送电子邮件通知，无需解决方案
    notes: 如果问题是在人行道上骑行，则向选定的电动滑板车公司发送通知电子邮件。仅在选择公司时发送。
    settings:
      from_name: null
      reply_to: null
      return_path: null
      sender_name: null
      subject: '[webform_submission:values:computed_urgency]波特兰电动滑板车报告 [webform_submission:values:report_ticket_id]: [webform_submission:values:report_issue]'
      body: '<p>向波特兰市报告了以下电动滑板车问题。 [webform_submission:values:computed_urgency_text]</p><p><strong>电动滑板车有什么问题？</strong> [webform_submission:values:report_issue]</p><p><strong>电动滑板车公司：</strong> [webform_submission:values:report_company:raw]</p><p><strong>电动滑板车是否阻塞了人行道、小径、自行车道、车道、街道、公交站或其他类型的交通车道？</strong> [webform_submission:values:computed_blocking]</p><p><strong>电动滑板车是否停在私人财产上？</strong> [webform_submission:values:computed_private_property]</p><p><strong>电动滑板车 ID：</strong> [webform_submission:values:report_asset_id]</p><p><strong>地点：</strong><br />地址： <a href="https://www.google.com/maps/place/[webform_submission:values:report_location:location_address]">[webform_submission:values:report_location:location_address]</a><br />纬度/经度： <a href="https://www.google.com/maps/place/[webform_submission:values:report_location:location_lat],[webform_submission:values:report_location:location_lon]">[webform_submission:values:report_location:location_lat],[webform_submission:values:report_location:location_lon]</a><br />地名：[webform_submission:values:report_location:place_name]<br />其他详细信息：[webform_submission:values:report_location:location_details]</p><p><strong>服务水平预期（小时）：</strong> [webform_submission:values:company_sla]</p><p><strong>支持工单 ID：</strong> [webform_submission:values:report_ticket_id]</p><div style="padding: 10px 20px; background-color: #dddddd;"><p>这是一份骑在人行道上的报告。不需要解决方案。</p></div>'
  email_notification_no_company_selected:
    label: '电子邮件通知 - 未选择公司'
    notes: 当用户选择“不确定”作为电动滑板车公司时，该处理程序会向所有滑板车公司发送通知，并要求他们检查他们的记录并在他们的滑板车与该位置匹配时做出响应。
    settings:
      from_name: null
      reply_to: null
      return_path: null
      sender_name: null
      subject: '[webform_submission:values:computed_urgency]波特兰电动滑板车报告 [webform_submission:values:report_ticket_id]: [webform_submission:values:report_issue]'
      body: '<p>向波特兰市报告了以下电动滑板车问题。 [webform_submission:values:computed_urgency_text]</p><p style="border: solid 1px red; padding: 5px;"><strong>注：本报告未指定电动滑板车公司。请检查您的记录以确定您是否在此位置部署了电动滑板车并做出相应的回应。如果没有，您可以忽略此报告。</strong></p><p><strong>电动滑板车有什么问题？</strong> [webform_submission:values:report_issue]</p><p><strong>电动滑板车公司：</strong> [webform_submission:values:report_company:raw]</p><p><strong>电动滑板车是否阻塞了人行道、小径、自行车道、车道、街道、公交站或其他类型的交通车道？</strong> [webform_submission:values:computed_blocking]</p><p><strong>电动滑板车是否停在私人财产上？</strong> [webform_submission:values:computed_private_property]</p><p><strong>电动滑板车 ID：</strong> [webform_submission:values:report_asset_id]</p><p><strong>地点：</strong><br />地址： <a href="https://www.google.com/maps/place/[webform_submission:values:report_location:location_address]">[webform_submission:values:report_location:location_address]</a><br />纬度/经度： <a href="https://www.google.com/maps/place/[webform_submission:values:report_location:location_lat],[webform_submission:values:report_location:location_lon]">[webform_submission:values:report_location:location_lat],[webform_submission:values:report_location:location_lon]</a><br />地名：[webform_submission:values:report_location:place_name]<br />其他详细信息：[webform_submission:values:report_location:location_details]</p><p><strong>服务水平预期（小时）：</strong> [webform_submission:values:company_sla]</p><p><strong>支持工单 ID：</strong> [webform_submission:values:report_ticket_id]</p><div style="padding: 10px 20px; background-color: #dddddd;"><p><strong><a href="[webform_submission:values:computed_resolution_url]">报告此问题的解决方案</a></strong></p></div>'
