{% extends 'paragraph.html.twig' %} 
{% block content %}

{% if not content.field_link_style | render %}
    {% set link_style = 'btn btn-primary' %}
{% else %}
    {% set link_style = content.field_link_style[0] %}
{% endif %}

  <span class="fax {{ content.field_link_style[0] }}">
    <i class="fas fa-fax"></i> {{ content.field_fax_number[0] }}
  </span>

{% endblock %}
