{% extends 'paragraph.html.twig' %}
{% block content %}
{% if content.field_image.0 %}
  {% if (not content.field_image.0['#media'].isPublished()) %}
    <span class="badge badge-danger image-unpublished">Unpublished</span>
  {% endif %}
  <figure class="figure">
    {{ content }}
    <figcaption class="figure-caption text-center">
      {{ paragraph.field_caption.value }}
    </figcaption>
  </figure>
{% endif %}
{% endblock %}