{% extends 'paragraph.html.twig' %}
{% block content %}
    <a class="btn btn-primary" href="tel:{{ content.field_phone_number[0] }}" role="button">
        <i class="fas fa-phone"></i> {{ content.field_phone_number[0] }}
    </a>
{% endblock %}
