{% extends 'paragraph.html.twig' %}
{% block paragraph %}
  {% block field %}
    {% block content %}
        <div {{ attributes.addClass('card-deck') }}>
        {{ content }}
        </div>
    {% endblock %}
  {% endblock %}
{% endblock %}