{% extends 'paragraph.html.twig' %}
{% block content %}
{# drawing document properties directly from paragraph object bypasses permissions checks, so
   we need to check the content of the field in the content object before displaying it #}
{% if (content.field_document.0) %}
<a href="{{ fileUrl }}">
<i class="fas fa-{{ fontawesomeIcon }}"></i> {{ paragraph.field_document.entity.getName() }}
</a> ({{ fileSize }})
{% endif %}
{% endblock %}
