{% extends 'paragraph.html.twig' %} {% block content %}
  <span class="btn fax btn-{{ content.field_link_style[0] ? content.field_link_style[0] : 'primary' }}">
    <i class="fas fa-fax"></i> +1 {{ content.field_fax_number[0] }}
  </span>
{% endblock %}