{% extends 'paragraph.html.twig' %}
{% block content %}
<a class="fas fa-{{ fontawesomeIcon }}-o" href="{{ fileUrl }}">
{{ paragraph.field_document.entity.getName() }}
</a> ({{ fileSize }})
{% endblock %}