{% extends 'paragraph.html.twig' %}
{% block content %}
    <a href="{{ content.field_email_link[0]['#url'].toString() }}" role="button">
        <i class="fas fa-envelope"></i> {{ content.field_email_link[0]['#title'] }}
    </a>
{% endblock %}