{% extends 'paragraph.html.twig' %}
{% block paragraph %}
  <div{{ attributes.addClass('card', 'clearfix') }}>
    {% block content %}
      <div class="card-body">
        {%- if content.field_card_title|render|striptags|trim is not empty -%}
          <h4 class="card-title">{{ content.field_card_title }}</h4>
        {%- endif -%}
        {{ content.field_text }}
        {{ content.field_step_action_button}}
      </div>
    {% endblock %}
  </div>
{% endblock %}
