{% extends 'paragraph.html.twig' %}
{% block content %}
<a href="{{ fileUrl }}">
<i class="fas fa-{{ fontawesomeIcon }}"></i> {{ paragraph.field_document.entity.getName() }}
</a> ({{ fileSize }})
{% endblock %}