{#
/**
 * @file relation.html.twig
 * Default theme implementation to present Relation data.
 *
 * This template is used when viewing Relation pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_relation()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('relation') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
