.leaflet-control-satellite {
  font-size: 1rem;
}

.leaflet-control-satellite i {
  margin: 0;
}

.leaflet-control-search {
  margin: 0 auto;
  width: 140px;
  float: none;
  margin-top: 5px;
}

a.leaflet-control-search-button {
  width: 100%;
  opacity: 0.8;
  font-weight: 700;
}
