.contact {
  margin-bottom: $cloudy-space-3;
  &__email a {
    padding: $cloudy-space-3 0;
  }
  &__phone a {
    padding: $cloudy-space-3 0;
  }
}
// TODO: Component should use email and phone field components, but spacing
// is not ideal because those components use a utility spacing class.
