<label for="pl-toggle-labels2">Toggle labels & demo spacing:</label> <input type="checkbox" name="pl-toggle-labels2" class="pl-toggle-labels" id="pl-toggle-labels2" />
<div class="pl-demo-wrapper">
  <div class="pl-demo-item">
    <h6>Contact items (minimum)</h6>
    {% include "@components/contact-items/contact-items.twig" with {
      heading: {
        text: "Contacts",
      },
      resources: [
        {
          name: 'Example name',
          items: [
            {
              phone: '000-000-00000',
              email: 'email@domain.com',
            },
          ],
        },
      ]
    } only %}
  </div>
  <div class="pl-demo-item">
    <h6>Contact items (long)</h6>
    {% include "@components/contact-items/contact-items.twig" with {
      heading: {
        text: "Contacts",
      },
      resources: [
        {
          name: '311 Customer Relations',
          description: 'Answers for everything.',
          items: [
            {
              phone: '311',
              phone_note: 'Line open Monday through Friday, 8-5pm.',
              email: '311@portlandoregon.gov',
            },
          ],
        },
        {
          name: 'First Last',
          description: 'Example job title.',
          items: [
            {
              phone: '503-000-0000',
              phone_note: 'Line open Monday through Thursday, 8-5pm.',
              email: 'first.last@portlandoregon.gov',
              email_note: 'Example email note.',
            },
          ],
        },
        {
          name: 'Curbside Collection Hotline',
          description: 'Answers questions about garbage and recycling.',
          items: [
            {
              phone: '503-823-7000',
              phone_note: 'Line open Monday through Friday, 8-5pm.',
              email: 'curbside.hotline@portlandoregon.gov',
            },
          ],
        },
        {
          name: 'Cannabis Program',
          description: 'Answers questions about cannabis.',
          items: [
            {
              phone: '503-823-9333',
            },
            {
              email: 'cannabis@portlandoregon.gov',
              email_note: 'Example email note.',
            },
          ],
        },
        {
          name: 'Clean River Rewards',
          description: 'Answers questions about rivers.',
          items: [
            {
              phone: '503-823-1371',
            },
          ],
        },
        {
          name: 'Urban Forestry',
          description: 'Answers questions about forestry.',
          items: [
            {
              email: 'trees@portlandoregon.gov',
            },
          ],
        },
      ]
    } only %}
  </div>
</div>
