.p__footer {
  padding: 1em 0;
  background-color: $gray-light;
  color: $gray-dark;

  &__container {
    @include p-container;

    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  &__copyright {
    p {
      @include paragraph;
    }
  }
}
