{# /* * The bottom bar. Copyright, etc. */ #}
<footer class="p__footer">
    <div class="p__footer__container">
        <section class="p__footer__nav">
            {% block footer %}{# Drupal footer links #}{% endblock %}
            {% block footerPL %}
              <section class="p__footer__nav">
                  {% for item in footerLinks.items %}
                      <nav role="navigation">
                          <ul class="p__footer-links">
                              {% for link in item.links %}
                                  <li class="p__footer-links__item">
                                      <a href="{{ link.href }}" class="p__footer-links__link">{{ link.text }}</a>
                                  </li>
                              {% endfor %}
                          </ul>
                      </nav>
                  {% endfor %}
              </section>
            {% endblock %}
        </section>
        <section class="p__footer__info">
            <div class="p__footer__copyright">
                <p>&copy; Copyright
                    {{ "now"|date("Y") }}
                    City of Portland, Oregon, USA.</p>
            </div>
            <div class="p__footer__logo">
                <a href="/" title="Portland.gov home page">
                    <img src="{{ site_footer_image }}" alt="Portland City Seal" width="100" height="100">
                </a>
            </div>
        </section>
    </div>
</footer>
