{%- apply spaceless %}
{% set size = size|default('s') %}
{% set ariaHidden = ariaHidden|default('false') %}
{% set classes = [
  'icon',
  'icon--size-' ~ size,
]|merge(classes|default([])) %}

<span class="{{ classes|join(' ') }}" aria-hidden="{{ ariaHidden }}">
  {{ source('@components/icon/svgs/' ~ name ~ '.svg') }}
</span>
{% endapply -%}
