{%- apply spaceless %}
{% set size = size|default('s') %}
{% set classes = [
  'icon',
  'icon--size-' ~ size,
]|merge(classes|default([])) %}

<span class="{{ classes|join(' ') }}">
  {{ source('@components/icon/svgs/' ~ name ~ '.svg') }}
</span>
{% endapply -%}
