{%- apply spaceless %}
{% set size = size|default('s') %}
{% set classes = classes|default([
  'icon',
  'icon--size-' ~ size,
]) %}

<span class="{{ classes|join(' ') }}">
  {{ source('@components/icon/svgs/' ~ name ~ '.svg') }}
</span>
{% endapply -%}
