{# DEFAULTS #}
{% set background = background|default(false) %}
{% set standalone = standalone|default(false) %}
{% set icon = icon|default(false) %}
{# CLASSES #}
{% set classes = [
  'cloudy-link',
  background ? "cloudy-link--has-background",
  standalone ? "cloudy-link--is-standalone",
  icon ? "cloudy-link--has-icon"
]
%}
{# TWIG #}
{% set iconTemplate = 'icon' %}
{% if icon.fontAwesome is same as(true) and icon.name %}
  {% set iconTemplate = 'fa' %}
{% endif %}
{% spaceless %}
<a href="{{ url }}" class="{{ classes|join(' ')|trim }}">
  {% if icon and icon.name %}
    {% include '@elements/icon/' ~ iconTemplate ~ '.twig' with {
      name: icon.name,
      size: 's'
    } only %}
  {% endif %}
  <span>{{ text|trim }}</span>
  {% if background is same as(true) %}
    {% include '@elements/icon/fa.twig' with {
      name: 'long-arrow-alt-right',
    } only %}
  {% endif %}
</a>
{% endspaceless %}
