.cloudy-link {
  color: $cloudy-color-blue-600;
  display: inline-flex;
  @include type-style($cloudy-ui-text);
  &.cloudy-link--is-standalone {
    position: relative;
    display: inline-block;
    width: calc(100% - 14px);
    vertical-align: middle;
    &:hover {
      .icon {
        color: $cloudy-color-blue-800;
      }
    }
    .icon {
      position: relative;
      margin-left: $cloudy-space-2;
      margin-right: 0;
      color: $cloudy-color-blue-600;
    }
  }
  &.cloudy-link--has-background {
    color: $cloudy-color-neutral-200;
    display: inline-block;
    position: relative;
    background: $cloudy-color-blue-600;
    padding: $cloudy-space-2 $cloudy-space-4;
    border-radius: $border-radius-sm;
    hyphens: auto;
    &:hover {
      text-decoration: none;
      background: $cloudy-color-blue-700;
    }
    .icon {
      position: relative;
      margin-left: $cloudy-space-2;
      margin-right: 0;
      color: $cloudy-color-neutral-200;
    }
  }
  &.cloudy-link--has-icon {
    .icon svg,
    i.fas {
      color: $cloudy-color-blue-800;
    }
    &:hover {
      text-decoration: none;
      i.fas {
        text-decoration: none;
      }
      span {
        text-decoration: underline;
      }
    }
  }
  &--fa {
    & > i {
      align-self: center;
    }
  }
}
// BELOW: Contains the old style animated underline
//.cloudy-link {
//  position: relative;
//  padding-bottom: 3px;
//
//  &::after {
//    bottom: 0;
//    content: "";
//    display: block;
//    height: 2px;
//    left: 0;
//    position: absolute;
//    background: $cloudy-blue-dark;
//    transition: width 0.6s ease 0s, left 0.6s ease 0s;
//    width: 10px;
//  }
//
//  &:hover {
//    text-decoration: none;
//
//    &::after {
//      width: 100%;
//      right: 0;
//    }
//  }
//}

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: $zindex-popover;
}
