.cloudy-link {
  color: $cloudy-color-blue-500;
  display: inline-flex;
  &.cloudy-link--is-standalone {
    position: relative;
    display: inline-block;
    width: calc(100% - 14px);
    vertical-align: middle;
    .icon {
      position: relative;
      top: 1px;
      margin-left: 8px;
      margin-right: 0;
      svg {
        fill: $cloudy-color-blue-500;
      }
    }
    &:hover {}
  }
  &.cloudy-link--has-background {
    color: $cloudy-color-blue-800;
    display: inline-block;
    position: relative;
    background: $cloudy-color-neutral-100;
    padding: 8px;
    hyphens: auto;
    .icon {
      position: relative;
      top: 1px;
      margin-left: 8px;
      margin-right: 0;
      svg {
        fill: $cloudy-color-blue-800;
      }
    }
  }
  &.cloudy-link--has-icon {
    .icon svg,
    i.fas {
      color: $cloudy-color-blue-800;
    }
    &:hover {
      text-decoration: none;
      i.fas {
        text-decoration: none;
      }
      span {
        text-decoration: underline;
      }
    }
  }
  &--fa {
    & > i {
      align-self: center;
    }
  }
}
// BELOW: Contains the old style animated underline
//.cloudy-link {
//  position: relative;
//  padding-bottom: 3px;
//
//  &::after {
//    bottom: 0;
//    content: "";
//    display: block;
//    height: 2px;
//    left: 0;
//    position: absolute;
//    background: $cloudy-blue-dark;
//    transition: width 0.6s ease 0s, left 0.6s ease 0s;
//    width: 10px;
//  }
//
//  &:hover {
//    text-decoration: none;
//
//    &::after {
//      width: 100%;
//      right: 0;
//    }
//  }
//}
