{% embed "input.html.twig" with {
  'input_classes': [
    'cloudy-btn--icon',
  ]
} %}
  {% block content %}
    <button {{ attributes.addClass(input_classes) }}>
      <span class="visually-hidden">
        {{ 'Search'|t }}
      </span>
      {% include '@components/icon/icon.twig' with {
        name: 'search',
        size: 'xs'
      } only %}
    </button>
  {% endblock %}
{% endembed %}
