$white: #fff;
$near-white: #f2f2f2;
$gray-lightest: #e5e5e5;
$gray-lighter: #ccc;
$gray-light: #f8f9fa;
$gray: #666;
$gray-dark: #4c4c4c;
$gray-darker: #333;
$black: #000;
$default: #bdbdbd;
$primary: #046a38;
$secondary: #418fde;
$tertiary: #f0ad4e;
$info: #5bc0de;
$success: #8acc96;
$warning: #f0ad4e;
$danger: #a72925;
$clickable: #1b5998;
