{# Make this look like the perfect, ideal example of the component #}
<div class="js-markdown">
{% set mdPath = '@components/data-table/data-table-base.md' %}
{{ source(mdPath) }}
</div>

{% include "@components/data-table/data-table.twig" %}
