<div class="js-markdown">
{% set mdPath = '@components/data-table/data-table-small.md' %}
{{ source(mdPath) }}
</div>

{% include "@components/data-table/data-table.twig" with {
  is_small: true,
}%}
