<nav class="mt-4" aria-label="breadcrumb">
  <ol class="breadcrumb">
    {% for item in breadcrumb %}
      {% if item.url %}
        <li class="breadcrumb-item">
          <a href="{{ item.url }}">{{ item.text }}</a>
        </li>
      {# if no URL, page is active #}
      {% else %}
        <li class="breadcrumb-item active" aria-current="page">
          {{ item.text }}
        </li>
      {% endif %}
    {% endfor %}
  </ol>
</nav>
