// External links
span.extlink {
  margin: 0 (spacer(4) * 0.5);

  // Make FA icon inline so it wraps correctly when word breaks
  .fa {
    display: inline;
  }
}

/* Hide the extra spans when printing. */
@media print {
  span.extlink,
  span.mailto {
    display: none;
    padding: 0;
  }
}
