// External links
span.extlink {
  margin-right: spacer(1) * 0.5;
  margin-left: spacer(2);

  // Make FA icon inline so it wraps correctly when word breaks
  .fa {
    display: inline;
    // unset module style
    padding-left: 0;
  }
}

/* Hide the extra spans when printing. */
@media print {
  span.extlink,
  span.mailto {
    display: none;
    padding: 0;
  }
}
