.field--type-entity-reference ul.links {
  padding: 0;
  margin: 0;
  list-style: none;
}

.field--type-entity-reference ul.links li {
  float: left;
  /* LTR */
  padding: 0 spacer(4) 0 0;
  /* LTR */
  white-space: nowrap;
}

/* rtl:ignore */
[dir="rtl"] .field--type-entity-reference ul.links li {
  padding: 0 0 0 spacer(4);
  float: right;
}

@media all and (width >= 560px) {
  .node .field--type-image + .field--type-image {
    clear: both;
  }
}

.field--name-field-user-picture img {
  margin: 0 0 spacer(4);
  width: 100%;
}

.field--type-file {
  margin-bottom: 0 !important;

  .field__item {
    margin-bottom: 0 !important;
  }
}

.field--type-image a {
  border-bottom: none;
}

// Field label should stand out more than field item
.field__label {
  font-weight: $headings-font-weight;
}

// Fields with label above (h2) need more space
.field--label-above {
  margin-bottom: spacer(6);
  // Field items under a section should have more space
  .field__item {
    margin-bottom: spacer(4);
    // TODO: Refactor once all display modes have a better class.
    .contextual-region {
      margin-bottom: spacer(8);
    }
  }
}

// Fields with label inline or lable hidden should have space more like a paragraph
.field--label-inline,
.field--label-hidden {
  margin-bottom: spacer(1);
  // Field items for hidden or inline labels should have less space
  .field__item {
    margin-bottom: spacer(1);
  }
}

// Fields that should show referenced items inline with a semi-colon.
.field--name-field-bureau,
.field--name-field-introduced-by,
.field--name-field-neighborhood,
.field--name-field-topics {
  .field__items {
    display: block;
    margin-bottom: spacer(1);
    .field__item {
      display: inline;
    }
    .field__item:not(:first-child)::before {
      content: "; ";
    }
  }
}
