// Overrides classy tabs style for local tasks bar
.tabs .is-active {
  background: $cloudy-color-neutral-0;
}

.tabs a {
  &:focus, &:hover {
    background: $cloudy-color-neutral-100;
    text-decoration: none;
  }
}

// Fix positioning on node preview page
.node-preview-container {
  position: static;
  padding: (spacer(4) * 0.5) spacer(4);
}
