/**
 * @file
 * Styles for the "skip to main content" link.
 */

.skip-link, .skip-link:hover {
  background: $cloudy-color-neutral-500;
  border-radius: 0 0 $border-radius-lg $border-radius-lg;
  color: $cloudy-color-neutral-0;
  left: 50%;
  line-height: $line-height-lg;
  outline: 0;
  padding: 1px spacer(4) 2px;
  position: absolute;
  transform: translateX(-50%);
  z-index: 1;
}
