/* toc_js styles */
.toc-title {
  color: $cloudy-color-neutral-900;
}

.toc-js {
  margin-top: spacer(4);
  margin-bottom: spacer(8);
  border-bottom-color: linear;
}

.toc-service {
  ul {
    list-style: none;
    padding-left: spacer(2);

    li:not(:last-of-type) {
      margin-bottom: spacer(1);
    }

    a::before {
      font: var(--fa-font-solid);
      -webkit-font-smoothing: antialiased;
      content: "\f063";
      margin-right: spacer(3);
    }
  }
}
