<div class="mb-4">
  <h3 class="h6"><a href="{{ url }}">{{ label }}</a></h2>
    {% if content.field_updated_on|render %}
      {{ content.field_updated_on }}
    {% else %}
      {{ content.field_published_on }}
    {% endif %}
  </div>
</div>
