<div class="news__item mb-4">
{% if node.type.entity.label %}
  <a class="badge badge badge-light">
    <span class="sr-only">Type is</span>
    {{ node.type.entity.label }}
  </a>
{% endif %}
  <div class="news__title h6">
    <a href="{{ url }}" rel="bookmark">{{ label }}</a>
  </div>
</div>
