<div class="mb-4">
    {% if node.field_updated_on.0.value > node.field_published_on.0.value %}
      <div class="mb-0">
        <span>Updated</span>{{ content.field_updated_on.0 }}
      </div>
    {% else %}
      <div class="mb-0">
        <span class="sr-only">Published</span> {{ content.field_published_on.0 }}
      </div>
    {% endif %}
    <h3 class="h4 mb-0"><a href="{{ url }}">{{ label }}</a></h3>
</div>

