{% spaceless %}
  <div class="d-flex flex-column align-items-start mb-4">
    <h2>
      <a href="{{ url }}" rel="bookmark">
        {{ label }}
      </a>
    </h2>
    {% if node.created.value %}
      {% set created_date = node.created.value|format_date('month_day_year') %}
      <span class="small mb-1">
        {% trans %}
          Published {{ created_date }}
        {% endtrans %}
      </span>
    {% endif %}
    {% if node.field_summary.value %}
      <div>
        <p>{{ node.field_summary.value }}</p>
      </div>
    {% endif %}
  </div>
{% endspaceless %}
