{% embed "@cloudy/components/card.html.twig" with {
  'margin': 3,
  'type': node.type.entity.label,
  'description': content.field_summary,
} %}
  {% block meta %}
    {% if node.created.value %}
      {% set published_date = node.created.value|format_date('month_day_year') %}
      <span>
        {% trans %}Published {{ published_date }}{% endtrans %}
      </span>
    {% endif %}
  {% endblock %}
{% endembed %}
