_core:
  default_config_hash: IhwTepsVwtbtbcT5GzQKhCXDCRvbk3MNkWqPiuiZ10s
theme: cloudy
defaults:
  sender: test_mail_collector
  formatter: webform_php_mail
modules:
  sendgrid_integration:
    none:
      formatter: sendgrid_integration
  rules:
    none:
      formatter: mime_mail
  portland:
    none:
      formatter: mime_mail
  webform:
    none:
      sender: sendgrid_integration
      formatter: webform_php_mail
