.portland-geofield-map {
  position: relative;
  .topbar {
    background: #fff;
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 10px;
    & .action-button {
      font-size: 16px;
      background-color: transparent;
      border: 1px solid #d3d3d3;
      color: #6e6e6e;
      padding: 0.5rem;
      text-align: center;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
      &:hover,
      &:focus {
        background: #0079c1;
        color: #e4e4e4;
      }
      &.active {
        background: #0079c1;
        color: #e4e4e4;
      }
    }
  }
  .esri-geofield-geolocation {
    &.active {
      box-shadow: inset 0 1px 3px hsla(0, 0%, 0%, 0.2);
    }
  }
}

@media print {
  .esri-ui {
    display: none;
  }
}
