// Project Detail Panel View

$topBarMargin: 50px;

.projectDetail.slideV {
  top: 0;
  transition: top 400ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

.projectDetail {
  position: absolute;
  background: $gray-light;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  transition: left 400ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;

  .detail-toolbar {
    width: 100%;
    position: absolute;
    z-index: z("detail-toolbar");
    font-size: 1.3em;
    margin: 5px 5px 0 0;

    i.fa-times {
      float: right;
      margin: 2px 7px;
      opacity: 0.8;
      padding: 3px;
      line-height: 0.8em;
      color: $gray;
      cursor: pointer;
      border-radius: 7px;
    }
  }

  @include breakpoint(m) {
    margin-top: 50px;
    height: calc(100% + #{$topBarMargin});
    width: 40%;

    #SearchHead {
      display: flex;

      @include padding(0.5 0 0);

      align-items: center;
      background: $white;
      border-bottom: 1px solid $border;

      input[type="text"] {
        border: none;

        @include padding(0 0 0 1);
      }

      a.back {
        display: none;
      }

      a {
        &:before {
          margin-left: 0.3em;
        }
      }
    }
  }


  @include breakpoint(xl) {
    width: 30%;
  }
}

.carousel-inner {
  position: relative;
  > * {
    height: 150px;
  }
}

#DetailCarousel {
  overflow: hidden;

  .carousel-image {
    background-size: contain;
    background-color: $black;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;

    .caption {
      font-size: 0.8em;
      line-height: normal;
      font-style: italic;
      color: $gray;
      position: absolute;
      bottom: 0;
      padding: 10px;
      margin: 5px 5px 15px 5px;
      background: rgb(255, 255, 255);
      background: rgba(0, 0, 0, 0.5);
    }
  }

  &.no-image {
    height: 45px;
    background-color: $gray-dark;
  }
}

.projectDetail img {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.detailContainer {
  overflow-y: scroll;
  position: relative;
  height: calc(100% - 150px);

  @include breakpoint(m) {
    height: calc(100% - 250px);
  }

  &.no-image {
    height: calc(100% - 45px);
  }
}

.projectDetail .detailContainer {
  .metaWrap {
    padding: 1em;
    background: $white;
    position: relative;

    .meta {
      h2 {
        @include font-size(m);

        margin: 0 0 0.2em;
      }

      span {
        display: block;
        color: $gray;

        @include typeset(base-1);

        &:before {
          left: 1.5em;
        }
      }
    }
  }

  .info {
    @include font-size(s);

    .description {
      * {
        margin: 0;
        padding: 0;
      }

      p, li {
        padding: $panelPadding;
        border-top: 1px solid $border;
      }

      .item-list {
        padding: 0;
      }
    }
  }

  .more-info {
    font-size: 0.875rem;
    list-style-type: disc;

    li {
      list-style-type: disc;
    }

    h3 {
      @include margin(1 0 0.5 1);
    }
  }
}

.link--more {
  font-size:  0.875rem;
  align-self: center;
  margin-left: 0.5em;
  @include icon(before, right_arrow) {
    color: lighten($gray, 15%);
  }
}

.item-list ul li {
  padding-right: 1em;
}
