/* Leaflet customizations */

// .leaflet-top {
//   top: 50px;
// }

// .leaflet-container {
//   position: absolute;
//   top: 50px;
// }

.leaflet-control-attribution {
  font-size: 0.8em;
}

.leaflet-marker-icon.disabled {
  cursor: default;
}

.map-wrapper {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  @include breakpoint(m) {
    position: absolute;
    right: 0;
    left: 40%;
  }


  @include breakpoint(xl) {
    left: 30%;
  }
}
