.leaflet-control-attribution.leaflet-control {
  display: none;
}

.modal-cancel {
  float: right;
  background-position: -88px 0;
  display: block;
}

.type {
  @include icon(before, type) {
    left: 0;
  }
}

.location {
  @include icon(before, location) {
    left: 0.2em;
  }
}

.dates {
  @include icon(before, dates) {
    left: 0;
  }
}

.type, .location, .dates {
  display: block;
  color: $gray;
  font-weight: $light;
  line-height: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 1.3em;

  @include typeset(base-1);

  &:before {
    position: absolute;
    color: $blue;

    @include typeset(base-2);
  }
}

//Project Teaser View

.projectTeaser {
  &:hover {
    cursor: pointer;
  }

  .modal-content {
    margin: 0 auto;
    padding: 0.8em;
    position: absolute;
    display: flex;
    width: 96%;
    left: 2%;
    bottom: 2%;
    background-color: $white;
    border-color: lighten($gray, 20%);
    z-index: z("modal-content");
    visibility: visible;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease;

    &:hover {
      box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2);
    }

    @include breakpoint(s) {
      width: 80%;
      left: 10%;
    }


    @include breakpoint(m) {
      width: 60%;
      left: 20%;
    }


    @include breakpoint(l) {
      width: 50%;
      left: 25%;
    }


    @include breakpoint(xl) {
      width: 35%;
      left: 32.5%;
    }


    .modal-close {
      position: absolute;
      top: 0.3em;
      right: 0.3em;
      line-height: 1;
      z-index: z("modal-close");

      @include icon(before, close) {
        font-size: 21px;
        opacity: 0.2;
      }


      &:hover:before {
        color: darken($black, 5%);

        @include transition(color 0.3s ease-in);
      }

      &:before {
        color: $gray-dark;
      }
    }

    .modal-body {
      padding: 0;
      display: flex;
      flex: 1;
      overflow: hidden;

      h3 {
        margin-top: 0px;
        margin-bottom: 0.5em;
        text-transform: capitalize;
      }

      > div {
        flex-basis: 150px;
        flex-grow: 1;

        &:last-child {
          flex-grow: 3;
        }
      }

      .teaserThumb {
        background-position: center center;
        background-size: cover;
        flex-basis: 0;
        flex-grow: 0;
        height: auto;
        max-width: 150px;
        opacity: 0;
        visibility: hidden;

        @include breakpoint(s) {
          margin-right: 1em;
        }


        @include border-radius(2px);

        @include transition(all 0.3s ease-in-out);

        @include breakpoint(s) {
          flex-grow: 1;
          flex-basis: 150px;
          opacity: 1;
          visibility: visible;
        }
      }

      .teaserContent {
        overflow: hidden;
        position: relative;
      }
    }
  }
}

/* ------ modal overrides -------- */
.modal {
  visibility: hidden;
}
