.top-bar {
  background-color: $blue;
  // position: fixed;
  // top: 0;
  z-index: z("nav");
  width: 100%;
  height: 50px;

  .navActions {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0.5em;
  }

  #MainHead {
    .search {
      flex: 1;
      color: $white;
      visibility: visible;
      cursor: pointer;

      @include icon(before, search) {
        font-size: 24px;
        color: $white;
        float: right;
      }
    }

    .close-search {
      flex: 1;
      color: $white;

      @include icon(before, close) {
        font-size: 24px;
        color: $white;
        float: right;
      }


      cursor: pointer;
    }

    .ww-home {
      height: 26px;
      flex: 1;

      .home {
        background: url(../img/w-logo.png) no-repeat;
        width: 100%;
        height: 100%;
        background-size: contain;
      }
    }

    @include breakpoint(m) {
      a.search {
        visibility: hidden;
      }
    }
  }

  #SearchHead {
    .back {
      @include icon(before, back) {
        font-size: 24px;
        color: $white;
      }
    }

    .search {
      position: absolute;
      right: 20px;

      @include icon(before, search) {
        font-size: 24px;
      }


      cursor: pointer;
    }

    @include breakpoint(m) {
      display: none;
    }
  }
}

.top-bar {
  height: 50px;
  text-align: center;

  .ww_logo {
    width: 120px;
    height: 50px;
  }

  .brand {
    height: auto;
    flex: 2;

    img {
      width: 100%;
      max-height: 20px;
    }
  }
}

.top-bar .col-icon {
  display: inline;
}

.top-bar a {
  display: inline-block;
}
