.projectDetail {
  position: fixed;
  width: 100vw;
  top: 0;
  left: -100%;
  bottom: 0;
  margin: 0 auto;
  z-index: z("projectDetail-mobile");
  margin-top: 50px;

  &.detail-visible {
    left: 0;
  }

  @include breakpoint(m) {
    position: relative;
    float: left;
    width: 40%;
    margin-top: 50px;
    z-index: z("projectDetail-desktop");
  }


  @include breakpoint(xl) {
    width: 30%;
  }
}
