@mixin alert-color($class, $color1, $color2) {
  &--#{$class} {
    border-left: 10px solid $color1;
    background-color: $color2;
  }
}

.cloudy-alert {
  display: flex;
  align-items: center;
  padding: $cloudy-space-3 $cloudy-space-5;
  margin-bottom: $cloudy-space-4;
  color: $cloudy-black-base;

  @include alert-color('info', $cloudy-blue-dark, $cloudy-blue-lighter);
  @include alert-color('danger', $cloudy-red-base, $cloudy-red-light);
  @include alert-color('warning', $cloudy-gold-base, $cloudy-gold-light);

  &__title {
    display: flex;
    align-items: flex-end;
    margin-bottom: $cloudy-space-2;
    > .badge {
      margin-left: $cloudy-space-2;
    }
  }

  &__body {
    font-size: $cloudy-space-4;
  }

  &__close {
    padding-left: $cloudy-space-4;
    border: none;
    color: $cloudy-black-base;
    background-color: transparent;
  }

  &__close-contents {
    display: flex;
    align-items: center;
  }

  &--dismissable {
    // Dismissable alerts start hidden to allow time for JS to check cookies, prevents flashing of alert
    display: none;
  }

  &--active-dismissable {
    // Dismissable alerts start hidden to allow time for JS to check cookies, prevents flashing of alert
    display: flex;
  }
}
