@mixin alert-color($class, $color1, $color2) {
  &--#{$class},
  &-#{$class} {
    border-left: 10px solid $color1;
    background-color: $color2;
  }
}

.alert {
  display: flex;
  align-items: center;
  padding: $cloudy-space-3 $cloudy-space-5;
  margin-bottom: $cloudy-space-4;
  color: $cloudy-black-base;

  // Set the flex child to expand to full width
  &__wrapper {
    width: 100%;
  }

  @include alert-color("success", $cloudy-green-base, $cloudy-green-light);
  @include alert-color("info", $cloudy-blue-dark, $cloudy-blue-lighter);
  @include alert-color("danger", $cloudy-red-base, $cloudy-red-light);
  @include alert-color("warning", $cloudy-gold-base, $cloudy-gold-light);

  .alert__close {
    padding-left: $cloudy-space-4;
    border: none;
    color: $cloudy-black-base;
    background-color: transparent;
    margin-left: auto;
  }

  .alert__close-contents {
    display: flex;
    align-items: center;
  }

  .alert__title {
    display: flex;
    align-items: flex-end;
    max-width: 100%; // Allows our title to expand to full width
    width: 100%; // Allows our title to expand to full width
    margin-bottom: $cloudy-space-2;
    > .badge {
      margin-left: $cloudy-space-2;
    }
  }

  .alert__body {
    font-size: 1rem;
    p {
      min-width: 100%; // Allows our alert content to expand to full width
      width: 100%; // Allows our alert content to expand to full width
    }
    p:last-child {
      margin-bottom: 0px !important;
    }
  }

  &--dismissible {
    // Dismissible alerts start hidden to allow time for JS to check cookies, prevents flashing of alert
    display: none;
  }

  &--active-dismissible {
    // Dismissible alerts start hidden to allow time for JS to check cookies, prevents flashing of alert
    display: flex;
    // @todo remove the rule below once PL component is integrated into Drupal
    &.portland-alert {
      display: block;
    }
  }
}

// Snugs up the bottom margin against the top of the header
.region-pre-header .alert {
  margin: 0;
}
