{% set dismissable = dismissable|default(FALSE) %}

{% set classes= [
    'portland-alert',
    'cloudy-alert',
	type ? 'cloudy-alert--' ~ type,
    dismissable ? 'd-none',
]%}

<div class="{{ classes|join(' ') }}" data-nid="{{ node.nid.value }}" {% if dismissable is same as(true) %}role="alert" aria-live="polite"{% endif %}>
    <div class="cloudy-alert__title">
        <span>
            {{ title }}
        </span>
        {% if dismissable %}
            <button type="button" class="cloudy-alert__close" data-dismiss="alert" aria-label="Dismiss notification">
                <span aria-hidden="true">
                    <i class="cloudy-alert__close-icon fa fa-window-close"></i>
                Dismiss
                </span>
            </button>
        {% endif %}
  </div>
  <div class="cloudy-alert__content">
    {{ content }}
  </div>
</div>