@mixin alert-color($class, $color1, $color2) {
    &--#{$class} {
        border-left: 10px solid $color1;
        background-color: $color2;
    }
}

.cloudy-alert {
    position: relative;
    padding: $cloudy-space-3 $cloudy-space-5;
    margin-bottom: $cloudy-space-4;
    @include alert-color('info', $cloudy-blue-dark, $cloudy-blue-lighter);
    @include alert-color('danger', $cloudy-red-base, $cloudy-red-light);
    @include alert-color('warning', $cloudy-gold-base, $cloudy-gold-light);
    &__title {
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
        margin-bottom: $cloudy-space-2;
    }
    &__content {
        margin-bottom: $cloudy-space-2;
    }
    &__close {
        border: none;
    }
}