{% set dismissable = dismissable|default(FALSE) %}

{% set classes= [
    'portland-alert',
    'cloudy-alert',
	type ? 'cloudy-alert--' ~ type,
    dismissable ? 'd-none',
]%}

<div class="{{ classes|join(' ') }}" data-nid="{{ node.nid.value }}" {% if dismissable is same as(true) %}role="alert" aria-live="polite"{% endif %}>
    <div class="cloudy-alert__content">
        <span class="cloudy-alert__title">
            {{ title }}
        </span>
        <div class="cloudy-alert__body">
            {{ content }}
        </div>
    </div>
    {% if dismissable %}
        <button type="button" class="cloudy-alert__close" data-dismiss="alert" aria-label="Dismiss notification">
            <span aria-hidden="true">
                {% include "@elements/icon/fa.twig" with {
                    name: 'window-close',
                } only %}
                Dismiss
            </span>
        </button>
    {% endif %}
</div>