@mixin alert-color($class, $color1) {
  &--#{$class},
  &-#{$class} {
    background-color: $color1;
  }
}

.alert {
  display: flex;
  align-items: center;
  padding: $cloudy-space-8 $cloudy-space-4;
  margin-bottom: 2px;
  color: $cloudy-color-neutral-0;

  a {
    color:  $cloudy-color-neutral-0;
    text-decoration: underline;
  }

  &__wrapper {
    width: 100%;
    .cloudy-badge {
      margin-right: 5px;
    }
  }

  @include alert-color("info", $cloudy-color-blue-500);
  @include alert-color("warning", $cloudy-color-orange-500);

  .alert__close {
    padding-left: $cloudy-space-4;
    border: none;
    color: $cloudy-color-neutral-900;
    background-color: transparent;
    margin-left: auto;
  }

  .alert__close-contents {
    display: flex;
    align-items: center;

    .icon {
      color: $cloudy-color-neutral-900;
    }
  }

  .alert__title {
    padding-right: 5px;
  }

  .alert__body {
    p {
      display: inline; // Very important to keep title and content on the same line.
      font-weight: 300; // May consider throwing this into it's own type style
    }
    p:last-child {
      margin-bottom: 0px !important;
    }
  }

  &__close {
    padding-left: $cloudy-space-4;
    border: none;
    color: $cloudy-color-neutral-900;
    background-color: transparent;
  }

  &__close-contents {
    display: flex;
    align-items: center;
  }

  &--dismissible {
    // Dismissible alerts start hidden to allow time for JS to check cookies, prevents flashing of alert
    display: none;
  }

  &--active-dismissible {
    // Dismissible alerts start hidden to allow time for JS to check cookies, prevents flashing of alert
    display: flex;
    // @todo remove the rule below once PL component is integrated into Drupal
    &.portland-alert {
      display: block;
    }
  }
}

// Snugs up the bottom margin against the top of the header
.region-pre-header .alert {
  margin: 0;
}
