/**
 * @file
 * Portland Webform styles.
 */

#address_singleline {
  display: inline-block;
  text-transform: uppercase;
}

input#address_verify {
  margin: -4px 0 0 2%;
  padding-left: 25px;
  padding-right: 25px;
}