.tiles {
  display: grid;
}

@include media-breakpoint-up(md) {
  .tiles { grid-template-columns: repeat(2, 1fr); }
}

@include media-breakpoint-up(lg) {
  .tiles { grid-template-columns: repeat(3, 1fr); }
}
