{# node--content-fragment--embedded.html.twig #}

{% set fragment_type = node.field_fragment_type.entity.label ?? '' %}

<div class="embedded-content-fragment">
  {# Display title/label if not Content Component sub-type #}
  {% if fragment_type != 'Content Component' %}
    <h2 class="embedded-fragment-title">{{ label }}</h2>
  {% endif %}

  {# Display Glossary Term specific fields #}

    {% if content.field_english_pronunciation %}
      {{ content.field_english_pronunciation }}
    {% endif %}

    {% if content.field_summary %}
      {{ content.field_summary }}
    {% endif %}

  {% if content.field_body_content %}
    {{ content.field_body_content }}
  {% endif %}

</div>
