{#
/**
 * @file
 * Override of the address display of a building. Used when a service location is referenced inside another node.
 *
 */
#}
<h5{{ title_attributes.addClass('building') }}>{{ label }}</h5>
{{ content }}
