{% set is_draft = node.isPublished() ? false : true %}
{% set type = content.field_page_type is not empty
  ? content.field_page_type
  : content.field_external_resource_type is not empty
    ? content.field_external_resource_type
    : label['#bundle']|replace({
      city_: '',
      '_': ' '
    })
%}

<div class="card">
  <div class="card-img-top">
    {{ content.field_featured_media|render }}
  </div>
  <div class="card-body">
    {% if is_draft %}
      {% include '@components/badge/badge.twig' with {
        text: 'unpublished'|t|capitalize,
        type: 'danger',
        mb: 2
      } only %}
    {% endif %}
    {% include '@components/overline/overline.twig' with {
      text: type,
      margin: content.field_page_type is empty ? '2'
    } %}
    {% include '@components/heading/heading.twig' with {
      url: url,
      level: 3,
      text: label
    } only %}
    {{ content.field_summary }}
  </div>
</div>
