<h6>Short text</h6><br />
<div class="pl-demo-item pl-demo-vp-320">
  <div class="pl-demo-width-display"><strong>320px Max</strong></div>
  {% include "@components/permalink/permalink.twig" with {
    text: 'https://portland.gov/'
  } only %}
</div>
<h6>Medium length text</h6><br />
<div class="pl-demo-item pl-demo-vp-320">
  <div class="pl-demo-width-display"><strong>320px Max</strong></div>
  {% include "@components/permalink/permalink.twig" with {
    text: 'https://beta.portland.gov/revenue/services/register-your-business'
  } only %}
</div>
<h6>Long text</h6><br />
<div class="pl-demo-item pl-demo-vp-320">
  <div class="pl-demo-width-display"><strong>320px Max</strong></div>
  {% include "@components/permalink/permalink.twig" with {
    text: 'https://beta.portland.gov/very-long-url/for-testing/how-the-component-handles-longer-url-strings'
  } only %}
</div>
