{% extends 'paragraph.html.twig' %}
{% block content %}
    <a class="btn btn-primary btn--call" href="tel:{{ content.field_phone_number[0] }}" role="button">
        {{ content.field_phone_number[0] }}
    </a>
{% endblock %}
