/* Border utility classes */

// Todo: update values when spacing tokens are updated
$borderWidth: (
  default: $cloudy-border-width-default, /* 1px */
  0: $cloudy-border-width-0,
  2: $cloudy-border-width-2,
  4: $cloudy-border-width-4,
  8: $cloudy-border-width-4,
);

// Set border widths
@each $size, $s in $borderWidth {
  .cloudy-u-border-#{$size} {
    border-width: #{$s};
  }
}

$borderStyle: (
  solid: $cloudy-border-style-solid,
  dashed: $cloudy-border-style-dashed,
  dotted: $cloudy-border-style-dotted,
  double: $cloudy-border-style-double,
);

// Set border styles
@each $style, $s in $borderStyle {
  .cloudy-u-border-#{$style} {
    border-style: #{$s};
  }
}
