/* Border utility classes */

// Todo: update values when spacing tokens are updated
$border: (
  0: 0,
  1: 1px,
  2: $cloudy-space-1,
  3: $cloudy-space-2,
  4: $cloudy-space-3,
  5: $cloudy-space-4,
  6: $cloudy-space-5,
  7: $cloudy-space-6,
);

// Set border widths
@each $size, $s in $border {
  .cloudy-u-border-#{$size} {
    border-width: #{$s};
  }
}

$border-style: (
  solid: 'solid',
  dashed: 'dashed',
  dotted: 'dotted',
  double: 'double',
);

// Set border styles
@each $style, $s in $border-style {
  .cloudy-u-border-#{$style} {
    border-style: #{$s};
  }
}
