$cloudy-colors-map: (
  neutral: (
    0: $cloudy-color-neutral-0,
    100: $cloudy-color-neutral-100,
    200: $cloudy-color-neutral-200,
    300: $cloudy-color-neutral-300,
    500: $cloudy-color-neutral-500,
    700: $cloudy-color-neutral-700,
    800: $cloudy-color-neutral-800,
    900: $cloudy-color-neutral-900,
  ),
  blue: (
    100: $cloudy-color-blue-100,
    300: $cloudy-color-blue-300,
    500: $cloudy-color-blue-500,
    800: $cloudy-color-blue-800,
  ),
  green: (
    100: $cloudy-color-green-100,
    300: $cloudy-color-green-300,
    500: $cloudy-color-green-500,
    800: $cloudy-color-green-800,
  ),
  yellow: (
    100: $cloudy-color-yellow-100,
    300: $cloudy-color-yellow-300,
    500: $cloudy-color-yellow-500,
    800: $cloudy-color-yellow-800,
  ),
  orange: (
    100: $cloudy-color-orange-100,
    300: $cloudy-color-orange-300,
    500: $cloudy-color-orange-500,
    800: $cloudy-color-orange-800,
  ),
  red: (
    100: $cloudy-color-red-100,
    300: $cloudy-color-red-300,
    500: $cloudy-color-red-500,
    800: $cloudy-color-red-800,
  ),
  purple: (
    100: $cloudy-color-purple-100,
    300: $cloudy-color-purple-300,
    500: $cloudy-color-purple-500,
    800: $cloudy-color-purple-800,
  ),
  teal: (
    100: $cloudy-color-teal-100,
    300: $cloudy-color-teal-300,
    500: $cloudy-color-teal-500,
    800: $cloudy-color-teal-800,
  ),
);

@mixin color-modifiers($property: 'color', $prefix: '-', $separator: '-') {
  @each $name, $color in $cloudy-colors-map {
    &#{$prefix}#{$name} {
      @each $tone, $value in $color {
        &#{$separator}#{$tone} {
          #{$property}: $value;
        }
      }
    }
  }
}

.cloudy-u-color-text {
  @include color-modifiers;
}

.cloudy-u-color-background {
  @include color-modifiers(background-color);
}

.cloudy-u-color-border {
  @include color-modifiers(border-color);
}