// BLUE
$cloudy-blue-base: #418fde;
$cloudy-blue-dark: #1b5a99;
$cloudy-blue-light: #e8eff5;

$cloudy-cyan-base: #17a2b8;

// GREEN
$cloudy-green-base: #046a38;
$cloudy-green-light: #e7f4e4;

// YELLOW
$cloudy-yellow-base: #ffb81c;

// GOLD
$cloudy-gold-base: $cloudy-yellow-base;
$cloudy-gold-lightest: #fff1d2;

// RED
$cloudy-red-base: #dc3545;
$cloudy-red-light:#dc3545;

// NEUTRAL
$cloudy-gray-base: #e8eff5;
$cloudy-white-base: #fff;
$cloudy-black-base: #000;


$colors: (
    blue: (
        base: #418fde,
        dark: #1b5a99,
        light: #e8eff5,
    ),
    cyan: (
        base: #17a2b8
    ),
    green: (
        base: #046a38,
        light: #e7f4e4,
    ),
    yellow: (
        base: #ffb81c,
    ),
    gold: (
        base: #ffb81c,
        light: #fff1d2,
    ),
    red: (
        base: #dc3545,
        light: #f9dede,
    ),
    gray: (
        base: #e8eff5,
    ),
    white: (
        base: #fff,
    ),
    black: (
        base: #000
    )
);

// utility class for pattern lab demo
@each $name, $color in $colors {
    .u-bg-color--#{$name} {
        @each $hue, $hex in $color {
            &-#{$hue} {
                background-color: $hex;
            }
        }
    }
}