// BLUE
$cloudy-blue-lighter: #e8eff5;
$cloudy-blue-light: #008ee6;
$cloudy-blue-base: #418fde;
$cloudy-blue-dark: #1b5a99;
$cloudy-blue-darker: #004875;

$cloudy-cyan-base: #17a2b8;

// GREEN
$cloudy-green-base: #046a38;
$cloudy-green-light: #e7f4e4;

// YELLOW
$cloudy-yellow-base: #ffb81c;

// GOLD
$cloudy-gold-base: $cloudy-yellow-base;
$cloudy-gold-light: #fff1d2;

// RED
$cloudy-red-base: #dc3545;
$cloudy-red-light:#f9dede;

// NEUTRAL
$cloudy-gray-base: #e8eff5; // custom gray
$cloudy-gray-offset: #eee;
$cloudy-gray-100: #f8f9fa;
$cloudy-gray-200: #e9ecef;
$cloudy-gray-300: #dee2e6;
$cloudy-gray-400: #ced4da;
$cloudy-gray-500: #adb5bd;
$cloudy-gray-600: #6c757d;
$cloudy-gray-700: #495057;
$cloudy-gray-700a: #505050;
$cloudy-gray-800: #343a40;
$cloudy-gray-900: #212529;

$cloudy-white-base: #fff;
$cloudy-white-offset: #f8f9fa;
$cloudy-white-offset-100: #f7fcff;
$cloudy-white-offset-200: #fdf8ed;
$cloudy-white-offset-300: #fcf4f2; 
$cloudy-white-offset-400: #f9f9f9;

$cloudy-black-base: #000;

// Semi-Transparent Colors

$cloudy-red-09: rgba(167, 41, 37, .9);
$cloudy-blue-05: rgba(6, 57, 107, 0.05);
$cloudy-black-15: rgba($cloudy-black-base, 0.15);


$colors: (
    blue: (
        lighter: #e8eff5,
        light: #008ee6,
        base: #418fde,
        dark: #1b5a99,
        darker: #004875,
    ),
    cyan: (
        base: #17a2b8,
    ),
    green: (
        base: #046a38,
        light: #e7f4e4,
    ),
    yellow: (
        base: #ffb81c,
    ),
    gold: (
        base: #ffb81c,
        light: #fff1d2,
    ),
    red: (
        base: #dc3545,
        light: #f9dede,
    ),
    gray: (
        base: #e8eff5,
        offset: #eee,
        100: #f8f9fa,
        200: #e9ecef,
        300: #dee2e6,
        400: #ced4da,
        500: #adb5bd,
        600: #6c757d,
        700: #495057,
        700a: #505050,
        800: #343a40,
        900: #212529,
    ),
    white: (
        base: #fff,
        offset: #f8f9fa,
        offset-100: #f7fcff,
        offset-200: #fdf8ed,
        offset-300: #fcf4f2,
        offset-400: #f9f9f9,
    ),
    black: (
        base: #000,
    ),
    semi-transparent: (
        red-09: rgba(167, 41, 37, .9),
        black-15: rgba($cloudy-black-base, 0.15),
        blue-05: rgba(6, 57, 107, 0.05),
    )
);

// utility class for pattern lab demo
@each $name, $color in $colors {
    .u-bg-color--#{$name} {
        @each $hue, $hex in $color {
            &-#{$hue} {
                background-color: $hex;
            }
        }
    }
}