$cloudy-border-width-0: 0;
$cloudy-border-width-1: 1px;
$cloudy-border-width-2: 2px;
$cloudy-border-width-3: 3px;
$cloudy-border-width-4: 4px;
$cloudy-border-width-10: 10px;
$cloudy-breakpoint-xs: 0;
$cloudy-breakpoint-sm: 576px;
$cloudy-breakpoint-md: 768px;
$cloudy-breakpoint-lg: 992px;
$cloudy-breakpoint-xl: 1200px;
$cloudy-color-neutral-0: #ffffff; // White
$cloudy-color-neutral-100: #f0f2f4;
$cloudy-color-neutral-200: #e1e5ea;
$cloudy-color-neutral-300: #b4bdcb;
$cloudy-color-neutral-400: #96a3b6;
$cloudy-color-neutral-500: #7888a1;
$cloudy-color-neutral-600: #5e6f87;
$cloudy-color-neutral-700: #495669;
$cloudy-color-neutral-800: #343d4b;
$cloudy-color-neutral-900: #15191e;
$cloudy-color-blue-100: #e9f0fc;
$cloudy-color-blue-200: #bcd3f5;
$cloudy-color-blue-300: #8fb6ef;
$cloudy-color-blue-400: #6398e9;
$cloudy-color-blue-500: #367be2;
$cloudy-color-blue-600: #1d62c9;
$cloudy-color-blue-700: #164c9c;
$cloudy-color-blue-800: #103670;
$cloudy-color-blue-900: #0a2143;
$cloudy-color-green-100: #eef9ec;
$cloudy-color-green-200: #ccecc6;
$cloudy-color-green-300: #aadf9f;
$cloudy-color-green-400: #88d279;
$cloudy-color-green-500: #66c653;
$cloudy-color-green-600: #4dac39;
$cloudy-color-green-700: #3c862d;
$cloudy-color-green-800: #2b6020;
$cloudy-color-green-900: #1a3913;
$cloudy-color-yellow-100: #fef8e7;
$cloudy-color-yellow-200: #fbeab6;
$cloudy-color-yellow-300: #f9dc86;
$cloudy-color-yellow-400: #f6ce55;
$cloudy-color-yellow-500: #f4c025;
$cloudy-color-yellow-600: #daa60b;
$cloudy-color-yellow-700: #916f08;
$cloudy-color-yellow-800: #795c06;
$cloudy-color-yellow-900: #493804;
$cloudy-color-orange-100: #fbf1ea;
$cloudy-color-orange-200: #f2d5c0;
$cloudy-color-orange-300: #e9b896;
$cloudy-color-orange-400: #e09c6c;
$cloudy-color-orange-500: #d78042;
$cloudy-color-orange-600: #bd6628;
$cloudy-color-orange-700: #93501f;
$cloudy-color-orange-800: #6a3916;
$cloudy-color-orange-900: #3f220d;
$cloudy-color-orange-temp: #b85814;
$cloudy-color-red-100: #f9ebeb;
$cloudy-color-red-200: #eec4c4;
$cloudy-color-red-300: #e29c9c;
$cloudy-color-red-400: #d77575;
$cloudy-color-red-500: #cb4d4d;
$cloudy-color-red-600: #b23434;
$cloudy-color-red-700: #8a2828;
$cloudy-color-red-800: #631d1d;
$cloudy-color-red-900: #3b1111;
$cloudy-color-purple-100: #ededf7;
$cloudy-color-purple-200: #c9c9e8;
$cloudy-color-purple-300: #a6a6d9;
$cloudy-color-purple-400: #8282c9;
$cloudy-color-purple-500: #5f5fba;
$cloudy-color-purple-600: #4545a1;
$cloudy-color-purple-700: #36367d;
$cloudy-color-purple-800: #28285d;
$cloudy-color-purple-900: #171726;
$cloudy-color-teal-100: #e8f9fc;
$cloudy-color-teal-200: #baedf7;
$cloudy-color-teal-300: #8ce1f2;
$cloudy-color-teal-400: #5ed5ed;
$cloudy-color-teal-500: #30c9e8;
$cloudy-color-teal-600: #17b0cf;
$cloudy-color-teal-700: #1289a1;
$cloudy-color-teal-800: #0d6273;
$cloudy-color-teal-900: #083b45;
$cloudy-space-0: 0;
$cloudy-space-1: 0.25rem;
$cloudy-space-2: 0.5rem;
$cloudy-space-3: 0.75rem;
$cloudy-space-4: 1rem;
$cloudy-space-5: 1.25rem;
$cloudy-space-6: 1.5rem;
$cloudy-space-8: 2rem;
$cloudy-space-10: 2.5rem;
$cloudy-space-12: 3rem;
$cloudy-space-16: 4rem;
$cloudy-space-20: 5rem;
$cloudy-space-24: 6rem;
$cloudy-space-32: 8rem;
$cloudy-space-40: 10rem;
$cloudy-space-48: 12rem;
$cloudy-space-56: 14rem;
$cloudy-space-64: 16rem;
$cloudy-font-family-display: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$cloudy-type-base-font-size: 16px;
$cloudy-type-heading-01-font-size: 28px;
$cloudy-type-heading-01-line-height: 36px;
$cloudy-type-heading-01-md-font-size: 36px;
$cloudy-type-heading-01-md-line-height: 44px;
$cloudy-type-heading-02-font-size: 24px;
$cloudy-type-heading-02-line-height: 32px;
$cloudy-type-heading-02-md-font-size: 28px;
$cloudy-type-heading-02-md-line-height: 36px;
$cloudy-type-heading-03-font-size: 20px;
$cloudy-type-heading-03-line-height: 28px;
$cloudy-type-heading-03-md-font-size: 24px;
$cloudy-type-heading-03-md-line-height: 32px;
$cloudy-type-heading-04-font-size: 18px;
$cloudy-type-heading-04-line-height: 26px;
$cloudy-type-heading-04-md-font-size: 20px;
$cloudy-type-heading-04-md-line-height: 28px;
$cloudy-type-heading-05-font-size: 16px;
$cloudy-type-heading-05-line-height: 24px;
$cloudy-type-heading-05-md-font-size: 18px;
$cloudy-type-heading-05-md-line-height: 26px;
$cloudy-type-heading-06-font-size: 16px;
$cloudy-type-heading-06-line-height: 24px;
$cloudy-type-body-font-size: 16px;
$cloudy-type-body-line-height: 24px;
$cloudy-lead-font-size: 18px;
$cloudy-lead-line-height: 26px;
$cloudy-lead-md-font-size: 20px;
$cloudy-lead-md-line-height: 28px;
$cloudy-subtitle-font-size: 16px;
$cloudy-subtitle-line-height: 24px;
$cloudy-helper-text-font-size: 14px;
$cloudy-helper-text-line-height: 24px;
$cloudy-ui-text-font-size: 16px;
$cloudy-ui-text-line-height: 24px;
$cloudy-permalink-text-font-size: 16px;
$cloudy-permalink-text-line-height: 24px;
$cloudy-time-text-font-size: 18px;
$cloudy-time-text-line-height: 24px;
$cloudy-time-text-md-font-size: 20px;
