// These are styles for pattern lab demo only
@mixin sizes($number, $height) {
  &-#{$number} {
    height: $height;
    width: 4rem;
    @if $number != 0 {
      background: $cloudy-color-neutral-300;
    }
  }

}

.pl-space-demo {
  display: flex;
  flex-direction: column;
  background-color: $cloudy-color-neutral-0;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: $cloudy-space-3 $cloudy-space-4;

    &:nth-child(2n) {
      border-top: 1px solid $cloudy-color-neutral-300;
      border-bottom: 1px solid $cloudy-color-neutral-300;
      &:last-child {
        border-bottom-width: 0;
      }
    }
  }

  &__swatch {
    display: block;
    margin: $cloudy-space-2 $cloudy-space-3;
    @include sizes(0, $cloudy-space-0);
    @include sizes(1, $cloudy-space-1);
    @include sizes(2, $cloudy-space-2);
    @include sizes(3, $cloudy-space-3);
    @include sizes(4, $cloudy-space-4);
    @include sizes(5, $cloudy-space-5);
    @include sizes(6, $cloudy-space-6);
    @include sizes(8, $cloudy-space-8);
    @include sizes(10, $cloudy-space-10);
    @include sizes(12, $cloudy-space-12);
    @include sizes(16, $cloudy-space-16);
    @include sizes(20, $cloudy-space-20);
    @include sizes(24, $cloudy-space-24);
    @include sizes(32, $cloudy-space-32);
    @include sizes(40, $cloudy-space-40);
    @include sizes(48, $cloudy-space-48);
    @include sizes(56, $cloudy-space-56);
    @include sizes(64, $cloudy-space-64);
  }

  &__label {
    padding: $cloudy-space-2 $cloudy-space-3;

    span {
      display: block;
    }
  }
}
