$cloudy-space-1: .25rem;
$cloudy-space-2: .5rem;
$cloudy-space-3: .75rem;
$cloudy-space-4: 1rem;
$cloudy-space-5: 1.25rem;
$cloudy-space-6: 1.5rem;
$cloudy-space-7: 1.75rem;
$cloudy-space-8: 2rem;


// These are styles for pattern lab demo only

@mixin sizes($number, $height) {
    &-#{$number} {
        height: $height;
        width: 4rem;
    }
}

.pl-space-demo {
    display: flex;
    flex-direction: column;
    background-color: $cloudy-white-base;

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: $cloudy-space-2 $cloudy-space-3;
        &:nth-child(2n) {
            background-color: $cloudy-gray-base;
        }
    }

    &__swatch {
        display: block;
        margin: $cloudy-space-2 $cloudy-space-3;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        @include sizes(1, $cloudy-space-1);
        @include sizes(2, $cloudy-space-2);
        @include sizes(3, $cloudy-space-3);
        @include sizes(4, $cloudy-space-4);
        @include sizes(5, $cloudy-space-5);
        @include sizes(6, $cloudy-space-6);
        @include sizes(7, $cloudy-space-7);
        @include sizes(8, $cloudy-space-8);
    }

    &__label {
        padding: $cloudy-space-2 $cloudy-space-3;
        span {
            display: block;
        }
    }
}
