$cloudy-space-1: .25rem;
$cloudy-space-2: .5rem;
$cloudy-space-3: .75rem;
$cloudy-space-4: 1rem;
$cloudy-space-5: 1.25rem;
$cloudy-space-6: 1.5rem;
$cloudy-space-7: 1.75rem;
$cloudy-space-8: 2rem;

.pl-space-demo {
    display: flex;
    justify-content: space-between;
    background-color: $cloudy-white-base;
    &:nth-child(2n) {
        background-color: $cloudy-gray-base;
    }
}

.pl-spacing-swatch {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    &-1 {
        height: $cloudy-space-1;
        width: 4rem;
    }
    &-2 {
        height: $cloudy-space-2;
        width: 4rem;
    }
    &-3 {
        height: $cloudy-space-3;
        width: 4rem;
    }
    &-4 {
        height: $cloudy-space-4;
        width: 4rem;
    }
    &-5 {
        height: $cloudy-space-5;
        width: 4rem;
    }
    &-6 {
        height: $cloudy-space-6;
        width: 4rem;
    }
    &-7 {
        height: $cloudy-space-7;
        width: 4rem;
    }
    &-8 {
        height: $cloudy-space-8;
        width: 4rem;
    }
}