/* Typography */
$font-weight-semibold: 600;

/* Editor toolbar  */
$editor-toolbar-active-bg: $cloudy-color-neutral-900;

/* Navbar */
$navbar-menu-focus-bg: $cloudy-color-blue-100;
$navbar-menu-active-bg: $cloudy-color-blue-100;
$navbar-menu-alert-badge-bg: $cloudy-color-red-500;

/* Border radius for buttons and form elements */
$border-radius-tight: 0.125em;

/* Blockquotes */
// Include after fixing Sass import order and update blockquote inside _extends.scss
// $blockquote-height-border: $border-width * 10;

// Icons
$ext-icon: "\f35d";
$clock-icon: "\f017";
$cal-icon: "\f133";

// Global search large - used on front page, /search, /search/*, /404, /404/*
$search-large-border-style: $cloudy-border-width-1 solid
  $cloudy-color-neutral-200;
$search-large-border-style-underline: $cloudy-border-width-10 solid
  $cloudy-color-yellow-500;
$search-large-font-small: ($cloudy-lead-md-font-size / $cloudy-type-base-font-size) + rem;
$search-large-font-large: ($cloudy-lead-md-font-size / $cloudy-type-base-font-size) + rem;

// Global search small - every node excluding front page, /search, /search/*, /404, /404/*
$search-small-border-style: $cloudy-border-width-2 solid
  $cloudy-color-neutral-900;

// Buttons
// TODO Refactor into bootstrap button variant
$cloudy-color-mega-menu-button-bg: rgba($cloudy-color-neutral-0, 0.2);
