/* Typography */
$font-weight-semibold: 600;

/* Editor toolbar  */
$editor-toolbar-active-bg: $cloudy-color-neutral-900;

/* Navbar */
$navbar-menu-focus-bg: $cloudy-color-blue-100;
$navbar-menu-active-bg: $cloudy-color-blue-100;
$navbar-menu-alert-badge-bg: $cloudy-color-red-500;

/* Border radius for buttons and form elements */
$border-radius-tight: 0.125em;

/* Blockquotes */
// Include after fixing Sass import order and update blockquote inside _extends.scss
// $blockquote-height-border: $border-width * 10;

// Icons
$ext-icon: "\f35d";
$clock-icon: "\f017";
$cal-icon: "\f133";
