/* Typography */

$type-scales: (
  minor-second: 1.067,
  major-second: 1.125,
  minor-third: 1.2,
  major-third: 1.25,
  perfect-fourth: 1.333,
  augmented-fourth: 1.414,
  perfect-fifth: 1.5,
  golden-ratio: 1.618
);

$font-weight-semibold: 600;

/* Spacing */
$comment-spacer-x: 1.25em;
$comment-spacer-y: 1.25em;

/* Editor toolbar  */
$editor-toolbar-active-bg: $cloudy-black-base;

/* Navbar */
$navbar-menu-focus-bg: $cloudy-blue-05;
$navbar-menu-active-bg: $cloudy-blue-05;
$navbar-menu-alert-badge-bg: $cloudy-red-09;

/* Border radius for buttons and form elements */
$border-radius-tight: 0.125em;

/* Blockquotes */
// Include after fixing Sass import order and update blockquote inside _extends.scss
// $blockquote-height-border: $border-width * 10;

// Icons
$ext-icon: "\f35d";
$clock-icon: "\f017";
$cal-icon: "\f133";

// Fonts
$cloudy-font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
