/**
 * This stylesheet is for styles you want to include only when displaying demo
 * styles for grids, animations, color swatches, etc.
 * These styles will not be your production CSS.
 */
#sg-patterns {
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  max-width: 100%;
  padding: 0 0.5em;
}

.demo-animate {
  background: #ddd;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.sg-colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

.sg-colors-title {
  margin: 0 0.5em;
}

.sg-colors ul {
  padding: 0;
  margin: 0.5em 0.75em;
  list-style: none;
  display: inherit;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.sg-colors li {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  padding: 0.3em;
  margin: 0 0.5em 0.5em 0;
  min-width: 5em;
  max-width: 14em;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.sg-swatch {
  display: block;
  height: 4em;
  margin-bottom: 0.3em;
  border-radius: 5px;
}

.sg-label {
  display: block;
  font-size: 90%;
}

.sg-box {
  padding: 5px;
  margin: 5px;
  border: #505050 1px solid;
}

.sg-grid {
  display: flex;
  flex-wrap: wrap;
}

code {
  background-color: #e8e8e8;
  padding: 0 3px;
  border-radius: 5px;
}

details {
  margin: 5px;
}

.pl-layout-placeholder {
  border: dashed 2px #00d4ff;
  height: 100%;
  margin-bottom: 5px;
}

.pl-layout-placeholder--fllled {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

.pl-demo-item {
  margin-bottom: 30px;
}

.pl-demo-vp-320 {
  max-width: 320px;
  border: 1px solid #e8e8e8;
}

.pl-demo-vp-320.pl-demo-item {
  border-top: 0;
}

.pl-demo-vp-320.pl-demo-item .cloudy-permalink {
  margin: 10px 0;
}

.pl-demo-width-display {
  text-align: center;
  border-bottom: 2px dashed #CCC;
  line-height: 0;
}

.pl-demo-width-display strong {
  background: #FFF;
  padding: 0 10px;
}
