<div class="col mb-10">
  <div class="card h-100">
    <div class="card-img-top overflow-hidden">
      {{ content.field_featured_media }}
      {{ content.field_person_image }}
    </div>
    <div class="card-body">
      <h3 class="card-title h4 mb-0 text-primary"><a href="{{ url }}" class="stretched-link">{{ label }}</a></h3>
    </div>
  </div>
</div>
