{% set group_label = group.type.entity.label|title %}
{% set margin = '2' %}

{% if content %}
  <div class="card">
    {% if content.field_featured_media|render|trim is not empty %}
      <div class="card-img-top">
        {{ content.field_featured_media|render }}
      </div>
    {% endif %}
    <div class="card-body">
      {% include '@components/overline/overline.twig' with {
        text: group_label,
        margin: margin
      } %}
      {% include '@components/heading/heading.twig' with {
        url: url,
        level: 3,
        text: label
      } only %}
    </div>
  </div>
{% endif %}
