{% embed "page.html.twig" %}
  {% block main_content %}
        <a id="main-content" tabindex="-1"></a>
        {% block page_content %}
          {{ page.content }}
        {% endblock %}
  {% endblock %}
{% endembed %}