<h2>
  Overline
</h2>

<table>
  <thead>
    <tr>
      <th>
        Default
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        {% include '@components/overline/overline.twig' with {
          text: 'news'
        } only %}
      </td>
    </tr>
  </tbody>
</table>
