<h2>Badge</h2>
<div>
  <table>
    <thead>
      <tr>
        <th>Default</th>
        <th>Light</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          {% include "@components/overline/overline.twig" with {
            text: "news",
          } only %}
        </td>
        <td>
          {% include "@components/overline/overline.twig" with {
            text: "news",
            is_light: true,
          } only %}
        </td>
      </tr>
    </tbody>
  </table>
</div>
