.cloudy-notification {
  display: none; // hidden by default to prevent flash

  & + & {
    margin-top: $cloudy-space-4;
  }

  &--active-dismissible {
    display: block;
    &:last-child {
      margin-bottom: $cloudy-space-4;
    }
  }

  &__inner-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $cloudy-color-neutral-200;
    color: $cloudy-color-blue-800;
    padding: $cloudy-space-6;
  }

  &__content {
    .mb-2 {
      margin-bottom: 0 !important; // ☠️ Only way to override the !important setting the .mb-2 class  ¯\_(ツ)_/¯
    }
    p:last-child {
      margin-bottom: 0;
    }
  }

  &__close {
    background: transparent;
    border: none;
    padding: 0;
    width: 40px; // Needed to create the adequate touch target for mobile
    height: 40px; // Needed to create the adequate touch target for mobile
    .alert__close-contents {
      width: 40px;
      height: 100%;
      justify-content: center;
    }
    .icon {
      margin-right: 0;
    }
  }

  &__title {
    font-weight: 600;
  }
}

/**
** The code below exists solely for the Pattern Lab demo
 */
html.pl .cloudy-notification {
  display: block;
}
