<p>Additionally, notifications can include a badge for `unpublished` state.</p>

<div class="pl-demo-wrapper">
  <div class="pl-demo-item">
    <h6>Draft variation</h6>
    {% include "@components/notification/notification.twig" with {
      "id": "test-1",
      "isDismissible": false,
      "title": "BPS is migrating to this new website",
      "content": "Did we miss something? Send feedback.",
      "changed": "",
      is_draft: true,
    } only %}
  </div>
</div>
