{% set type = type|default('primary') %}
{% set classes = [
  'council-votes',
] %}

<div class="{{ classes | join(' ') }}">
  <h3>Votes</h3>
  <ul class="council-votes__votes">
    {% for vote in votes %}
      <li>{{ vote.elected }}: {{ vote.vote }}</li>
    {% endfor %}
  </ul>
</div>
