{% set type = type|default('primary') %}
{% set classes = [
  'council-votes',
  'council-votes--type-' ~ type,
  isDark ?? 'council-votes--dark',
] %}

<div class="{{ classes | join(' ') }}">
  <h2 class="council-votes__text">{{ text }}</h2>
</div>
