{% set content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil." %}

{% set image %}
    {% include '@elements/04-images/03-square.twig' %}
{% endset %}

{% set body %}
    <h2 class="text-gray-900 font-bold text-xl mb-2">{{ title }}</h2>
    <p class="text-gray-700 text-base">{{ content }}</p>
{% endset %}


{% include '@components/card/_card.twig' with {
    'body': body,
    'image': image
} only %}
