label: ファイル
description: ファイルの検索と管理。
display:
  default:
    display_title: デフォルト
    display_options:
      title: ファイル
      fields:
        fid:
          label: FID
        filename:
          label: 名前
          separator: ', '
        filemime:
          label: 'MIME タイプ'
        filesize:
          label: サイズ
        status:
          label: 状態
          settings:
            format_custom_false: 一時的
            format_custom_true: 恒久的
        created:
          label: アップロード日時
        changed:
          label: 更新日
        count:
          label: 利用場所
      pager:
        options:
          tags:
            next: '次 ›'
            previous: '‹ 前'
          expose:
            items_per_page_label: ページ毎の件数
            items_per_page_options_all_label: '- 全て -'
            offset_label: オフセット
      exposed_form:
        options:
          submit_button: フィルター
          reset_button_label: リセット
          exposed_sorts_label: 並び替え基準
          sort_asc_label: 昇順
          sort_desc_label: 降順
      empty:
        area_text_custom:
          content: 利用可能なファイルがありません。
      filters:
        filename:
          expose:
            label: ファイル名
        filemime:
          expose:
            label: 'MIME タイプ'
        status:
          expose:
            label: 状態
  page_1:
    display_title: ファイルの概要
    display_options:
      menu:
        title: ファイル
  page_2:
    display_title: ファイルの用途
    display_options:
      title: ファイルの用途
      fields:
        entity_label:
          label: エンティティ
        type:
          label: エンティティタイプ
        module:
          label: モジュールの登録
        count:
          label: 使用回数
          format_plural_string: !!binary MQNAY291bnQ=
      pager:
        options:
          tags:
            next: '次 ›'
            previous: '‹ 前'
          expose:
            items_per_page_label: ページ毎の件数
            items_per_page_options_all_label: '- 全て -'
            offset_label: オフセット
      arguments:
        fid:
          exception:
            title: すべて
          title: '{{ arguments.fid }}のファイル使用情報'
