/**
 * @file
 * Portland Location Picker styles.
 */

input.btn-verify.disabled {
  color: white;
}

#suggestions_modal ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input.btn-verify {
  width: 20%;
  margin: -4px 0 0 2%;
}

input#location_address {
  width: 70%;
}

#status_modal {
  margin: 15px;
  text-align: left;
  font-weight: bold;
}

#suggestions_modal {
  margin: 15px;
}

#status_modal a {
  color: #1d62c9;
  text-decoration: underline;
}

.checkmark {
  width: 20px;
  display: inline-block;
  font-size: 24px;
  margin: 0 0 0 4px !important;
  font-weight: bold;
}

.status-message {
  font-style: italic;
}

.verified {
  color: darkgreen;
}

.unverified {
  color: brown;
}

.ui-dialog {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

a.pick,
a.pick-not-found {
  color: white;
  margin-bottom: 3px;
  width: 100%;
  text-align: left;
}

input#enteredAddress {
  width: 100%;
}

#mailing_label {
  padding: 5px 15px;
  font-family: monospace;
  width: auto;
  display: inline-block;
  border: 1px solid #999999;
  border-radius: 8px;
}

.webform-city {
  width: 40%;
  min-width: 225px;
  display: inline-block;
}

.webform-state {
  display: inline-block;
}

.webform-zip {
  width: 30%;
  min-width: 120px;
  display: inline-block;
}