{# Make this look like the perfect, ideal example of the component #}

{% include "@components/contact/contact.twig" with {
  "name": "Testy McTesterson",
  "title": "Lead Tester of Things",
  "email": "<a href='mailto:testy.mctesterson@portlandoregon.gov'>testy.mctesterson@portlandoregon.gov</a>",
  "phone": "<a href='tel:+15035551212'503-555-1212</a>",
  "fax": "503-555-1212",
} only %}
