{# Show all possible variations from changing a SINGLE variable #}

{% set types = ['primary', 'secondary'] %}

{% for type in types %}
  <div>
    <h6>Type: <code>{{ type }}</code></h6>
    {% include "@components/contact/contact.twig" with {
      "text": random(titles),
      "type": type,
    } only %}
  </div>
{% endfor %}
