.cloudy-contact-items {
  .cloudy-heading {
    margin-bottom: $cloudy-space-6;
  }

  &__resources {
    @media (min-width: $cloudy-breakpoint-md) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__resource {
    margin-bottom: $cloudy-space-8;

    @media (min-width: $cloudy-breakpoint-md) {
      flex-basis: calc(50% - #{$cloudy-space-8});

      &:not(:last-child) {
        margin-right: $cloudy-space-8;
      }
    }

    .cloudy-h5 {
      margin-bottom: 0;
      font-weight: 600; // TODO: Remove once font-weights are moved in
    }

    p {
      color: $cloudy-color-neutral-800;
      margin: 0;
    }
  }

  &__resource-wrapper {
    margin-top: $cloudy-space-2;
  }
}
