.search-api-autocomplete-suggestion {
  padding: 3px 5px;
  position: relative;
}

.search-api-autocomplete-search .ui-menu-item-wrapper {
  border: 0;
  color: #333;
  margin: 0;
  padding: 0;
}

.search-api-autocomplete-search .ui-menu-item-wrapper.ui-state-active .search-api-autocomplete-suggestion {
  background: #0072B9;
  color: #FFF;
}

.search-api-autocomplete-search .ui-menu-item {
  list-style-image: none;
}

.search-api-autocomplete-search .ui-menu-item:hover {
  background: #eee;
}

.search-api-autocomplete-search .ui-menu-item a {
  text-decoration: none;
}

.search-api-autocomplete-suggestion .autocomplete-suggestion-note {
  font-size: 90%;
}

.search-api-autocomplete-suggestion .autocomplete-suggestion-user-input {
  font-weight: bold;
}

.search-api-autocomplete-suggestion .autocomplete-suggestion-results-count {
  position: absolute;
  right: 0.2em;
}
