/**
 * @file
 * Portland Location Picker styles.
 */

.location-map {
  width: 100%;
  height: 500px;
  max-height: 80vh;
  background-color: #ffffcc;
}

.location-picker-address {
  display: inline-block !important;
  text-transform: uppercase;
  width: 65%;
}

input.location-verify {
  width: 25%;
  margin: -4px 0 0 2%;
}

#edit-portland-location-picker-location-map {
  border: 1px solid #b4bdcb;
}

#suggestions_modal ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.locate-control {
  background-color: white;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.status-message {
  text-align: center;
  margin: 30px 0;
}

.status-message a {
  color: #1d62c9;
  text-decoration: underline;
}

.verified-checkmark {
  color: green;
  font-size: 24px;
  margin: 0 0 0 4px;
  font-weight: bold;
}

#location_park_container .select2-container {
  width: 400px !important;
  max-width: 100%;
}

#location_map.form-item--error #location_map_container {
  border: solid 2px red;
}

.solved {
  filter: grayscale(100%);
}

.solved, .incident, .selected {
  z-index: 4000 !important;
  cursor: pointer;
}

#location_verify.disabled {
  background-color: lightgray;
  border-color: lightgray;
  color: white;
}

/* .location-popup p {
  font-size: 0.8rem;
}

.location-popup p em {
  color: Gray;
}

.location-popup {
  width: auto;
} */

#location-text-container {
  padding: 10px 20px 10px 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 2px;
  display: flex;
  align-items: flex-start;
  font-size: 0.9rem;
  max-width: 500px;
  min-width: 250px;
}

#location-text-value {
  text-transform: uppercase;
}

#location-icon {
  padding-right: 10px;
  filter: grayscale(100%);
}

div.leaflet-bottom.leaflet-left, div.leaflet-bottom.leaflet-left .custom-control { 
  width: 75%; 
}

span#verified-text {
  color: Green;
  font-weight: bold;
}