<p>To use an icon in a link, simply place it inside the <code>{{ '<a>' | escape }}</code> tag:</p>

{% verbatim %}
<div class="js-markdown">
```twig
<a href="#">
  {% include '@elements/icon/icon.twig' with {
    name: 'archives',
  } only %}
  Hello World!
</a>
```
</div>
{% endverbatim %}

<br>

<a href="#">
  {% include '@elements/icon/icon.twig' with {
    name: 'archives',
  } only %}
  Hello World!
</a>
