{# Show all possible variations from changing a SINGLE variable #}

{% set sizes = ['xs', 's', 'm', 'l'] %}

{% for size in sizes %}
  <div>
    <h6>Size: <code>{{ size }}</code></h6>
    {% include "@elements/icon/icon.twig" with {
      name: 'email',
      size: size
    } only %}
  </div>
{% endfor %}
