<p>Here are all icons available, use by setting the <code>name</code> prop to the one listed.</p>

<div class="sg-grid">
  {% for iconName in iconNames %}
    <div class="sg-box">
      <code>{{ iconName }}</code>
      <div class="sg-box" style="display: inline-block;">
        {% include "@elements/icon/icon.twig" with {
          name: iconName,
        } only %}
      </div>
    </div>
  {% endfor %}
</div>

{# dev tip: change to `<details open>` to keep open while working on it #}
<details>
  <summary>All Icons in all sizes (useful for testing)</summary>

{% set sizes = ['xs', 's', 'm', 'l'] %}

{% for iconName in iconNames %}
  <div>
    <h6>Icon: <code>{{ iconName }}</code></h6>
    {% for size in sizes %}
      <div class="sg-box" style="display: inline-block;">
        <a href="#">
          {% include "@elements/icon/icon.twig" with {
            name: iconName,
            size: size
          } only %}
          {{ title }}
        </a>
      </div>
    {% endfor %}
  </div>
{% endfor %}
</details>
