<p>Here's usage in each kind of heading</p>

{% for i in 1..6 %}
  <h{{ i }}>
    {% include "@elements/icon/fa.twig" with {
      name: 'biking',
    } only %}
    h{{ i }}: {{ title }}
  </h{{ i }}>
{% endfor %}
