<p>Here are all icons available, use by setting the <code>name</code> prop to the one listed.</p>

<style>
  .sg-grid .fas {
    margin-right: 0;
  }
</style>

<div class="sg-grid">
  {% for iconName in faIcons %}
    <div class="sg-box">
      <code>{{ iconName }}</code>
      <div class="sg-box" style="display: inline-block;">
        {% include "@elements/icon/fa.twig" with {
          name: iconName,
        } only %}
      </div>
    </div>
  {% endfor %}
</div>
