{% extends 'paragraph.html.twig' %}
{% block content %}

{% if not content.field_link_style|render %}
    {% set link_style = 'btn btn-primary' %}
{% else %}
    {% set link_style = content.field_link_style[0] %}
{% endif %}

<a class="{{ link_style }}" href="tel:+1 {{ content.field_phone_number[0] }}">
    <i class="fas fa-phone"></i> {{ content.field_phone_number[0] }}
</a>

{% endblock %}
