{% embed "@layouts/two-column.twig" with {
  "row_classes": [
    "flex-col",
    "md:flex-row",
    "mb-8",
    "-mx-2"
  ],
  "left_classes": [
    "md:w-3/4",
    "my-2",
    "px-2"
  ],
  "right_classes": [
    "md:w-1/4",
    "my-2",
    "px-2"
  ]
} %}
  {% block left %}
    {% include "@elements/02-text/lead-paragraph.twig" %}
  {% endblock %}
  {% block right %}
    {% include "@elements/04-images/03-square.twig" with {
      "classes": [
        "mx-auto",
        "rounded-full"
      ]
    } %}
  {% endblock %}
{% endembed %}
{% embed "@layouts/three-column.twig" with {
  "row_classes": [
    "flex-col",
    "md:flex-row",
    "mb-8",
    "-mx-2"
  ]
} %}
  {% block left %}
    {% include "@components/links/phone-link.twig" %}
    {% include "@components/links/email-link.twig" %}
  {% endblock %}
  {% block center %}
    {% include "@components/links/facebook-link.twig" %}
    {% include "@components/links/twitter-link.twig" %}
    {% include "@components/links/instagram-link.twig" %}
  {% endblock %}
  {% block right %}
    <div class="flex items-center mb-4">
      City Hall<br>
      1221 SW 4th Ave #110<br>
      Portland, OR 97204
    </div>
  {% endblock %}
{% endembed %}
{% embed "@layouts/one-column.twig" with {
  "row_classes": [
    "mb-8",
    "-mx-2"
  ]
} %}
  {% block center %}
    {% include "@utilities/_placeholder.twig" with {
      'placeholder':{'text':'Featured'}
    } %}
  {% endblock %}
{% endembed %}
