{% extends "@layouts/_container.twig" %}
{% block layout %}
  {% embed "@layouts/sidebar-right.twig" %}
    {% block page_content %}
      {% include "@elements/02-text/lead-paragraph.twig" %}
      {% include "@elements/02-text/01-paragraph.twig" %}
    {% endblock %}
    {% block sidebar %}
      {% include "@elements/04-images/03-square.twig" %}
      <h2>Contact</h2>
      <h2>Social</h2>
      {% include "@components/links/facebook-link.twig" %}
    {% endblock %}
    {% block post_content %}
    {% endblock %}
  {% endembed %}
{% endblock %}